$global_radius : 0px;

// buttons
$button_radius : 0px;
$round_button_radius : 40px;

// entry
$entry_radius : 0px;

// tab view
$notebook_tab_radius : 0px;

// progressbar
$progressbar_radius : 0px;

//levelbar
$levelbar_radius : 0px;

// view
$viewitem_radius : 0px;

// popover/menu
$menu_radius : 0px;
$menu_padding : 4px;
$menuitem_radius : 0px;
$menuitem_padding : 4px;
$popover_radius : 0px;

// tooltip
$tooltip_radius : 0px;

// check/radio boxes
$checkradio_size: 20px;

// outline
$outline_width : 2px;
$outline_offset : -3px;
$outline_style : solid;

// transitions
$ease-out-quad : cubic-bezier(0.25, 0.46, 0.45, 0.94);
$backdrop_transition : 200ms ease-out;
$focus_transition : outline-width 200ms $ease-out-quad, outline-offset 200ms $ease-out-quad;
$button_transition : all 200ms $ease-out-quad;
$scrollbar_transition : all 300ms $ease-out-quad;

// window shadows
$window_radius : 0px;
$window_padding : 0px;
$focus_wm_shadow : 0 8px 8px 0 gtkalpha($wm_shadow, 0.2), 0 0 0 1px gtkalpha($wm_shadow, 0.3);
$backdrop_wm_shadow : 0 8px 8px 0 transparent,  // prevent jumping windows
                      0 5px 5px 0 gtkalpha($wm_shadow, 0.2), 0 0 0 1px gtkalpha($wm_shadow, 0.3);
$popup_wm_shadow : 0 0 0 1px gtkalpha($wm_shadow, 0.1);

// scale
$scale_slider_size : 24px;
$scale_slider_radius : 8px;
$scale_slider_margin : 10px;
$scale_slider_ft_margin : 7px;
$scale_trough_radius : 4px;

// scrollbar
$scrollbar_slider_size : 14px;
$scrollbar_slider_radius : 0px;
$scrollbar_slider_ft_margin : 0px;
$scrollbar_slider_min_length : 45px;
$scrollbar_indicator_size : 2px;
