@mixin notebook_header() {
  background-color: $bg_color;
  
  @at-root
  notebook.frame {
    border: 1px solid gtkshade($border_color, 0.7);
  }
  
  &.top { box-shadow: 0 1px gtkshade($border_color, 0.7); }
  &.bottom { box-shadow: 0 -1px gtkshade($border_color, 0.7); }
  &.left { box-shadow: 1px 0 gtkshade($border_color, 0.7); }
  &.right { box-shadow: -1px 0 gtkshade($border_color, 0.7); }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    margin: 1px;
    padding: 6px 20px;
    border-radius: $notebook_tab_radius;
    border: 1px solid gtkshade($border_color, 0.7);
    color: $fg_color;
    background-color: transparent;
    background-image: linear-gradient(
      to bottom,
      gtkshade($bg_color, 1.2) 15%,
      $bg_color,
      $bg_color
    );
    
    @if $pos == "top" {
      margin-bottom: -1px;
    }
    @else if $pos == "bottom" {
      margin-top: -1px;
    }
    @else if $pos == "left" {
      margin-right: -1px;
    }
    @else if $pos == "right" {
      margin-left: -1px;
    }
  }
  
  @else if $type == "hover" {
    @if $pos == "top" {
      box-shadow: inset 0 2px $color_shadow;
    }
    @else if $pos == "bottom" {
      box-shadow: inset 0 -2px $color_shadow;
    }
    @else if $pos == "left" {
      box-shadow: inset 2px 0 $color_shadow;
    }
    @else if $pos == "right" {
      box-shadow: inset -2px 0 $color_shadow;
    }
  }

  @else if $type == "checked" {
    margin: 0px;
    background-image: none;
    background-color: $base_color;
    
    @if $pos == "top" {
      margin-top: -1px;
      margin-bottom: -2px;
      box-shadow: inset 0 2px $color_shadow;
    }
    @else if $pos == "bottom" {
      margin-bottom: -1px;
      margin-top: -2px;
      box-shadow: inset 0 -2px $color_shadow;
    }
    @else if $pos == "left" {
      margin-left: -1px;
      margin-right: -2px;
      box-shadow: inset 2px 0 $color_shadow;
    }
    @else if $pos == "right" {
      margin-right: -1px;
      margin-left: -2px;
      box-shadow: inset -2px 0 $color_shadow;
    }
  }
}
