@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  $_border : gtkshade($_bg, 0.9);
  
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  
  $_backdrop_bg : gtkmix($_bg, $_fg, 0.2);
  $_backdrop_fg : $_fg;
  
  $_backdrop_disabled_bg : gtkmix($_fg, $_bg, 0.98);
  $_backdrop_disabled_fg : gtkmix($_fg, $_bg, 0.75);
  
  @if $type == "base" {
    padding: 4px 8px;
    border-radius: $button_radius;
    border: none;
    color: $_fg;
    background-color: gtkmix($_bg, $_fg, 0.2);
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    
    // TODO: outline
  }
  
  @else if $type == "hover" {
    color: $_fg;
    background-color: gtkmix($_bg, $_fg, 0.25);
  }

  @else if $type == "active"
  or $type == "checked" {
    color: $_fg;
    background-color: gtkmix($_bg, $_fg, 0.35);
  }

  @else if $type == "checked-backdrop" {
    color: $_backdrop_fg;
    background-color: gtkshade($_backdrop_bg, 0.85);
  }

  @else if $type == "disabled" {
    color: $_disabled_fg;
    background-color: $_disabled_bg;
  }
  
  @else if $type == "disabled-backdrop" {
    color: $_backdrop_disabled_fg;
    background-color: $_backdrop_disabled_bg;
  }

  @else if $type == "backdrop" {
    color: $_backdrop_fg;
    background-color: $_backdrop_bg;
  }
  
  @else if $type == "undecorated" {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
}
