@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  $_border : $border_color;
  
  @if $type == "base" {
    padding: 4px 8px;
    border-radius: $button_radius;
    border: none;
    color: $_fg;
    background-color: gtkmix($_bg, $_fg, 0.2);
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    
    // TODO: outline
  }
  
  @else if $type == "hover" {
    color: $_fg;
    background-color: gtkmix($_bg, $_fg, 0.25);
  }

  @else if $type == "active"
  or $type == "checked" {
    color: $_fg;
    background-color: gtkmix($_bg, $_fg, 0.35);
  }

  @else if $type == "checked-backdrop" {
    color: $backdrop_fg_color;
    background-color: gtkshade($backdrop_bg_color, 0.85);
  }

  @else if $type == "disabled" {
    color: gtkmix($_fg, $backdrop_disabled_fg_color, 0.1);
    background-color: gtkmix($_bg, $disabled_bg_color, 0.3);
  }
  
  @else if $type == "disabled-backdrop" {
    color: $backdrop_disabled_fg_color;
    background-color: gtkmix($_bg, $backdrop_disabled_bg_color, 0.3);
  }

  @else if $type == "backdrop" {
    color: gtkmix($_fg, $backdrop_bg_color, 0.3);
    background-color: gtkmix($_bg, $_fg, 0.2);
  }
  
  @else if $type == "flat" {
    border-color: transparent;
    border-radius: $button_radius;
    color: $_fg;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
}
