@mixin headerbutton() {
  @extend %button_flat;
}

@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: none;
    box-shadow: none;
    
    button {
      @include headerbutton();
    }
  }
  
  @else if $type == "backdrop" {
    color: gtkmix($titlebar_fg_color, $backdrop_fg_color, 0.3);
    background-color: gtkmix($titlebar_bg_color, $backdrop_bg_color, 0.3);
    background-image: none;
  }
}

@mixin titlebutton($type) {
  padding: 0px;
  min-width: 31px;
  min-height: 30px;
  border: none;
  color: transparent;
  background-color: transparent;
  background-position: center center;
  box-shadow: none;
  -gtk-icon-shadow: none;
        
  // TODO: remove hard-coded colors
  &:hover {
    @if $type == "close" {
      background-color: #e04343;
    }
    @else {
      background-color: #3665b3;
    }
  }
  &:active {
    @if $type == "close" {
      background-color: #c75050;
    }
    @else {
      background-color: #3d6099;
    }
  }
  &:backdrop { opacity: 0.9; }

  @if $type == "close" {
    background-image: url('assets/close.png');
  }
  @else if $type == "minimize" {
    background-image: url('assets/minimize.png');
  }
  @else if $type == "maximize" {
    background-image: url('assets/maximize.png');
  }
}
