@mixin scale_trough() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: gtkalpha($dark_shadow, 0.2);

  &:disabled { background-color: gtkalpha($dark_shadow, 0.15);
    &:backdrop { background-color: gtkalpha($dark_shadow, 0.08); }
  }
  &:backdrop { background-color: gtkalpha($dark_shadow, 0.1); }
}

@mixin scale_highlight() {
  border: none;
  margin: 0px;
  border-radius: $scale_trough_radius;
  background-color: $selected_bg_color;

  &:disabled { background-color: gtkshade($disabled_bg_color, 0.8);
    &:backdrop { background-color: gtkshade($backdrop_disabled_bg_color, 0.8); }
  }
  &:backdrop { background-color: $backdrop_selected_bg_color; }
}

@mixin scale_slider($orient : "base") {
  @if $orient == "base" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size;
    margin: $scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: none;
    color: $selected_fg_color;
    background-color: $fg_color;
    background-image: none;
    box-shadow: none;

    &:disabled { background-color: $disabled_fg_color;
      &:backdrop { background-color: $backdrop_disabled_fg_color; }
    }
    &:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: $backdrop_fg_color;
    }
  }
}
