@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 2px;
    border-bottom: 1px solid $border_color;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: none;
    box-shadow: none;
    
    .title {
      color: $titlebar_fg_color;
      background-color: $fg_color;
    }

    .subtitle {
      color: gtkalpha($titlebar_fg_color, 0.7);
      background-color: $fg_color;
    }

    button {
      @include flat_buttons();
    }
  }
  
 @else if $type == "backdrop" {
    border-bottom-color: $backdrop_border_color;
    color: $backdrop_fg_color;
    background-color: $titlebar_fg_color;
    background-image: linear-gradient(
      to bottom,
      $titlebar_bg_color 50%,
      transparent 50%
    ),
    linear-gradient(
      to right,
      $titlebar_bg_color 50%,
      transparent 50%
    );
    background-size: 2px 2px;
  }
}
    
@mixin titlebutton($type) {
  padding: 2px 2px;
  border-radius: 0;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: none;
  -gtk-icon-shadow: none;
  
  @if $type == "close" {
    background-image: url('assets/close.svg');
  }
  @else if $type == "minimize" {
    background-image: url('assets/minimize.svg');
  }
  @else if $type == "maximize" {
    background-image: url('assets/maximize.svg');
  }
  @else if $type == "restore" {
    background-image: url('assets/restore.svg');
  }
}
