// same file than core, only adds font-weight: bold property

@mixin destructive_button($type) {
  $_bg : $bg_color;
  $_fg : $fg_color;
  
  // import default button with error colors
  @include button($type, $_bg, $_fg);
}

@mixin suggested_button($type) {
  $_bg : $bg_color;
  $_fg : $fg_color;
  
  // import default button with selected colors
  @include button($type, $_bg, $_fg);
  
  box-shadow: inset 0 0 0 2px gtkalpha(#7fa9ec, 0.85);
}
