@mixin entry($type : "base") {
  @if $type == "base" {
    padding: 6px 5px;
    border-radius: $entry_radius;
    border: 1px solid $fg_color;  // TODO: update border color
    color: $text_color;
    background-color: $base_color;
  }

  @else if $type == "focus" {
    box-shadow: none;
  }

  @else if $type == "disabled" {
    color: $disabled_text_color;
    border-color: gtkmix($disabled_bg_color, gtkshade($bg_color, 0.75), 0.6);
    background-color: $disabled_base_color;
  }

  @else if $type == "flat" {
    min-height: 0px;
    padding: 3px;
    border-radius: 0px;
    background-image: none;
    border-color: transparent;
  }
}
