// TODO: remove hard-coded colors?
@mixin scale_trough() {
  border: 2px solid transparent;
  border-radius: $scale_trough_radius;
  background-color: transparent;
  box-shadow: none;
  
  &:disabled {
    border-color: transparent;
    background-color: transparent;
  }

  @at-root
  scale.horizontal > trough {
    border-image: url("assets/trough-horz.png");
    border-image-repeat: stretch;
    border-width: 1px 2px;
    border-image-slice: 1 2 1 2;
    background-image: linear-gradient(
      to bottom,
      rgba(236, 236, 231, 0.8) 1px,
      rgba(245, 244, 239, 0.8)
    );
  }
  
  @at-root
  scale.vertical > trough {
    border-image: url("assets/trough-vert.png");
    border-image-repeat: stretch;
    border-width: 2px 1px;
    border-image-slice: 2 1 2 1;
    background-image: linear-gradient(
      to right,
      rgba(236, 236, 231, 0.8) 1px,
      rgba(245, 244, 239, 0.8)
    );
  }
}

@mixin scale_highlight() {
  border-color: transparent;
  background-color: transparent;
}

// FIXME: weird inconsistencies when using background-image with a big enough slider margin 
@mixin scale_slider() {
  border-radius: $scale_slider_radius;
  min-width: $scale_slider_width;
  min-height: $scale_slider_height;
  margin: -$scale_slider_margin;
  border: none;
  padding: 0px;
  box-shadow: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  
  @at-root
  scale.horizontal > trough > slider {
    background-image: -gtk-scaled(url("assets/slider-horz.png"));
    
    &:hover { background-image: -gtk-scaled(url("assets/slider-horz-hover.png")); }
    &:active { background-image: -gtk-scaled(url("assets/slider-horz-active.png")); }
    &:disabled { background-image: -gtk-scaled(url("assets/slider-horz-insensitive.png")); }
  }

  @at-root
  scale.vertical > trough > slider {
    min-width: $scale_slider_height;
    min-height: $scale_slider_width;
    background-image: -gtk-scaled(url("assets/slider-vert.png"));
    
    &:hover { background-image: -gtk-scaled(url("assets/slider-vert-hover.png")); }
    &:active { background-image: -gtk-scaled(url("assets/slider-vert-active.png")); }
    &:disabled { background-image: -gtk-scaled(url("assets/slider-vert-insensitive.png")); }
  }

  @at-root
  scale.color.horizontal > trough > slider,
  scale.horizontal.marks-before:not(.marks-after) > trough > slider {
    background-image: -gtk-scaled(url("assets/slider-horz-scale-has-marks-above.png"));
    
    &:hover { background-image: -gtk-scaled(url("assets/slider-horz-scale-has-marks-above-hover.png")); }
    &:active { background-image: -gtk-scaled(url("assets/slider-horz-scale-has-marks-above-active.png")); }
    &:disabled { background-image: -gtk-scaled(url("assets/slider-horz-scale-has-marks-above-insensitive.png")); }
  }

  @at-root
  scale.horizontal.marks-after:not(.marks-before) > trough > slider {
    background-image: -gtk-scaled(url("assets/slider-horz-scale-has-marks-below.png"));

    &:hover { background-image: -gtk-scaled(url("assets/slider-horz-scale-has-marks-below-hover.png")); }
    &:active { background-image: -gtk-scaled(url("assets/slider-horz-scale-has-marks-below-active.png")); }
    &:disabled { background-image: -gtk-scaled(url("assets/slider-horz-scale-has-marks-below-insensitive.png")); }
  }
    
  @at-root
  scale.color.vertical:dir(rtl) > trough > slider,
  scale.vertical.marks-before:not(.marks-after) > trough > slider {
    background-image: -gtk-scaled(url("assets/slider-vert-scale-has-marks-above.png"));
    
    &:hover { background-image: -gtk-scaled(url("assets/slider-vert-scale-has-marks-above-hover.png")); }
    &:active { background-image: -gtk-scaled(url("assets/slider-vert-scale-has-marks-above-active.png")); }
    &:disabled { background-image: -gtk-scaled(url("assets/slider-vert-scale-has-marks-above-insensitive.png")); }
  }
  
  @at-root
  scale.color.vertical:dir(ltr) > trough > slider,
  scale.vertical.marks-after:not(.marks-before) > trough > slider {
    background-image: -gtk-scaled(url("assets/slider-vert-scale-has-marks-below.png"));

    &:hover { background-image: -gtk-scaled(url("assets/slider-vert-scale-has-marks-below-hover.png")); }
    &:active { background-image: -gtk-scaled(url("assets/slider-vert-scale-has-marks-below-active.png")); }
    &:disabled { background-image: -gtk-scaled(url("assets/slider-vert-scale-has-marks-below-insensitive.png")); }
  }
}
