@mixin switch() {
  margin: 4px;
  font-size: 0;
  border-radius: 3px;
  border: 1px solid gtkmix(gtkshade($border_color, 0.3), $selected_bg_color, 0.25);
  color: transparent;
  background-color: $border_color;

  &:checked {
    background-color: $selected_bg_color;
  }

  &:disabled {
    border-color: gtkmix(gtkshade($border_color, 0.3), $disabled_bg_color, 0.85);
    background-color: $disabled_bg_color;
  }
}

// TODO: remove hard-coded colors
@mixin switch_slider($type : "base") {
  @if $type == "base" {
    margin: -1px;
    min-width: 28px;
    min-height: 22px;
    border-radius: $button_radius;
    border: 1px solid gtkmix(gtkshade($border_color, 0.3), $selected_bg_color, 0.25);
    background-color: $bg_color;
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.045) 1px,
      rgba(0, 0, 0, 0.006) 2px,
      transparent 2px
    ), linear-gradient(
      to top,
      rgba(0, 0, 0, 0.13),
      transparent 3px
    ), linear-gradient(
      to bottom,
      white,
      #fcfcfa 3px,
      #f6f6f3 7px,
      #f4f4f0 50%,
      #f0f0ea
    );
    box-shadow: none;
  }

  @if $type == "disabled" {
    border-color: gtkmix(gtkshade($border_color, 0.3), $disabled_bg_color, 0.85);
    background-color: $disabled_base_color;
  }
}
