// button
@mixin normal_buttons($bg, $fg, $border) {

  & {
    padding: 4px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: $button_radius;
    color: $fg;
    border-color: $borders;
    border-top-color: gtkmix($bg, $light_shadow, 0.7);
    border-left-color: gtkmix($bg, $light_shadow, 0.7);
    background-color: $bg;
    box-shadow: inset -1px 0 gtkshade($bg, 0.65), inset 0 -1px gtkshade($bg, 0.65), inset 1px 0 gtkmix($bg, $light_shadow, 0.7), inset 0 1px gtkmix($bg, $light_shadow, 0.7);
    -gtk-outline-radius: $button_radius;
    outline-color: $fg;
    outline-offset: 0;
    outline-style: solid;

    &:hover {
    }

    &:active, &:checked {
      color: $fg;
      border-color: $borders;
      background-color: $bg;
      background-image: none;
      box-shadow: inset 1px 0 gtkshade($bg, 0.65), inset 0 1px gtkshade($bg, 0.65), inset -1px 0 gtkmix($bg, $light_shadow, 0.7), inset 0 -1px gtkmix($bg, $light_shadow, 0.7);

      &:disabled {
        color: gtkmix($fg, $theme_unfocused_disabled_fg_color, 0.1);
        border-color: gtkmix($fg, $theme_disabled_bg_color, 0.85);
        background-color: gtkshade($theme_disabled_bg_color, 0.9);
      }
    }

    &:disabled {
      color: gtkmix($fg, $theme_unfocused_disabled_fg_color, 0.5);
    }
  }
}

@mixin flat_buttons($bg, $fg, $border)
{
  
  & {
    border-color: transparent;
    border-radius: $button_radius;
    color: $fg;
    box-shadow: none;
    background-color: transparent;

    &:hover {
      color: $fg;
      border-color: $borders;
      background-color: $bg;
      border-top-color: gtkmix($bg, $light_shadow, 0.7);
      border-left-color: gtkmix($bg, $light_shadow, 0.7);
      box-shadow: inset -1px 0 gtkshade($bg, 0.65), inset 0 -1px gtkshade($bg, 0.65), inset 1px 0 gtkmix($bg, $light_shadow, 0.7), inset 0 1px gtkmix($bg, $light_shadow, 0.7);
    }

    &:active, &:checked {
      color: $fg;
      border-color: $borders;
      background-color: $bg;
      background-image: none;
      box-shadow: inset 1px 0 gtkshade($bg, 0.65), inset 0 1px gtkshade($bg, 0.65), inset -1px 0 gtkmix($bg, $light_shadow, 0.7), inset 0 -1px gtkmix($bg, $light_shadow, 0.7);
    }

    &:disabled {
      border-color: transparent;
      color: gtkalpha($fg, 0.8);
      background-color: transparent;
    }
  }
}

@mixin button() {
  button {
    @include normal_buttons($theme_bg_color, $theme_fg_color, $borders);
    
    &.flat {
      @include flat_buttons($theme_bg_color, $theme_fg_color, $borders);
    }
  }
}
