@mixin checkradio() {
  checkbutton.text-button, radiobutton.text-button {
    padding: 4px;
    outline-offset: 0;
  }

  checkbutton {
    padding: 4px;
  
    &:hover, &:active:hover {
      padding: 4px;
      border-style: none;
      background-color: transparent;
    }
    
    &:selected {
      padding: 4px;
      border-style: none;
      background-color: transparent;
      
      &:focus {
        padding: 4px;
        border-style: none;
        background-color: transparent;
      }
    }
  }

  view.content-view check, .content-view.view check {
    background-color: transparent;
    
    &:active {
      background-color: transparent;
    }
  }

  view.content-view check {
    &:hover, &:disabled, &:selected {
      background-color: transparent;
    }
  }

  check, radio, check:disabled, radio:disabled {
    min-height: 11px;
    min-width: 11px;
    margin: 4px;
    border-style: none;
    background-color: transparent;
  }
  
  check, .check {
    -gtk-icon-source: url('assets/checkbox-unchecked.png');
    
    &:checked {
      -gtk-icon-source: url('assets/checkbox-checked.png');
      
      &:disabled {
        -gtk-icon-source: url('assets/checkbox-checked-disabled.png');
      }
    }
    
    &:disabled {
      -gtk-icon-source: url('assets/checkbox-unchecked-disabled.png');
    }
  }
  
  radio, .radio {
    -gtk-icon-source: url('assets/radio-unchecked.png');
    
    &:checked {
      -gtk-icon-source: url('assets/radio-checked.png');
      
      &:disabled {
        -gtk-icon-source: url('assets/radio-checked-disabled.png');
      }
    }
    
    &:disabled {
      -gtk-icon-source: url('assets/radio-unchecked-disabled.png');
    }
  }
}
