// decoration
@mixin decoration() {
  decoration {
    border-radius: $csd_radius $csd_radius 0 0;
    border-width: 0px;
    box-shadow: 0 3px 9px 1px gtkalpha($dark_shadow, 0.3);
    margin: 10px;

    &:backdrop {
      box-shadow: 0 3px 9px 1px transparent, 0 2px 6px 2px gtkalpha($dark_shadow, 0.2);
    }

    .fullscreen &, .tiled & {
      border-radius: 0;
    }

    .popup & {
      box-shadow: none;
      border-radius: $csd_radius;
    }

    .ssd & {
      border-radius: $csd_radius $csd_radius 0 0;
      box-shadow: 0 0 0 1px gtkalpha($dark_shadow, 0.1);

      &.maximized {
        border-radius: 0;
      }
    }

    tooltip.csd & {
      border-radius: $csd_radius;
      box-shadow: none;
    }

    .solid-csd & {
      margin: 1px;
      border-radius: 0px;
      background-color: gtkalpha($light_shadow, 0.95);
      box-shadow: none;
    }
  }

  // HACK: for rounded menus this has to override the .background definition
  window.background.csd.popup {
    border-radius: 10px;
  }
}
