// inline-toolbar
@mixin inline_toolbar() {
  .inline-toolbar toolbar {
    -GtkToolbar-button-relief: normal;

    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: $borders;
    border-top-color: gtkmix($toolbar_bg_color, $light_shadow, 0.7);
    border-left-color: gtkmix($toolbar_bg_color, $light_shadow, 0.7);
    border-radius: 0;
    background-color: $toolbar_bg_color;

    &:last-child {
      border-width: 0 1px 1px 1px;
      border-radius: 0;
    }

    & button {
      @include normal_buttons($toolbar_bg_color, $toolbar_fg_color, $borders);
    }
  } 
}
