@mixin scrollbar() {
  scrolledwindow {
    border: 1px solid $borders;
    border-bottom-color: gtkmix($bg_color, $light_shadow, 0.7);
    border-right-color: gtkmix($bg_color, $light_shadow, 0.7);
  }

  scrollbar {
    border: 1px solid $borders;
    border-bottom-color: gtkmix($bg_color, $light_shadow, 0.7);
    border-right-color: gtkmix($bg_color, $light_shadow, 0.7);
    background-color: gtkshade($bg_color, 0.9);

    trough {
      border: none;
      border-radius: 0;
    }

    button {
      &, &:active, &:disabled {
        &, &:backdrop {
          border: none;
          box-shadow: none;
          color: transparent;
          padding: 0;
          background-color: transparent;
          background-size: auto;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }

    &.fine-tune {
    }

    &.overlay-indicator {
      opacity: 1;
    }

    &.horizontal {
      slider {
        min-width: 45px;
        min-height: 11px;
        margin: 0;
        border: 1px solid $borders;
        border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
        border-left-color: gtkmix($bg_color, $light_shadow, 0.7);
        border-radius: $scrollbar_radius;
        background-clip: padding-box;
        background-color: $bg_color;
      }

      button {
        min-height: 11px;
        min-width: 11px;
      
        &.down {
          background-image: url('assets/arrow-right.png');
        }

        &.up {
          background-image: url('assets/arrow-left.png');
        }
      }
    }

    &.vertical {
      slider {
        min-width: 11px;
        min-height: 45px;
        margin: 0;
        border: 1px solid $borders;
        border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
        border-left-color: gtkmix($bg_color, $light_shadow, 0.7);
        border-radius: $scrollbar_radius;
        background-clip: padding-box;
        background-color: $bg_color;
      }

      button {
        min-height: 11px;
        min-width: 11px;

        &.down {
          background-image: url('assets/arrow-down.png');
        }

        &.up {
          background-image: url('assets/arrow-up.png');
        }
      }
    }

    treeview ~ &.vertical {
      border-top: 1px solid $borders;
      margin-top: -1px;
    }
  }
}
