@mixin statusbar() {
  statusbar {
    color: $theme_fg_color;
    border: 1px solid $borders;
    border-bottom-color: gtkmix($theme_bg_color, $light_shadow, 0.7);
    border-right-color: gtkmix($theme_bg_color, $light_shadow, 0.7);

    frame > border {
      border: none;
    }
  }
}
