@mixin terminal() {
  .terminal-screen, terminal-window, vte-terminal {
    background-color: $terminal_bg_color;
    color: $terminal_fg_color;
  }
  
  terminal-screen-container scrollbar {
    margin-right: -2px;
    box-shadow: 0 0 0 4px $theme_bg_color;
  }
}
