@mixin menubar() {
  menubar, .menubar {
    -GtkWidget-window-dragging: true;
    padding: 0;
    border-style: none;
    background-color: $menubar_bg_color;
    color: $menubar_fg_color;
    background-image: url('assets/titlebar.png');
    background-size: 100% 100%;

    &:backdrop {
      color: $theme_unfocused_fg_color;
      background-color: $theme_unfocused_bg_color;
    }
  }
}
