@mixin switch() {
  switch {
    font-size: 0;
    color: transparent;
    outline-offset: -4px;
    margin: 4px;
    border: 1px solid $borders;
    border-radius: 0;
    background-color: $bg_color;

    &:checked {
      border-color: $borders;
      background-color: $selected_bg_color;
    }

    &:disabled {
      background-color: $disabled_bg_color;
    }

    &:backdrop {
      border-color: $unfocused_borders;
    }

    slider {
      min-width: 20px;
      min-height: 20px;
      margin: -1px;
      border: 1px solid $borders;
      border-radius: 0;
      color: $fg_color;
      background-color: $base_color;
    }

    &:disabled {
      slider {
        background-color: $disabled_base_color;
      }

      &:backdrop slider {
        background-color: $unfocused_disabled_base_color;
      }
    }

    &:backdrop slider {
      background-color: $unfocused_base_color;
    }
  }
}
