@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 2px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: none;
    box-shadow: inset -80px 0 $bg_color;

    .title {
      color: $selected_fg_color;
      
      &:backdrop {
        color: $backdrop_fg_color;
      }
    }

    .subtitle {
      color: gtkalpha($selected_fg_color, 0.7);
      
      &:backdrop {
        color: gtkalpha($backdrop_fg_color, 0.7);
      }
    }
  }
  
  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: gtkshade($backdrop_bg_color, 0.8);
    background-image: none;
  }
}
    
@mixin titlebutton($type) {
  padding: 0;
  min-width: 18px;
  min-height: 18px;
  border-radius: 0;
  border-color: transparent;
  color: transparent;
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: none;
  -gtk-icon-shadow: none;
      
  @if $type == "close" {
    background-image: url('assets/close.png');
    
    &:active { background-image: url('assets/close-active.png'); }
  }

  @else if $type == "minimize" {
    background-image: url('assets/minimize.png');
    
    &:active { background-image: url('assets/minimize-active.png'); }
  }

  @else if $type == "maximize" {
    background-image: url('assets/maximize.png');
    
    &:active { background-image: url('assets/maximize-active.png'); }
  }
  
  @else if $type == "restore" {
    background-image: url('assets/restore.png');
    
    &:active { background-image: url('assets/restore-active.png'); }
  }
}
