@mixin notebook_header() {
  background-color: $bg_color;

  // 3D shadows
  @at-root
  notebook.frame {
    border-top-color: $light_shadow;
    border-left-color: $light_shadow;
  }
  
  @at-root
  notebook > stack:not(:only-child) {
    background-color: $bg_color;
  }
  
  &.top { box-shadow: 0 1px $light_shadow; }
  &.bottom { box-shadow: 0 -1px $border_color; }
  &.left { box-shadow: 1px 0 $light_shadow; }
  &.right { box-shadow: -1px 0 $border_color; }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    margin: 2px;
    padding: 3px 10px;
    border-radius: $notebook_tab_radius;
    border: 1px solid $border_color;
    border-top-color: $light_shadow;
    border-left-color: $light_shadow;
    border-right-width: 4px;
    color: $fg_color;
    background-color: $bg_color;
    box-shadow: none;
    
    @if $pos == "top" {
      margin-bottom: -1px;
    }
    @else if $pos == "bottom" {
      margin-top: -1px;
    }
    @else if $pos == "left" {
      margin-right: -1px;
    }
    @else if $pos == "right" {
      margin-left: -1px;
    }
  }
    
  @else if $type == "checked" {
    //border-radius: $notebook_tab_radius + 1px;
    
    @if $pos == "top" {
      margin-bottom: -2px;
      margin-top: 0px;
    }
    @else if $pos == "bottom" {
      margin-top: -2px;
      margin-bottom: 0px;
    }
    @else if $pos == "left" {
      margin-right: -2px;
      margin-left: 0px;
    }
    @else if $pos == "right" {
      margin-left: -2px;
      margin-right: 0px;
    }
  }
}
