@mixin popover() {
  border: 1px solid $border_color;    // TODO: popover_border_color
  border-bottom-color: black;
  border-right-color: black;
  color: $popover_fg_color;
  background-color: $popover_bg_color;
  background-clip: padding-box;
  box-shadow: inset 1px 1px white,
              inset -1px -1px $border_color;
}
