@mixin progressbar_trough($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: 1px solid $border_color;
    border-bottom-color: white;
    border-right-color: white;
    background-color: $bg_color;
    box-shadow: inset 1px 0 $border_color,
                inset 0 1px $border_color,
                inset -1px 0 white,
                inset 0 -1px white;
  }
}

@mixin progressbar($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: none;
  }
  
  @else if $type == "horiz" {
    background-image: linear-gradient(
      to bottom,
      black,
      $border_color 10%,
      white,
      $border_color 90%,
      black
    );
  }
  
  @else if $type == "vert" {
    background-image: linear-gradient(
      to right,
      black,
      $border_color 10%,
      white,
      $border_color 90%,
      black
    );
  }
}
