@mixin scale_trough() {
  border: 1px solid $border_color;
  border-radius: $scale_trough_radius;
  background-color: $bg_color;
  border-bottom-color: white;
  border-right-color: white;
  box-shadow: inset 2px 2px $border_color,
              inset -1px -1px $border_color;

  &:disabled { background-color: $disabled_bg_color; }
}

@mixin scale_highlight() {
  border: none;
  border-radius: 4px;
  background-color: transparent;

  &:disabled { background-color: transparent;
    &:backdrop { background-color: transparent; }
  }

  &:backdrop { background-color: transparent; }
}

@mixin scale_slider($type : "base") {
  @if $type == "base" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size;
    margin: -$scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: none;
    color: $selected_fg_color;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: none;
    
    &:hover { color: $selected_fg_color; }
    &:backdrop { color: $backdrop_selected_fg_color; }
  }
  
  @else if $type == "horiz" {
    background-image: url('assets/slider-horiz.png');

    &:hover { background-image: url('assets/slider-horiz.png'); }
    &:disabled { background-image: url('assets/slider-horiz-insensitive.png');
      &:backdrop { background-image: url('assets/slider-horiz-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-horiz-insensitive.png'); }
  }
  
  @else if $type == "vert" {
    background-image: url('assets/slider-vert.png');

    &:hover { background-image: url('assets/slider-vert.png'); }
    &:disabled { background-image: url('assets/slider-vert-insensitive.png');
      &:backdrop { background-image: url('assets/slider-vert-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-vert-insensitive.png'); }
  }
  
  // OS/2 didn't have directional sliders
}
