// Normal colors
$bg_color : #282828;
$fg_color : #FFFFFF;
$base_color : #111111;
$text_color : #FFFFFF;
$selected_bg_color : #32A3CC;
$selected_fg_color : #FFFFFF;
$selected_text_bg_color : #0681AA;
$selected_text_color : #FFFFFF;
$disabled_bg_color : gtkshade($bg_color, 0.75);
$disabled_fg_color : gtkmix($fg_color, $bg_color, 0.5);
$disabled_base_color : $disabled_bg_color;
$disabled_text_color : $disabled_fg_color;

// Backdrop state colors
$backdrop_bg_color : $bg_color;
$backdrop_fg_color : $fg_color;
$backdrop_base_color : $base_color;
$backdrop_text_color : $text_color;
$backdrop_selected_bg_color : $selected_bg_color;
$backdrop_selected_fg_color : $selected_fg_color;
$backdrop_selected_text_bg_color : $selected_text_bg_color;
$backdrop_selected_text_color : $selected_text_color;
$backdrop_disabled_bg_color : gtkshade($bg_color, 0.75);
$backdrop_disabled_fg_color : gtkmix($fg_color, $bg_color, 0.75);
$backdrop_disabled_base_color : $backdrop_disabled_bg_color;
$backdrop_disabled_text_color : $backdrop_disabled_fg_color;

// Darker color scheme
$dark_bg_color : #324D60;
$dark_fg_color : #FFFFFF;

// Borders
$border_color : #3C3D3F;
$backdrop_border_color : #2D2E2F;

// Event colors
$success_color : #39E4A3;
$info_color : #0055FF;
$question_color : #2C2C2C;
$warning_color : #FF9900;
$error_color : #CC0000;

// Widget colors
$outline_color : #3C3D3F;
$link_color : #1D72E9;
$overshoot_color : rgba(0, 0, 0, 0.5);
$drop_target_color : $selected_bg_color;
$wm_shadow : #4C4C4C;

$tooltip_bg_color : $dark_bg_color;
$tooltip_fg_color : $dark_fg_color;
$popover_bg_color : $bg_color;
$popover_fg_color : $fg_color;
$menubar_bg_color : #002E3D;
$menubar_fg_color : #FFFFFF;
$toolbar_bg_color : #002E3D;
$toolbar_fg_color : #FFFFFF;
$sidebar_bg_color : $base_color;
$sidebar_fg_color : $text_color;
$taskbar_bg_color : $base_color;
$taskbar_fg_color : $text_color;
$titlebar_bg_color : $dark_bg_color;
$titlebar_fg_color : $dark_fg_color;
$headerbar_bg_color : $dark_bg_color;
$headerbar_fg_color : $dark_fg_color;
$terminal_bg_color : #000000;
$terminal_fg_color : #FFFFFF;

// OSD
$osd_fg : $dark_fg_color;
$osd_bg : gtkmix($dark_bg_color, $dark_fg_color, 0.2);
$osd_base : $dark_bg_color;

// Desktop Icons
$desktop_item_fg : #FFFFFF;
$desktop_item_selected_fg : $selected_fg_color;
$desktop_item_text_shadow : rgba(0, 0, 0, 0.8);
