@mixin checkradio() {
  check, radio {
    padding: 4px;
    border-style: none;
    background-color: transparent;
    
    menuitem & {
      min-height: 16px;
      min-width: 16px;
    }
  }
  
  checkbutton, radiobutton {
    padding: 4px;
    outline-offset: 0;
    
    &:hover, &:active:hover {
      padding: 4px;
      border: none;
      background-color: transparent;
    }
    &:selected {
      padding: 4px;
      border: none;
      background-color: transparent;
      &:focus {
        padding: 4px;
        border: none;
        background-color: transparent;
      }
    }
  }
  
  view.content-view check, .content-view.view check {
    background-color: transparent;
    &:hover, &:disabled, &:selected, &:active {
      background-color: transparent;
    }
  }
  
  .check, check {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png"));
    -gtk-icon-shadow: none;

    &:backdrop {
      opacity: 0.8;
      transition: 0.2s;
    }

    &:hover {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-hover.png"), url("assets/checkbox-unchecked-hover@2.png"));
      -gtk-icon-shadow: none;

      &:backdrop {
        opacity: 0.8;
        transition: 0.2s;
      }
    }

    &:active {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-hover.png"), url("assets/checkbox-unchecked-hover@2.png"));
      -gtk-icon-shadow: none;

      &:backdrop {
        opacity: 0.8;
        transition: 0.2s;
      }
    }

    &:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"), url("assets/checkbox-unchecked-insensitive@2.png"));
      -gtk-icon-shadow: none;

      &:backdrop {
        opacity: 0.8;
        transition: 0.2s;
      }
    }

    &:indeterminate {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png"));
      -gtk-icon-shadow: none;

      &:backdrop {
        opacity: 0.8;
        transition: 0.2s;
      }

      &:hover {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-hover.png"), url("assets/checkbox-mixed-hover@2.png"));
        -gtk-icon-shadow: none;

        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }

      &:active {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-hover.png"), url("assets/checkbox-mixed-hover@2.png"));
        -gtk-icon-shadow: none;

        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }

      &:disabled {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), url("assets/checkbox-mixed-insensitive@2.png"));
        -gtk-icon-shadow: none;

        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }
    }
   
    &:checked {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png"));
      -gtk-icon-shadow: none;

      &:backdrop {
        opacity: 0.8;
        transition: 0.2s;
      }

      &:hover {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-hover.png"), url("assets/checkbox-checked-hover@2.png"));
        -gtk-icon-shadow: none;
      
        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }

      &:active {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-hover.png"), url("assets/checkbox-checked-hover@2.png"));
        -gtk-icon-shadow: none;
        
        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }

      &:disabled {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png"));
        -gtk-icon-shadow: none;

        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }
    }
  }

  menu menuitem {
    .check, check {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png"));
      -gtk-icon-shadow: none;

      &:hover {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png"));
        animation: none;
        -gtk-icon-shadow: none;
        transition: none;
      
        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }

      &:disabled {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"), url("assets/checkbox-insensitive@2.png"));
        -gtk-icon-shadow: none;

        &:hover {
          -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"), url("assets/checkbox-insensitive@2.png"));
          animation: none;
          -gtk-icon-shadow: none;
          transition: none;
        }
        
        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }

      &:indeterminate {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png"));
        -gtk-icon-shadow: none;
      
        &:hover {
          -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png"));
          animation: none;
          -gtk-icon-shadow: none;
          transition: none;
        }
        
        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }

        &:disabled {
          -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), url("assets/checkbox-mixed-insensitive@2.png"));
          -gtk-icon-shadow: none;
        
          &:hover {
            -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), url("assets/checkbox-mixed-insensitive@2.png"));
            animation: none;
            -gtk-icon-shadow: none;
            transition: none;
          }

          &:backdrop {
            opacity: 0.8;
            transition: 0.2s;
          }
        }
      }

      &:checked {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png"));
        -gtk-icon-shadow: none;
      
        &:hover {
          -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png"));
          animation: none;
          -gtk-icon-shadow: none;
          transition: none;

          &:backdrop {
            opacity: 0.8;
            transition: 0.2s;
          }
        }
        
        &:disabled {
          -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png"));
          -gtk-icon-shadow: none;

          &:hover {
            -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png"));
            animation: none;
            -gtk-icon-shadow: none;
            transition: none;

            &:backdrop {
              opacity: 0.8;
              transition: 0.2s;
            }
          }
        }
      }
    }
  }

  .radio, radio {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), url("assets/radio-unchecked@2.png"));
    -gtk-icon-shadow: none;

    &:backdrop {
      opacity: 0.8;
      transition: 0.2s;
    }

    &:hover {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-hover.png"), url("assets/radio-unchecked-hover@2.png"));
      -gtk-icon-shadow: none;
      
      &:backdrop {
        opacity: 0.8;
        transition: 0.2s;
      }
    }

    &:active {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-hover.png"), url("assets/radio-unchecked-hover@2.png"));
      -gtk-icon-shadow: none;

      &:backdrop {
        opacity: 0.8;
        transition: 0.2s;
      }
    }

    &:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive.png"), url("assets/radio-unchecked-insensitive@2.png"));
      -gtk-icon-shadow: none;

      &:backdrop {
        opacity: 0.8;
        transition: 0.2s;
      }
    }

    &:indeterminate {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png"));
      -gtk-icon-shadow: none;
    
      &:backdrop {
        opacity: 0.8;
        transition: 0.2s;
      }

      &:hover {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-hover.png"), url("assets/radio-mixed-hover@2.png"));
        -gtk-icon-shadow: none;

        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }

      &:active {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-hover.png"), url("assets/radio-mixed-hover@2.png"));
        -gtk-icon-shadow: none;

        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }

      &:disabled {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), url("assets/radio-mixed-insensitive@2.png"));
        -gtk-icon-shadow: none;

        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }
    }

    &:checked {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), url("assets/radio-checked@2.png"));
      -gtk-icon-shadow: none;
    
      &:backdrop {
        opacity: 0.8;
        transition: 0.2s;
      }

      &:hover {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-hover.png"), url("assets/radio-checked-hover@2.png"));
        -gtk-icon-shadow: none;

        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }

      &:active {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-hover.png"), url("assets/radio-checked-hover@2.png"));
        -gtk-icon-shadow: none;
        
        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }

      &:disabled {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive.png"), url("assets/radio-checked-insensitive@2.png"));
        -gtk-icon-shadow: none;

        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }
    }
  }

  menu menuitem {
    .radio, radio {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), url("assets/radio-unchecked@2.png"));
      -gtk-icon-shadow: none;

      &:hover {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), url("assets/radio-unchecked@2.png"));
        animation: none;
        -gtk-icon-shadow: none;
        transition: none;
      }
      
      &:backdrop {
        opacity: 0.8;
        transition: 0.2s;
      }

      &:disabled {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive.png"), url("assets/radio-insensitive@2.png"));
        -gtk-icon-shadow: none;
        
        &:hover {
          -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive.png"), url("assets/radio-insensitive@2.png"));
          animation: none;
          -gtk-icon-shadow: none;
          transition: none;
        }
        
        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }
      }

      &:indeterminate {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png"));
        -gtk-icon-shadow: none;

        &:hover {
          -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png"));
          animation: none;
          -gtk-icon-shadow: none;
          transition: none;
        }

        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }

        &:disabled {
          -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), url("assets/radio-mixed-insensitive@2.png"));
          -gtk-icon-shadow: none;

          &:hover {
            -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), url("assets/radio-mixed-insensitive@2.png"));
            animation: none;
            -gtk-icon-shadow: none;
            transition: none;
          }

          &:backdrop {
            opacity: 0.8;
            transition: 0.2s;
          }
        }
      }

      &:checked {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), url("assets/radio-checked@2.png"));
        -gtk-icon-shadow: none;

        &:hover {
          -gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), url("assets/radio-checked@2.png"));
          animation: none;
          -gtk-icon-shadow: none;
          transition: none;
        }
        
        &:backdrop {
          opacity: 0.8;
          transition: 0.2s;
        }

        &:disabled {
          -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive.png"), url("assets/radio-checked-insensitive@2.png"));
          -gtk-icon-shadow: none;
        
          &:hover {
            -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive.png"), url("assets/radio-checked-insensitive@2.png"));
            animation: none;
            -gtk-icon-shadow: none;
            transition: none;
          }

          &:backdrop {
            opacity: 0.8;
            transition: 0.2s;
          }
        }
      }
    }
  }

  treeview.view {
    check, radio {
      &:selected {
        &:focus {
          color: $theme_fg_color;
          border-color: gtkshade($theme_selected_bg_color, 0.6);
        }
        
        color: $theme_fg_color;
        border-color: gtkshade($theme_selected_bg_color, 0.6);
        
        &:disabled {
          color: $theme_disabled_fg_color;

          &:backdrop {
            color: gtkshade($theme_unfocused_fg_color, 1.1);
          }
        }
      }
      &:backdrop {
        &:selected {
          color: $theme_disabled_fg_color;
        }
        color: $theme_disabled_fg_color;
      }
    }
  }
}
