@mixin linked_widgets() {
  .linked, .inline-toolbar .linked, .primary-toolbar .linked {
    button, .raised button {
      margin: 1px;
    }
    
    entry {
      margin: 1px;
    }

    combobox {
      margin: 1px;
    }
    
    spinbutton {
      margin: 1px;
      
      entry, button {
        margin: 0;
      }
    }
  }
  
  combobox {
    button:not(:only-child) {
      margin: 0;
      padding: 4px 6px;
      border-width: 1px;
      border-style: solid;
      border-color: $borders;
      border-top-color: gtkshade($borders, 0.6);
      border-left: none;
      border-right-color: gtkshade($borders, 0.8);
      border-radius: 0 100% 100% 0;
      color: $text_color;
      background-color: $base_color;
      box-shadow: inset 0 1px gtkalpha($dark_shadow, 0.6);
      
      background-image: url('assets/combo.png');
      background-size: 100% 100%;
      outline-color: transparent;
      
      &:disabled {
        color: transparent;
      }
    }
    
    entry:not(:only-child) {
      margin: 0;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
