@mixin menubar_menuitem() {
  menubar > menuitem, .menubar > menuitem {
    padding: 3px 5px;
    border: none;
    color: $menubar_fg_color;
    background-color: transparent;

    &:hover {
      border-radius: 40px 0 0 40px;
      color: $theme_selected_fg_color;
      text-shadow: 1px 1px $dark_shadow;
      background-color: $theme_selected_bg_color;
      background-image: linear-gradient(to right, $theme_selected_bg_color 60%, $menubar_bg_color 95%);
    }

    &:disabled {
      color: $theme_disabled_fg_color;
      background-color: transparent;
    }

    &:backdrop {
      color: $theme_unfocused_fg_color;
      background-color: transparent;
    }
  }
  
  menubar menu menuitem {
    text-shadow: none;
  }
}
