// message dialog
@mixin messagedialog() {
  messagedialog {
    border-bottom-left-radius: $csd_radius;
    border-bottom-right-radius: $csd_radius;
    
    .background.csd {
	    border-radius: $csd_radius;
	    color: $theme_fg_color;
      background-color: $theme_bg_color;
    }
  
    & decoration {
      border-radius: $csd_radius;
      border-bottom-left-radius: $csd_radius;
      border-bottom-right-radius: $csd_radius;
      box-shadow: 0 1px 2px gtkalpha($dark_shadow, 0.2);
    }

    & .titlebar.horizontal {
      background-image: none;
      background-color: $theme_bg_color;
    }

    &.csd .dialog-action-area button {
      margin: 0;
      padding: 10px;
      border-radius: 0;
      border-bottom-style: none;

      &:last-child {
        border-right-width: 0;
        border-radius: 0px;
        border-bottom-right-radius: $csd_radius;
      }

      &:first-child {
        border-left-width: 0;
        border-radius: 0px;
        border-bottom-left-radius: $csd_radius;
      }

      &:only-child {
        border-radius: 0px;
        border-bottom-left-radius: $csd_radius;
        border-bottom-right-radius: $csd_radius;
      }
    }
  }
}
