// progressbar 
@mixin progressbar() {
  progressbar {
    padding: 0;
    border: none;
    color: gtkmix($theme_fg_color, $theme_selected_fg_color, 0.5);
    background-color: transparent;

    & progress {
      background-image: url('assets/progressbar-h.png');
      background-size: 100% 16px;
      border: 1px solid #4e5364;
      box-shadow: inset 0 0 0 1px gtkalpha($dark_shadow, 0.05);
    }

    & trough {
      border-radius: $progressbar_radius;
      border: 1px solid gtkshade($theme_bg_color, 0.8);
      border-bottom-color: $theme_base_color;
      border-right-color: $theme_base_color;
      background-color: $theme_bg_color;
      padding: 2px;
    }
    
    &.vertical {
      & progress {
        background-image: url('assets/progressbar-v.png');
        background-size: 16px 100%;
        border: 1px solid #4e5364;
        box-shadow: inset 0 0 0 1px gtkalpha($dark_shadow, 0.05);
      }

      & trough {
        border-radius: $progressbar_radius;
        border: 1px solid gtkshade($theme_bg_color, 0.8);
        border-bottom-color: $theme_base_color;
        border-right-color: $theme_base_color;
        background-color: $theme_bg_color;
        padding: 2px;
      }
    }

    &.horizontal trough,
    &.horizontal progress {
      min-height: 16px;
    }

    &.vertical trough,
    &.vertical progress {
      min-width: 16px;
    }
  }

  treeview.view {
    &.progressbar {
      &, &:disabled {
        color: $theme_selected_fg_color;
        border-radius: 0;
        background-color: $theme_selected_bg_color;
      }

      &:focus, &:selected:focus, &:focus:selected, &:focus:selected:focus, &:disabled:selected {
        border-radius: 0;
        color: $theme_selected_bg_color;
        background-color: $theme_selected_fg_color;
      }
    }

    &.trough {
      color: $theme_fg_color;
      background-color: gtkalpha($dark_shadow, 0.1);
      border-radius: 0;
      border: none;

      &:selected, &:selected:focus {
        color: $theme_selected_fg_color;
        background-color: gtkalpha($dark_shadow, 0.1);
        border-radius: 0;
        border: none;
      }
    }

    infobar & trough, row:selected & trough {
      background-color: gtkalpha($dark_shadow, 0.1);
    }
  }
}
