@mixin entry($type : "base") {
  @if $type == "base" {
    padding: 5px;
    border-radius: $entry_radius;
    border: 1px solid $border_color;
    color: $text_color;
    background-color: $base_color;
  }

  @else if $type == "focus" {
    box-shadow: none;
  }

  @else if $type == "disabled" {
    color: $disabled_text_color;
  }

  @else if $type == "disabled-backdrop" {
    border-color: $backdrop_border_color;
    color: $backdrop_disabled_fg_color;
    background-color: $backdrop_disabled_base_color;
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: $backdrop_base_color;
  }

  @else if $type == "undecorated" {
    min-height: 0px;
    padding: 3px;
    border-radius: 0px;
    background-image: none;
    border-color: transparent;
  }
}
