@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 2px;
    border-bottom: 1px solid $border_color;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: none;
    box-shadow: none;
    
    .title { color: $titlebar_fg_color;
      &:backdrop { color: $backdrop_fg_color; }
    }

    .subtitle { color: gtkalpha($titlebar_fg_color, 0.7);
      &:backdrop { color: gtkalpha($backdrop_fg_color, 0.7); }
    }

    button {
      @include flat_buttons();
    }
  }
  
  @else if $type == "backdrop" {
    border-bottom-color: $backdrop_border_color;
    color: $backdrop_fg_color;
    background-color: gtkshade($backdrop_bg_color, 1.6);
    background-image: none;
  }
}

@mixin titlebutton($type) {
  // TODO: include base button styling
  padding: 2px 2px;
  min-width: 16px;
  min-height: 16px;
  border-radius: 0;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  -gtk-icon-shadow: none;
  
  //@include button("base");
  //&:active { @include button("active"); }
  
  @if $type == "close" {
    background-image: url('assets/close.svg');
  }
  @else if $type == "minimize" {
    background-image: url('assets/minimize.svg');
  }
  @else if $type == "maximize" {
    background-image: url('assets/maximize.svg');
  }
  @else if $type == "restore" {
    background-image: url('assets/restore.svg');
  }
}
