@mixin listview($type) {
  @if $type == "backdrop" { color: $backdrop_fg_color; }

  @else if $type == "selected" {
    border: none;
    color: $selected_fg_color;
    background-color: $selected_bg_color;
  }

  @else if $type == "selected-disabled" {
    color: gtkalpha($selected_fg_color, 0.7);
    background-color: gtkalpha($selected_bg_color, 0.9);
  }
  
  @else if $type == "selected-backdrop" {
    color: $backdrop_selected_fg_color;
    background-color: $backdrop_selected_bg_color;
  }
}
