@mixin menubar() {
  menubar, .menubar {
    padding: 0;
    border-style: none;
    border-bottom: 1px solid $border_color;
    background-color: $menubar_bg_color;
    color: $menubar_fg_color;

    &:backdrop {
      color: $backdrop_fg_color;
      border-bottom-color: $backdrop_border_color;
      background-color: $menubar_bg_color;
    }
    
    > menuitem {
      padding: 3px 5px;
      border: none;
      color: $menubar_fg_color;
      background-color: transparent;

      &:hover {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
      }

      &:disabled {
        color: $disabled_fg_color;
        background-color: transparent;
      }

      &:backdrop {
        color: $backdrop_fg_color;
        background-color: transparent;
      }
    }
  }
}
