@mixin notebook() {
  notebook {
    padding: 0;

    &.frame {
      margin: -1px;
      border-width: 1px;
      border-style: solid;
      border-color: $border_color;

      > header {
        margin: -1px;

        &.top {
          margin-bottom: 0;
        }

        &.bottom {
          margin-top: 0;
        }

        &.left {
          margin-right: 0;
        }

        &.right {
          margin-left: 0;
        }

        &.top, &.bottom {
          padding-left: 0;
          padding-right: 0;
        }

        &.left, &.right {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    > stack:not(:only-child) {
      background-color: $bg_color;
      box-shadow: inset -2px 0 gtkshade($bg_color, 0.65), inset 0 -2px gtkshade($bg_color, 0.65), inset 2px 0 $light_shadow, inset 0 2px $light_shadow;
      
      .nautilus-window & {
        box-shadow: none;
        background-color: $base_color;
      }
    }

    tab {
      padding: 6px 20px;
      border-width: 1px;
      border-style: solid;
      border-radius: 0;
      border-color: transparent;
      color: gtkalpha($fg_color, 0.7);
      background-color: $bg_color;
      outline-width: 0;

      &:checked {
        color: $fg_color;
        border-color: $border_color;
        background-color: $bg_color;
      }
    }

    > header {
      background-color: $bg_color;
      
      &.top {
        box-shadow: 0 1px $border_color;

        > tabs > tab {
          border-width: 8px 5px 0 5px;
          border-image: url("assets/tab-top.png");
          border-image-slice: 8 5 0 5;

          &:checked {
            margin-bottom: -2px;
            border-image: url("assets/tab-top-active.png");
            border-image-slice: 8 5 0 5;
          }
        }
      }

      &.bottom {
        box-shadow: 0 -1px $border_color;

        > tabs > tab {
          border-width: 0 5px 5px 5px;
          border-image: url("assets/tab-bottom.png");
          border-image-slice: 0 5 5 5;

          &:checked {
            margin-top: -2px;
            border-image: url("assets/tab-bottom-active.png");
            border-image-slice: 0 5 5 5;
          }
        }
      }

      &.right {
        box-shadow: -1px 0 $border_color;

        > tabs > tab {
          border-width: 6px 7px 7px 0;
          border-image: url("assets/tab-right.png");
          border-image-slice: 6 7 7 0;

          &:checked {
            margin-left: -2px;
            border-image: url("assets/tab-right-active.png");
            border-image-slice: 6 7 7 0;
          }
        }
      }

      &.left {
        box-shadow: 1px 0 $border_color;

        > tabs > tab {
          border-width: 6px 0 7px 7px;
          border-image: url("assets/tab-left.png");
          border-image-slice: 6 0 7 7;

          &:checked {
            margin-right: -2px;
            border-image: url("assets/tab-left-active.png");
            border-image-slice: 6 0 7 7;
          }
        }
      }
    }

    // alignments
    > header.top > tabs > arrow.up, > header.bottom > tabs > arrow.up {
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");

      &:last-child {
        margin-left: 2px;
      }
    }

    > header.top > tabs > arrow.down, > header.bottom > tabs > arrow.down {
      -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");

      &:first-child {
        margin-right: 2px;
      }
    }

    > header.left > tabs > arrow.up, > header.right > tabs > arrow.up {
      -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");

      &:last-child {
        margin-top: 2px;
      }
    }

    > header.left > tabs > arrow.down, > header.right > tabs > arrow.down {
      -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");

      &:first-child {
        margin-bottom: 2px;
      }
    }

    > header > tabs > arrow {
      color: $fg_color;

      &:hover {
        color: gtkshade($fg_color, 1.2);
      }

      &:active {
        color: gtkshade($fg_color, 0.8);
      }

      &:disabled {
        color: gtkshade($bg_color, 0.6);
      }
    }
  }
}
