@mixin notebook_header() {
  background-color: $bg_color;

  // 3D shadows
  @at-root
  notebook > stack:not(:only-child),
  notebook > stack:not(:only-child):backdrop {
    background-color: $bg_color;
    box-shadow: inset -2px 0 gtkshade($bg_color, 0.65),
                inset 0 -2px gtkshade($bg_color, 0.65),
                inset 2px 0 white,
                inset 0 2px white;
  }

  &.top { box-shadow: 0 1px $border_color; }
  &.bottom { box-shadow: 0 -1px $border_color; }
  &.left { box-shadow: 1px 0 $border_color; }
  &.right { box-shadow: -1px 0 $border_color; }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    padding: 2px 4px;
    border-radius: $notebook_tab_radius;
    border-style: solid;
    color: gtkalpha($fg_color, 0.7);
    background-color: $bg_color;
    box-shadow: none;
    
    @if $pos == "top" {
      border-width: 8px 5px 0 5px;
      border-image: url("assets/tab-top.png");
      border-image-slice: 8 5 0 5;
    }
    @else if $pos == "bottom" {
      border-width: 0 5px 5px 5px;
      border-image: url("assets/tab-bottom.png");
      border-image-slice: 0 5 5 5;
    }
    @else if $pos == "left" {
      border-width: 6px 0 7px 7px;
      border-image: url("assets/tab-left.png");
      border-image-slice: 6 0 7 7;
    }
    @else if $pos == "right" {
      border-width: 6px 7px 7px 0;
      border-image: url("assets/tab-right.png");
      border-image-slice: 6 7 7 0;
    }
  }

  // TODO: fix shadow cutting off the tab (turn off shadows?)
  @else if $type == "checked" {
    color: $fg_color;
    border-color: $border_color;
    background-color: $bg_color;
    
    @if $pos == "top" {
      margin-bottom: -2px;
      border-image: url("assets/tab-top-active.png");
      border-image-slice: 8 5 0 5;
      box-shadow: 0 3px red;
    }
    @else if $pos == "bottom" {
      margin-top: -2px;
      border-image: url("assets/tab-bottom-active.png");
      border-image-slice: 0 5 5 5;
    }
    @else if $pos == "left" {
      margin-right: -2px;
      border-image: url("assets/tab-left-active.png");
      border-image-slice: 6 0 7 7;
    }
    @else if $pos == "right" {
      margin-left: -2px;
      border-image: url("assets/tab-right-active.png");
      border-image-slice: 6 7 7 0;
    }
  }
}
