@mixin scale_trough() {
  border: 1px solid $border_color;
  border-radius: $scale_trough_radius;
  background-color: gtkalpha($dark_shadow, 0.1);

  &:disabled { background-color: gtkalpha($dark_shadow, 0.05);
    &:backdrop { background-color: gtkalpha($dark_shadow, 0.05); }
  }
  &:backdrop { background-color: gtkalpha($dark_shadow, 0.1); }
}

@mixin scale_highlight() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: transparent;

  &:disabled { background-color: transparent;
    &:backdrop { background-color: transparent; }
  }
  &:backdrop { background-color: transparent; }
}

@mixin scale_slider($type : "base") {
  @if $type == "base" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size;
    margin: -$scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: none;
    color: $selected_fg_color;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: none;

    &:hover { color: $selected_fg_color; }
    &:backdrop { color: $backdrop_selected_fg_color; }
  }

  @if $type == "bottom" or $type == "horiz" {
    margin-bottom: -10px;
    background-image: url('assets/slider-horiz.png');

    &:hover { background-image: url('assets/slider-horiz.png'); }
    &:disabled { background-image: url('assets/slider-horiz-insensitive.png');
      &:backdrop { background-image: url('assets/slider-horiz-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-horiz-insensitive.png'); }
  }
  
  @if $type == "top" {
    margin-top: -10px;
    background-image: url('assets/slider-horiz-top.png');

    &:hover { background-image: url('assets/slider-horiz-top.png'); }
    &:disabled { background-image: url('assets/slider-horiz-top-insensitive.png');
      &:backdrop { background-image: url('assets/slider-horiz-top-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-horiz-top-insensitive.png'); }
  }
  
  @if $type == "right" or $type == "vert"  {
    margin-right: -10px;
    background-image: url('assets/slider-vert.png');

    &:hover { background-image: url('assets/slider-vert.png'); }
    &:disabled { background-image: url('assets/slider-vert-insensitive.png');
      &:backdrop { background-image: url('assets/slider-vert-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-vert-insensitive.png'); }
  }

  @if $type == "left" {
    margin-left: -10px;
    background-image: url('assets/slider-vert-left.png');

    &:hover { background-image: url('assets/slider-vert-left.png'); }
    &:disabled { background-image: url('assets/slider-vert-left-insensitive.png');
      &:backdrop { background-image: url('assets/slider-vert-left-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-vert-left-insensitive.png'); }
  }
}
