@mixin headerbar_buttons($bg, $fg, $br)
{
  @include normal_buttons($bg, $fg, $br);
}

@mixin headerbar() {
  headerbar {
    padding: 2px;
    min-height: 26px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: linear-gradient(to right, #0a246a, #a2c6ed);

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
      background-image: linear-gradient(to right, #808080, #c0c0c0);
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
      color: $selected_fg_color;
      
      &:backdrop { color: $unfocused_fg_color; }
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha($selected_fg_color, 0.7);
      
      &:backdrop { color: gtkalpha($unfocused_fg_color, 0.7); }
    }

    button {
      @include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, $borders);
    }

    entry { padding: 4px 8px; }
    &.titlebar, .titlebar & { border-radius: $window_radius $window_radius 0px 0px; }

    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        color: transparent;
        padding: 0;
        border-radius: 0;
        -gtk-icon-shadow: none;
        
        background-position: center;
        background-repeat: no-repeat;
      }
      
      &.close { background-image: url('assets/close.png'); }
      &.minimize { background-image: url('assets/minimize.png'); }
      &.maximize { background-image: url('assets/maximize.png'); }
      .maximized &.maximize { background-image: url('assets/restore.png'); }
    }
    
    .horizontal.right .titlebutton.maximize {
      margin-left: -6px;
      margin-right: -4px;
    }
  }
  
  window.ssd headerbar, window.ssd .titlebar {
    padding: 0px;
    margin: 0px;
    border: 3px solid transparent;
    border-bottom: none;
  }

  window.ssd.maximized headerbar, window.ssd.maximized .titlebar {
    border: 0px;
    border-bottom: 1px solid transparent;
    box-shadow: none;
    margin: 0px;
  }
}
