$roundness : 0px;
$entry_radius : 0px;
$button_radius : 0px;
$tab_radius : 0px;
$progressbar_radius : 0px;
$scrollbar_radius : 0px;
$csd_radius : 0px;
$view_radius: 0px;
$top_primary_stepper: true;
$bottom_primary_stepper: true;
$top_secondary_stepper: false;
$bottom_secondary_stepper: false;
$check_size: 12px;
$menu_radius : 0px;
