@mixin normal_buttons($bg, $fg, $br) {
  padding: 4px 8px;
  border: none;
  border-radius: $button_radius;
  color: $fg;
  border-color: $br;
  background-color: $bg;
  
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 0;
  -gtk-outline-radius: 4px;

  &:hover {
  }

  &:active, &:checked {
    outline-color: gtkshade($selected_bg_color, 1.4);
    color: $selected_fg_color;
    background-color: $selected_bg_color;

    &:disabled {
      color: gtkmix($selected_fg_color, $disabled_fg_color, 0.4);
      background-color: gtkmix($selected_bg_color, $disabled_bg_color, 0.3);
    
      &:backdrop {
        color: gtkmix($selected_fg_color, $backdrop_disabled_fg_color, 0.4);
        background-color: gtkmix($selected_bg_color, $backdrop_disabled_bg_color, 0.3);
      }
    }

    &:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: $backdrop_selected_bg_color;
    }
  }

  &:disabled {
    color: gtkmix($fg, $backdrop_disabled_fg_color, 0.1);
    
    &:backdrop {
      color: $backdrop_disabled_fg_color;
    }
  }

  &:backdrop {
    color: $backdrop_fg_color;
    background-color: transparent;
  }
}

@mixin flat_buttons($bg, $fg, $br)
{
  @include normal_buttons($bg, $fg, $br);
}

@mixin button() {
  button {
    @include normal_buttons($base_color, $fg_color, $base_color);
    
    &.flat {
      @include flat_buttons(transparent, $fg_color, transparent);
    }
  }
}
