// entry 
@mixin entry() {
  entry {
    padding: 5px;
    border-width: 0;
    border-style: solid;
    border-color: gtkalpha($theme_fg_color, 0.3);
    border-radius: $entry_radius;
    color: $theme_text_color;
    caret-color: currentColor;
    background-color: $theme_base_color;

    &:active, &:focus {
    }

    &:selected, &:selected:focus, & selection, & selection:focus {
      color: $theme_selected_fg_color;
      background-color: $theme_selected_bg_color;
    }

    &:disabled {
      color: $theme_disabled_text_color;
      border-color: $theme_disabled_bg_color;

      &:backdrop {
        color: $theme_unfocused_disabled_fg_color;
        border-color: $unfocused_borders;
      }
    }

    &.read-only {
      background-color: gtkmix($theme_bg_color, $theme_disabled_bg_color, 0.1);
    }

    &:backdrop {
      color: $theme_unfocused_fg_color;
      background-color: $theme_unfocused_base_color;
    }

    & > image {
      &.left {
        padding-right: 5px;
      }
      
      &.right {
        padding-left: 5px;
      }
    }

    & progress {
      margin: -4px -4px;
      border-width: 0 0 2px;
      border-radius: 0;
      border-style: solid;
      border-color: $theme_selected_bg_color;
      background-color: transparent;
    }

    &.flat, &.flat:focus {
      min-height: 0;
      padding: 3px;
      border-radius: 0;
      background-image: none;
      border-color: transparent;
    }

    &.search {
      border-radius: 40px;
      border: 1px solid $borders;
    }
  }
}
