@mixin decoration() {
  decoration {
    background-color: $bg_color;
    border-radius: $csd_radius $csd_radius 0 0;
    border-style: solid;
    padding: 2px;
    box-shadow: inset -2px -2px gtkshade($bg_color, 0.85), inset 2px 2px gtkmix($bg_color, $light_shadow, 0.55), inset -1px -1px $borders, inset 1px 1px gtkmix($bg_color, $light_shadow, 0.7);

    &:backdrop {
    }

    .fullscreen &, .tiled & {
      border-radius: 0;
      border: 0px;
      margin: 0px;
    }
    
    .popup & {
      box-shadow: none;
      border-radius: $csd_radius;
      border: none;
      padding: 0;
    }

    .ssd & {
      border-radius: $csd_radius $csd_radius 0 0;

      &.maximized {
        border-radius: 0;
        padding: 0;
      }
    }

    tooltip.csd & {
      border-radius: $csd_radius;
      box-shadow: none;
      padding: 0;
    }

    .solid-csd & {
      margin: 1px;
      border-radius: 0px;
      background-color: gtkalpha($light_shadow, 0.95);
      box-shadow: none;
    }
  }
}
