@mixin notebook_header() {
  border: none;
  background-color: $bg_color;

  // add 3D shadows to the frame
  @at-root
  notebook.frame {
    border-top-color: white;
    border-left-color: white;
  }

  // add 3D shadows
  @at-root
  notebook > stack:not(:only-child) {
    background-color: $bg_color;    // otherwise area is colored with $base_color
    box-shadow: inset -1px -1px gtkshade($bg_color, 0.65);
  }
  
  // add 3D shadows to headers
  &.top {
    box-shadow: 0 1px white;
  }
  &.bottom {
    box-shadow: 0 -1px $border_color;
  }
  &.right {
    box-shadow: -1px 0 $border_color;
  }
  &.left {
    box-shadow: 1px 0 white;
  }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    margin: 1px;
    padding: 2px 6px;
    border: 1px solid $border_color;
    border-radius: $notebook_tab_radius;
    font-weight: normal;
    color: $fg_color;
    background-color: $bg_color;
    
    // styling portion
    @if $pos == "top" {
      margin-top: 2px;    // make unchecked tabs smaller
      margin-bottom: -1px;
      border-top-color: white;
      border-left-color: white;
      box-shadow: inset -1px 0 gtkshade($bg_color, 0.65);
    }
    @else if $pos == "bottom" {
      margin-bottom: 2px;
      margin-top: -1px;
      border-left-color: white;
      box-shadow: inset -1px -1px gtkshade($bg_color, 0.65);
    }
    @else if $pos == "right" {
      margin-right: 2px;
      margin-left: -1px;
      border-top-color: white;
      box-shadow: inset -1px -1px gtkshade($bg_color, 0.65);
    }
    @else if $pos == "left" {
      margin-left: 2px;
      margin-right: -1px;
      border-top-color: white;
      border-left-color: white;
      box-shadow: inset 0 -1px gtkshade($bg_color, 0.65);
    }
  }
  
  @if $type == "checked" {
    border-radius: $notebook_tab_radius + 1px;
    background-color: $bg_color;
    
    @if $pos == "top" {
      margin-top: 0px;
      margin-bottom: -2px;
      border-bottom: none;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    @else if $pos == "bottom" {
      margin-bottom: 0px;
      margin-top: -3px;   // compensate for inset shadow?
      border-top: none;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
    @else if $pos == "right" {
      margin-right: 0px;
      margin-left: -3px;
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    @else if $pos == "left" {
      margin-left: 0px;
      margin-right: -2px;
      border-right: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}
