@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    background-color: $bg_color;
  }

  @else if $type == "hint" {
    opacity: 1.0;
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: 1px solid $border_color;
    border-top-color: gtkmix($bg_color, white, 0.7);
    border-left-color: gtkmix($bg_color, white, 0.7);
    background-color: $bg_color;
    background-clip: padding-box;
    box-shadow: inset -1px 0 gtkshade($bg_color, 0.65),
                inset 0 -1px gtkshade($bg_color, 0.65),
                inset 1px 0 gtkmix($bg_color, white, 0.7),
                inset 0 1px gtkmix($bg_color, white, 0.7);
  }
}
