@mixin separators() {
  separator {
    -gtk-icon-source: none;
    min-width: 1px;
    min-height: 1px;
    background-color: gtkshade($bg_color, 0.65);
    box-shadow: 1px 1px $light_shadow;

    &:backdrop {
      background-color: gtkshade($bg_color, 0.65);
    }

    button & {
      margin: 4px 1px;
    }

    .sidebar view &, view &, .separator, & {
      border: none;
      background-color: gtkshade($bg_color, 0.65);

      &:backdrop {
        border: none;
        background-color: gtkshade($bg_color, 0.65);
      }
    }

    .primary-toolbar &, toolbar & {
      background-color: gtkmix(gtkshade($bg_color, 0.65), $toolbar_bg_color, 0.5);

      &:backdrop {
        background-color: gtkshade($bg_color, 0.65);
      }
    }

    headerbar & {
      margin-top: 4px;
      margin-bottom: 4px;
      background-color: gtkmix(gtkshade($bg_color, 0.65), $headerbar_bg_color, 0.5);
      box-shadow: none;

      &:backdrop {
        background-color: gtkshade($bg_color, 0.65);
      }
    }

    .titlebar &, .titlebar:not(headerbar) > &, .titlebar &.titlebutton, .titlebar:not(headerbar) > &.titlebutton {
      background-color: gtkmix(gtkshade($bg_color, 0.65), $titlebar_bg_color, 0.5);
      box-shadow: none;

      &:backdrop {
        background-color: gtkshade($bg_color, 0.65);
      }
    }

    headerbar &.titlebutton, .titlebar:not(headerbar) &.titlebutton {
      min-width: 1px;
      min-height: 1px;
      background-color: gtkmix(gtkshade($bg_color, 0.65), $titlebar_bg_color, 0.5);
      box-shadow: none;

      &:backdrop {
        background-color: gtkshade($bg_color, 0.65);
      }
    }

    .primary-toolbar button &, toolbar button &, .primary-toolbar:not(.libreoffice-toolbar) & {
      border-color: gtkshade($bg_color, 0.65);

      &:backdrop {
        border-color: gtkshade($bg_color, 0.65);
      }
    }

    headerbar button & {
      border-color: gtkmix(gtkshade($bg_color, 0.65), $headerbar_bg_color, 0.5);
      box-shadow: none;

      &:backdrop {
        border-color: gtkshade($bg_color, 0.65);
      }
    }

    .titlebutton button &, .titlebutton &.titlebutton {
      border-color: gtkmix(gtkshade($bg_color, 0.65), $headerbar_bg_color, 0.5);

      &:backdrop {
        border-color: gtkshade($bg_color, 0.65);
      }
    }

    menu & {
      min-height: 2px;
      background-color: gtkshade($bg_color, 0.65);
      background-image: linear-gradient(to bottom, gtkshade($bg_color, 0.65) 50%, $light_shadow 50%);
    }

    menu menuitem & {
      color: $bg_color;
      background-image: none;
      background-color: gtkshade($bg_color, 0.6);
    }

    popover & {
      border: 0;
      color: gtkalpha(currentColor, 0.5);
      background-color: transparent;
    }

    combobox & {
      border: none;
    }
  }
}
