@mixin linked_first($radius) {
  border-left-width: 1px;
  border-top-left-radius: $button_radius;
  border-bottom-left-radius: $button_radius;
}

@mixin linked_middle($radius) {
  border-radius: 0;
  border-left-width: 0;
}

@mixin linked_last($radius) {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: $button_radius;
  border-bottom-right-radius: $button_radius;
}

@mixin linked_only($radius) {
  border-width: 1px;
  border-radius: $button_radius;
}

@mixin linked_widgets() {
  @include linked_horizontal();
  @include linked_vertical();
}

@mixin linked_horizontal() {
  .linked, .inline-toolbar .linked, .primary-toolbar .linked {

    button, .raised button { @include linked_middle($button_radius);
      &:first-child { @include linked_first($button_radius); }
      &:last-child { @include linked_last($button_radius); }
      &:only-child { @include linked_only($button_radius); }
    }
    
    entry { @include linked_middle($entry_radius);
      &:first-child { @include linked_first($entry_radius); }
      &:last-child { @include linked_last($entry_radius); }
      &:only-child { @include linked_only($entry_radius); }
    }

    combobox {
      box.linked button { @include linked_middle($button_radius); }
      &:first-child box.linked button { @include linked_first($button_radius); }
      &:last-child box.linked button { @include linked_last($button_radius); }
      &:only-child box.linked button { @include linked_only($button_radius); }
    }
  }
}

@mixin linked_v_first($radius) {
  border-top-width: 1px;
  border-top-left-radius: $button_radius;
  border-top-right-radius: $button_radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin linked_v_middle($radius) {
  border-left-width: 1px;
  border-top-width: 0;
  border-radius: 0;
}

@mixin linked_v_last($radius) {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: $button_radius;
  border-bottom-right-radius: $button_radius;
}

@mixin linked_v_only($radius) {
  border-top-width: 1px;
}

@mixin linked_vertical() {
  .vertical.linked {
    button { @include linked_v_middle($button_radius);
      &:first-child { @include linked_v_first($button_radius); }
      &:last-child { @include linked_v_last($button_radius); }
      &:only-child { @include linked_v_only($button_radius); }
    }
    
    entry { @include linked_v_middle($entry_radius);
      &:first-child { @include linked_v_first($entry_radius); }
      &:last-child { @include linked_v_last($entry_radius); }
      &:only-child { @include linked_v_only($entry_radius); }
    }

    combobox {
      box.linked button { @include linked_v_middle($button_radius); }
      &:first-child box.linked button { @include linked_v_first($button_radius); }
      &:last-child box.linked button { @include linked_v_last($button_radius); }
      &:only-child box.linked button { @include linked_v_only($button_radius); }
    }
    
    spinbutton {
      button {
        &:first-child {
          border-width: 1px;
          border-top-width: 0;
          border-left-width: 1px;
        }
        
        &:last-child {
          border-width: 0;
          border-left-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }      
      }
    }
  }
  
  .stack-switcher {
    button {
      min-height: 20px;
      min-width: 80px;
    }
  }  
}
