// titlebar
@mixin titlebar() {
  .titlebar {
    border-bottom: none;
    border-radius: $csd_radius $csd_radius 0px 0px;

    & .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    & .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    // titlebutton 
    & .titlebutton {
      
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 3px;
        border-radius: 0;
        border: 1px solid gtkshade($titlebar_bg_color, 0.8);
        border-right-color: gtkshade($titlebar_bg_color, 1.25);
        border-bottom-color: gtkshade($titlebar_bg_color, 1.25);
        background-image: linear-gradient(to bottom right, $titlebar_bg_color, gtkshade($titlebar_bg_color, 0.85));
        box-shadow: inset -1px -1px gtkshade($titlebar_bg_color, 0.8), inset 1px 1px gtkshade($titlebar_bg_color, 1.1);

        &:hover {
            background-image: linear-gradient(to top left, $titlebar_bg_color, gtkshade($titlebar_bg_color, 0.85));
        }
      }

      &:backdrop {
          border-color: gtkshade($theme_bg_color, 0.8);
          border-right-color: gtkshade($theme_bg_color, 1.02);
          border-bottom-color: gtkshade($theme_bg_color, 1.02);
          background-image: linear-gradient(to bottom right, gtkshade($theme_bg_color, 1.08), gtkshade($theme_bg_color, 0.95));
          box-shadow: inset -1px -1px gtkshade($theme_bg_color, 0.8), inset 1px 1px gtkshade($theme_bg_color, 1.02);
        
        &:hover {
            background-image: linear-gradient(to top left, gtkshade($theme_bg_color, 1.08), gtkshade($theme_bg_color, 0.95));
        }
      }
    }

    .tiled &:not(headerbar), .tiled &:backdrop:not(headerbar), .maximized &:not(headerbar), .maximized &:backdrop:not(headerbar) {
      border-radius: 0;
    }
  }

  .titlebar, .titlebar:not(headerbar), headerbar.default-decoration, .csd headerbar.default-decoration, .default-decoration.titlebar:not(headerbar), .csd .default-decoration.titlebar:not(headerbar) {
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    box-shadow: inset 1px 1px gtkmix($titlebar_bg_color, $theme_base_color, 0.4), inset -1px -1px $titlebar_bg_color;
    &:backdrop {
      color: $theme_unfocused_fg_color;
      background-color: $theme_unfocused_bg_color;
      box-shadow: inset 1px 1px gtkshade($light_shadow, 0.95), inset -1px -1px gtkshade($theme_bg_color, 0.85);
    }
  }
}
