@mixin headerbar_buttons($bg, $fg, $br)
{
  @include normal_buttons($bg, $fg, $br);
}

@mixin headerbar() {
  headerbar, headerbar:not(.titlebar) {
    padding: 2px;
    border: none;
    color: $headerbar_fg_color;
    background-color: $headerbar_bg_color;

    &:backdrop {
      border-color: $unfocused_borders;
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
    }

    .titlebar &, .titlebar &:backdrop {
      background-color: transparent;
    }

    .tiled &, .tiled &:backdrop, .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
      color: $titlebar_fg_color;
      background-color: $fg_color;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha($titlebar_fg_color, 0.7);
      background-color: $fg_color;
    }

    button {
      @include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, $borders);
    }

    entry {
      padding: 4px 8px;
    }
  }
}
