@mixin headerbar_buttons($bg, $fg, $br)
{
  @include normal_buttons($bg, $fg, $br);
}

@mixin headerbar() {
  headerbar {
    padding: 4px 8px;
    min-height: 34px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    box-shadow: inset 2px 2px gtkshade($titlebar_bg_color, 1.4), inset -2px -2px gtkshade($titlebar_bg_color, 0.6);

    &:backdrop {
      color: $unfocused_fg_color;
      background-image: none;
      background-color: $unfocused_bg_color;
      box-shadow: inset 2px 2px gtkshade($unfocused_bg_color, 1.2), inset -2px -2px gtkshade($unfocused_bg_color, 0.8);
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
      color: $selected_fg_color;
      
      &:backdrop { color: $unfocused_fg_color; }
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha($selected_fg_color, 0.7);
      
      &:backdrop { color: gtkalpha($unfocused_fg_color, 0.7); }
    }

    button {
      @include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, $borders);
    }

    entry { padding: 4px 8px; }
    &.titlebar, .titlebar & { border-radius: $window_radius $window_radius 0px 0px; }

    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        min-width: 19px;
        min-height: 19px;
        color: transparent;
        background: none;
        box-shadow: none;
        border: none;
        padding: 0;
        border-radius: 0;
        -gtk-icon-shadow: none;
        
        background-position: center;
        background-repeat: no-repeat;
      }
      
      &.close {
        background-image: url('assets/close-focused.png');
        
        &:backdrop { background-image: url('assets/close-unfocused.png'); }
      }

      &.minimize {
        background-image: url('assets/minimize-focused.png');
        
        &:backdrop { background-image: url('assets/minimize-unfocused.png'); }
      }

      &.maximize {
        background-image: url('assets/maximize-focused.png');
        
        &:backdrop { background-image: url('assets/maximize-unfocused.png'); }
      }
    }
  }
}
