@mixin inline_toolbar() {
  .inline-toolbar {
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: $border_color;
    border-top-color: gtkmix($toolbar_bg_color, $light_shadow, 0.7);
    border-left-color: gtkmix($toolbar_bg_color, $light_shadow, 0.7);
    border-radius: 0;
    background-color: $toolbar_bg_color;

    &:backdrop {
      border-color: $backdrop_border_color;
      background-color: $backdrop_bg_color;
    }

    toolbutton > button {
      @include normal_buttons($toolbar_bg_color, $toolbar_fg_color, $border_color);
    }
  } 
}
