@mixin menubar() {
  menubar, .menubar {
    padding: 0;
    border: 1px solid $border_color;
    color: $menubar_fg_color;
    background-color: $menubar_bg_color;
    border-top-color: gtkmix($menubar_bg_color, $light_shadow, 0.7);
    border-left-color: gtkmix($menubar_bg_color, $light_shadow, 0.7);

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
    }
  }
}
