@mixin primary_toolbar() {
  .primary-toolbar {
    -GtkWidget-window-dragging: true;

    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: $border_color;
    border-top-color: gtkmix($toolbar_bg_color, $light_shadow, 0.7);
    border-left-color: gtkmix($toolbar_bg_color, $light_shadow, 0.7);
    color: $toolbar_fg_color;
    background-color: $toolbar_bg_color;

    &:backdrop {
      border-color: $backdrop_bg_color;
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
    }

    button, .raised button {
      @include normal_buttons($toolbar_bg_color, $toolbar_fg_color, $border_color);
    }
  }
}
