@mixin toolbar() {
  toolbar {
    padding: 4px;
    border: 1px solid $border_color;
    color: $toolbar_fg_color;
    background-color: $toolbar_bg_color;
    border-top-color: gtkmix($toolbar_bg_color, $light_shadow, 0.7);
    border-left-color: gtkmix($toolbar_bg_color, $light_shadow, 0.7);

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
    }

    &:disabled {
      color: $disabled_fg_color;
      background-color: $disabled_bg_color;
    }

    button.flat {
      @include flat_buttons($toolbar_bg_color, $toolbar_fg_color, $border_color);
    }

    // menubar toolbars 
    menubar {
    }
  }
}
