@mixin checkradio() {
  checkbutton.text-button, radiobutton.text-button {
    padding: 4px;
    outline-offset: 0;
  }

  check, .check, radio, .radio {
    margin: 4px;
    min-height: $check_size;
    min-width: $check_size;
    border-style: none;
    background-color: transparent;
  }
  
  check, .check { -gtk-icon-source: url('assets/checkbox-unchecked.png');
    &:disabled { -gtk-icon-source: url('assets/checkbox-unchecked-disabled.png'); }
    &:checked { -gtk-icon-source: url('assets/checkbox-checked.png');
      &:disabled { -gtk-icon-source: url('assets/checkbox-checked-disabled.png'); }
    }
  }
  
  radio, .radio { -gtk-icon-source: url('assets/radio-unchecked.png');
    &:disabled { -gtk-icon-source: url('assets/radio-unchecked-disabled.png'); }
    &:checked { -gtk-icon-source: url('assets/radio-checked.png');
      &:disabled { -gtk-icon-source: url('assets/radio-checked-disabled.png'); }
    }
  }
}
