@mixin destructive_button() {
  button.destructive-action {
    border-width: 1px;
    border-style: solid;
    border-color: gtkmix($error_color, $fg_color, 0.2);
    border-radius: $normal_button_radius;
    color: gtkmix($selected_fg_color, $error_color, 0.1);
    background-color: $error_color;
    background-image: linear-gradient(to bottom, $error_color 40%, gtkshade($error_color, 1.2) 75%);
    box-shadow: 0 2px 3px 0px gtkalpha($dark_shadow, 0.3), inset 0 0 0 1px gtkalpha($light_shadow, 0.3), inset 1px 0 2px 0 gtkalpha($dark_shadow, 0.2), inset -1px 0 2px 0 gtkalpha($dark_shadow, 0.2), inset 0 6px 3px -2px gtkalpha($light_shadow, 0.4);

    &:hover {
      border-color: gtkmix($error_color, $fg_color, 0.3);
      background-color: gtkmix($error_color, $selected_fg_color, 0.2);
    }

    &:active {
      border-color: gtkmix($error_color, $fg_color, 0.3);
      background-color: gtkmix($error_color, $fg_color, 0.1);
    }

    &:backdrop {
      border-color: gtkmix($error_color, $unfocused_fg_color, 0.2);
      color: gtkmix($unfocused_selected_fg_color, $error_color, 0.1);
      background-color: gtkmix($error_color, $unfocused_bg_color, 0.3);
    }
  }
}
