@mixin levelbar() {
  levelbar {
    trough {
      padding: 1px;
      border-radius: 0;
    }

    &.horizontal.discrete block {
      margin: 0 1px;
    }

    &.vertical.discrete block {
      margin: 1px 0;
    }

    block {
      border: none;
      padding: 2px;
      min-width: 32px;
      min-height: 16px;
      border-radius: $levelbar_radius;
      background-image: linear-gradient(to bottom, #c9c9c9, #ebebeb 25%, #ebebeb 25%, #cecece 55%, #e9e9e9);
    	box-shadow: inset  0px  1px gtkalpha($dark_shadow, 0.2),  inset  1px  0px gtkalpha($dark_shadow, 0.05), inset -1px  0px gtkalpha($dark_shadow, 0.05), inset 0px -1px gtkalpha($dark_shadow, 0.2);
      
      &:not(.empty) {
        background-image: linear-gradient(to bottom, #8bc257, #c9ecab 25%, #c9ecab 25%, #72c022 55%, #a0e460);
      	box-shadow: inset  0px  1px gtkalpha($dark_shadow, 0.2), inset  1px  0px gtkalpha($dark_shadow, 0.05), inset -1px  0px gtkalpha($dark_shadow, 0.05), inset 0px -1px gtkalpha($dark_shadow, 0.2);
    	}

      &.high {
        border-color: #206AD9;
        background-color: #206AD9;
      }

      &.low {
        border-color: #F27835;
        background-color: #F27835;
      }
      
      &.full {
        border-color: #73d216;
        background-color: #73d216;
      }
      
      &.empty {
        background-color: rgba(92, 97, 108, 0.2);
        border-color: rgba(92, 97, 108, 0.2);
      }
    }
  }
}
