@mixin menubar_menuitem() {
  menubar > menuitem, .menubar > menuitem {
    padding: 3px 5px;
    border: none;
    color: $menubar_fg_color;
    background-color: transparent;

    &:hover {
      color: $selected_fg_color;
      background-color: gtkalpha($selected_bg_color, 0.7);
    }

    &:disabled {
      color: $disabled_fg_color;
      background-color: transparent;
    }

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: transparent;
    }
  }
}
