@mixin linked_widgets() {
  .linked {
    button, .raised button { margin: 1px; }
    entry { margin: 1px; }
    combobox { margin: 1px; }
    spinbutton { margin: 1px;
      entry, button { margin: 0; }
    }
  }
}
