@mixin menubar() {
  menubar, .menubar {
    padding: 0;
    border-style: none;
    background-color: $menubar_bg_color;
    color: $menubar_fg_color;
    background-image: linear-gradient(to bottom, gtkshade($menubar_bg_color, 0.95), $menubar_bg_color, gtkshade($menubar_bg_color, 0.95));

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
    }
  }
}
