// TODO: migrate to selection.scss
@mixin selected_items() {
  color: $selected_fg_color;
  background-color: $selected_bg_color;
  background-image: linear-gradient(
    to right,
    $selected_bg_color 60%,
    $menu_bg_color 95%
  );
}

@import '../../common/widgets/modelbutton';
