@mixin headerbutton() {
  @extend %button_flat;
}

@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade(gtkmix($titlebar_bg_color, $selected_bg_color, 0.3),  0.8),
      gtkshade(gtkmix($titlebar_bg_color, $selected_bg_color, 0.3), 0.95)
    );
    box-shadow: inset 1px 0 gtkalpha(white, 0.6),
                inset -1px 0 gtkalpha(white, 0.6),
                inset 0 1px gtkalpha(white, 0.6);

    button {
      @include headerbutton();
    }
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: gtkshade($backdrop_bg_color, 0.95);
    background-image: linear-gradient(
      to bottom,
      gtkshade($titlebar_bg_color, 0.85),
      gtkshade($titlebar_bg_color, 0.95)
    );
    box-shadow: inset 1px 0 gtkalpha(white, 0.3),
                inset -1px 0 gtkalpha(white, 0.3),
                inset 0 1px gtkalpha(white, 0.3);
  }
}

@mixin titlebutton($type) {
  padding: 0px;
  min-width: 31px;
  min-height: 17px;
  border: none;
  border-radius: 0;
  color: transparent;
  background-color: transparent;
  background-size: 31px 17px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: none;
  -gtk-icon-shadow: none;

  @if $type == "close" {
    background-image: url('assets/close-normal.png');
    
    &:hover { background-image: url('assets/close-hover.png'); }
    &:active { background-image: url('assets/close-active.png'); }
    
    &:backdrop { background-image: url('assets/close-backdrop.png');
      &:hover { background-image: url('assets/close-hover.png'); }
      &:active { background-image: url('assets/close-active.png'); }
    }
  }

  @else if $type == "minimize" {
    background-image: url('assets/minimize-normal.png');
    
    &:hover { background-image: url('assets/minimize-hover.png'); }
    &:active { background-image: url('assets/minimize-active.png'); }

    &:backdrop { background-image: url('assets/minimize-backdrop.png');
      &:hover { background-image: url('assets/minimize-hover.png'); }
      &:active { background-image: url('assets/minimize-active.png'); }
    }
  }

  @else if $type == "maximize" {
    background-image: url('assets/maximize-normal.png');
    
    &:hover { background-image: url('assets/maximize-hover.png'); }
    &:active { background-image: url('assets/maximize-active.png'); }

    &:backdrop { background-image: url('assets/maximize-backdrop.png');
      &:hover { background-image: url('assets/maximize-hover.png'); }
      &:active { background-image: url('assets/maximize-active.png'); }
    }
  }
  
  @else if $type == "restore" {
    background-image: url('assets/restore-normal.png');
    
    &:hover { background-image: url('assets/restore-hover.png'); }
    &:active { background-image: url('assets/restore-active.png'); }

    &:backdrop { background-image: url('assets/restore-backdrop.png');
      &:hover { background-image: url('assets/restore-hover.png'); }
      &:active { background-image: url('assets/restore-active.png'); }
    }
  }
}
