@mixin listview($type) {
  @if $type == "hover" {
    box-shadow: inset 0 0 0 1px gtkshade($selected_bg_color, 0.9);
    border-radius: $global_radius;
    background-color: gtkshade($selected_bg_color, 1.12);
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.065),
      gtkshade($selected_bg_color, 1.03)
    );
  }
  
  @else if $type == "active" {
    color: $selected_fg_color;
    box-shadow: inset 0 0 0 1px gtkshade($selected_bg_color, 0.8);
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 0.98),
      gtkshade($selected_bg_color, 0.94)
    );
  }

  @else if $type == "backdrop" { color: $backdrop_fg_color; }

  @else if $type == "selected" {
    box-shadow: inset 0 0 0 1px gtkshade($selected_bg_color, 0.85);
    border-radius: $global_radius;
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.02),
      gtkshade($selected_bg_color, 0.98)
    );
  }
    
  @else if $type == "selected-hover" {
    color: $selected_fg_color;
    box-shadow: inset 0 0 0 1px gtkshade($selected_bg_color, 0.87);
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.05),
      gtkshade($selected_bg_color, 1.01)
    );
  }
  
  @else if $type == "selected-active" {
    color: $selected_fg_color;
    box-shadow: inset 0 0 0 1px gtkshade($selected_bg_color, 0.8);
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 0.98),
      gtkshade($selected_bg_color, 0.94)
    );
  }
  
  @else if $type == "selected-disabled" {
    color: gtkalpha($selected_fg_color, 0.7);
    background-color: $selected_bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($disabled_bg_color, 1.02),
      gtkshade($disabled_bg_color, 0.98)
    );
  }
  
  @else if $type == "selected-backdrop" {
    color: $backdrop_selected_fg_color;
    box-shadow: inset 0 0 0 1px gtkshade($backdrop_selected_bg_color, 0.9);
    background-image: linear-gradient(
      to bottom,
      gtkshade($backdrop_selected_bg_color, 1.02),
      gtkshade($backdrop_selected_bg_color, 0.98)
    );
  }
    
  @else if $type == "selected-backdrop-hover" {
    color: $selected_fg_color;
    box-shadow: inset 0 0 0 1px gtkshade($selected_bg_color, 0.85);
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.02),
      gtkshade($selected_bg_color, 0.98)
    );
  }
}
