@mixin headerbar_buttons($bg, $fg, $br)
{
  @include normal_buttons($bg, $fg, $br, $button_radius);
}

@mixin headerbar() {
  headerbar {
    padding: 4px 8px;
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-size: 100% 5px;
    background-image: linear-gradient(to bottom, transparent 35%, gtkshade($borders, 1.3) 40%, gtkshade($borders, 1.3) 64%, transparent 85%);

    &:backdrop {
      color: $unfocused_fg_color;
      background: transparent;
      background-size: 100% 5px;
      background-image: linear-gradient(to bottom, transparent 35%, gtkalpha($unfocused_borders, 0.5) 40%, gtkalpha($unfocused_borders, 0.5) 64%, transparent 85%);
      background-color: gtkalpha($titlebar_bg_color, 0.6);
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $csd_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $csd_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    button {
      @include headerbar_buttons($base_color, $headerbar_fg_color, $borders);
    }

    entry { padding: 4px 8px; }
    &.titlebar, .titlebar & { border-radius: $csd_radius $csd_radius 0px 0px; }
    
    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 2px 2px;
        border: none;
        color: transparent;
        box-shadow: none;
        background-color: transparent;
        -gtk-icon-shadow: none;
        
        background-position: center;
        background-repeat: no-repeat;
      }
      
      &:backdrop { opacity: 0.6; }
      
      &.close {
        background: url('assets/close-normal.png') 100% 100%;

        &:hover { background: url('assets/close-hover.png') 100% 100%; }
        &:active { background: url('assets/close-active.png') 100% 100%; }
        &:backdrop { background: url('assets/close-backdrop.png') 100% 100%; }
      }

      &.minimize {
        background: url('assets/minimize-normal.png') 100% 100%;

        &:hover { background: url('assets/minimize-hover.png') 100% 100%; }
        &:active { background: url('assets/minimize-active.png') 100% 100%; }
        &:backdrop { background: url('assets/minimize-backdrop.png') 100% 100%; }
      }

      &.maximize {
        background: url('assets/maximize-normal.png') 100% 100%;

        &:hover { background: url('assets/maximize-hover.png') 100% 100%; }
        &:active { background: url('assets/maximize-active.png') 100% 100%; }
        &:backdrop { background: url('assets/maximize-backdrop.png') 100% 100%; }
      }
    }
  }
  
  .titlebar:not(headerbar) {
    window > &,
    window.csd > & {
      &, &:backdrop {
        padding: 0;
        background: none;
        border: none;
        box-shadow: none;
      }
    }
  }
  
  window.ssd .titlebar {
    border-bottom: none;
    min-height: 20px;
  }
}
