// notebook
@mixin notebook() {
  notebook {
    padding: 0;

    &.frame {
      margin: -1px;
      border-width: 1px;
      border-style: solid;
      border-color: $borders;

      & > header {
        margin: -1px;

        &.top {
          margin-bottom: 0;
          border-bottom: 4px solid #94badf;
          box-shadow: 0 1px $dark_shadow, inset 0 -1px $dark_shadow;
        }

        &.bottom {
          margin-top: 0;
          border-top: 4px solid #94badf;
          box-shadow: 0 -1px $dark_shadow, inset 0 1px $dark_shadow;
        }

        &.left {
          margin-right: 0;
          border-right: 4px solid #94badf;
          box-shadow: 1px 0 $dark_shadow, inset -1px 0 $dark_shadow;
        }

        &.right {
          margin-left: 0;
          border-left: 4px solid #94badf;
          box-shadow: -1px 0 $dark_shadow, inset 1px 0 $dark_shadow;
        }

        &.top, &.bottom {
          padding-left: 0;
          padding-right: 0;
        }

        &.left, &.right {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    & > stack:not(:only-child) {
      background-color: $theme_base_color;
    }

    & tab {
      margin: 1px;
      padding: 6px 20px;
      border-width: 1px;
      border-style: solid;
      border-radius: $tab_radius;
      border-color: gtkshade($borders, 0.7);
      color: $theme_fg_color;
    }

    & > header {
      background-color: $theme_bg_color;
      
      &:backdrop {
        background-color: $theme_unfocused_bg_color;
      }

      &.top {
        box-shadow: 0 1px $borders;

        & > tabs > tab {
          margin-bottom: 0;
          border-bottom: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          background-image: linear-gradient(to bottom, gtkshade($theme_bg_color, 0.85) 40%, $theme_base_color);
          box-shadow: inset 0 6px 3px -2px $light_shadow;

          &:checked {
            background-color: $theme_base_color;
            background-image: linear-gradient(to bottom, #63a1df 35%, #b9edff);
            border-color: #07067b;
            border-left-color: gtkshade($theme_selected_bg_color, 1.15);
            border-right-color: gtkshade($theme_selected_bg_color, 1.15);
            border-bottom-color: gtkshade($theme_selected_bg_color, 1.3);
            box-shadow: inset 0 4px 3px -2px $light_shadow;

            &:backdrop {
              border-color: gtkshade($theme_unfocused_bg_color, 0.85);
              background-image: linear-gradient(to bottom, $theme_base_color 20%, $theme_unfocused_bg_color 40%, $theme_base_color 75%);
              background-color: gtkshade($theme_unfocused_bg_color, 0.85);
              box-shadow: inset 0 2px 3px 1px gtkalpha($dark_shadow, 0.25), inset 0 1px gtkshade($theme_bg_color, 0.55);
            }
          }
        }
      }

      &.bottom {
        box-shadow: 0 -1px $borders;

        & > tabs > tab {
          border-top: none;
          margin-top: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          background-image: linear-gradient(to top, gtkshade($theme_bg_color, 0.85) 40%, $theme_base_color);
          box-shadow: inset 0 -6px 3px -2px $light_shadow;

          &:checked {
            background-color: $theme_base_color;
            background-image: linear-gradient(to top, #63a1df 35%, #b9edff);
            border-color: #07067b;
            border-left-color: gtkshade($theme_selected_bg_color, 1.15);
            border-right-color: gtkshade($theme_selected_bg_color, 1.15);
            border-top-color: gtkshade($theme_selected_bg_color, 1.3);
            box-shadow: inset 0 -4px 3px -2px $light_shadow;

            &:backdrop {
              border-color: gtkshade($theme_unfocused_bg_color, 0.85);
              background-image: linear-gradient(to top, $theme_base_color 20%, $theme_unfocused_bg_color 40%, $theme_base_color 75%);
              background-color: gtkshade($theme_unfocused_bg_color, 0.85);
              box-shadow: inset 0 -2px 3px 1px gtkalpha($dark_shadow, 0.25), inset 0 1px gtkshade($theme_bg_color, 0.55);
            }
          }
        }
      }

      &.right {
        box-shadow: -1px 0 $borders;

        & > tabs > tab {
          border-left: none;
          margin-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          background-image: linear-gradient(to left, gtkshade($theme_bg_color, 0.85) 40%, $theme_base_color);
          box-shadow: inset -6px 0 3px -2px $light_shadow;

          &:checked {
            background-color: $theme_base_color;
            background-image: linear-gradient(to left, #63a1df 35%, #b9edff);
            border-color: #07067b;
            border-top-color: gtkshade($theme_selected_bg_color, 1.15);
            border-bottom-color: gtkshade($theme_selected_bg_color, 1.15);
            border-right-color: gtkshade($theme_selected_bg_color, 1.3);
            box-shadow: inset -4px 0 3px -2px $light_shadow;

            &:backdrop {
              border-color: gtkshade($theme_unfocused_bg_color, 0.85);
              background-image: linear-gradient(to left, $theme_base_color 20%, $theme_unfocused_bg_color 40%, $theme_base_color 75%);
              background-color: gtkshade($theme_unfocused_bg_color, 0.85);
              box-shadow: inset -2px 0 3px 1px gtkalpha($dark_shadow, 0.25), inset -1px 0 gtkshade($theme_bg_color, 0.55);
            }
          }
        }
      }

      &.left {
        box-shadow: 1px 0 $borders;

        & > tabs > tab {
          border-right: none;
          margin-right: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          background-image: linear-gradient(to right, gtkshade($theme_bg_color, 0.85) 40%, $theme_base_color);
          box-shadow: inset 6px 0 3px -2px $light_shadow;

          &:checked {
            background-color: $theme_base_color;
            background-image: linear-gradient(to right, #63a1df 35%, #b9edff);
            border-color: #07067b;
            border-top-color: gtkshade($theme_selected_bg_color, 1.15);
            border-bottom-color: gtkshade($theme_selected_bg_color, 1.15);
            border-left-color: gtkshade($theme_selected_bg_color, 1.3);
            box-shadow: inset 4px 0 3px -2px $light_shadow;

            &:backdrop {
              border-color: gtkshade($theme_unfocused_bg_color, 0.85);
              background-image: linear-gradient(to right, $theme_base_color 20%, $theme_unfocused_bg_color 40%, $theme_base_color 75%);
              background-color: gtkshade($theme_unfocused_bg_color, 0.85);
              box-shadow: inset 2px 0 3px 1px gtkalpha($dark_shadow, 0.25), inset 1px 0 gtkshade($theme_bg_color, 0.55);
            }
          }
        }
      }
    }

    // alignments
    & > header.top > tabs > arrow.up, & > header.bottom > tabs > arrow.up {
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");

      &:last-child {
        margin-left: 2px;
      }
    }

    & > header.top > tabs > arrow.down, & > header.bottom > tabs > arrow.down {
      -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");

      &:first-child {
        margin-right: 2px;
      }
    }

    & > header.left > tabs > arrow.up, & > header.right > tabs > arrow.up {
      -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");

      &:last-child {
        margin-top: 2px;
      }
    }

    & > header.left > tabs > arrow.down, & > header.right > tabs > arrow.down {
      -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");

      &:first-child {
        margin-bottom: 2px;
      }
    }

    & > header > tabs > arrow {
      color: $theme_fg_color;

      &:hover {
        color: gtkshade($theme_fg_color, 1.2);
      }

      &:active {
        color: gtkshade($theme_fg_color, 0.8);
      }

      &:disabled {
        color: gtkshade($theme_bg_color, 0.6);
      }
    }
  }
}
