$global_radius : 6px;
$entry_radius : 6px;
$button_radius : 6px;
$notebook_tab_radius : 6px;
$progressbar_radius : 10px;
$levelbar_radius : 10px;
$scrollbar_slider_radius : 2px;
$window_radius : 4px;
$viewitem_radius: 3px;
$menu_radius : 0px;
$tooltip_radius : $global_radius;

$checkradio_size: 18px;

// scrollbar steppers
$top_stepper: false;
$bottom_stepper: false;
$secondary_top_stepper: false;
$secondary_bottom_stepper: false;

// outline
$outline_width : 1px;
$outline_offset : -3px;
$outline_style : dashed;

// transitions
$ease-out-quad : cubic-bezier(0.25, 0.46, 0.45, 0.94);
$backdrop_transition : 200ms ease-out;
$focus_transition : outline-width 200ms $ease-out-quad, outline-offset 200ms $ease-out-quad;
$button_transition : all 200ms $ease-out-quad;
$scrollbar_transition : all 300ms $ease-out-quad;
