$global_radius : 6px;
$entry_radius : 6px;
$button_radius : 6px;
$notebook_tab_radius : 6px;
$progressbar_radius : 10px;
$scrollbar_slider_radius : 2px;
$window_radius : 4px;
$viewitem_radius: 3px;
$top_stepper: false;
$bottom_stepper: false;
$left_stepper: false;
$right_stepper: false;
$checkradio_size: 18px;
$menu_radius : 0px;

// outline
$outline_width : 1px;
$outline_offset : -3px;
$outline_style : dashed;
