@mixin headerbar_buttons($bg, $fg, $br)
{
  @include normal_buttons($bg, $fg, $br)
}

@mixin headerbar() {
  headerbar {
    padding: 4px 8px;
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    border-bottom: 1px solid $borders;

    &:backdrop {
      color: $unfocused_fg_color;
      border-bottom-color: $unfocused_borders;
      background-color: $unfocused_bg_color;
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $csd_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $csd_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    button {
      @include headerbar_buttons(gtkalpha($headerbar_bg_color, 0.25), $headerbar_fg_color, $borders);
    }

    entry { padding: 4px 8px; }
    &.titlebar, .titlebar & { border-radius: $csd_radius $csd_radius 0px 0px; }

    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 0;
        border: none;
        border-radius: 100%;
        color: $titlebar_fg_color;
        background-color: gtkalpha($titlebar_fg_color, 0.2);
        -gtk-icon-shadow: none;
        
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .titlebar:not(headerbar) {
    window > &,
    window.csd > & {
      &, &:backdrop {
        padding: 0;
        background: none;
        border: none;
        box-shadow: none;
      }
    }
  }

  window.ssd .titlebar {
    border-bottom: none;
    min-height: 20px;
  }
}
