@mixin linked_widgets() {
  .linked, .inline-toolbar .linked, .primary-toolbar .linked {
    button, .raised button {
      border-radius: 0;
      border-left-width: 0;

      &:first-child {
        border-left-width: 1px;
        border-top-left-radius: $button_radius;
        border-bottom-left-radius: $button_radius;
      }

      &:last-child {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
      }

      &:only-child {
        border-width: 1px;
        border-radius: $button_radius;
      }
    }
    
    entry {
      border-radius: 0;
      border-left-width: 0;

      &:first-child {
        border-left-width: 1px;
        border-top-left-radius: $entry_radius;
        border-bottom-left-radius: $entry_radius;
      }

      &:last-child {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: $entry_radius;
        border-bottom-right-radius: $entry_radius;
      }

      &:only-child {
        border-width: 1px;
        border-radius: $entry_radius;
      }
    }

    combobox {
      box.linked button {
        border-radius: 0;
        border-left-width: 0;
      }

      &:first-child box.linked button {
        border-left-width: 1px;
        border-top-left-radius: $button_radius;
        border-bottom-left-radius: $button_radius;
      }

      &:last-child box.linked button {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
      }

      &:only-child box.linked button {
        border-width: 1px;
        border-radius: $button_radius;
      }
    }
  }
  
  .vertical.linked {
    button {
      border-left-width: 1px;
      border-top-width: 0;
      border-radius: 0;

      &:first-child {
        border-top-width: 1px;
        border-top-left-radius: $button_radius;
        border-top-right-radius: $button_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
      }

      &:only-child {
        border-top-width: 1px;
      }
    }
    
    entry {
      border-left-width: 1px;
      border-top-width: 0;
      border-radius: 0;

      &:first-child {
        border-top-width: 1px;
        border-top-left-radius: $entry_radius;
        border-top-right-radius: $entry_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $entry_radius;
        border-bottom-right-radius: $entry_radius;
      }

      &:only-child {
        border-top-width: 1px;
      }
    }

    combobox {
      box.linked button {
        border-left-width: 1px;
        border-top-width: 0;
        border-radius: 0;
      }

      &:first-child box.linked button {
        border-top-width: 1px;
        border-top-left-radius: $button_radius;
        border-top-right-radius: $button_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child box.linked button {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
      }

      &:only-child box.linked button {
        border-top-width: 1px;
      }
    }
  }
  
  stackswitcher button.text-button {
    min-width: 80px;
  }
}
