// TODO: OSD buttons. Either a new mixin or rework normal/flat buttons to generate with received colors only 
// TODO: unify flat with 'normal' buttons -> make flat a state and buttons() return code for each state
@mixin normal_buttons($button_bg : $bg_color, $button_fg : $fg_color, $button_border : $border_color) {
  padding: 4px 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: $button_radius;
  color: $button_fg;
  border-color: $button_border;
  background-color: $button_bg;
  background-image: none;
  box-shadow: none;

  &:hover {
    color: $button_fg;
    border-color: $button_border;
    background-color: gtkshade($button_bg, 1.1);
  }

  &:active, &:checked {
    color: $button_fg;
    border-color: gtkshade($button_border, 0.9);
    background-color: gtkshade($button_bg, 0.85);

    &:backdrop {
      color: $backdrop_fg_color;
      border-color: gtkshade($backdrop_bg_color, 0.85);
      background-color: gtkshade($backdrop_bg_color, 0.85);
    }
    
    &:disabled {
      color: gtkmix($button_fg, $disabled_fg_color, 0.1);
      border-color: gtkmix(gtkshade($button_bg, 0.85), $disabled_bg_color, 0.6);
      background-color: gtkmix(gtkshade($button_bg, 0.85), $disabled_bg_color, 0.1);
      
      &:backdrop {
        color: gtkmix($button_fg, $disabled_fg_color, 0.1);
        border-color: gtkmix(gtkshade($button_bg, 0.85), $backdrop_disabled_bg_color, 0.6);
        background-color: gtkmix(gtkshade($button_bg, 0.85), $backdrop_disabled_bg_color, 0.1);
      }
    }
  }

  &:disabled {
    color: gtkmix($button_fg, $backdrop_disabled_fg_color, 0.1);
    border-color: gtkmix($button_bg, $disabled_bg_color, 0.6);
    background-color: gtkmix($button_bg, $disabled_bg_color, 0.1);
    
    &:backdrop {
      color: $backdrop_disabled_fg_color;
      border-color: $backdrop_border_color;
      background-color: $backdrop_disabled_bg_color;
    }
  }

  &:backdrop {
    border-color: $backdrop_border_color;
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
  }
}

@mixin flat_buttons($button_bg : $bg_color, $button_fg : $fg_color, $button_border : $border_color) {
  border-color: transparent;
  border-radius: $button_radius;
  color: $button_fg;
  background-color: transparent;
  background-image: none;
  box-shadow: none;

  &:hover {
    border-color: $button_border;
    color: $button_fg;
    background-color: $button_bg;
  }

  &:active, &:checked {
    border-color: $selected_bg_color;
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    
    &:backdrop {
      border-color: $backdrop_selected_bg_color;
      color: $backdrop_selected_fg_color;
      background-color: $backdrop_selected_bg_color;
    }
  }

  &:disabled {
    border-color: transparent;
    color: gtkalpha($button_fg, 0.8);
    background-color: transparent;
    
    &:backdrop {
      border-color: transparent;
      color: gtkalpha($button_fg, 0.7);
      background-color: transparent;
    }
  }

  &:backdrop {
    border-color: transparent;
    background-color: transparent;
    color: $backdrop_fg_color;
  }
}

// TODO: unify destructive and suggested buttons?
@mixin action_button($button_bg, $button_fg, $button_border) {
  @warn "Not implemented";
}

@mixin destructive_button() {
  button.destructive-action {
    border-radius: $button_radius;
    border: 1px solid gtkmix($error_color, $fg_color, 0.2);
    color: gtkmix($selected_fg_color, $error_color, 0.1);
    background-color: $error_color;

    &:hover {
      border-color: gtkmix($error_color, $fg_color, 0.3);
      background-color: gtkmix($error_color, $selected_fg_color, 0.2);
    }

    &:active {
      border-color: gtkmix($error_color, $fg_color, 0.3);
      background-color: gtkmix($error_color, $fg_color, 0.1);
    }

    &:backdrop {
      border-color: gtkmix($error_color, $backdrop_fg_color, 0.2);
      color: gtkmix($backdrop_selected_fg_color, $error_color, 0.1);
      background-color: gtkmix($error_color, $backdrop_bg_color, 0.3);
    }
  }
}

@mixin suggested_button() {
  button.suggested-action {
    border-radius: $button_radius;
    border-width: 1px solid $selected_bg_color;
    color: gtkmix($selected_fg_color, $selected_bg_color, 0.1);
    background-color: gtkmix($selected_bg_color, $selected_fg_color, 0.25);

    &:hover {
      border-color: gtkmix($selected_bg_color, $selected_fg_color, 0.2);
      background-color: gtkmix($selected_bg_color, $selected_fg_color, 0.2);
    }

    &:active, &:checked {
      border-color: gtkmix($selected_bg_color, $fg_color, 0.1);
      background-color: gtkmix($selected_bg_color, $fg_color, 0.1);

      &:backdrop {
        border-color: gtkmix($backdrop_selected_bg_color, $backdrop_fg_color, 0.1);
        background-color: gtkmix($backdrop_selected_bg_color, $backdrop_fg_color, 0.1);
      }
    }

    &:disabled {
      border-color: gtkmix($selected_bg_color, $disabled_bg_color, 0.2);
      color: gtkmix($selected_fg_color, $disabled_fg_color, 0.2);
      background-color: gtkmix($selected_bg_color, $disabled_bg_color, 0.2);

      &:backdrop {
        border-color: gtkmix($backdrop_selected_bg_color, $backdrop_disabled_bg_color, 0.2);
        color: gtkmix($backdrop_selected_fg_color, $backdrop_disabled_fg_color, 0.2);
        background-color: gtkmix($backdrop_selected_bg_color, $backdrop_disabled_bg_color, 0.2);
      }
    }

    &:backdrop {
      border-color: $backdrop_selected_bg_color;
      color: $backdrop_selected_fg_color;
      background-color: $backdrop_selected_bg_color;
    }
  }
}
