$imgtype : "png";

// added the ext part for when we need selected (or dark) assets
@mixin check($ext : "") {
  -gtk-icon-source: gtkscale("assets/checkbox-unchecked" + $ext, $imgtype);
  &:backdrop { -gtk-icon-source: gtkscale("assets/checkbox-unchecked-unfocused" + $ext, $imgtype); }
  &:disabled { -gtk-icon-source: gtkscale("assets/checkbox-unchecked-insensitive" + $ext, $imgtype);
    &:backdrop { -gtk-icon-source: gtkscale("assets/checkbox-unchecked-insensitive-unfocused" + $ext, $imgtype); }
  }
  &:active, &:checked { -gtk-icon-source: gtkscale("assets/checkbox-checked" + $ext, $imgtype);
    &:backdrop { -gtk-icon-source: gtkscale("assets/checkbox-checked-unfocused" + $ext, $imgtype); }
    &:disabled { -gtk-icon-source: gtkscale("assets/checkbox-checked-insensitive" + $ext, $imgtype);
      &:backdrop { -gtk-icon-source: gtkscale("assets/checkbox-checked-insensitive-unfocused" + $ext, $imgtype); }
    }
  }
  &:indeterminate { -gtk-icon-source: gtkscale("assets/checkbox-mixed" + $ext, $imgtype);      
    &:backdrop { -gtk-icon-source: gtkscale("assets/checkbox-mixed-unfocused" + $ext, $imgtype); }
    &:disabled { -gtk-icon-source: gtkscale("assets/checkbox-mixed-insensitive" + $ext, $imgtype);        
      &:backdrop { -gtk-icon-source: gtkscale("assets/checkbox-mixed-insensitive-unfocused" + $ext, $imgtype); }
    }
  }
}

@mixin radio($ext : "") {
  -gtk-icon-source: gtkscale("assets/radio-unchecked" + $ext, $imgtype);
  &:backdrop { -gtk-icon-source: gtkscale("assets/radio-unchecked-unfocused" + $ext, $imgtype); }
  &:disabled { -gtk-icon-source: gtkscale("assets/radio-unchecked-insensitive" + $ext, $imgtype);
    &:backdrop { -gtk-icon-source: gtkscale("assets/radio-unchecked-insensitive-unfocused" + $ext, $imgtype); }
  }
  &:active, &:checked { -gtk-icon-source: gtkscale("assets/radio-checked" + $ext, $imgtype);
    &:backdrop { -gtk-icon-source: gtkscale("assets/radio-checked-unfocused" + $ext, $imgtype); }
    &:disabled { -gtk-icon-source: gtkscale("assets/radio-checked-insensitive" + $ext, $imgtype);
      &:backdrop { -gtk-icon-source: gtkscale("assets/radio-checked-insensitive-unfocused" + $ext, $imgtype); }
    }
  }
  &:indeterminate { -gtk-icon-source: gtkscale("assets/radio-mixed" + $ext, $imgtype);
    &:backdrop { -gtk-icon-source: gtkscale("assets/radio-mixed-unfocused" + $ext, $imgtype); }
    &:disabled { -gtk-icon-source: gtkscale("assets/radio-mixed-insensitive" + $ext, $imgtype);
      &:backdrop { -gtk-icon-source: gtkscale("assets/radio-mixed-insensitive-unfocused" + $ext, $imgtype); }
    }
  }
}

@mixin checkradio() {
  checkbutton.text-button, radiobutton.text-button {
    padding: 4px;
    outline-offset: 0;
  }

  check, radio {
    margin: 4px;
    min-height: $checkradio_size;
    min-width: $checkradio_size;    
  }
  
  check {
    &, popover.menu &, modelbutton.flat & {
      @include check();
    }
    
    row:selected &,
    popover.menu &:hover,
    modelbutton.flat &:hover {
      @include check("-selected");
    }
  }
  
  radio {
    &, popover.menu &, modelbutton.flat & {
      @include radio();
    }
    
    row:selected &,
    popover.menu &:hover,
    modelbutton.flat &:hover {
      @include radio("-selected");
    }
  }
}
