@mixin iconview() {
  iconview {
    // TODO: use selected_items
    &:selected, &:selected:focus,
    & text:selected, & text:selected:focus,
    & text selection, & text selection:focus {
      border: 1px solid $selected_bg_color;
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }

    &:selected:backdrop, & selection:backdrop,
    & text:selected:backdrop, & text selection:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: $backdrop_selected_bg_color;
    }
  }

  rubberband { @include rubberband(); }
}
