@mixin infobar() {
  infobar {
    > revealer > box {
      padding: 8px;
      border-spacing: 12px;
    }

    // TODO: for loop?
    &.info > revealer > box {
      border: 1px solid gtkshade($info_color, 0.8);
      color: $selected_fg_color;
      background-image: none;
      background-color: $info_color;

      button {
        border-color: gtkshade($info_color, 0.8);
        color: $selected_fg_color;
        background-image: none;
        background-color: gtkshade($info_color, 1.08);

        &:hover {
          border-color: gtkshade($info_color, 0.85);
          background-color: gtkshade($info_color, 1.10);
        }

        &:active {
          border-color: gtkshade($info_color, 0.6);
          background-color: gtkshade($info_color, 0.95);
        }
      }
    }

    &.warning > revealer > box {
      border: 1px solid gtkshade($warning_color, 0.8);
      color: $selected_fg_color;
      background-image: none;
      background-color: $warning_color;

      button {
        border-color: gtkshade($warning_color, 0.8);
        color: $selected_fg_color;
        background-image: none;
        background-color: gtkshade($warning_color, 1.08);

        &:hover {
          border-color: gtkshade($warning_color, 0.85);
          background-color: gtkshade($warning_color, 1.10);
        }

        &:active {
          border-color: gtkshade($warning_color, 0.6);
          background-color: gtkshade($warning_color, 0.95);
        }
      }
    }

    &.question > revealer > box {
      border: 1px solid gtkshade($question_color, 0.8);
      color: $selected_fg_color;
      background-image: none;
      background-color: $question_color;

      button {
        border-color: gtkshade($question_color, 0.8);
        color: $selected_fg_color;
        background-image: none;
        background-color: gtkshade($question_color, 1.08);

        &:hover {
          border-color: gtkshade($question_color, 0.85);
          background-color: gtkshade($question_color, 1.10);
        }

        &:active {
          border-color: gtkshade($question_color, 0.6);
          background-color: gtkshade($question_color, 0.95);
        }
      }
    }

    &.error > revealer > box {
      border: 1px solid gtkshade($error_bg_color, 0.8);
      background-color: $error_bg_color;
      background-image: none;
      color: $error_fg_color;

      button {
        border-color: gtkshade($error_bg_color, 0.8);
        color: $error_fg_color;
        background-image: none;
        background-color: gtkshade($error_bg_color, 1.08);

        &:hover {
          border-color: gtkshade($error_bg_color, 0.85);
          background-color: gtkshade($error_bg_color, 1.10);
        }

        &:active {
          border-color: gtkshade($error_bg_color, 0.6);
          background-color: gtkshade($error_bg_color, 0.95);
        }
      }
    }
    
    // close button for info and searchbar
    // TODO: use flat button
    .close {
      color: $selected_fg_color;
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      
      &:hover { background-color: gtkalpha($light_shadow, 0.2); }
      &:active { background-color: gtkalpha($dark_shadow, 0.1); }
    }
  }  
}
