@mixin infobar_button($button_bg, $button_fg) {
  // TODO: use button flat?
  button:not(.close) {
    border-color: transparent;
    color: $button_fg;
    background-image: none;
    background-color: gtkshade($button_bg, 1.08);
    box-shadow: none;

    &:hover { background-color: gtkshade($button_bg, 1.10); }
    &:active { background-color: gtkshade($button_bg, 0.95); }
  }
}

@mixin infobar() {
  infobar {
    > revealer > box {
      padding: 8px;
      border-spacing: 12px;
      box-shadow: none;
    }

    // TODO: for loop?
    &.info > revealer > box {
      border: 1px solid $info_color;
      color: $selected_fg_color;
      background-image: none;
      background-color: $info_color;

      @include infobar_button($info_color, $selected_fg_color);
    }

    &.warning > revealer > box {
      border: 1px solid $warning_color;
      color: $selected_fg_color;
      background-image: none;
      background-color: $warning_color;

      @include infobar_button($warning_color, $selected_fg_color);
    }

    &.question > revealer > box {
      border: 1px solid $question_color;
      color: $selected_fg_color;
      background-image: none;
      background-color: $question_color;

      @include infobar_button($question_color, $selected_fg_color);
    }

    &.error > revealer > box {
      border: 1px solid $error_color;
      background-color: $error_color;
      background-image: none;
      color: $selected_fg_color;

      @include infobar_button($error_color, $selected_fg_color);
    }
    
    // close button for info and searchbar
    // TODO: use flat button
    .close {
      color: $selected_fg_color;
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      
      &:hover { background-color: gtkalpha($light_shadow, 0.1); }
      &:active { background-color: gtkalpha($dark_shadow, 0.05); }
    }
  }  
}
