@mixin menu() {
  > contents {
    min-width: 120px;
    
    // menus are actually popovers now, is it relevant to keep the styling separate?
    /*
    border-radius: $menu_radius;
    border: 1px solid $border_color;
    color: $menu_fg_color;
    background-color: $menu_bg_color;
    */
  }
  
  box.inline-buttons {
    padding: 0px $menu_padding;
    
    // TODO: button.image-button.model?
  }
  
  // TODO: merge modelbutton widget here
  
  separator { margin: 6px 0; }
  list separator { margin: 0; }
  
  // TODO: menu lists?
}
