@mixin menubar() {
  padding: 0px;
  border-style: none;
  color: $menubar_fg_color;
  background-color: $menubar_bg_color;

  &:backdrop {
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
  }
}

@mixin menubaritem($state : "none") {

  @if $state == "none" {
    padding: 3px 5px;
    min-height: 12px;
    border: none;
    color: $menubar_fg_color;
    background-color: transparent;
  }

  @if $state == "hover" {
    color: $selected_fg_color;
    background-color: $selected_bg_color;
  }

  @if $state == "disabled" {
    color: $disabled_fg_color;
    background-color: transparent;
  }

  @if $state == "backdrop" {
    color: $backdrop_fg_color;
    background-color: transparent;
  }
}
