@mixin menu() {
  // menus are actually popovers now, is it relevant to keep the styling separate?
  /*
  border-radius: $menu_radius;
  border: 1px solid $border_color;
  color: $menu_fg_color;
  background-color: $menu_bg_color;
  */
}
