@mixin modelbutton() {
  modelbutton {
    min-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: $menuitem_radius;
    background-color: transparent;
    background-image: none;
    box-shadow: none;

    // TODO: some themes (ex. solaris 10) have a different selection for menus than grids
    // create new mixin new selected_list_items?
    &:hover { @include selected_items('normal'); }
    &:selected { @include selected_items('normal'); }
    &:disabled { color: $disabled_fg_color; }

    > image { padding-right: 4px; }

    arrow {
      background: none;
      min-width: 16px;
      min-height: 16px;
      opacity: 0.3;     // TODO: set as global variable?

      &:hover { background: none; }
      &:disabled { opacity: 0.15; }   // libadwaita uses a global var for dimmed disabled images

      &.left { -gtk-icon-source: -gtk-icontheme("go-previous-symbolic"); }
      &.right { -gtk-icon-source: -gtk-icontheme("go-next-symbolic"); }
    }
  }
}
