@mixin popover() {
  popover.background {
    background-color: transparent;
    font: initial; // Decouple the font of popovers from their entry/textview

    > arrow,
    > contents {
      //color: $menu_fg_color;    // should maybe be in modelbutton?
      background-color: $menu_bg_color;
      background-clip: padding-box;
      border: 1px solid $border_color;
      box-shadow: 0 1px 2px gtkalpha($wm_shadow, 0.7);
    }

    &:backdrop {
      background-color: transparent;
    }

    > contents {
      padding: 8px;
      border-radius: $popover_radius;

      > list,
      > .view,
      > .toolbar {
        border-style: none;
        background-color: transparent;
      }

      separator {
        background-color: $border_color;
        margin: 3px;
      }

      list separator { margin: 0; }
    }

    // TODO: touch selection & magnifier?
  }
}
