@mixin popover() {
  popover {
    &.background {
      font: initial;
      background-color: transparent;
    }

    > arrow,
    > contents {
      border: 1px solid $border_color;
      color: $popover_fg_color;
      background-color: $popover_bg_color;
      background-clip: padding-box;
      box-shadow: 0 1px 2px gtkalpha($wm_shadow, 0.7);
      
      // TODO: backdrop?
    }

    > contents {
      padding: 8px;
      border-radius: $popover_radius;

      > list,
      > .view,
      > toolbar {
        border-style: none;
        background-color: transparent;
      }

      // TODO: move to separators
      separator {
        margin: 3px;
        background-color: $border_color;
      }
    }
  }
}
