@mixin popover() {
  border: 1px solid $border_color;    // popover_border?
  color: $popover_fg_color;
  background-color: $popover_bg_color;
  background-clip: padding-box;
  box-shadow: none;   // override adwaita popover shadow
  // TODO: backdrop?
}
