@mixin scale_trough() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: gtkalpha($dark_shadow, 0.2);

  &:disabled { background-color: gtkalpha($dark_shadow, 0.15);
    &:backdrop { background-color: gtkalpha($dark_shadow, 0.08); }
  }

  &:backdrop { background-color: gtkalpha($dark_shadow, 0.1); }
}

@mixin scale_highlight() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: $selected_bg_color;

  &:disabled { background-color: $disabled_bg_color;
    &:backdrop { background-color: $backdrop_disabled_bg_color; }
  }

  &:backdrop { background-color: $backdrop_selected_bg_color; }
}

@mixin scale_slider($orient : "none") {

  @if $orient == "none" {
    min-height: $scale_slider_size;   // orig: 15px
    min-width: $scale_slider_size;
    margin: -$scale_slider_margin;
    border: none;
    border-radius: $scale_slider_radius;
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    background-image: none;
    box-shadow: none;

    &:hover {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }

    &:disabled { background-color: $disabled_bg_color;
      &:backdrop { background-color: $backdrop_disabled_bg_color; }
    }

    &:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: $backdrop_selected_bg_color;
    }
  }
}
