@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    background-color: gtkshade($bg_color, 0.9);

    &:backdrop {
      background-color: gtkshade($backdrop_bg_color, 0.9);
    }
  }
  
  @if $type == "hint" {
    border: none;
    opacity: 0.7;
    background-color: transparent;
  }
  
  // DOC: possible values
  // TODO: implement following options in _common.scss
  // @if $type == "base"
  // @if $type == "hint"
  // @if $type == "horiz"
  // @if $type == "vert"
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    margin: 0px;
    border: none;
    background-color: gtkshade($bg_color, 0.6);
    background-clip: padding-box;

    &:hover { background-color: gtkshade($bg_color, 0.6); }
    &:hover:active { background-color: gtkshade($bg_color, 0.5); }
    &:backdrop { background-color: gtkshade($backdrop_bg_color, 0.6); }
    &:disabled { background-color: transparent; }
  }
  
  // DOC: list possible types
  // @if $type == "base"
  // @if $type == "hint"
  // @if $type == "horiz"
  // @if $type == "vert"
  
  // scroll indicator
  @if $type == "hint" {
    margin: 0px;
    min-width: $scrollbar_indicator_size;
    min-height: $scrollbar_indicator_size;
    border: none;
    background-color: gtkshade($bg_color, 0.6);
  }
}
