@mixin selected_text($type : 'normal') {
  @if ($type == 'normal') {
    color: $selected_text_color;
    background-color: $selected_base_color;
  }
  @else if ($type == 'backdrop') {
    color: $backdrop_selected_text_color;
    background-color: $backdrop_selected_base_color;
  }
  @else if ($type == 'disabled') {
    color: gtkmix($disabled_fg_color, $selected_base_color, 0.5);
  }
  @else if ($type == 'backdrop-disabled') {
    color: gtkmix($backdrop_disabled_fg_color, $backdrop_selected_base_color, 0.5);
  }
}
