@mixin tooltip() {
  tooltip {
    &.background {
      border: 1px solid gtkshade($tooltip_bg_color, 0.9);
      border-radius: $tooltip_radius;
      color: $tooltip_fg_color;
      background-color: $tooltip_bg_color;
      padding: 4px;
      box-shadow: none;
    }
    
    > box {
      border-spacing: 6px;
    }
  }
}
