@mixin tooltip() {
  tooltip {
    &.background {
      border: 1px solid $border_color;
      border-radius: $tooltip_radius;
      background-color: $tooltip_bg_color;
      padding: 4px;
      box-shadow: none;
    }
    
    > box {
      border-spacing: 6px;
    }
  }
}
