@mixin menuitem() {
  menu menuitem, .menu menuitem {
    min-height: 16px;
    min-width: 40px;
    padding: 4px;
    border: 1px solid $menu_bg_color;
    border-radius: 0;
    color: $menu_fg_color;
    background-color: $menu_bg_color;

    &:hover {
      border-color: gtkalpha(gtkmix($theme_selected_bg_color, $dark_shadow, 0.3), 0.6);
      background-color: gtkalpha(gtkmix($theme_selected_bg_color, $dark_shadow, 0.3), 0.4);
    }

    &:disabled {
      color: gtkmix($menu_fg_color, $menu_bg_color, 0.5);
    }

    arrow {
      min-width: 16px;
      min-height: 16px;

      &:dir(ltr) {
        margin-left: 10px;
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
      }

      &:dir(rtl) {
        margin-right: 10px;
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
      }
    }
  }
  
  menuitem {
    accelerator {
      color: gtkalpha(currentColor, 0.55);

      &:hover {
        color: gtkalpha($theme_selected_fg_color, 0.8);
      }

      &:disabled {
        color: $theme_disabled_fg_color;
      }
    }
  }
}
