@mixin app_notifications() {
  .app-notification {
    border-style: solid;
    border-color: $borders;
    border-width: 1px;
    border-radius: 0;
    margin: 5px;
    padding: 8px;
    background-color: $base_color;
    color: $text_color;
    
    border {
      border: none;
    }
  }
}
