@mixin flowbox() {
  flowbox flowboxchild {
    padding: 3px;
    border-radius: $global_radius;

    &:selected {
      outline-offset: -2px;
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }
  }
}
