@mixin headerbar_buttons($bg, $fg, $br)
{
  & {
    border-color: gtkshade($br, 1.05);
    border-radius: $button_radius;
    color: $fg;
    background-color: gtkshade($bg, 1.05);

    &:hover {
      border-color: gtkshade($br, 1.05);
      color: $fg;
      background-color: gtkshade($bg, 1.05);

      &:backdrop {
        border-color: $unfocused_borders;
        background-color: $unfocused_bg_color;
      }
    }

    &:active, &:checked {
      border-color: gtkshade($selected_bg_color, 1.15);
      color: $fg_color;
      background-color: gtkshade($selected_bg_color, 1.15);
      
      &:backdrop {
        border-color: $unfocused_selected_bg_color;
        color: $unfocused_selected_fg_color;
        background-color: $unfocused_selected_bg_color;
      }
    }

    &:disabled {
      border-color: transparent;
      color: gtkalpha($fg, 0.7);
      background-color: transparent;
      
      &:backdrop {
        border-color: transparent;
        color: $disabled_fg_color;
        background-color: transparent;
      }
    }

    &:backdrop {
      border-color: $unfocused_borders;
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
    }
  }
}

@mixin headerbar() {
  headerbar, headerbar:not(.titlebar) {
    padding: 4px 8px;
    border-width: 0;
    border-style: solid;
    border-color: gtkmix($borders, $headerbar_bg_color, 0.5);
    border-bottom-width: 1px;
    color: $headerbar_fg_color;
    background-color: $headerbar_bg_color;

    &:backdrop {
      border-color: $unfocused_borders;
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
    }

    .titlebar &, .titlebar &:backdrop {
      background-color: transparent;
    }

    .tiled &, .tiled &:backdrop, .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    button {
      @include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, $headerbar_bg_color);
    }
    
    switch {
      &:checked {
        border-color: gtkshade($selected_bg_color, 1.15);
        background-color: gtkshade($selected_bg_color, 1.15);  
      }
    }

    entry {
      padding: 4px 8px;
    }
  }
}
