@mixin headerbar_buttons($bg, $fg, $br)
{
  border-color: gtkshade($br, 1.05);
  border-radius: $button_radius;
  color: $fg;
  background-color: gtkshade($bg, 1.05);

  &:hover {
    border-color: gtkshade($br, 1.05);
    color: $fg;
    background-color: gtkshade($bg, 1.05);

    &:backdrop {
      border-color: $unfocused_borders;
      background-color: $unfocused_bg_color;
    }
  }

  &:active, &:checked {
    border-color: gtkshade($selected_bg_color, 1.15);
    color: $selected_fg_color;
    background-color: gtkshade($selected_bg_color, 1.15);
    
    &:backdrop {
      border-color: $unfocused_selected_bg_color;
      color: $unfocused_selected_fg_color;
      background-color: $unfocused_selected_bg_color;
    }
  }

  &:disabled {
    border-color: transparent;
    color: gtkalpha($fg, 0.7);
    background-color: transparent;
    
    &:backdrop {
      border-color: gtkshade($unfocused_borders, 1.05);
      color: $disabled_fg_color;
      background-color: transparent;
    }
  }

  &:backdrop {
    border-color: $unfocused_borders;
    color: $unfocused_fg_color;
    background-color: $unfocused_bg_color;
  }
}

@mixin headerbar() {
  headerbar {
    padding: 4px 8px;
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    border-bottom: 1px solid $titlebar_bg_color;

    &:backdrop {
      color: $unfocused_fg_color;
      border-bottom-color: $unfocused_borders;
      background-color: $unfocused_bg_color;
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    button {
      @include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, $headerbar_bg_color);
    }
    
    switch:checked {
      border-color: gtkshade($selected_bg_color, 1.15);
      background-color: gtkshade($selected_bg_color, 1.15);
    }

    entry { padding: 4px 8px; }
    &.titlebar, .titlebar & { border-radius: $window_radius $window_radius 0px 0px; }

    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 2px 2px;
        border: none;
        color: transparent;
        background-color: transparent;
        
        background-position: center center;
        -gtk-icon-shadow: none;
      }
      
      &.close {
        background: url('assets/close-normal.png') 100% 100%;

        &:hover { background: url('assets/close-hover.png') 100% 100%; }
        &:active { background: url('assets/close-active.png') 100% 100%; }
        &:backdrop { background: url('assets/close-backdrop.png') 100% 100%; }
      }

      &.minimize {
        background: url('assets/minimize-normal.png') 100% 100%;

        &:hover { background: url('assets/minimize-hover.png') 100% 100%; }
        &:active { background: url('assets/minimize-active.png') 100% 100%; }
        &:backdrop { background: url('assets/minimize-backdrop.png') 100% 100%; }
      }

      &.maximize {
        background: url('assets/maximize-normal.png') 100% 100%;

        &:hover { background: url('assets/maximize-hover.png') 100% 100%; }
        &:active { background: url('assets/maximize-active.png') 100% 100%; }
        &:backdrop { background: url('assets/maximize-backdrop.png') 100% 100%; }
      }
    }
  }
}
