@mixin images() {
  image {
    color: gtkalpha(currentColor, 0.75);

    &:hover {
      color: gtkalpha(currentColor, 0.9);
    }

    &:selected, &:selected:hover {
      color: $theme_selected_fg_color;
    }
    
    &:disabled {
      color: gtkalpha(currentColor, 0.5);
    }

    view &, view &:hover {
      color: gtkalpha(currentColor, 0.9);
    }

    view &:selected, view &:selected:hover {
      color: $theme_selected_fg_color;
    }
  }
}
