@mixin messagedialog() {
  messagedialog {
    .background.csd {
	    border-radius: 0 0 $csd_radius $csd_radius;
	    color: $theme_fg_color;
      background-color: $theme_bg_color;
    }

    decoration {
      border-radius: $csd_radius;
      box-shadow: 0 1px 2px gtkalpha($dark_shadow, 0.2);
    }

    .titlebar.horizontal {
      background-color: $theme_bg_color;
    }

    &.csd .dialog-action-area button {
      padding: 10px;
      border-radius: 0;
      border-bottom-style: none;

      &:last-child {
        border-right-width: 0;
        border-radius: 0px;
      }

      &:first-child {
        border-left-width: 0;
        border-radius: 0px;
      }

      &:only-child {
        border-radius: 0px;
      }
    }
  }
}
