@mixin notifications() {
  .app-notification {
    border: 1px solid $border_color;
    background-color: $base_color;
    color: $text_color;
    padding: 8px;
    margin: 5px;
    
    border { border: none; }
  }
}
