@mixin pathbar() {
  @warn "[TODO] Migrate to new pathbar";

  .path-bar button {
    &.text-button, &.image-button {
      padding-left: 4px;
      padding-right: 4px;
    }

    & > label {
      padding-left: 0;
      padding-right: 0;

      &:last-child { padding-right: 8px; }
      &:first-child { padding-left: 8px; }
    }

    image {
      padding-left: 4px;
      padding-right: 4px;
    }

    &.slider-button {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
