@mixin searchbar() {
  searchbar {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $borders;
    background-color: $bg_color;
  }
  
  .nautilus-window .searchbar-container {
    margin-top: -1px;
  }
}
