@mixin textview() {
  textview {
    color: $text_color;
    background-color: $base_color;

    text {
      background-color: $base_color;

      &:selected, selection, &:selected:focus, selection:focus {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
      }

      &:backdrop { background-color: $backdrop_base_color; }
    }
  }
}
