@mixin normal_buttons($bg, $fg, $br) {
  padding: 4px 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: $button_radius;
  color: $fg;
  border-color: $br;
  border-top-color: gtkshade($br, 1.1);
  border-left-color: gtkshade($br, 1.05);
  border-right-color: gtkshade($br, 1.05);
  background-color: $bg;
  background-image: linear-gradient(to bottom, gtkshade($bg_color, 1.4), gtkmix(gtkshade($bg_color, 1.2), $dark_shadow, 0.02));
  -gtk-outline-radius: $button_radius;

  &:hover {
    color: $fg;
    background-color: gtkshade($bg, 1.1);
  }

  &:active, &:checked {
    color: $selected_fg_color;
    border-color: gtkshade($br, 0.9);
    background-image: none;
    background-color: gtkmix($fg, $bg, 0.5);

    &:backdrop {
      color: $unfocused_fg_color;
      border-color: gtkshade($unfocused_bg_color, 0.85);
      background-color: gtkshade($unfocused_bg_color, 0.85);
    }
    
    &:disabled {
      color: gtkmix($fg, $unfocused_disabled_fg_color, 0.1);
      border-color: gtkmix($borders, $disabled_bg_color, 0.15);
      background-color: gtkshade($disabled_bg_color, 0.9);
      
      &:backdrop {
        color: $unfocused_disabled_fg_color;
        border-color: $unfocused_borders;
        background-color: gtkshade($unfocused_disabled_bg_color, 0.9);
      }
    }
  }

  &:disabled {
    color: gtkmix($fg, $unfocused_disabled_fg_color, 0.5);
    
    &:backdrop {
      color: $unfocused_disabled_fg_color;
      background-image: none;
    }
  }

  &:backdrop {
    color: $unfocused_fg_color;
    border-color: $unfocused_borders;
    background-image: none;
    background-color: $unfocused_bg_color;
  }
}

@mixin flat_buttons($bg, $fg, $br)
{
  border-color: transparent;
  border-radius: $button_radius;
  color: $fg;
  background-color: transparent;
  background-image: none;

  &:hover {
    border-color: $br;
    border-top-color: gtkshade($br, 1.1);
    border-left-color: gtkshade($br, 1.05);
    border-right-color: gtkshade($br, 1.05);
    color: $fg;
    background-color: $bg;
    background-image: linear-gradient(to bottom, gtkshade($bg_color, 1.4), gtkmix(gtkshade($bg_color, 1.2), $dark_shadow, 0.02));
  }

  &:active, &:checked {
    color: $fg;
    border-color: gtkshade($br, 0.9);
    background-image: none;
    background-color: gtkshade($bg, 0.5);
    
    &:backdrop {
      color: $unfocused_selected_fg_color;
      border-color: gtkshade($unfocused_bg_color, 0.85);
      background-color: gtkshade($unfocused_selected_bg_color, 0.6);
    }
  }

  &:disabled {
    border-color: transparent;
    color: gtkalpha($fg, 0.8);
    background-color: transparent;
    
    &:backdrop {
      border-color: transparent;
      color: gtkalpha($fg, 0.7);
      background-color: transparent;
    }
  }

  &:backdrop {
    border-color: transparent;
    background-color: transparent;
    color: $unfocused_fg_color;
  }
}

@mixin button() {
  button {
    @include normal_buttons($base_color, $fg_color, $borders);
    
    &.flat {
      @include flat_buttons($base_color, $fg_color, $borders);
    }
  }
}
