@mixin labels() {
  label {
    & selection {
      background-color: $theme_selected_bg_color;
      color: $theme_selected_fg_color;
    }

    &.separator {
      color: $borders;

      &:backdrop {
        color: $unfocused_borders;
      }
    }

    &.dim-label, &.separator, popover &.separator, popover.background &.separator, &:disabled {
      opacity: 0.55;
    }
  }
}
