// menubar 
@mixin menubar() {
  menubar, .menubar {
    -GtkWidget-window-dragging: true;
    padding: 0;
    border-style: none;
    background-color: $menubar_bg_color;
    background-image: linear-gradient(to bottom, gtkshade($theme_bg_color, 0.98), gtkshade($theme_bg_color, 0.97) 47%, gtkshade($theme_bg_color, 0.98) 58%);
    color: $menubar_fg_color;

    &:backdrop {
      color: $theme_unfocused_fg_color;
      background-color: $theme_unfocused_bg_color;
    }
  }
}
