@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  $_border : if($variant == 'light', gtkshade($bg_color, 0.9), gtkshade($fg_color, 0.28));
  
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  
  $_backdrop_bg : gtkshade($_bg, 0.985);
  $_backdrop_fg : #8c8c8c;  // TODO: make dynamic
  $_backdrop_border : gtkshade($_backdrop_bg, 0.9);
  
  $_backdrop_disabled_bg : gtkmix($_fg, $_bg, 0.98);
  $_backdrop_disabled_fg : gtkmix($_fg, $_bg, 0.75);
  
  @if $type == "base" {
    padding: 6px 8px;
    border-radius: $button_radius;
    border: 1px solid $_border;
    border-left-color: gtkshade($_border, 0.95);
    border-right-color: gtkshade($_border, 0.95);
    border-bottom-color: gtkshade($_border, 0.9);
    color: $_fg;
    background-color: $_bg;
    background-image: none;
    text-shadow: none;
    box-shadow: 0 0 2px 0 gtkalpha(black, 0.1);
    -gtk-icon-shadow: none;
  }

  @else if $type == "hover" {
    border-color: $_border;
    border-left-color: gtkshade($_border, 0.95);
    border-right-color: gtkshade($_border, 0.95);
    border-bottom-color: gtkshade($_border, 0.9);
    color: $_fg;
    background-color: $_bg;
    background-image: none;
    box-shadow: 0 0 2px 0 gtkalpha(black, 0.1);
  }

  @else if $type == "active"
  or $type == "checked" {
    color: $_fg;
    border-color: gtkalpha($_fg, 0.1);
    background-color: gtkalpha($_fg, 0.1);
  }

  @else if $type == "checked-backdrop" {
    color: $_backdrop_fg;
    border-color: gtkshade($_backdrop_bg, 0.95);
    background-color: gtkshade($_backdrop_bg, 0.95);
  }
  
  @else if $type == "checked-disabled" {
    color: $_disabled_fg;
    border-color: gtkshade($_disabled_bg, 0.95);
    background-color: gtkshade($_disabled_bg, 0.95);
  }
  
  @else if $type == "checked-disabled-backdrop" {
    color: $_backdrop_disabled_fg;
    border-color: gtkshade($_backdrop_disabled_bg, 0.95);
    background-color: gtkshade($_backdrop_disabled_bg, 0.95);
  }

  @else if $type == "disabled" {
    color: $_disabled_fg;
  }
  
  @else if $type == "disabled-backdrop" {
    color: $_backdrop_disabled_fg;
  }

  @else if $type == "backdrop" {
    color: $_backdrop_fg;
    border-color: $_backdrop_border;
    background-color: $_backdrop_bg;
  }
  
  @else if $type == "undecorated" {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
}
