@mixin headerbutton() {
  @extend %button_flat;
}

@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    
    // TODO: implement slim mode for headerbar
    // in the meantime, substitute padding with this
    // padding: 6px 8px;
    
    padding: 12px 14px;
    border-bottom: 1px solid gtkshade($border_color, 0.9);
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: none;
    box-shadow: none;
    
    button {
      @include headerbutton();
    }
    
    // make titlebars transparent (still works?)
    @at-root
    .titlebar:not(headerbar) {
      window > &,
      window.csd > & {
        &, &:backdrop {
          padding: 0;
          background: none;
          border: none;
          box-shadow: none;
        }
      }
    }
    
    // Make left part of nautilus titlebar transparent like sidebar (still work in GTK4?)
    @at-root
    .nautilus-window headerbar {
      background-color: transparent;
      background-image: linear-gradient(
        to right,
        $sidebar_bg_color $sidebar_width,     // sidebar_width set in properties.scss
        $border_color,                        // 1px fake border
        $titlebar_bg_color $sidebar_width + 1
      );
      border-image: linear-gradient(
        to right,
        $sidebar_bg_color $sidebar_width,
        $border_color $sidebar_width + 1
      ) 1 stretch;

      &:backdrop {
        background-image: linear-gradient(
          to right,
          $backdrop_bg_color $sidebar_width,
          $backdrop_border_color,
          $backdrop_bg_color $sidebar_width + 1
        );
        border-image: linear-gradient(
          to right,
          $backdrop_bg_color $sidebar_width,
          $backdrop_border_color $sidebar_width + 1
        ) 1 stretch;
      }
      
      // move header buttons away from fake sidebar portion    
      box.horizontal.left { margin-right: $pathbar_offset; }
    }
  }

  @else if $type == "backdrop" {
    border-color: $backdrop_border_color;
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
    background-image: none;
  }
}
    
@mixin titlebutton($type) {
  // no need for size specs, images are SVG and are scaled when rendered
  padding: 2px 2px;
  border: none;
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: none;
  -gtk-icon-shadow: none;
      
  @if $type == "close" {
    background-image: url('assets/close-normal.svg');
    
    &:hover { background-image: url('assets/close-hover.svg'); }
    &:active { background-image: url('assets/close-active.svg'); }
    &:backdrop { background-image: url('assets/close-backdrop.svg'); }
  }

  @else if $type == "minimize" {
    background-image: url('assets/minimize-normal.svg');
    
    &:hover { background-image: url('assets/minimize-hover.svg'); }
    &:active { background-image: url('assets/minimize-active.svg'); }
    &:backdrop { background-image: url('assets/minimize-backdrop.svg'); }
  }

  @else if $type == "maximize" {
    background-image: url('assets/maximize-normal.svg');
    
    &:hover { background-image: url('assets/maximize-hover.svg'); }
    &:active { background-image: url('assets/maximize-active.svg'); }
    &:backdrop { background-image: url('assets/maximize-backdrop.svg'); }
  }
  
  // does macos have a different icon for restore?
}
