@mixin headerbar() {
  headerbar {
    min-height: 30px;
    
    // TODO: implement slim mode for headerbar
    // in the meantime, substitute padding with this
    // padding: 6px 8px;
    
    padding: 12px 14px;
    border: none;
    border-radius: 0px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    border-bottom: 1px solid gtkshade($border_color, 0.9);

    &:backdrop {
      color: $backdrop_fg_color;
      background-image: none;
      background-color: $backdrop_bg_color;
      border-color: $backdrop_border_color;
    }
    
    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }
    
    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }
    
    button {
      @include flat_buttons($base_color, $headerbar_fg_color, $border_color);
    }

    &.titlebar, .titlebar & { border-radius: $window_radius $window_radius 0px 0px; }
  }
    
  windowcontrols {
    border-spacing: 6px;

    &:not(.empty) {
      &.start:dir(ltr),
      &.end:dir(rtl) {
        margin-right: 7px;
      }

      &.start:dir(rtl),
      &.end:dir(ltr) {
        margin-left: 7px;
      }
    }

    button {
      &.close, &.maximize, &.minimize {
        padding: 2px 2px;
        border: none;
        color: transparent;
        background-color: transparent;
        -gtk-icon-shadow: none;
        
        background-position: center center;
        background-repeat: no-repeat;
      }
      
      &.close { background-image: url('assets/close-normal.svg');
        &:hover { background-image: url('assets/close-hover.svg'); }
        &:active { background-image: url('assets/close-active.svg'); }
        &:backdrop { background-image: url('assets/close-backdrop.svg'); }
      }

      &.minimize { background-image: url('assets/minimize-normal.svg');
        &:hover { background-image: url('assets/minimize-hover.svg'); }
        &:active { background-image: url('assets/minimize-active.svg'); }
        &:backdrop { background-image: url('assets/minimize-backdrop.svg'); }
      }

      &.maximize { background-image: url('assets/maximize-normal.svg');
        &:hover { background-image: url('assets/maximize-hover.svg'); }
        &:active { background-image: url('assets/maximize-active.svg'); }
        &:backdrop { background-image: url('assets/maximize-backdrop.svg'); }
      }
      
      // TODO: does macos have a different maximized window button?
    }
  }

  // not sure what this does, make titlebars transparent?
  .titlebar:not(headerbar) {
    window > &,
    window.csd > & {
      &, &:backdrop {
        padding: 0;
        background: none;
        border: none;
        box-shadow: none;
      }
    }
  }
  
  // Make left part of nautilus titlebar transparent like sidebar (still work in GTK4?)
  .nautilus-window headerbar {
    background-color: transparent;
    background-image: linear-gradient(
      to right,
      $sidebar_bg_color $sidebar_width,     // sidebar_width set in properties.scss
      $border_color,                        // 1px fake border
      $titlebar_bg_color $sidebar_width + 1
    );
    border-image: linear-gradient(
      to right,
      $sidebar_bg_color $sidebar_width,
      $border_color $sidebar_width + 1
    ) 1 stretch;

    &:backdrop {
      background-image: linear-gradient(
        to right,
        $backdrop_bg_color $sidebar_width,
        $backdrop_border_color,
        $backdrop_bg_color $sidebar_width + 1
      );
      border-image: linear-gradient(
        to right,
        $backdrop_bg_color $sidebar_width,
        $backdrop_border_color $sidebar_width + 1
      ) 1 stretch;
    }
    
    // move header buttons away from fake sidebar portion    
    box.horizontal.left { margin-right: $pathbar_offset; }
  }

  // SSD titlebars are little slimmer (and no bottom border)
  window.ssd .titlebar {
    border-bottom: none;
    min-height: 20px;
  }
}
