@mixin linked_styles() {
  stackswitcher button.text-button {
    min-width: 80px;
    box-shadow: none;

    &:active, &:checked {
      &, &:hover, &:focus {
        background-color: $selected_bg_color;
        background-image: linear-gradient(to bottom, gtkshade($selected_bg_color, 1.4), gtkshade($selected_bg_color, 1.05));
        color: $selected_fg_color;
        
        &:backdrop {
          background-image: linear-gradient(to bottom, gtkshade($unfocused_bg_color, 0.9), gtkshade($unfocused_bg_color, 1.05));
          color: $unfocused_fg_color;
        }
      }
    }
  }  
}
