@mixin notebook_header() {
  margin: -1px;
  background-color: gtkshade($bg_color, 0.95);
  
  &:backdrop {
    background-color: gtkshade($backdrop_bg_color, 0.95);
  }
  
  // temp. variable
  $_header_inset_shadow: rgba(0,0,0,0.075);
  
  &.top {
    box-shadow: 0 1px $border_color,
                inset 0 2px $_header_inset_shadow;
  }
  &.bottom {
    box-shadow: 0 -1px $border_color,
                inset 0 -2px $_header_inset_shadow;
  }
  &.left {
    box-shadow: 1px 0 $border_color,
                inset 2px 0 $_header_inset_shadow;
  }
  &.right {
    box-shadow: -1px 0 $border_color,
                inset -2px 0 $_header_inset_shadow;
  }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    margin: 0px;
    padding: 6px 20px;
    border-radius: $notebook_tab_radius;
    border: 0px solid $border_color;
    color: gtkalpha($fg_color, 0.5);
    background-color: transparent;
    box-shadow: none;
    
    &:backdrop { border-color: $backdrop_border_color; }
    
    // separate tabs with their borders
    @if $pos == "top" or $pos == "bottom" {
      border-right-width: 1px;

      &:first-child { border-left-width: 1px; }
    }
    @else if $pos == "left" or $pos == "right" {
      border-bottom-width: 1px;

      &:first-child { border-top-width: 1px; }
    }
    
    @if $pos == "top" {
      margin-bottom: -2px;
    }
    @else if $pos == "bottom" {
      margin-top: -2px;
    }
    @else if $pos == "left" {
      margin-right: -2px;
    }
    @else if $pos == "right" {
      margin-left: -2px;
    }
  }
  
  @else if $type == "checked" {
    color: $fg_color;
    border-color: $border_color;
    background-color: $base_color;

    &:backdrop {
      background-image: none;
      border-color: $backdrop_border_color;
      background-color: $backdrop_bg_color;
    }
  }
}
