@mixin popover() {
  popover {
    &, &.background {
      padding: 2px;
      border-color: $border_color;
      border-width: 1px;
      border-style: solid;
      border-radius: $global_radius;
      color: $fg_color;
      background-clip: border-box;
      background-color: $menu_bg_color;
      box-shadow: none;

    .csd &, & {
      border: 1px solid $border_color; }

       > list,  > .view,  > iconview,  > toolbar,  > .inline-toolbar {
        border-style: none;
        background-color: transparent;
      }

      checkbutton:selected, radiobutton:selected {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
      }
    }

    &.osd {
      box-shadow: none;

       > toolbar button {
        border-width: 0;
        border-radius: 0;
        background-color: transparent;
      }
    }

    &:backdrop {
      border-color: $backdrop_border_color;
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
      box-shadow: none;
    }
    
    .view {
      background-color: transparent;
    }
  }
}
