@mixin scale_trough() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: gtkalpha(black, 0.2);

  &:disabled { background-color: gtkalpha(black, 0.15);
    &:backdrop { background-color: gtkalpha(black, 0.08); }
  }

  &:backdrop { background-color: gtkalpha(black, 0.1); }
}

@mixin scale_highlight() {
  margin: 0px;
  border: none;
  border-radius: $scale_trough_radius;
  background-color: $selected_bg_color;

  &:disabled { background-color: $disabled_bg_color;
    &:backdrop { background-color: $backdrop_disabled_bg_color; }
  }

  &:backdrop { background-color: $backdrop_selected_bg_color; }
}

@mixin scale_slider($type : "base") {
  @if $type == "base" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size;
    margin: -$scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: 1px solid gtkalpha(black, 0.125);
    border-left-color: gtkalpha(black, 0.175);
    border-right-color: gtkalpha(black, 0.175);
    border-bottom-color: gtkalpha(black, 0.25);
    color: $fg_color;
    background-color: gtkshade($bg_color, 1.4);
    background-image: none;
    box-shadow: none;

    &:disabled {
      border-color: gtkalpha(black, 0.085);
      border-bottom-color: gtkalpha(black, 0.115);
      background-color: $disabled_base_color;     
      
      &:backdrop { background-color: $backdrop_disabled_base_color; }
    }

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: gtkshade($backdrop_bg_color, 1.4);
    }
  }
  
  // TODO: directional sliders (with assets)
}
