@mixin switch() {
  margin: 4px;
  font-size: 0;
  border-radius: 16px;
  border: 1px solid $border_color;
  color: transparent;
  background-color: $border_color;

  &:checked {
    border-color: $success_color;
    background-color: $success_color;

    &:backdrop {
      border-color: gtkmix($backdrop_selected_bg_color, $success_color, 0.8);
      background-color: gtkmix($backdrop_selected_bg_color, $success_color, 0.8);
    }
  }

  &:disabled {
    border-color: $disabled_bg_color;
    background-color: $disabled_bg_color;

    &:backdrop {
      border-color: $backdrop_disabled_bg_color;
      background-color: $backdrop_disabled_bg_color;
    }
  }

  &:backdrop {
    border-color: $backdrop_border_color;
    background-color: $backdrop_border_color;
  }
}

@mixin switch_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 100%;
    border: none;
    color: $fg_color;
    background-color: gtkshade($bg_color, 1.4);
    background-image: none;
    box-shadow: 0 2px 2px 1px gtkalpha($dark_shadow, 0.09);
  }

  @if $type == "disabled" {
    background-color: $disabled_base_color;
  }

  @if $type == "disabled-backdrop" {
    background-color: $backdrop_disabled_base_color;
  }

  @if $type == "backdrop" {
    background-color: gtkmix($backdrop_bg_color, $base_color, 0.2);
  }
}
