@mixin iconview() {
  iconview {
    // TODO: use selected_items
    &:selected, &:selected:focus,
    text:selected, text:selected:focus,
    text selection, text selection:focus {
      border: 1px solid gtkshade($selected_bg_color, 0.85);
      color: $selected_fg_color;
      background-color: $selected_bg_color;
      background-image: linear-gradient(
        to bottom,
        gtkshade($selected_bg_color, 1.02),
        gtkshade($selected_bg_color, 0.98)
      );
    }

    &:selected:backdrop, selection:backdrop,
    text:selected:backdrop, text selection:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: $backdrop_selected_bg_color;
      background-image: linear-gradient(
        to bottom,
        gtkshade($backdrop_selected_bg_color, 1.02),
        gtkshade($backdrop_selected_bg_color, 0.98)
      );
    }
  }

  rubberband { @include rubberband(); }
}
