@mixin toolbar() {
  toolbar {
    padding: 4px;
    border: none;
    color: $toolbar_fg_color;
    background-color: $toolbar_bg_color;
    background-image: linear-gradient(to bottom, gtkshade($toolbar_bg_color, 1.05), gtkshade($toolbar_bg_color, 1.012) 40%, gtkshade($toolbar_bg_color, 0.98) 41%, gtkshade($toolbar_bg_color, 1.02) 89%, gtkshade($toolbar_bg_color, 1.05) 90%, gtkshade($toolbar_bg_color, 0.75));

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
    }
    
    &.vertical, &.vertical:backdrop {
      background-image: none;
    }

    &:disabled {
      color: $disabled_fg_color;
      background-color: $disabled_bg_color;
    }

    button.flat {
      //@include flat_buttons($toolbar_bg_color, $toolbar_fg_color, $borders);
      background-image: none;
      background-color: transparent;
      border: 1px solid transparent;
      box-shadow: none;
      
      &:hover {
        border-color: $borders;
        background-image: none;
        background-color: transparent;
        box-shadow: inset 0 0 0 1px gtkalpha($light_shadow, 0.6);
      }
    }

    // menubar toolbars 
    menubar {
      -GtkToolbar-button-relief: normal;
    }
  }
}
