@mixin titlebar() {
  .titlebar {
    border-bottom: none;
    border-radius: $csd_radius $csd_radius 0px 0px;

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        border-color: transparent;
        color: transparent;
        box-shadow: none;
        padding: 0;
        min-width: 18px;
        min-height: 18px;
        border-radius: 0;
        -gtk-icon-shadow: none;
        
        background-position: center;
        background-repeat: no-repeat;
      }
      
      &.close {
        background-image: url('assets/close.png');
        
        &:active {
          background-image: url('assets/close-active.png');
        }
      }

      &.minimize {
        background-image: url('assets/minimize.png');
        
        &:active {
          background-image: url('assets/minimize-active.png');
        }
      }

      &.maximize {
        background-image: url('assets/maximize.png');
        
        &:active {
          background-image: url('assets/maximize-active.png');
        }
      }
      
      .maximized &.maximize {
        background-image: url('assets/restore.png');
        
        &:active {
          background-image: url('assets/restore-active.png');
        }
      }
    }
    
    .tiled &:not(headerbar), .tiled &:backdrop:not(headerbar), .maximized &:not(headerbar), .maximized &:backdrop:not(headerbar) {
      border-radius: 0;
    }
  }

  .titlebar, .titlebar:not(headerbar), headerbar.default-decoration, .csd headerbar.default-decoration, .default-decoration.titlebar:not(headerbar), .csd .default-decoration.titlebar:not(headerbar) {
    min-height: 26px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;

    &:backdrop {
      color: $unfocused_fg_color;
      background-image: none;
      background-color: gtkshade($unfocused_bg_color, 0.8);
    }
    
    .horizontal.right {
      background: $bg_color;
      box-shadow: 0 0 0 2px $bg_color;
    }
  }
  
  window.ssd {
    headerbar, .titlebar {
      padding: 0px;
      margin: 0px;
      border: 3px solid transparent;
      border-bottom: none;
    }

    &.maximized {
      headerbar, .titlebar {
        border: 0px;
        border-bottom: 1px solid transparent;
        box-shadow: none;
        margin: 0px;
      }
    }
  }
}
