// button
@mixin normal_buttons($bg, $fg, $br) {
  & {
    padding: 4px 8px;
    border: none;
    border-radius: $button_radius;
    color: $fg;
    border-color: $br;
    background-color: $bg;
    
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 0;
    -gtk-outline-radius: 4px;

    &:hover {
    }

    &:active, &:checked {
      outline-color: gtkshade($theme_selected_bg_color, 1.4);
      color: $theme_selected_fg_color;
      background-color: $theme_selected_bg_color;

      &:disabled {
        color: gtkmix($theme_selected_fg_color, $theme_disabled_fg_color, 0.4);
        background-color: gtkmix($theme_selected_bg_color, $theme_disabled_bg_color, 0.3);
      
        &:backdrop {
          color: gtkmix($theme_selected_fg_color, $theme_unfocused_disabled_fg_color, 0.4);
        background-color: gtkmix($theme_selected_bg_color, $theme_unfocused_disabled_bg_color, 0.3);
        }
      }

      &:backdrop {
        color: $theme_unfocused_selected_fg_color;
        background-color: $theme_unfocused_selected_bg_color;
      }
    }

    &:disabled {
      color: gtkmix($fg, $theme_unfocused_disabled_fg_color, 0.1);
      
      &:backdrop {
        color: $theme_unfocused_disabled_fg_color;
      }
    }

    &:backdrop {
      color: $theme_unfocused_fg_color;
      background-color: $bg;
    }
  }
}

@mixin flat_buttons($bg, $fg, $br)
{
  @include normal_buttons($bg, $theme_selected_bg_color, $br);
}

@mixin button() {
  button {
    @include normal_buttons(transparent, $theme_selected_bg_color, transparent);
    
    &.flat {
      @include flat_buttons(transparent, $theme_selected_bg_color, transparent);
    }
  }
}
