// sourced from https://github.com/nana-4/materia-theme

@mixin checkradio() {
  checkbutton.text-button, radiobutton.text-button {
    padding: 4px;
    outline-width: 0;
  }

  check { border-radius: 4px; }
  radio { border-radius: 100%; }
  
  view.content-view check, .content-view.view check {
    background-color: transparent;
  }

  check, radio {
    min-height: $checkradio_size;
    min-width: $checkradio_size;
    margin: -8px;
    padding: 8px;
    
    &:hover { box-shadow: inset 0 0 0 9999px gtkalpha(currentColor, 0.08);
      &:focus { box-shadow: inset 0 0 0 9999px gtkalpha(currentColor, 0.12); }
    }
    &:focus { box-shadow: inset 0 0 0 9999px gtkalpha(currentColor, 0.16); }
    &:disabled { color: gtkalpha($dark_shadow, 0.1); }
    
    &:checked,
    &:indeterminate { color: $selected_bg_color;
      &:disabled { color: gtkalpha($dark_shadow, 0.26); }
    }
  }
  
  check { -gtk-icon-source: -gtk-recolor(url("assets/checkbox-unchecked-symbolic.svg"));
    &:checked { -gtk-icon-source: -gtk-recolor(url("assets/checkbox-checked-symbolic.svg")); }
    &:indeterminate { -gtk-icon-source: -gtk-recolor(url("assets/checkbox-mixed-symbolic.svg")); }
  }

  radio {
    border-image-slice: $checkradio_size / 2px;
    border-image-width: $checkradio_size / 2;

    border-image-source: radial-gradient(circle, $selected_bg_color 0%, transparent 0%);
    -gtk-icon-source: -gtk-recolor(url("assets/radio-unchecked-symbolic.svg"));

    &:checked:not(:indeterminate) {
      border-image-source: radial-gradient(circle, $selected_bg_color 4.5px, transparent 5px);
      -gtk-icon-source: -gtk-recolor(url("assets/radio-checked-symbolic.svg"));

      &:disabled {
        border-image-source: radial-gradient(circle, gtkalpha($dark_shadow, 0.26) 4.5px, transparent 5px);
      }
    }
  
    &:indeterminate { -gtk-icon-source: -gtk-recolor(url("assets/radio-mixed-symbolic.svg")); }
  }
  
  popover.menu, modelbutton.flat {
    check, radio {
      transition: none;
      box-shadow: none;
      background-image: none;
      color: gtkalpha($light_shadow, 0.54);
    }
  }
}
