@mixin dialogs() {
  window.dialog.message {
    .titlebar {
      min-height: 20px;
      background-image: none;
      background-color: $bg_color;
      border-style: none;
      border-top-left-radius: $window_radius;
      border-top-right-radius: $window_radius;
    }

    box.dialog-vbox.vertical {
      border-spacing: 10px;
    }

    label.title {
      font-weight: 800;
      font-size: 15pt;
    }
    
    &.csd {
      &.background {  // TODO: not working (overriden by window?)
        border-bottom-left-radius: $window_radius + 1;
        border-bottom-right-radius: $window_radius + 1;
      }

      .dialog-action-area button {
        padding: 10px 14px; // workaround for vertically centered labels
        border-left-style: solid;
        border-right-style: none;
        border-bottom-style: none;
      }
    }
  }
}
