@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    border-bottom: 1px solid $border_color;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    box-shadow: none;
  }
    
  @else if $type == "backdrop" {
    border-bottom-color: $backdrop_border_color;
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
  }
}

// all titlebuttons share the same style
@mixin titlebutton($type) {
  padding: 2px 2px;
  color: gtkalpha($titlebar_fg_color, 0.65);
  background-color: transparent;
  
  &:active { color: $titlebar_fg_color; }
}
