@mixin headerbar_buttons($bg, $fg, $br)
{
  @include normal_buttons($bg, $fg, $br);
}

@mixin headerbar() {
  headerbar, headerbar:not(.titlebar) {
    padding: 4px 8px;
    border-width: 0;
    border-style: solid;
    border-color: gtkmix($borders, $headerbar_bg_color, 0.5);
    border-bottom-width: 1px;
    color: $headerbar_fg_color;
    background-color: $headerbar_bg_color;

    &:backdrop {
      border-color: $unfocused_borders;
      color: $theme_unfocused_fg_color;
      background-color: $theme_unfocused_bg_color;
    }

    .titlebar &, .titlebar &:backdrop {
      background-color: transparent;
    }

    .tiled &, .tiled &:backdrop, .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    button {
      @include headerbar_buttons(transparent, $headerbar_fg_color, transparent);
    }
    
    entry {
      padding: 4px 8px;
    }
  }
}
