@mixin messagedialog() {
  $radius : 4px;

  messagedialog {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    
    .background.csd {
	    border-radius: $radius;
	    color: $fg_color;
      background-color: $bg_color;
    }
  
    decoration {
      border-radius: $radius;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
      box-shadow: 0 1px 2px gtkalpha($dark_shadow, 0.2);
    }

    .titlebar.horizontal {
      border: none;
      border-radius: $radius $radius 0 0;
      background-image: none;
      background-color: $bg_color;
    }

    &.csd .dialog-action-area button {
      padding: 10px;
      border-radius: 0;
      outline-offset: -2px;

      &:last-child {
        border-radius: 0px;
        border-bottom-right-radius: $radius;
      }

      &:first-child {
        border-radius: 0px;
        border-bottom-left-radius: $radius;
      }

      &:only-child {
        border-radius: 0px;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
      }
    }
  }
}
