@mixin scale_trough {
  border-radius: $scale_trough_radius;
  border: none;
  background-color: gtkalpha($selected_bg_color, 0.2);

  &:disabled { background-color: gtkalpha($dark_shadow, 0.15);
    &:backdrop { background-color: gtkalpha($dark_shadow, 0.08); }
  }
  &:backdrop { background-color: gtkalpha($backdrop_selected_bg_color, 0.1); }
}

@mixin scale_highlight() {
  margin: 0px;
  border-radius: $scale_trough_radius;
  border: none;
  background-color: $selected_bg_color;

  &:disabled { background-color: $disabled_bg_color;
    &:backdrop { background-color: $backdrop_disabled_bg_color; }
  }
  &:backdrop { background-color: $backdrop_selected_bg_color; }
}

@mixin scale_slider() {
  min-width: $scale_slider_width;
  min-height: $scale_slider_height;
  margin: -$scale_slider_margin;
  border-radius: $scale_slider_radius;
  border: none;
  color: $selected_fg_color;
  background-color: $selected_bg_color;
  background-image: none;

  &:active { box-shadow: 0 0 0 8px gtkalpha($dark_shadow, 0.08); }

  &:disabled { background-color: $disabled_bg_color;
    &:backdrop { background-color: $backdrop_disabled_bg_color; }
  }

  &:backdrop {
    color: $backdrop_selected_fg_color;
    background-color: $backdrop_selected_bg_color;
  }
}
