@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    background-color: gtkshade($bg_color, 0.9);

    &:backdrop {
      background-color: gtkshade($backdrop_bg_color, 0.9);
    }
  }
  
  @if $type == "hint" {
    border: none;
    opacity: 0.7;
    background-color: transparent;
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    margin: 0px;
    border: none;
    background-color: gtkmix($bg_color, $fg_color, 0.4);
    background-clip: padding-box;

    &:hover { background-color: gtkmix($bg_color, $fg_color, 0.4); }
    &:hover:active { background-color: gtkmix($bg_color, $fg_color, 0.45); }
    &:backdrop { background-color: gtkmix($bg_color, $fg_color, 0.45); }
    &:disabled { background-color: transparent; }
  }

  @if $type == "hint" {
    margin: 0px;
    min-width: $scrollbar_indicator_size;
    min-height: $scrollbar_indicator_size;
    background-color: gtkmix($bg_color, $fg_color, 0.4);
    border: none;
  }
}
