@mixin switch() {
  margin: 5px;
  font-size: 0;
  border-radius: 16px;
  border: 1px solid gtkshade($border_color, 0.9);
  color: transparent;
  background-color: gtkshade($border_color, 0.9);

  &:checked {
    border-color: gtkalpha($selected_bg_color, 0.4);
    background-color: gtkalpha($selected_bg_color, 0.4);

    &:backdrop {
      border-color: gtkalpha($backdrop_selected_bg_color, 0.4);
      background-color: gtkalpha($backdrop_selected_bg_color, 0.4);
    }
  }

  &:disabled {
    border-color: $disabled_bg_color;
    background-color: $disabled_bg_color;

    &:backdrop {
      border-color: $backdrop_disabled_bg_color;
      background-color: $backdrop_disabled_bg_color;
    }
  }

  &:backdrop {
    border-color: $backdrop_border_color;
    background-color: $backdrop_border_color;
  }
}

@mixin switch_slider($type : "base") {
  @if $type == "base" {
    margin: -4px;
    min-width: 24px;
    min-height: 24px;
    border-radius: 100%;
    border: none;
    color: $fg_color;
    background-color: gtkshade($border_color, 1.4);
    background-image: none;
    box-shadow: 0 2px 3px 0 gtkalpha($dark_shadow, 0.15);
  }

  @else if $type == "checked" {
    background-color: $selected_bg_color;
  }
    
  @else if $type == "checked-backdrop" {
    background-color: $backdrop_selected_bg_color;
  }

  @else if $type == "disabled" {
    background-color: $disabled_base_color;
  }

  @else if $type == "disabled-backdrop" {
    background-color: $backdrop_disabled_base_color;
  }

  @else if $type == "backdrop" {
    background-color: gtkshade($backdrop_base_color, 0.95);
  }
}
