@mixin treeview() {
  treeview {
    -treeview-vertical-separator: 0;

    &.view {
      &:selected, &:selected:focus {
        border-radius: 0;
        color: $selected_fg_color;
        background-color: $selected_bg_color;
      }
    
      &:drop(active) {
        border-style: solid none;
        border-width: 1px;
        border-color: $selected_bg_color;
        
        &.after { border-top-style: none; }
        &.before { border-bottom-style: none; }
      }
    }

    header {
      button {
        border-width: 0 1px 1px 0;
        border-radius: 0;
        outline-style: none;
        
        &:last-child {
          border-width: 0 0 1px 0;
        }
        
        &, &:focus {
          &:hover {
            background-image: none;
          }
          
          &:active {
            color: $selected_fg_color;
            background-color: $selected_bg_color;
          }
        }
      }
    }

    entry, entry.flat {
      border-radius: 0;
      background-image: none;
      background-color: $base_color;
      
      &:focus {
        border-color: $selected_bg_color;
      }
    }
  }
}
