@mixin headerbar() {
  headerbar {
    min-height: $headerbar_size;
    padding: 4px 8px;
    border-bottom: 1px solid $border_color;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: linear-gradient(
      to bottom,
      transparent 35%,
      $border_color 40%,
      $border_color 64%,
      transparent 85%
    );
    background-size: 100% 3px;
    box-shadow: inset 0 0 0 3px $titlebar_bg_color;

    &:backdrop {
      border-color: $backdrop_border_color;
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
      background-image: none;
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
      background-color: $titlebar_bg_color;
      box-shadow: 0 10px $titlebar_bg_color, 0 -10px $titlebar_bg_color;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
      background-color: $titlebar_bg_color;
    }

    button {
      @include normal_buttons();
    }
    
    &.titlebar, .titlebar & { border-radius: $window_radius $window_radius 0px 0px; }
  }
    
  windowcontrols {
    border-spacing: 6px;

    &:not(.empty) {
      &.start:dir(ltr),
      &.end:dir(rtl) {
        margin-right: 7px;
      }

      &.start:dir(rtl),
      &.end:dir(ltr) {
        margin-left: 7px;
      }
    }

    button {
      &.close, &.maximize, &.minimize {
        padding: 0;
        min-height: 17px;
        min-width: 17px;
        border: none;
        box-shadow: 0 0 0 1px $titlebar_bg_color;
        border-radius: 0;
        color: transparent;
        background-color: transparent;
        -gtk-icon-shadow: none;
        
        background-position: center;
        background-repeat: no-repeat;
        
        &:backdrop { background: none; box-shadow: none; }
      }
      
      &.close { background: url('assets/close.png') 100% 100%; }
      &.minimize { background: url('assets/minimize.png') 100% 100%; }
      &.maximize { background: url('assets/maximize.png') 100% 100%; }
    }
  }
}
