@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    border-bottom: 1px solid $border_color;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: linear-gradient(
      to bottom,
      transparent 35%,
      $border_color 40%,
      $border_color 64%,
      transparent 85%
    );
    background-size: 100% 3px;
    box-shadow: inset 0 0 0 3px $titlebar_bg_color;
    
    .title {
      background-color: $titlebar_bg_color;
      box-shadow: 0 10px $titlebar_bg_color, 0 -10px $titlebar_bg_color;
    }

    .subtitle {
      background-color: $titlebar_bg_color;
    }
  }
  
  @else if $type == "backdrop" {
    border-color: $backdrop_border_color;
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
    background-image: none;
  }
}

@mixin titlebutton($type) {
  padding: 0px;
  min-width: 17px;
  min-height: 17px;
  border: none;
  border-radius: 0;
  color: transparent;
  background-color: transparent;
  background-size: 17px 17px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 1px $titlebar_bg_color;   // white border around the icons
  -gtk-icon-shadow: none;
  
  &:backdrop { background-image: none; box-shadow: none; }
      
  @if $type == "close" {
    background-image: url('assets/close.png');
  }
  @else if $type == "minimize" { 
    background-image: url('assets/minimize.png');
  }
  @else if $type == "maximize" {
    background-image: url('assets/maximize.png');
  }
}
