@mixin progressbar_trough($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: 1px solid $border_color;
    background-color: $bg_color;
  }
}

@mixin progressbar($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: none;
    background-color: $selected_bg_color;
  }
}
