@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    box-shadow: inset 0 0 0 1px $border_color;
    background-color: $base_color;
  }
  
  @else if $type == "hint" {
    opacity: 1.0;
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: 1px solid $border_color;
    background-color: $bg_color;

    &:hover:active { background-color: $selected_bg_color; }
    &:disabled { background-color: $disabled_bg_color; }
  }
}
