$roundness : 40px;
$entry_radius : 40px;
$button_radius : 40px;
$tab_radius : 40px;
$progressbar_radius : 40px;
$scrollbar_radius : 40px;
$csd_radius : 40px;
$view_radius : 40px;
$top_primary_stepper: false;
$bottom_primary_stepper: false;
$top_secondary_stepper: false;
$bottom_secondary_stepper: false;
