@mixin normal_buttons($bg : $bg_color, $fg : $fg_color, $br : $border_color) {
  padding: 6px 6px;
  border-style: solid;
  border-width: 1px;
  border-radius: $button_radius;
  color: $fg;
  border-color: gtkmix(gtkshade($br, 0.3), $selected_bg_color, 0.25);
  background-color: $bg;
  
  // TOOD: remove hardcoded colors
  background-image: linear-gradient(
    to left,
    gtkalpha($dark_shadow, 0.045) 1px,
    gtkalpha($dark_shadow, 0.006) 2px,
    transparent 2px
  ),
  linear-gradient(
    to top,
    gtkalpha($dark_shadow, 0.13),
    transparent 3px
  ),
  linear-gradient(
    to bottom,
    $light_shadow,
    #fcfcfa 3px,
    #f6f6f3 7px,
    #f4f4f0 50%,
    #f0f0ea
  );

  &:hover, &:focus {
    box-shadow: inset 0 0 1px 2px #ffc73c;
    border-color: gtkmix(gtkshade($br, 0.3), $selected_bg_color, 0.3);
  }

  &:active, &:checked {
    border-color: gtkshade($br, 0.3);
    background-color: gtkshade($bg_color, 0.95);
    
    // TOOD: remove hardcoded colorss
    background-image: linear-gradient(
      to right,
      gtkalpha($dark_shadow, 0.045) 1px,
      gtkalpha($dark_shadow, 0.006) 2px,
      transparent 2px
    ),
    linear-gradient(
      to bottom,
      gtkalpha($dark_shadow, 0.13),
      transparent 3px
    ),
    linear-gradient(
      to top,
      $light_shadow,
      #fcfcfa 3px,
      #f6f6f3 7px,
      #f4f4f0 50%,
      #f0f0ea
    );
    
    &:disabled {
      color: gtkmix($fg, $backdrop_disabled_fg_color, 0.1);
      border-color: gtkmix($fg, $disabled_bg_color, 0.5);
      background-color: gtkshade($disabled_bg_color, 0.9);
    }
  }

  &:disabled {
    color: $disabled_fg_color;
    border-color: gtkshade($br, 0.75);
    background-color: $disabled_bg_color;
  }
}

@mixin flat_buttons($bg : $bg_color, $fg : $fg_color, $br : $border_color) {
  border-color: transparent;
  border-radius: $button_radius;
  color: $fg;
  background-color: transparent;
  background-image: none;

  &:hover {
    border-color: gtkmix(gtkshade($br, 0.3), $selected_bg_color, 0.3);
    background-color: $bg;
    
    // TOOD: remove hardcoded colors
    background-image: linear-gradient(
      to left,
      gtkalpha($dark_shadow, 0.045) 1px,
      gtkalpha($dark_shadow, 0.006) 2px,
      transparent 2px
    ),
    linear-gradient(
      to top,
      gtkalpha($dark_shadow, 0.13),
      transparent 3px
    ),
    linear-gradient(
      to bottom,
      $light_shadow,
      #fcfcfa 3px,
      #f6f6f3 7px,
      #f4f4f0 50%,
      #f0f0ea
    );
  }

  &:active, &:checked {
    border-color: gtkshade($br, 0.3);
    background-color: gtkshade($bg_color, 0.95);
    background-image: linear-gradient(
      to bottom,
      gtkshade(#f5f5f5, 0.6),
      gtkshade(#f5f5f5, 0.7),
      gtkshade(#f5f5f5, 0.75)
    );
  }

  &:disabled {
    border-color: transparent;
    color: gtkalpha($fg, 0.8);
    background-color: transparent;
  }
}

@mixin destructive_button() {
  button.destructive-action {
    // TODO: get rid of hardcoded color value
    box-shadow: inset 0 0 2px 1px #E8C995; // temporary
  }
}

@mixin suggested_button() {
  button.suggested-action {
    // TODO: get rid of hardcoded color value
    box-shadow: inset 0 0 2px 1px #95b4e8;
  }
}
