// titlebar
@mixin titlebar() {
  .titlebar {
    border-bottom: none;
    border-radius: $csd_radius $csd_radius 0px 0px;

    & .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    & .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    // titlebutton 
    & .titlebutton {
      
      &.close, &.maximize, &.minimize, &:not(separator) {
        min-width: 28px;
        min-height: 28px;
        padding: 0;
        border: none;
        color: transparent;
        background-color: transparent;
        -gtk-icon-shadow: none;
        border-radius: 100%;
        
        background-position: center center;
        background-repeat: no-repeat;
        
        &:hover, &:active {
          background-color: gtkalpha($theme_base_color, 0.2);
        }
      }
      
      &.close {
        background: url('assets/close-normal.png') center center;

        &:hover, &:active {
          background-color: $error_color;
        }

        &:backdrop {
          background: url('assets/close-backdrop.png') center center;
        }
      }

      &.minimize {
        background: url('assets/minimize-normal.png') center center;

        &:backdrop {
          background: url('assets/minimize-backdrop.png') center center;
        }
      }

      &.maximize {
        background: url('assets/maximize-normal.png') center center;

        &:backdrop {
          background: url('assets/maximize-backdrop.png') center center;
        }
      }
    }

    .tiled &:not(headerbar), .tiled &:backdrop:not(headerbar), .maximized &:not(headerbar), .maximized &:backdrop:not(headerbar) {
      border-radius: 0;
    }
  }

  .titlebar, .titlebar:not(headerbar), headerbar.default-decoration, .csd headerbar.default-decoration, .default-decoration.titlebar:not(headerbar), .csd .default-decoration.titlebar:not(headerbar) {
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;

    &:backdrop {
      color: gtkalpha($titlebar_fg_color, 0.8);
    }
  }
}
