@mixin treeview() {
  treeview {
    -treeview-vertical-separator: 0;

    &.view:selected, &.view:selected:focus {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }

    header {
      button {
        border-width: 0 1px 1px 0;
        border-radius: 0;

        &, &:active, &:focus, &:active:focus {
          background-image: none;
          background-color: $bg_color;
        }

        &:hover, &:active:hover, &:hover:focus, &:active:hover:focus {
          color: $selected_fg_color;
          background-color: $selected_bg_color;
        }
      }
      &:last-child button {
        border-width: 0 0 1px 0;
      }
    }
    
    entry, entry.flat {
      border-radius: 0;
      background-image: none;
      background-color: $base_color;
      
      &:focus {
        border-color: $selected_bg_color;
      }
    }
  }
}
