@mixin scale() {
  scale {
    min-height: 10px;
    min-width: 10px;
    padding: 12px;

    fill, trough {
      border: 1px solid $selected_bg_color;
      border-left-color: gtkshade($border_color, 0.9);
      border-right-color: gtkshade($border_color, 0.9);
      border-bottom-color: gtkshade($border_color, 0.95);
      border-radius: 4px;
      background-color: gtkalpha($dark_shadow, 0.15);
      box-shadow: inset 0 2px 2px 0 gtkalpha($dark_shadow, 0.15);
      outline-offset: 2px;
      -gtk-outline-radius: 0;

      &:disabled {
        background-color: gtkalpha($dark_shadow, 0.05);

        &:backdrop {
          background-color: gtkalpha($dark_shadow, 0.05);
        }
      }

      &:backdrop {
        background-color: gtkalpha($dark_shadow, 0.1);
      }
    }
    
    &.vertical {
      fill, trough {
        border: 1px solid gtkshade($border_color, 0.8);
        border-top-color: gtkshade($border_color, 0.9);
        border-bottom-color: gtkshade($border_color, 0.9);
        border-right-color: gtkshade($border_color, 0.95);
        box-shadow: inset 2px 0 2px 0 gtkalpha($dark_shadow, 0.15);
      }
    }

    highlight {
      border: none;
      border-radius: 4px;
      background-color: transparent;

      &:disabled {
        background-color: transparent;

        &:backdrop {
          background-color: transparent;
        }
      }

      &:backdrop {
        background-color: transparent;
      }
    }

    &.horizontal {
      indicator {
        min-height: 6px;
        min-width: 1px;
      }

      &.fine-tune indicator {
        min-height: 3px;
      }
    }

    &.vertical {
      indicator {
        min-height: 1px;
        min-width: 6px;
      }

      &.fine-tune indicator {
        min-width: 3px;
      }
    }

    &.fine-tune {
      &.horizontal {
        padding-top: 12px;
        padding-bottom: 10px;
        min-height: 14px;
      }

      &.vertical {
        padding-left: 12px;
        padding-right: 10px;
        min-width: 14px;
      }

      slider {
        margin: -6px;
      }

      fill, trough, highlight {
        border-radius: 4px;
        -gtk-outline-radius: 0;
      }

      marks {
        &.top {
          margin-bottom: 8px;
          margin-top: -13px;
        }

        &.bottom {
          margin-top: 8px;
          margin-bottom: -13px;
        }

        &.top {
          margin-right: 8px;
          margin-left: -13px;
        }

        &.bottom {
          margin-left: 8px;
          margin-right: -13px;
        }
      }
    }

    slider {
      min-height: 14px;
      min-width: 14px;
      margin: -6px;
      border: 1px solid $selected_bg_color;
      border-radius: 100%;
      color: $fg_color;
      background-color: gtkshade($selected_bg_color, 0.8);
      background-image: linear-gradient(to bottom, #fff, #95b9df 50%, #689dd3 51%, #d0faff);
      box-shadow: inset 3px 0 gtkalpha($dark_shadow, 0.1), inset -3px 0 gtkalpha($dark_shadow, 0.1);

      &:disabled {
        opacity: 0.7;
        background-color: $disabled_base_color;
        -gtk-icon-shadow: none;

        &:backdrop {
          background-color: $backdrop_disabled_bg_color;
          -gtk-icon-shadow: none;
        }
      }

      &:backdrop {
        color: $backdrop_fg_color;
        background-color: $backdrop_base_color;
      }
    }

    value {
      color: gtkalpha(currentColor,0.55);
    }

    marks {
      color: gtkalpha(currentColor,0.55);

      &.top {
        margin-bottom: 6px;
        margin-top: -12px;
      }

      &.bottom {
        margin-top: 6px;
        margin-bottom: -12px;
      }

      &.top {
        margin-right: 6px;
        margin-left: -12px;
      }

      &.bottom {
        margin-left: 6px;
        margin-right: -12px;
      }
    }
  }
}
