// Azurra uses old gtk shade, mix and alpha syntax for processing.
// This is done for code ports compatibility

// Register functions
@function gtkalpha($c,$a) {
  @if $c == 'currentColor' {
    @return unquote("alpha(#{$c}, #{$a})");
  }
  
  @warn("This function is deprecated and will be removed soon");
  @return rgba($c, $a);
}

@function hex2rgba($color, $opacity) {
  @warn("This function is deprecated and will be removed soon");
  @return rgba($color, $opacity);
}

@function gtkmix($c1,$c2,$r) {
  @warn("This function is deprecated and will be removed soon");
  @return mix($c1,$c2,(100% - ($r * 100%)));
}

@function gtkshade($c,$s) {
  @warn("This function is deprecated and will be removed soon");
  $shaded_color : $c;  // fallback

  @if $s > 1 {
    $shaded_color : lighten($c, (($s * 100%) - 100%));
  }
  @else if 1 > $s {
    $shaded_color : darken($c, abs(100% - ($s * 100%)));
  }

  @return $shaded_color;
}
