@mixin progressbar() {
  progressbar {
    font-size: smaller;
    color: gtkmix($fg_color, $selected_fg_color, 0.5);
    
    > trough {
      border: 1px solid #686868;
      border-radius: $progressbar_radius;
      background-color: #ffffff;
      box-shadow: inset 0.5px 0.5px 0px 1.5px #efefef,
                  inset 1px 1px #bebebe;
      padding: 3px 4px;
    }

    // TODO: remove hard-coded colors
    > trough > progress {
      border: none;
      border-radius: 0;
      background-color: $selected_bg_color;
      background-image: linear-gradient(
        to right,
        transparent,
        transparent 37.5%,
        white 37.5%,
        white 50%,
        transparent 50%,
        transparent 87.5%,
        white 87.5%,
        white 100%
      ), linear-gradient(
        to bottom,
        #7cc383 0%,
        #5dbe62 50%,
        #3bd047 51%,
        #15e81e 100%
      );
      background-size: 16px 16px, auto;
    }

    &.vertical {
      > trough {
        border: 1px solid #686868;
        border-radius: $progressbar_radius;
        background-color: #ffffff;
        box-shadow: inset 0.5px 0.5px 0px 1.5px #efefef,
                    inset 1px 1px #bebebe;
        padding: 4px 3px;
      }
      
      > trough > progress {
        background-image: linear-gradient(
          to bottom,
          transparent,
          transparent 37.5%,
          white 37.5%,
          white 50%,
          transparent 50%,
          transparent 87.5%,
          white 87.5%,
          white 100%),
          linear-gradient(to right,
          #7cc383 0%,
          #5dbe62 50%,
          #3bd047 51%,
          #15e81e 100%
        );
        background-size: 16px 16px, auto;
      }
    }

    &.horizontal > trough { min-width: 150px; }
    &.vertical > trough { min-height: 80px; }

    &.horizontal > trough,
    &.horizontal > trough > progress {
      min-height: 16px;
    }

    &.vertical > trough,
    &.vertical > trough > progress {
      min-width: 16px;
    }
  }
}
