@mixin dialogs() {
  window.dialog.message {
    // should be put in window section in '_common' and declared in '_properties'    
    box-shadow: 0 0 0 3px $osd_fg,
                0 3px 2px gtkalpha($dark_shadow, 0.2);

    .titlebar {
      min-height: 20px;
      background-color: $osd_bg;
      border-style: none;
      border-top-left-radius: $window_radius;
      border-top-right-radius: $window_radius;
      background: $osd_bg, linear-gradient(
        to bottom,
        gtkalpha($osd_fg, 0.6),
        gtkalpha($osd_fg, 0.1) 65%,
        transparent 66%
      );
    }
    
    box.dialog-vbox {
      background-color: $osd_bg;
      color: $osd_fg;
      border-bottom-left-radius: $window_radius;
      border-bottom-right-radius: $window_radius;
      
      &.vertical {
        border-spacing: 10px;
      }
    }

    label.title {
      font-weight: 800;
      font-size: 15pt;
    }
    
    &.csd {
      &.background {
	      border-bottom-left-radius: $window_radius;
        border-bottom-right-radius: $window_radius;
      }

      // TODO: make OSD button
      .dialog-action-area button {
        padding: 10px 14px;
        border-radius: 0px;
        border-left-style: solid;
        border-right-style: none;
        border-bottom-style: none;
        color: $osd_fg;
        background-image: linear-gradient(
          to bottom,
          gtkshade($osd_bg, 1.1) 40%,
          gtkshade($osd_bg, 0.75) 60%
        );
        
        &:focus {
          background-image: linear-gradient(
            to bottom,
            gtkshade($osd_bg, 1.3) 40%,
            gtkshade($osd_bg, 0.95) 60%
          );
        }

        &:first-child {
          border-left-style: none;
          border-bottom-left-radius: $window_radius;
        }

        &:last-child {
          border-bottom-right-radius: $window_radius;
        }
      }
    }
  }
}
