@mixin notebook_header() {
  background-color: $base_color;
      
  &:backdrop {
    background-color: $backdrop_base_color;
  }
  
  // if the header is drawn before the view, the connecting border is drawn over and is not displayed
  // add a 1px margin to draw the header away from the view and show the border
  &.top {
    margin-bottom: 1px;
    box-shadow: 0 1px $border_color;
  }
  &.bottom {
    box-shadow: 0 -1px $border_color;
  }
  &.left {
    margin-right: 1px;
    box-shadow: 1px 0 $border_color;
  }
  &.right {
    box-shadow: -1px 0 $border_color;
  }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    font-weight: bold;
    padding: 6px 20px;
    border-radius: $notebook_tab_radius;
    border: 0px solid $border_color;
    color: $fg_color;
    background-color: transparent;
    box-shadow: none;

    &:backdrop {
      border-color: $backdrop_border_color;
      background-color: transparent;
    }
    
    // separate tabs with their borders
    @if $pos == "top" or $pos == "bottom" {
      border-right-width: 1px;
      
      &:first-child { border-left-width: 1px; }
    }
    @else if $pos == "left" or $pos == "right" {
      border-bottom-width: 1px;
      
      &:first-child { border-top-width: 1px; }
    }
  }

  @else if $type == "checked" {
    color: $selected_bg_color;
    border-color: $border_color;
    background-color: $base_color;

    &:backdrop {
      background-image: none;
      background-color: transparent;
    }
  }
}
