@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  $_border : gtkshade($_bg, 0.275);
  
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  $_disabled_border : gtkshade($_bg, 0.7);
  
  @if $type == "base" {
    padding: 4px 9px;
    border-radius: $button_radius;
    border: 1px solid $_border;
    color: $_fg;
    background-color: $_bg;
    background-image: none;
    text-shadow: none;
    box-shadow: inset 2px 2px white,
                inset 1px 1px $_bg,
                inset -2px -2px gtkshade($_bg, 0.85), 
                inset -1px -1px gtkshade($_bg, 0.65);
    -gtk-icon-shadow: none;
  }
    
  @else if $type == "hover" {
    border-color: $_border;
    color: $_fg;
    background-color: $_bg;
    box-shadow: inset 2px 2px white,
                inset 1px 1px $_bg,
                inset -2px -2px gtkshade($_bg, 0.85), 
                inset -1px -1px gtkshade($_bg, 0.65);
  }

  @else if $type == "active"
  or $type == "checked" {
    background-color: gtkshade($_bg, 0.9);
    box-shadow: inset -2px -2px gtkshade(white, 0.9),
                inset -1px -1px gtkshade($_bg, 0.9),
                inset 2px 2px gtkshade($_bg, 0.85),
                inset 1px 1px gtkshade($_bg, 0.65);
  }

  @else if $type == "checked-disabled" {
    color: $_disabled_fg;
    box-shadow: none;
    border-color: gtkshade($_disabled_border, 0.9);
  }

  @else if $type == "disabled" {
    color: $_disabled_fg;
    box-shadow: none;
    border-color: $_disabled_border;
  }
  
  @else if $type == "flat" {
    border-color: transparent;
    border-radius: $button_radius;
    color: $_fg;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
  }
}
