@mixin menu() {
  menu, .menu {
    margin: 4px;
    padding: 0;
    border-radius: $menu_radius;
    border-style: none;
    color: $popover_fg_color;
    background-color: $popover_bg_color;

    .csd &, {
      padding: 4px 4px;
      border-radius: $menu_radius;
      box-shadow: inset 1px 1px $light_shadow,
                  inset -1px -1px gtkshade($bg_color, 0.85);
    }
    
    // TODO: arrow
    
    menuitem {
      min-height: 16px;
      min-width: 40px;
      padding: 4px;
      border: none;
      border-radius: 0;
      color: $popover_fg_color;
      background-color: $popover_bg_color;

      &:hover {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
        
        switch slider, scale highlight, scale slider {
          background-color: $selected_fg_color;
        }
        
        scale trough, switch {
          background-color: gtkalpha($selected_fg_color, 0.75);
        }
      }

      &:disabled {
        color: gtkmix($popover_fg_color, $popover_bg_color, 0.5);
      }

      // TODO: arrow

      accelerator { color: gtkalpha(currentColor, 0.55);
        &:hover { color: gtkalpha($selected_fg_color, 0.8); }
        &:disabled { color: gtkmix($popover_fg_color, $popover_bg_color, 0.5); }
      }
    }
  }
}
