@mixin progressbar_trough($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: 1px solid $dark_shadow;
    background-color: gtkshade($bg_color, 0.8);
    box-shadow: inset 1px 1px gtkshade($bg_color, 0.6),
                inset -1px -1px gtkshade($bg_color, 0.95);
  }
}

// TODO: remove hard-coded colors
@mixin progressbar($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: 1px solid #000055;
  }
  
  @else if $type == "horiz" {
    background-image: linear-gradient(
      to bottom,
      #333399 10%,
      $base_color,
      #000055 90%
    );
    box-shadow: inset 2px 0px gtkalpha($light_shadow, 0.4),
                inset -2px 0px gtkalpha($dark_shadow, 0.5);
  }
  
  @else if $type == "vert" {
    background-image: linear-gradient(
      to right,
      #333399 10%,
      $base_color,
      #000055 90%
    );
    box-shadow: inset 0px 2px gtkalpha($light_shadow, 0.4),
                inset 0px -2px gtkalpha($dark_shadow, 0.5);
  }
}
