@mixin scale_trough() {
  border: 1px solid gtkshade($border_color, 0.75);
  border-right-color: $light_shadow;
  border-bottom-color: $light_shadow;
  border-radius: 4px;
  background-color: gtkshade($bg_color, 0.85);
  outline-offset: 2px;
  box-shadow: inset 0px 0px 0px 1px $dark_shadow;
  
  &:disabled {
    border-color: gtkshade($border_color, 0.95);
    border-right-color: $light_shadow;
    border-bottom-color: $light_shadow;
    background-color: $disabled_bg_color;
    box-shadow: inset 0px 0px 0px 1px gtkalpha($dark_shadow, 0.2);
  }
}

@mixin scale_highlight() {
  border: none;
  border-radius: 4px;
  background-color: transparent;

  &:disabled { background-color: transparent;
    &:backdrop { background-color: transparent; }
  }
  &:backdrop { background-color: transparent; }
}

//margin-top: -6px;
//margin-bottom: -9px;
@mixin scale_slider() {
  min-width: $scale_slider_width;
  min-height: $scale_slider_height;
  margin: -$scale_slider_margin;
  //margin-bottom: -($scale_slider_height + 1px);
  border-radius: $scale_slider_radius;
  border: none;
  color: $selected_fg_color;
  background-color: transparent;
  background-position: center bottom;
  background-repeat: no-repeat;
  box-shadow: none;
  
  &:hover { color: $selected_fg_color; }
  &:backdrop { color: $backdrop_selected_fg_color; }
  
  background-image: url('assets/slider-horiz.png');

  &:hover { background-image: url('assets/slider-horiz.png'); }
  &:disabled { background-image: url('assets/slider-horiz-insensitive.png');
    &:backdrop { background-image: url('assets/slider-horiz-insensitive.png'); }
  }

  &:backdrop { background-image: url('assets/slider-horiz-insensitive.png'); }

  @at-root
  scale.vertical > trough > slider {
    min-width: $scale_slider_height;
    min-height: $scale_slider_width;
    margin: -$scale_slider_margin;
    //margin-right: -($scale_slider_height + 1px);
    background-position: right center;
    
    background-image: url('assets/slider-vert.png');

    &:hover { background-image: url('assets/slider-vert.png'); }
    &:disabled { background-image: url('assets/slider-vert-insensitive.png');
      &:backdrop { background-image: url('assets/slider-vert-insensitive.png'); }
    }

    &:backdrop { background-image: url('assets/slider-vert-insensitive.png'); }
  }
}
