@mixin scale_trough() {
  border: 1px solid gtkshade($border_color, 0.75);
  border-right-color: $light_shadow;
  border-bottom-color: $light_shadow;
  border-radius: $scale_trough_radius;
  background-color: gtkshade($bg_color, 0.85);
  box-shadow: inset 0px 0px 0px 1px $dark_shadow;
  
  &:disabled {
    border-color: gtkshade($border_color, 0.95);
    border-right-color: $light_shadow;
    border-bottom-color: $light_shadow;
    background-color: $disabled_bg_color;
    box-shadow: inset 0px 0px 0px 1px gtkalpha($dark_shadow, 0.2);
  }
}

@mixin scale_highlight() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: transparent;

  &:disabled { background-color: transparent;
    &:backdrop { background-color: transparent; }
  }
  &:backdrop { background-color: transparent; }
}

@mixin scale_slider($type : "base") {
  @if $type == "base" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size;
    margin: -$scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: none;
    color: $selected_fg_color;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   // TODO: fix assets
    box-shadow: none;
    
    &:hover { color: $selected_fg_color; }
    &:backdrop { color: $backdrop_selected_fg_color; }
  }
  
  @if $type == "horiz" /* or $type == "bottom" */ {
    background-image: url('assets/slider-horiz.png');

    &:hover { background-image: url('assets/slider-horiz.png'); }
    &:disabled { background-image: url('assets/slider-horiz-insensitive.png');
      &:backdrop { background-image: url('assets/slider-horiz-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-horiz-insensitive.png'); }
  }

  @if $type == "vert" /* or $type == "right" */ {
    background-image: url('assets/slider-vert.png');

    &:hover { background-image: url('assets/slider-vert.png'); }
    &:disabled { background-image: url('assets/slider-vert-insensitive.png');
      &:backdrop { background-image: url('assets/slider-vert-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-vert-insensitive.png'); }
  }
  
  // TODO: directional sliders
}
