@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: 1px solid $dark_shadow;
    background-color: gtkshade($bg_color, 0.8);
    box-shadow: inset 2px 2px gtkshade($bg_color, 0.6),
                inset -2px 0 gtkshade($bg_color, 0.95);
  }
  
  @if $type == "hint" {
    opacity: 1;
  }
}
    
@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: 1px solid gtkshade($selected_bg_color, 0.7);
    border-top-color: gtkmix($selected_bg_color, $light_shadow, 0.7);
    border-left-color: gtkmix($selected_bg_color, $light_shadow, 0.7);
    background-clip: padding-box;
    background-color: $selected_bg_color;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  @if $type == "hint" {
    margin: 0px;
  }
  
  @if $type == "horiz" {
    background-image: url('assets/handle-horiz.png');
  }
  
  @if $type == "vert" {
      background-image: url('assets/handle-vert.png');
  }
}
