@mixin switch() {
  margin: 4px;
  border-radius: $button_radius;
  border: 1px solid $border_color;
  color: $fg_color;
  background-color: gtkshade($bg_color, 0.8);
  box-shadow: inset 1px 1px gtkshade($bg_color, 0.6),
              inset -1px -1px gtkshade($bg_color, 0.95);

  &:checked {
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    box-shadow: inset 1px 1px gtkshade($selected_bg_color, 0.6),
                inset -1px -1px gtkshade($selected_bg_color, 0.95);
  }

  &:disabled {
    color: $disabled_fg_color;
    border-color: $disabled_bg_color;
    background-color: $disabled_bg_color;
    box-shadow: none;
  }
}

@mixin switch_slider($type : "base") {
  @if $type == "base" {
    margin: -1px;
    border: 1px solid $fg_color;
    border-radius: $button_radius;
    border-color: gtkshade($border_color, 0.55);
    background-color: $bg_color;
    background-image: none;
    box-shadow: inset 2px 2px $light_shadow,
                inset 1px 1px $bg_color,
                inset -2px -2px gtkshade($bg_color, 0.85),
                inset -1px -1px gtkshade($bg_color, 0.65);
  }

  @if $type == "disabled" {
    box-shadow: none;
    border-color: gtkshade($disabled_bg_color, 0.9);
    background-color: $disabled_bg_color;
  }
}
