@mixin switch() {
  switch {
    font-size: 0;
    color: transparent;
    outline-offset: -4px;
    margin: 4px;
    border: none;
    border-radius: $global_radius;
    background-color: $borders;

    &:checked {
      background-color: gtkshade($selected_bg_color, 0.7);

      &:backdrop {
        background-color: gtkshade($unfocused_selected_bg_color, 0.7);
      }
    }

    &:disabled {
      background-color: $disabled_bg_color;

      &:backdrop {
        background-color: $unfocused_disabled_bg_color;
      }
    }

    &:backdrop {
      background-color: $unfocused_borders;
    }

    slider {
      min-width: 20px;
      min-height: 16px;
      margin: 0;
      border: 1px solid gtkshade($borders, 0.8);
      border-radius: $global_radius;
      color: $fg_color;
      background-color: $base_color;
      background-image: linear-gradient(to bottom, $bg_color, gtkshade($bg_color, 0.9));
    }

    &:disabled {
      slider {
        background-color: $disabled_base_color;
      }

      &:backdrop slider {
        background-color: $unfocused_disabled_base_color;
      }
    }

    &:backdrop slider {
      background-color: $unfocused_base_color;
    }
  }
}
