@mixin button($type, $_bg : gtkshade($bg_color, 1.11), $_fg : $fg_color) {
  $_border : gtkshade($selected_bg_color, 0.75);
  
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  $_disabled_border : gtkmix($_border, $_disabled_bg, 0.5);
  
  // we use gradients for "shadows" since they look more accurate
  $_button_v_shadow :
    gtkalpha(black, 0.045) 1px,
    gtkalpha(black, 0.006) 2px,
    transparent 2px;

  $_button_h_shadow :
    gtkalpha(black, 0.13),
    transparent 3px;

  $_button_fill :
    gtkshade($_bg, 1.05),
    $_bg 3px,
    gtkshade($_bg, 0.97) 7px,
    gtkshade($_bg, 0.96) 50%,
    gtkshade($_bg, 0.95);
  
  @if $type == "base" {
    padding: 2px 6px;
    border-radius: $button_radius;
    border: 1px solid $_border;
    color: $_fg;
    background-color: $_bg;
    background-image: linear-gradient(to left, $_button_v_shadow),
      linear-gradient(to top, $_button_h_shadow),
      linear-gradient(to bottom, $_button_fill);
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }

  @else if $type == "hover" {
    &, &:focus {
      border-color: $_border;
      color: $_fg;
      background-image: linear-gradient(to left, $_button_v_shadow),
        linear-gradient(to top, $_button_h_shadow),
        linear-gradient(to bottom, $_button_fill);
      box-shadow: inset 0 0 0 2px $warning_color;
    }
  }

  @else if $type == "active"
  or $type == "checked" {
    border-color: $_border;
    color: $_fg;
    background-color: gtkshade($_bg, 0.95);
    background-image: linear-gradient(to right, $_button_v_shadow),
      linear-gradient(to bottom, $_button_h_shadow),
      linear-gradient(to top, $_button_fill);
  }
  
  @else if $type == "checked-disabled" {
    border-color: $_disabled_border;
    color: $_disabled_fg;
    background-color: gtkshade($_disabled_bg, 0.9);
  }

  @else if $type == "disabled" {
    border-color: $_disabled_border;
    color: $_disabled_fg;
    background-color: $_disabled_bg;
  }
  
  @else if $type == "undecorated" {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
}
