@mixin entry($type : "base") {
  // use different border color than luna. This is the only difference with luna/widgets/entry
  $_border : gtkmix($selected_bg_color, $bg_color, 0.3);
  $_disabled_border : gtkmix($_border, $disabled_bg_color, 0.5);
  
  @if $type == "base" {
    padding: 1px 5px;
    border-radius: $entry_radius;
    border: 1px solid $_border;
    color: $text_color;
    background-color: $base_color;
  }

  @else if $type == "focus" {
    box-shadow: none;
  }

  @else if $type == "disabled" {
    color: $disabled_text_color;
    border-color: $_disabled_border;
    background-color: $disabled_base_color;
  }

  @else if $type == "undecorated" {
    min-height: 0px;
    padding: 3px;
    border-radius: 0px;
    background-image: none;
    border-color: transparent;
  }
}
