@mixin headerbutton() {
  @include button("undecorated");
  color: $selected_fg_color;
  
  &:hover {
    @include button('hover', $headerbar_bg_color, $headerbar_fg_color);
  }
  &:active {
    @include button('active', $headerbar_bg_color, $headerbar_fg_color);
  }
  &:checked {
    @include button('checked', $headerbar_bg_color, $headerbar_fg_color);
  }
  &:checked:disabled {
    @include button('checked-disabled', $headerbar_bg_color, $headerbar_fg_color);
  }
  &:backdrop {
    color: gtkshade($selected_fg_color, 0.8);
  }
}

@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: url('assets/titlebar-focused-middle.png');
    background-size: 1px 100%;
    box-shadow: none;
    
    // TODO: remove text shadow for metallic theme
    .title {
      color: $selected_fg_color;
      //@if $theme != "xp-metallic" {
      text-shadow: 1px 1px black;
      
      &:backdrop {
        text-shadow: none;
        color: gtkalpha($selected_fg_color, 0.3);
      }
    }

    .subtitle {
      color: gtkalpha($selected_fg_color, 0.7);
    }
    
    button {
      // TODO: make headerbar buttons more like titlebuttons ?
      @include headerbutton();
    }
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
    background-image: url('assets/titlebar-unfocused-middle.png');
  }
}
    
@mixin titlebutton($type) {
  padding: 0px;
  min-width: 21px;
  min-height: 21px;
  border: none;
  color: transparent;
  background-color: transparent;
  background-size: 21px 21px;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: none;
  -gtk-icon-shadow: none;
      
  @if $type == "close" {
    background-image: url('assets/close-normal.png');
    
    &:hover { background-image: url('assets/close-hover.png'); }
    &:active { background-image: url('assets/close-active.png'); }

    &:backdrop { background-image: url('assets/close-backdrop.png');
      &:hover { background-image: url('assets/close-backdrop-hover.png'); }
      &:active { background-image: url('assets/close-active.png'); }
    }
  }

  @else if $type == "minimize" {
    background-image: url('assets/minimize-normal.png');
    
    &:hover { background-image: url('assets/minimize-hover.png'); }
    &:active { background-image: url('assets/minimize-active.png'); }

    &:backdrop { background-image: url('assets/minimize-backdrop.png');
      &:hover { background-image: url('assets/minimize-backdrop-hover.png'); }
      &:active { background-image: url('assets/minimize-active.png'); }
    }
  }

  @else if $type == "maximize" {
    background-image: url('assets/maximize-normal.png');
    
    &:hover { background-image: url('assets/maximize-hover.png'); }
    &:active { background-image: url('assets/maximize-active.png'); }

    &:backdrop { background-image: url('assets/maximize-backdrop.png');
      &:hover { background-image: url('assets/maximize-backdrop-hover.png'); }
      &:active { background-image: url('assets/maximize-active.png'); }
    }
  }
  
  @else if $type == "restore" {
    background-image: url('assets/restore-normal.png');
    
    &:hover { background-image: url('assets/restore-hover.png'); }
    &:active { background-image: url('assets/restore-active.png'); }

    &:backdrop { background-image: url('assets/restore-backdrop.png');
      &:hover { background-image: url('assets/restore-backdrop-hover.png'); }
      &:active { background-image: url('assets/restore-active.png'); }
    }
  }
}
