@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    background-color: transparent;
  }
  
  @else if $type == "hint" {
    opacity: 1.0;
  }
  
  @else if $type == "horiz" {
    background-image: url("assets/trough-scrollbar-horz.png");
  }
  
  @else if $type == "vert" {
    background-image: url("assets/trough-scrollbar-vert.png");
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    border: 5px solid transparent;
  }
  
  @else if $type == "hint" {
    margin: 0px;
  }
  
  @else if $type == "horiz" {
    min-width: $scrollbar_slider_size + 1;
    min-height: $scrollbar_slider_size;
    border-image: url("assets/scrollbar-slider-horz.png") 5 5 5 5 stretch;
    background: url("assets/handle-horz.png") no-repeat center center,
                url("assets/slider-bg-horz.png");

    &:hover {
      border-image: url("assets/scrollbar-slider-horz-hover.png") 5 5 5 5 stretch;
      background: url("assets/handle-horz-hover.png") no-repeat center center,
                  url("assets/slider-bg-horz-hover.png");
    }

    &:hover:active {
      border-image: url("assets/scrollbar-slider-horz-active.png") 5 5 5 5 stretch;
      background: url("assets/handle-horz-active.png") no-repeat center center,
                  url("assets/slider-bg-horz-active.png");
    }
  }
  
  @else if $type == "vert" {
    min-width: $scrollbar_slider_size + 1;
    min-height: $scrollbar_slider_size;
    border-image: url("assets/scrollbar-slider-vert.png") 5 5 5 5 stretch;
    background: url("assets/handle-vert.png") no-repeat center center,
                url("assets/slider-bg-vert.png");

    &:hover {
      border-image: url("assets/scrollbar-slider-vert-hover.png") 5 5 5 5 stretch;
      background: url("assets/handle-vert-hover.png") no-repeat center center,
                  url("assets/slider-bg-vert-hover.png");
    }

    &:hover:active {
      border-image: url("assets/scrollbar-slider-vert-active.png") 5 5 5 5 stretch;
      background: url("assets/handle-vert-active.png") no-repeat center center,
                  url("assets/slider-bg-vert-active.png");
    }
  }
}
