@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  $_border : $border_color;
  
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  
  @if $type == "base" {
    border: 1px solid gtkshade($_border, 0.5);
    color: $_fg;
    background-color: $_bg;
    background-image: linear-gradient(
      to bottom,
      gtkshade($_bg, 1.5),
      $_bg
    );
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    
    // TODO: outline
  }

  @else if $type == "hover" {
    color: $selected_bg_color;
    border-color: $selected_bg_color;
    color: $_fg;
    background-color: $_bg;
    background-image: linear-gradient(
      to bottom,
      gtkshade($_bg, 1.5),
      $_bg
    );
  }

  @else if $type == "active"
  or $type == "checked" {
    color: $_fg;
    border-color: gtkshade($_border, 0.7);
    outline-color: gtkshade($_border, 0.7);
    background-color: gtkmix($_bg, $selected_bg_color, 0.3);
    background-image: none;
  }
  
  @else if $type == "checked-disabled" {
    color: $_disabled_fg;
    border-color: gtkmix($_fg, $_disabled_bg, 0.85);
    background-color: gtkshade($_disabled_bg, 0.9);
  }

  @else if $type == "disabled" {
    color: $_disabled_fg;
  }
  
  @else if $type == "undecorated" {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
}
