@mixin menubar() {
  padding: 0px;
  border-style: none;
  color: $menubar_fg_color;
  background-color: $menubar_bg_color;
  background-image: linear-gradient(
    to bottom,
    gtkshade($menubar_bg_color, 0.95),
    $menubar_bg_color,
    gtkshade($menubar_bg_color, 0.95)
  );

  &:backdrop {
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
  }
}
    
@mixin menubaritem($state : "none") {
  @if $state == "none" {
    padding: 3px 5px;
    min-height: 12px;
    border-radius: 40px 0 0 40px;
    border: none;
    color: $menubar_fg_color;
    background-color: transparent;
  }

  @if $state == "hover" {
    color: $selected_fg_color;
    text-shadow: 1px 1px $dark_shadow;
    background-color: $selected_bg_color;
    background-image: linear-gradient(
      to right,
      $selected_bg_color 60%,
      $menubar_bg_color 95%
    );
  }

  @if $state == "disabled" {
    color: $disabled_fg_color;
    background-color: transparent;
  }

  @if $state == "backdrop" {
    color: $backdrop_fg_color;
    background-color: transparent;
  }
}
