@mixin progressbar_trough($type) {
  @if $type == "base" {
    padding: 2px;
    border-radius: $progressbar_radius;
    border: 1px solid gtkshade($bg_color, 0.8);
    border-bottom-color: $base_color;
    border-right-color: $base_color;
    background-color: $bg_color;
  }
}

// TODO: remove hard-coded colors
@mixin progressbar($type) {
  @if $type == "base" {
    border: 1px solid #4e5364;
    box-shadow: inset 0 0 0 1px gtkalpha(black, 0.05);
  }
  
  @else if $type == "horiz" {
    background-image: url('assets/progressbar-h.png');
    background-size: 100% 16px;
  }
  
  @else if $type == "vert" {
    background-image: url('assets/progressbar-v.png');
    background-size: 16px 100%;
  }
}
