@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: 1px solid gtkshade($border_color, 0.8);
    background-size: 100% 100%;
    background-color: transparent;
  }

  @else if $type == "hint" {
    opacity: 1;
  }
  
  @else if $type == "horiz" {
    background-image: url('assets/trough-h.png');
  }
  
  @else if $type == "vert" {
    background-image: url('assets/trough-v.png');
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: 7px solid transparent;
    background-color: transparent;
    background-clip: padding-box;
  }
  
  @else if $type == "hint" {
    margin: 0px;
  }
  
  @else if $type == "horiz" {
    border-image: url("assets/scrollbar-h-slider.png") 7 7 7 7 stretch;
    
    &:hover {
      border-image: url("assets/scrollbar-h-slider-active.png") 7 7 7 7 stretch;
    }
  }

  @else if $type == "vert" {
    border-image: url("assets/scrollbar-v-slider.png") 7 7 7 7 stretch;
    
    &:hover {
      border-image: url("assets/scrollbar-v-slider-active.png") 7 7 7 7 stretch;
    }
  }
}
