@mixin switch() {
  margin: 4px;
  font-size: 0;
  border-radius: $global_radius;
  border: 1px solid $border_color;
  color: transparent;
  background-color: $border_color;

  &:checked {
    border-color: $selected_bg_color;
    background-color: $selected_bg_color;

    &:backdrop {
      border-color: $backdrop_selected_bg_color;
      background-color: $backdrop_selected_bg_color;
    }
  }

  &:disabled {
    border-color: $disabled_bg_color;
    background-color: $disabled_bg_color;

    &:backdrop {
      border-color: $backdrop_disabled_bg_color;
      background-color: $backdrop_disabled_bg_color;
    }
  }

  &:backdrop {
    border-color: $backdrop_border_color;
    background-color: $backdrop_border_color;
  }
}

@mixin switch_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: 28px;
    min-height: 22px;
    border-radius: $global_radius;
    border: 1px solid gtkshade($border_color, 0.5);
    color: $fg_color;
    background-color: $base_color;
    background-image: linear-gradient(
      to bottom,
      $base_color,
      $bg_color
    );
  }

  @if $type == "disabled" {
    background-color: $disabled_base_color;
    border: 1px solid gtkshade($border_color, 0.75);
  }

  @if $type == "disabled-backdrop" {
    background-color: $backdrop_disabled_base_color;
    border: 1px solid gtkshade($backdrop_border_color, 0.75);
  }

  @if $type == "backdrop" {
    background-color: $backdrop_base_color;
  }
}
