@mixin suggested_button() {
  button.suggested-action {
    border-width: 1px;
    border-style: solid;
    border-radius: $button_radius;
    border-color: $selected_bg_color;
    color: gtkmix($selected_fg_color, $selected_bg_color, 0.1);
    background-color: gtkmix($selected_bg_color, $selected_fg_color, 0.25);
    background-image: linear-gradient(to bottom, gtkshade($selected_bg_color, 1.2), gtkshade($selected_bg_color, 0.8));

    &:hover {
    }

    &:active, &:checked {
      border-color: gtkmix($selected_bg_color, $fg_color, 0.1);
      background-color: gtkmix($selected_bg_color, $fg_color, 0.1);
      background-image: linear-gradient(to top, gtkshade($selected_bg_color, 1.2), gtkshade($selected_bg_color, 0.8));

      &:backdrop {
        border-color: gtkmix($unfocused_selected_bg_color, $unfocused_fg_color, 0.1);
        background-color: gtkmix($unfocused_selected_bg_color, $unfocused_fg_color, 0.1);
      }
    }

    &:disabled {
      border-color: gtkmix($selected_bg_color, $disabled_bg_color, 0.2);
      color: gtkmix($selected_fg_color, $disabled_fg_color, 0.2);
      background-color: gtkmix($selected_bg_color, $disabled_bg_color, 0.2);
      background-image: none;

      &:backdrop {
        border-color: gtkmix($unfocused_selected_bg_color, $unfocused_disabled_bg_color, 0.2);
        color: gtkmix($unfocused_selected_fg_color, $unfocused_disabled_fg_color, 0.2);
        background-color: gtkmix($unfocused_selected_bg_color, $unfocused_disabled_bg_color, 0.2);
      }
    }

    &:backdrop {
      border-color: $unfocused_selected_bg_color;
      color: $unfocused_selected_fg_color;
      background-color: $unfocused_selected_bg_color;
      background-image: linear-gradient(to bottom, gtkshade($unfocused_selected_bg_color, 1.2), gtkshade($unfocused_selected_bg_color, 0.8));
    }
  }
}
