@mixin suggested_button() {
  button.suggested-action {
    border-width: 1px;
    border-style: solid;
    border-radius: $button_radius;
    border-color: $theme_selected_bg_color;
    color: gtkmix($theme_selected_fg_color, $theme_selected_bg_color, 0.1);
    background-color: gtkmix($theme_selected_bg_color, $theme_selected_fg_color, 0.25);
    background-image: linear-gradient(to bottom, gtkshade($theme_selected_bg_color, 1.2), gtkshade($theme_selected_bg_color, 0.8));

    &:hover {
    }

    &:active, &:checked {
      border-color: gtkmix($theme_selected_bg_color, $theme_fg_color, 0.1);
      background-color: gtkmix($theme_selected_bg_color, $theme_fg_color, 0.1);
      background-image: linear-gradient(to top, gtkshade($theme_selected_bg_color, 1.2), gtkshade($theme_selected_bg_color, 0.8));

      &:backdrop {
        border-color: gtkmix($theme_unfocused_selected_bg_color, $theme_unfocused_fg_color, 0.1);
        background-color: gtkmix($theme_unfocused_selected_bg_color, $theme_unfocused_fg_color, 0.1);
      }
    }

    &:disabled {
      border-color: gtkmix($theme_selected_bg_color, $theme_disabled_bg_color, 0.2);
      color: gtkmix($theme_selected_fg_color, $theme_disabled_fg_color, 0.2);
      background-color: gtkmix($theme_selected_bg_color, $theme_disabled_bg_color, 0.2);
      background-image: none;

      &:backdrop {
        border-color: gtkmix($theme_unfocused_selected_bg_color, $theme_unfocused_disabled_bg_color, 0.2);
        color: gtkmix($theme_unfocused_selected_fg_color, $theme_unfocused_disabled_fg_color, 0.2);
        background-color: gtkmix($theme_unfocused_selected_bg_color, $theme_unfocused_disabled_bg_color, 0.2);
      }
    }

    &:backdrop {
      border-color: $theme_unfocused_selected_bg_color;
      color: $theme_unfocused_selected_fg_color;
      background-color: $theme_unfocused_selected_bg_color;
      background-image: linear-gradient(to bottom, gtkshade($theme_unfocused_selected_bg_color, 1.2), gtkshade($theme_unfocused_selected_bg_color, 0.8));
    }
  }
}
