@mixin scale_trough() {
  border: 1px solid $border_color;
  border-radius: $scale_trough_radius;
  background-color: $bg_color;
  background-image: linear-gradient(
    to bottom left,
    $base_color 33%,
    $fg_color 34%,
    $fg_color 66%,
    $base_color 67%
  );
  background-size: 3px 3px, auto;

  &:disabled {
    border-color: $backdrop_border_color;
    background-color: $disabled_bg_color;

    &:backdrop {
      background-color: $backdrop_disabled_bg_color; }
  }

  &:backdrop {
    background-color: $backdrop_bg_color;
  }
}

@mixin scale_highlight() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: transparent;
}

@mixin scale_slider($orient : "base") {
  @if $orient == "base" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size - 4px;
    margin: -$scale_slider_margin;
    border: 1px solid $border_color;
    border-radius: $scale_slider_radius;
    color: $fg_color;
    background-color: $bg_color;
    background-image: none;
    box-shadow: none;

    &:disabled {
      border-color: $backdrop_border_color;
      background-color: $disabled_bg_color;

      &:backdrop {
        background-color: $backdrop_disabled_bg_color;
      }
    }

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
    }
    
  }
  
  @if $orient == "vert" {
    min-width: $scale_slider_size - 4px;
    min-height: $scale_slider_size;
  }
}
