@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    box-shadow: inset 0 0 0 1px $border_color;
    background-color: $base_color;
    background-image: linear-gradient(
      to bottom left,
      $base_color 33%,
      $fg_color 34%,
      $fg_color 66%,
      $base_color 67%
    );
    background-size: 3px 3px, auto;
  }
  
  @else if $type == "hint" {
    opacity: 1;
  }
}

// TODO: similar slider to system-4, unify
@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: 1px solid $border_color;
    background-color: $bg_color;

    &:hover:active { background-color: $selected_bg_color; }
    &:disabled { background-color: $disabled_bg_color; }
  }
}
