@mixin switch() {
  margin: 4px;
  font-size: 0;
  border-radius: $global_radius + 1;
  border: 1px solid $border_color;
  background-color: $bg_color;
  
  &:checked {
    background-color: $selected_bg_color;
    
    &:backdrop {
      background-color: $backdrop_selected_bg_color;
    }
  }

  &:disabled {
    border-color: $disabled_fg_color;
    background-color: $disabled_bg_color;

    &:backdrop {
      border-color: $backdrop_disabled_fg_color;
      background-color: $backdrop_disabled_bg_color;
    }
  }

  &:backdrop {
    border-color: $backdrop_border_color;
    background-color: $backdrop_bg_color;
  }
}

@mixin switch_slider($type : "base") {
  @if $type == "base" {
    margin: -1px;
    min-width: 26px;
    min-height: 20px;
    border-radius: $global_radius;
    border: 1px solid $border_color;
    color: $fg_color;
    background-color: $base_color;
    background-image: none;
    box-shadow: none;
  }

  @else if $type == "disabled" {
    background-color: $disabled_bg_color;
  }

  @else if $type == "disabled-backdrop" {
    background-color: $backdrop_disabled_bg_color;
  }

  @else if $type == "backdrop" {
    background-color: $backdrop_base_color;
  }
}
