// HACK: use $_bg as background when the button is checked and as fg color otherwise
@mixin button($type, $_bg : $selected_bg_color, $_fg : $selected_fg_color) {
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  
  $_backdrop_fg : gtkalpha($_bg, 0.8);
  
  $_backdrop_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_backdrop_disabled_fg : gtkmix($_fg, $_bg, 0.5);

  @if $type == "base" {
    padding: 4px 8px;
    border-radius: $button_radius;
    border: 1px solid transparent;
    color: $_bg;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    
    // TODO: make suggested-button bolder?
  }
  
  @else if $type == "hover" {
    background-color: gtkalpha($fg_color, 0.1);
  }

  // normal states
  @else if $type == "active"
  or $type == "checked" {
    color: $_fg;
    background-color: $_bg;
  }

  // checked backdrop buttons will all look the same, but is it bad?
  @else if $type == "checked-backdrop" {
    color: $backdrop_selected_fg_color;
    background-color: $backdrop_selected_bg_color;
  }
    
  @else if $type == "checked-disabled" {
    color: $_disabled_fg;
    background-color: gtkshade($_disabled_bg, 0.9);
  }
    
  @else if $type == "checked-disabled-backdrop" {
    color: $_backdrop_disabled_fg;
    background-color: gtkshade($_backdrop_disabled_bg, 0.9);
  }

  @else if $type == "disabled" {
    color: $_disabled_fg;
  }
  
  @else if $type == "disabled-backdrop" {
    color: $_backdrop_disabled_fg;
  }

  @else if $type == "backdrop" {
    color: $_backdrop_fg;
  }
  
  // TODO: merge types with non-flat styles? All buttons are flat anyways
  @else if $type == "flat" {
    border-radius: $button_radius;
    border-color: transparent;
    color: $_bg;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
  
  @else if $type == "flat-backdrop" {
    color: $_backdrop_fg;
  }
  
  @else if $type == "flat-disabled" {
    color: $_disabled_fg;
  }
  
  @else if $type == "flat-disabled-backdrop" {
    color: $_backdrop_disabled_fg;
  }
}
