@mixin normal_buttons($bg, $fg, $br) {
  & {
    padding: 4px 8px;
    border-style: solid;
    border-width: 0;
    border-radius: $button_radius;
    color: $fg;
    border-color: $br;
    background-color: $bg;
    -gtk-outline-radius: $button_radius;

    &:active, &:checked {
      color: $selected_fg_color;
      border-color: $selected_bg_color;
      background-color: $selected_bg_color;

      &:backdrop {
        color: $unfocused_selected_fg_color;
        border-color: $unfocused_selected_bg_color;
        background-color: $unfocused_selected_bg_color;
      }
      
      &:disabled {
        color: $disabled_fg_color;
        border-color: gtkmix($br, $disabled_bg_color, 0.85);
        background-color: gtkshade($disabled_bg_color, 0.9);
        
        &:backdrop {
          color: $unfocused_disabled_fg_color;
          border-color: $unfocused_borders;
          background-color: gtkshade($unfocused_disabled_bg_color, 0.9);
        }
      }
    }

    &:disabled {
      color: gtkmix($fg, $unfocused_disabled_fg_color, 0.5);
      border-color: gtkmix($br, $unfocused_disabled_fg_color, 0.5);
      
      &:backdrop {
        color: $unfocused_disabled_fg_color;
        border-color: $unfocused_disabled_fg_color;
      }
    }

    &:backdrop {
      color: $unfocused_fg_color;
      border-color: $unfocused_fg_color;
    }
  }
}

@mixin flat_buttons($bg, $fg, $br)
{
  & {
    border-color: transparent;
    border-radius: $button_radius;
    color: $fg;
    background-color: transparent;

    &:hover {
      border-color: $br;
      color: $fg;
      background-color: $bg;
    }

    &:active, &:checked {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
      
      &:backdrop {
        color: $unfocused_selected_fg_color;
        background-color: gtkshade($unfocused_selected_bg_color, 0.6);
      }
    }

    &:disabled {
      border-color: transparent;
      color: gtkalpha($br, 0.8);
      background-color: transparent;
      
      &:backdrop {
        border-color: transparent;
        color: gtkalpha($br, 0.7);
        background-color: transparent;
      }
    }

    &:backdrop {
      border-color: transparent;
      background-color: transparent;
      color: $unfocused_fg_color;
    }
  }
}

@mixin button() {
  button {
    @include normal_buttons(transparent, $selected_bg_color, transparent);
    
    &.flat {
      @include flat_buttons(transparent, $selected_bg_color, transparent);
    }
  }
}
