@mixin entry($type : "base") {
  @if $type == "base" {
    padding: 5px;
    border-radius: $entry_radius;
    border: 1px solid $base_color;
    color: $text_color;
    background-color: $base_color;
  }

  @else if $type == "focus" {
    border-color: $selected_bg_color;
    box-shadow: none;
  }

  @else if $type == "disabled" {
    border-color: gtkshade($disabled_bg_color, 1.075);
    color: $disabled_text_color;
    background-color: gtkshade($disabled_bg_color, 1.075);
  }

  @else if $type == "disabled-backdrop" {
    border-color: gtkshade($backdrop_disabled_bg_color, 1.075);
    color: $backdrop_disabled_fg_color;
    background-color: gtkshade($backdrop_disabled_bg_color, 1.075);
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: $backdrop_base_color;
  }

  @else if $type == "flat" {
    min-height: 0px;
    padding: 3px;
    border-radius: 0px;
    background-image: none;
    border-color: transparent;
  }
  
  // TODO: linked states
}
