@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    box-shadow: none;

    button {
      @include flat_buttons($headerbar_bg_color, $headerbar_fg_color, $border_color);
    }
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
  }
}
    
@mixin titlebutton($type) {
  // we can use padding and skip min-height/width and background-size
  // since the images are SVGs, so they scale when rendered
  padding: 2px 2px;
  border: none;
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: none;
  -gtk-icon-shadow: none;
      
  @if $type == "close" {
    background-image: url('assets/close-normal.svg');
    
    &:hover { background-image: url('assets/close-hover.svg'); }
    &:active { background-image: url('assets/close-active.svg'); }
    &:backdrop { background-image: url('assets/close-backdrop.svg'); }
  }

  @else if $type == "minimize" {
    background-image: url('assets/minimize-normal.svg');
    
    &:hover { background-image: url('assets/minimize-hover.svg'); }
    &:active { background-image: url('assets/minimize-active.svg'); }
    &:backdrop { background-image: url('assets/minimize-backdrop.svg'); }
  }

  @else if $type == "maximize" {
    background-image: url('assets/maximize-normal.svg');
    
    &:hover { background-image: url('assets/maximize-hover.svg'); }
    &:active { background-image: url('assets/maximize-active.svg'); }
    &:backdrop { background-image: url('assets/maximize-backdrop.svg'); }
  }
}
