@mixin linked_styles() {
  .linked, .osd .linked, .linked .primary-toolbar {
    button, .raised button, button:hover, .raised button:hover {
      border-color: $base_color;
      background-color: $base_color;
      
      &:disabled, &:backdrop, &:disabled:backdrop {
        border-color: $base_color;
        background-color: $base_color;
      }
      
      &:checked, &:active {
        color: $selected_fg_color;
        border-color: $selected_bg_color;
        background-color: $selected_bg_color;
        
        &:backdrop {
          color: $backdrop_selected_fg_color;
          border-color: $backdrop_selected_bg_color;
          background-color: $backdrop_selected_bg_color;
        }
      }
    }
  
    entry {
      border-color: $base_color;

      &:disabled, &:backdrop { border-color: $base_color; }
      &:checked, &:active { border-color: $selected_bg_color; }

      &:focus, &:last-child:focus {
        border-color: $selected_bg_color;
        box-shadow: -1px 0 $selected_bg_color;
      }
        
      &:first-child:focus, &:only-child:focus {
        box-shadow: none;
        border-color: $selected_bg_color;
      }
    }
    
    &.vertical {
      entry {
        &:focus, &:last-child:focus {
          border-color: $selected_bg_color;
          box-shadow: 0 -1px $selected_bg_color;
        }

        &:first-child:focus {
          box-shadow: none;
          border-color: $selected_bg_color;
        }
      }
      
      spinbutton:focus { box-shadow: 0 -1px $selected_bg_color; }
    }
  }
  
  .stack-switcher {
    button, button:hover {
      min-height: 20px;
      min-width: 80px;
      box-shadow: none;
      border-color: $selected_bg_color;
      
      &:backdrop {
        border-color: $backdrop_selected_bg_color; 
      }

      &:checked, &:active {
        background-color: $selected_bg_color;
        color: $selected_fg_color;
        
        &:backdrop {
          color: $backdrop_selected_fg_color;
          background-color: $backdrop_selected_bg_color;
        }
      }
    }
  }
  
  .primary-toolbar {
    button, .raised button {
      &, &:first-child, &:last-child {
        border-radius: $button_radius;
        border-width: 0;
      }
      
      &:backdrop, &:disabled, &:disabled:backdrop { background-color: transparent; }
    }
  }
}
