@mixin notebook_header() {
  background-color: $base_color;
      
  &:backdrop {
    background-color: $backdrop_base_color;
  }
  
  &.top {
    box-shadow: 0 1px $border_color;
  }
  &.bottom {
    box-shadow: 0 -1px $border_color;
  }
  &.left {
    box-shadow: 1px 0 $border_color;
  }
  &.right {
    box-shadow: -1px 0 $border_color;
  }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    padding: 4px 20px;
    border-radius: $notebook_tab_radius;
    border: none;
    color: $fg_color;
    background-color: transparent;
    box-shadow: none;
    
    &:backdrop {
      background-color: transparent;
    }
  }
  
  @else if $type == "checked" {
    color: $selected_fg_color;
    border-color: $selected_bg_color;
    background-color: $selected_bg_color;

    &:backdrop {
      border-color: $backdrop_border_color;
      background-color: $backdrop_selected_bg_color;
    }
    
    button.flat,
    button.flat:hover {
      color: $selected_fg_color;
    }
  }
}
