@mixin scale_trough() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: gtkmix($bg_color, $fg_color, 0.1);

  &:disabled { background-color: gtkmix($bg_color, $fg_color, 0.05);
    &:backdrop { background-color: gtkmix($backdrop_fg_color, $backdrop_bg_color, 0.95); }
  }
  &:backdrop { background-color: gtkmix($backdrop_fg_color, $backdrop_bg_color, 0.95); }
}

@mixin scale_highlight() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: $selected_bg_color;

  &:disabled { background-color: $disabled_bg_color;
    &:backdrop { background-color: $backdrop_disabled_bg_color; }
  }
  &:backdrop { background-color: $backdrop_selected_bg_color; }
}

@mixin scale_slider($type : "base") {
  @if $type == "base" {
    min-height: $scale_slider_size;
    min-width: $scale_slider_size;
    margin: -$scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: none;
    color: $fg_color;
    background-color: $base_color;
    background-image: none;
    box-shadow: 0 1px 2px 1px gtkalpha(black, 0.2);

    &:hover {
      color: $fg_color;
      background-color: $base_color;
    }

    &:disabled { background-color: $disabled_base_color;
      &:backdrop { background-color: $backdrop_disabled_base_color; }
    }

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_base_color;
    }
  }
}
