@mixin spinbutton() {
  spinbutton {
    &.horizontal {
      border: 1px solid $base_color;
      border-radius: $entry_radius;
      background-color: $base_color;
      
      &:disabled {
        color: $disabled_text_color;
        border-color: $disabled_base_color;
        background-color: $disabled_base_color;

        &:backdrop {
          color: $backdrop_disabled_text_color;
          border-color: $backdrop_disabled_base_color;
          background-color: $backdrop_disabled_base_color;
        }
      }
      
      &:backdrop {
        border-color: $backdrop_base_color;
        background-color: $backdrop_base_color;
      }
      
      &:focus { border-color: $selected_bg_color; }
    
      entry {
        border: none;
        padding: 7px 15px;
        background: none;
        border-radius: $entry_radius 0 0 $entry_radius;
      }
      
      button {
        border: none;
        border-radius: 0;
        background: none;
        
        &:disabled { color: $disabled_text_color; background: none; }
        
        &.up { border-radius: 0 $entry_radius $entry_radius 0; }
      }
    }

    &.vertical {
      button {
        padding: 7px 2px;
        background-color: $base_color;

        &:disabled { color: $disabled_text_color; }
        
        &.up {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-width: 0;
        }

        &.down {
          border-top-width: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
      entry {
        padding: 7px 2px;
        border-width: 0;
        border-radius: 0;
      }
    }
  }
}
