@mixin entry($type : "base") {
  @if $type == "base" {
    padding: 5px;
    border-radius: $entry_radius;
    border: 1px solid gtkshade($border_color, 0.85);
    color: $text_color;
    background-color: $base_color;
    box-shadow: inset 0 0 2px 0 gtkalpha(black, 0.08),
                inset 0 1px gtkshade($bg_color, 0.8);
  }

  @else if $type == "focus" {
    box-shadow: inset 0 0 1px 3px gtkshade($selected_bg_color, 1.9);
  }

  @else if $type == "disabled" {
    color: $disabled_text_color;
    background-color: $disabled_base_color;
    box-shadow: inset 0 0 2px 0 gtkalpha(black, 0.045),
                inset 0 1px gtkshade($bg_color, 0.95);
  }

  @else if $type == "disabled-backdrop" {
    color: $backdrop_disabled_fg_color;
    border-color: $backdrop_border_color;
    background-color: $backdrop_disabled_base_color;
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: $backdrop_base_color;
  }

  @else if $type == "flat" {
    min-height: 0px;
    padding: 3px;
    border-radius: 0px;
    box-shadow: none;
    background-image: none;
    border-color: transparent;
  }
}
