@mixin menubar() {
  padding: 0px;
  border-style: none;
  color: $menubar_fg_color;
  background-color: $menubar_bg_color;

  &:backdrop {
    color: $backdrop_fg_color;
    background-color: gtkshade($backdrop_bg_color, 0.95);
  }
}
    
@mixin menubaritem($state : "base") {
  @if $state == "base" {
    padding: 3px 5px;
    min-height: 12px;
    border: none;
    color: $menubar_fg_color;
    background-color: transparent;
  }

  @else if $state == "hover" {
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.45),
      gtkshade($selected_bg_color, 1.2)
    );
  }

  @else if $state == "disabled" {
    color: $disabled_fg_color;
    background-color: transparent;
  }

  @else if $state == "backdrop" {
    color: $backdrop_fg_color;
    background-color: transparent;
  }
}
