@mixin scale_trough() {
  border: 1px solid gtkshade($border_color, 0.8);
  border-left-color: gtkshade($border_color, 0.9);
  border-right-color: gtkshade($border_color, 0.9);
  border-bottom-color: gtkshade($border_color, 0.95);
  border-radius: $scale_trough_radius;
  background-color: gtkalpha(black, 0.15);
  box-shadow: inset 0 2px 2px 0 gtkalpha(black, 0.25);

  &:disabled { background-color: gtkalpha(black, 0.05);
    &:backdrop { background-color: gtkalpha(black, 0.05); }
  }
  &:backdrop { background-color: gtkalpha(black, 0.1); }
  
  @at-root
  scale.vertical > trough {
    border: 1px solid gtkshade($border_color, 0.8);
    border-top-color: gtkshade($border_color, 0.9);
    border-bottom-color: gtkshade($border_color, 0.9);
    border-right-color: gtkshade($border_color, 0.95);
    box-shadow: inset 2px 0 2px 0 gtkalpha(black, 0.25);
  }
}

@mixin scale_highlight() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: transparent;

  &:disabled { background-color: transparent;
    &:backdrop { background-color: transparent; }
  }
  &:backdrop { background-color: transparent; }
}

@mixin scale_slider($type : "base") {
  @if $type == "base" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size;
    margin: -$scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: 1px solid gtkshade($border_color, 0.8);
    color: $fg_color;
    background-color: gtkshade($bg_color, 0.8);
    background-image: linear-gradient(
      to bottom,
      $base_color 40%,
      $bg_color 60%
    );

    &:hover {
      color: $fg_color;
      background-color: $base_color;
    }

    &:disabled { background-color: $disabled_base_color;
      &:backdrop { background-color: $backdrop_disabled_bg_color; }
    }

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_base_color;
    }
  }
  
  // TODO: directional sliders (with assets)
}
