@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    background-color: $base_color;

    &:backdrop {
      background-color: $backdrop_base_color;
    }
  }
  
  @else if $type == "hint" {
    opacity: 1.0;
  }
  
  // TODO: do borders like adwaita?
  @else if $type == "vert" {
    border-left: 1px solid $border_color;
  }
  
  @else if $type == "horiz" {
    border-top: 1px solid $border_color;
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 2px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: none;
    background-clip: padding-box;
    background-color: gtkshade($bg_color, 0.6);

    &:hover { background-color: gtkshade($bg_color, 0.6); }
    &:hover:active { background-color: gtkshade($bg_color, 0.55); }
    &:backdrop { background-color: gtkshade($bg_color, 0.55); }
    &:disabled { background-color: transparent; }
  }
  
  @else if $type == "hint" {
    margin: 2px;
    opacity: 1;
  }
}
