// TODO: remove hard-coded colors
@mixin switch() {
  margin: 4px;
  font-weight: bold;
  font-size: 6pt;
  border-radius: 16px;
  border: 1px solid $border_color;
  color: gtkalpha($fg_color, 0.6);
  background-color: $base_color;
  box-shadow: inset 0 10px #eeeeee,
              inset 0 2px gtkalpha($dark_shadow, 0.1);

  &:checked {
    color: $selected_fg_color;
    border-color: $border_color;
    background-color: $border_color;
    background-image: linear-gradient(
      to bottom,
      #2491ec 50%,
      #71b4ee
    );
    box-shadow: inset 0 10px #017fe9,
                inset 0 2px gtkalpha($dark_shadow, 0.1);

    &:backdrop {
      border-color: $backdrop_border_color;
      background-color: $backdrop_border_color;
    }
  }

  &:disabled {
    border-color: $disabled_bg_color;
    background-color: $disabled_bg_color;

    &:backdrop {
      border-color: $backdrop_disabled_bg_color;
      background-color: $backdrop_disabled_bg_color;
    }
  }

  &:backdrop {
    border-color: $backdrop_border_color;
    background-color: $backdrop_border_color;
  }
}

@mixin switch_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: 24px;
    min-height: 24px;
    border-radius: 100%;
    border: none;
    color: $fg_color;
    background-color: $base_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($base_color, 0.9),
      $base_color
    );
    box-shadow: 0 2px 2px 1px gtkalpha($dark_shadow, 0.09);
  }

  @if $type == "disabled"{
    background-color: $disabled_base_color;
    box-shadow: inset 0 1px transparent;
  }

  @if $type == "disabled-backdrop" {
    background-color: $backdrop_disabled_base_color;
  }

  @if $type == "backdrop" {
    background-color: $backdrop_base_color;
    box-shadow: inset 0 1px transparent;
  }
}
