@mixin background() {
  .background {
    color: $fg_color;
    background-color: gtkalpha($bg_color, 0.999);
    background-image: linear-gradient(to bottom, gtkshade($bg_color, 1.1), gtkshade($bg_color, 0.9));

    &:backdrop {
      color: $backdrop_fg_color; 
      background-color: gtkalpha($backdrop_bg_color, 0.999);
    }
  }
  
  window.background {
    border-bottom-left-radius: $window_radius;
    border-bottom-right-radius: $window_radius;
  }
  
  // HACK: for rounded menus this has to override the .background definition
  window.background.csd.popup {
    border-radius: $window_radius;
  }
}
