@mixin checkradio() {
  checkbutton,
  radiobutton {
    outline: none;
  }

  checkbutton.text-button,
  radiobutton.text-button {
    // this is for a nice focus on check and radios text
    padding: 2px;

    label:not(:only-child) { margin: 0 4px; }
  }

  check,
  radio {
    min-height: 24px;
    min-width: 24px;
    margin: -8px;
    padding: 8px;

    &:hover { box-shadow: inset 0 0 0 9999px gtkalpha(currentColor, 0.08); }

    &:focus { box-shadow: inset 0 0 0 9999px gtkalpha(currentColor, 0.12); }

    &:focus:hover { box-shadow: inset 0 0 0 9999px gtkalpha(currentColor, 0.16); }

    &:checked, &:indeterminate {
      color: $theme_selected_bg_color;

      &:disabled { color: $theme_unfocused_selected_bg_color; }
    }

    // &:only-child { margin: -12px; }

    popover modelbutton.flat & {
      &, &:hover, &:focus, &:focus:hover, &:active, &:disabled {
        transition: none;
        box-shadow: none;
        background-image: none;
      }

      &:not(:checked):not(:indeterminate):not(:disabled) { color: $theme_unfocused_selected_bg_color; }

      &.left:dir(rtl) {
        margin-left: -12px;
        margin-right: -4px;
      }

      &.right:dir(ltr) {
        margin-left: -4px;
        margin-right: -12px;
      }
    }

    menu menuitem & {
      transition: none;
      margin: 0; // this is a workaround for a menu check/radio size allocation issue
      padding: 0;

      &:dir(ltr) { margin-right: 8px; }

      &:dir(rtl) { margin-left: 8px; }

      &:not(:checked):not(:indeterminate):not(:disabled) { color: $theme_unfocused_selected_bg_color; }

      &, &:hover, &:disabled {
        box-shadow: none;
      }
    }
  }

  %check,
  check {
    -gtk-icon-source: -gtk-recolor(url("assets/checkbox-unchecked-symbolic.svg"));

    &:checked { -gtk-icon-source: -gtk-recolor(url("assets/checkbox-checked-symbolic.svg")); }

    &:indeterminate { -gtk-icon-source: -gtk-recolor(url("assets/checkbox-mixed-symbolic.svg")); }
  }

  %radio,
  radio {
    -gtk-icon-source: -gtk-recolor(url("assets/radio-unchecked-symbolic.svg"));

    // &:checked { -gtk-icon-source: -gtk-recolor(url("assets/radio-checked-symbolic.svg")); }

    &:indeterminate { -gtk-icon-source: -gtk-recolor(url("assets/radio-mixed-symbolic.svg")); }

    border-image-slice: 20;
    border-image-width: 20px;

    & {
      border-image-source: -gtk-gradient(radial,
                                         center center, 0,
                                         center center, 0.001,
                                         to($theme_selected_bg_color),
                                         to(transparent));
    }

    &:checked:not(:indeterminate) {
      border-image-source: -gtk-gradient(radial,
                                         center center, 0,
                                         center center, 0.125,
                                         to($theme_selected_bg_color),
                                         to(transparent));
    }

    &:checked:not(:indeterminate):disabled {
      border-image-source: -gtk-gradient(radial,
                                         center center, 0,
                                         center center, 0.125,
                                         to($theme_unfocused_selected_bg_color),
                                         to(transparent));
    }
  }

  menu menuitem check {
    & {
      min-height: 16px;
      min-width: 16px;
      border-radius: 4px;
      -gtk-outline-radius: 4px;
      -gtk-icon-source: -gtk-recolor(url("assets/small-checkbox-unchecked-symbolic.svg"));
    }

    &:checked { -gtk-icon-source: -gtk-recolor(url("assets/small-checkbox-checked-symbolic.svg")); }

    &:indeterminate { -gtk-icon-source: -gtk-recolor(url("assets/small-checkbox-mixed-symbolic.svg")); }
  }

  menu menuitem radio {
    & {
      min-height: 16px;
      min-width: 16px;
      border-image: none;
      -gtk-icon-source: -gtk-recolor(url("assets/small-radio-unchecked-symbolic.svg"));
    }

    &:checked { -gtk-icon-source: -gtk-recolor(url("assets/small-radio-checked-symbolic.svg")); }

    &:indeterminate { -gtk-icon-source: -gtk-recolor(url("assets/small-radio-mixed-symbolic.svg")); }
  }
}
