// Normal colors
$bg_color : #000000;
$fg_color : #FFFFFF;
$base_color : #000000;
$text_color : #FFFFFF;
$selected_bg_color : #0080DD;
$selected_fg_color : #FFFFFF;
$selected_text_bg_color : #B2E2F6;
$selected_text_color : #000000;
$disabled_bg_color : gtkmix($fg_color, $bg_color, 0.9);
$disabled_fg_color : gtkmix($fg_color, $bg_color, 0.675);
$disabled_base_color : $disabled_bg_color;
$disabled_text_color : $disabled_fg_color;

// Backdrop state colors
$backdrop_bg_color : $bg_color;
$backdrop_fg_color : $fg_color;
$backdrop_base_color : $base_color;
$backdrop_text_color : $text_color;
$backdrop_selected_bg_color : $selected_bg_color;
$backdrop_selected_fg_color : $selected_fg_color;
$backdrop_selected_text_bg_color : $selected_text_bg_color;
$backdrop_selected_text_color : $selected_text_color;
$backdrop_disabled_bg_color : gtkmix($fg_color, $bg_color, 0.9);
$backdrop_disabled_fg_color : gtkmix($fg_color, $bg_color, 0.675);
$backdrop_disabled_base_color : $backdrop_disabled_bg_color;
$backdrop_disabled_text_color : $backdrop_disabled_fg_color;

// Darker color scheme
$dark_bg_color : #000000;
$dark_fg_color : #FFFFFF;

// Shadows
$color_shadow : $selected_bg_color;
$wm_shadow : #4C4C4C;

// Borders
$border_color : gtkshade($fg_color, 0.2);
$outline_color : gtkshade($fg_color, 0.25);
$backdrop_border_color : gtkshade($backdrop_fg_color, 0.2);

// Event colors
$success_color : #39E4A3;
$info_color : #0055FF;
$question_color : #2C2C2C;
$warning_color : #FF9900;
$error_color : #CC0000;

// Widget colors
$link_color : #1D72E9;
$tooltip_bg_color : $dark_bg_color;
$tooltip_fg_color : $dark_fg_color;
$popover_bg_color : $bg_color;
$popover_fg_color : $fg_color;
$menubar_bg_color : $bg_color;
$menubar_fg_color : $fg_color;
$toolbar_bg_color : $bg_color;
$toolbar_fg_color : $fg_color;
$sidebar_bg_color : gtkshade($dark_bg_color, 1.02);
$sidebar_fg_color : $dark_fg_color;
$taskbar_bg_color : #000000;
$taskbar_fg_color : #FFFFFF;
$titlebar_bg_color : $dark_bg_color;
$titlebar_fg_color : $dark_fg_color;
$headerbar_bg_color : $dark_bg_color;
$headerbar_fg_color : $dark_fg_color;
$terminal_bg_color : $bg_color;
$terminal_fg_color : $fg_color;
$overshoot_color : gtkalpha($color_shadow, 0.5);
$drop_target_color : $selected_bg_color;

// OSD
$osd_fg : $dark_bg_color;
$osd_bg : gtkmix($dark_bg_color, $dark_fg_color, 0.2);
$osd_base : $dark_bg_color;


// Desktop Icons
$desktop_item_fg : #FFFFFF;
$desktop_item_selected_fg : $selected_fg_color;
$desktop_item_text_shadow : rgba(0, 0, 0, 0.8);

