$global_radius : 4px;

// buttons
$button_radius : 4px;
$round_button_radius : 40px;
$undecorated_dialog_button : true;

// entry
$entry_radius : 0px;

// tab view
$notebook_tab_radius : 0px;

// progressbar
$progressbar_radius : 2px;

// levelbar
$levelbar_radius : 2px;

// view
$viewitem_radius: 3px;

// popover/menu
$menu_radius : 4px;
$menu_padding : 0px;
$menuitem_radius : 0px;
$menuitem_padding : 4px;
$menuitem_size : 24px;

// tooltip
$tooltip_radius : 4px;

// check/radio boxes
$checkradio_size: 16px;

// headerbar
$headerbar_size : 30px;

// outline
$outline_width : 1px;
$outline_offset : -3px;
$outline_style : dashed;

// transitions
$ease-out-quad : cubic-bezier(0.25, 0.46, 0.45, 0.94);
$backdrop_transition : 200ms ease-out;
$focus_transition : outline-width 200ms $ease-out-quad, outline-offset 200ms $ease-out-quad;
$button_transition : all 200ms $ease-out-quad;
$scrollbar_transition : all 300ms $ease-out-quad;

// window
$window_radius : 4px;
$window_padding : 0px;
$dialog_window_radius : $window_radius;
$focus_wm_shadow : 0 10px 15px 1px gtkalpha($wm_shadow, 0.3), 0 0 0 1px gtkalpha($wm_shadow, 0.25);
$backdrop_wm_shadow : 0 10px 15px 1px transparent,  // prevent jumping windows
                      0 2px 6px 2px gtkalpha($wm_shadow, 0.2), 0 0 0 1px gtkalpha($wm_shadow, 0.25); 
$popup_wm_shadow : 0 6px 5px 1px gtkalpha($wm_shadow, 0.2), 0 0 0 1px gtkalpha($wm_shadow, 0.1);
$popover_wm_shadow : none;

// scale
$scale_slider_size : 16px;
$scale_slider_radius : 100%;
$scale_slider_margin : 7px;
$scale_slider_ft_margin : 4px;
$scale_trough_radius : 4px;

// scrollbar
$scrollbar_slider_size : 8px;
$scrollbar_slider_radius : 6px;
$scrollbar_slider_ft_margin : 1px;
$scrollbar_slider_min_length : 40px;
$scrollbar_indicator_size : 8px;
