// scale
@mixin scale() {
  scale {
    min-height: 10px;
    min-width: 10px;
    padding: 12px;

    & fill, & trough {
      border: none;
      border-radius: $scale_radius;
      background-color: gtkalpha($theme_fg_color, 0.2);
      outline-offset: 2px;
      -gtk-outline-radius: 0;

      &:disabled {
        background-color: gtkalpha($theme_fg_color, 0.15);

        &:backdrop {
          background-color: gtkalpha($theme_fg_color, 0.08);
        }
      }

      &:backdrop {
        background-color: gtkalpha($theme_fg_color, 0.1);
      }
    }

    & highlight {
      border: none;
      border-radius: $scale_radius;
      background-color: $theme_selected_bg_color;

      &:disabled {
        background-color: gtkshade($theme_disabled_bg_color, 0.8);

        &:backdrop {
          background-color: gtkshade($theme_unfocused_disabled_bg_color, 0.8);
        }
      }

      &:backdrop {
        background-color: $theme_unfocused_selected_bg_color;
      }
    }

    &.horizontal {
      & indicator {
        min-height: 6px;
        min-width: 1px;
      }

      &.fine-tune indicator {
        min-height: 3px;
      }
    }

    &.vertical {
      & indicator {
        min-height: 1px;
        min-width: 6px;
      }

      &.fine-tune indicator {
        min-width: 3px;
      }
    }

    &.fine-tune {
      &.horizontal {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 14px;
      }

      &.vertical {
        padding-left: 10px;
        padding-right: 10px;
        min-width: 14px;
      }

      & slider {
        margin: -6px;
      }

      & fill, & trough, & highlight {
        border-radius: 0;
        -gtk-outline-radius: 0;
      }

      & marks {
        &.top {
          margin-bottom: 8px;
          margin-top: -13px;
        }

        &.bottom {
          margin-top: 8px;
          margin-bottom: -13px;
        }

        &.top {
          margin-right: 8px;
          margin-left: -13px;
        }

        &.bottom {
          margin-left: 8px;
          margin-right: -13px;
        }
      }
    }

    & slider {
      min-height: 14px;
      min-width: 8px;
      margin: -4px;
      border: none;
      border-radius: $scale_slider_radius;
      color: $theme_selected_fg_color;
      background-color: $theme_fg_color;

      &:hover {
      }

      &:disabled {
        background-color: $theme_disabled_fg_color;
        -gtk-icon-shadow: none;

        &:backdrop {
          background-color: $theme_unfocused_disabled_fg_color;
          -gtk-icon-shadow: none;
        }
      }

      &:backdrop {
        color: $theme_unfocused_selected_fg_color;
        background-color: $theme_unfocused_fg_color;
      }
    }
    
    &.vertical slider {
      min-height: 8px;
      min-width: 14px;
    }

    & value {
      color: gtkalpha(currentColor,0.55);
    }

    & marks {
      color: gtkalpha(currentColor,0.55);

      &.top {
        margin-bottom: 6px;
        margin-top: -12px;
      }

      &.bottom {
        margin-top: 6px;
        margin-bottom: -12px;
      }

      &.top {
        margin-right: 6px;
        margin-left: -12px;
      }

      &.bottom {
        margin-left: 6px;
        margin-right: -12px;
      }
    }
  }
}
