@mixin treeview_header() {
  & header {
    & button {
      border-width: 0 1px 1px 0;
      border-radius: 0;

      &, &:active, &:focus, &:active:focus {
        background-image: none;
        background-color: $theme_bg_color;
      }

      &:hover, &:active:hover, &:hover:focus, &:active:hover:focus {
        color: $theme_fg_color;
        background-color: $theme_bg_color;
      }
    }
    &:last-child button {
      border-width: 0 0 1px 0;
    }
  }
}
