@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  $_border : gtkshade($_bg, 0.4);
  
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);

  @if $type == "base" {
    padding: 4px 9px;
    border-radius: $button_radius;
    border: 1px solid $_border;
    color: $_fg;
    background-color: gtkshade($_bg, 1.1);
    background-image: none;
    text-shadow: none;
    box-shadow: inset 3px 3px gtkshade($_bg, 1.6),
                inset 1px 1px $_bg,
                inset -2px -2px gtkshade($_bg, 0.85),
                inset -1px -1px gtkshade($_bg, 0.65);
    -gtk-icon-shadow: none;
  }
  
  // hover copies the style of "base"
  // it's required to apply a hover style to flat buttons
  @else if $type == "hover" {
    border-color: $_border;
    color: $_fg;
    background-color: gtkshade($_bg, 1.1);
    background-image: none;
    box-shadow: inset 3px 3px gtkshade($_bg, 1.6),
                inset 1px 1px $_bg,
                inset -2px -2px gtkshade($_bg, 0.85),
                inset -1px -1px gtkshade($_bg, 0.65);
  }
  
  @else if $type == "active"
  or $type == "checked" {
    background-color: gtkshade($_bg, 0.9);
    box-shadow: inset -3px -3px gtkshade(gtkshade($_bg, 1.6), 0.9),
                inset -1px -1px gtkshade($_bg, 0.9),
                inset 2px 2px gtkshade($_bg, 0.85),
                inset 1px 1px gtkshade($_bg, 0.65);
  }
  
  @else if $type == "checked-disabled" {
    background-color: $_disabled_bg;
    color: $_disabled_fg;
    box-shadow: inset -3px -3px gtkshade(gtkshade($_bg, 1.6), 0.9),
                inset -1px -1px gtkshade($_bg, 0.95),
                inset 2px 2px gtkshade($_bg, 0.85),
                inset 1px 1px gtkshade($_bg, 0.65);
  }

  @else if $type == "disabled" {
    color: $_disabled_fg;
    box-shadow: inset 3px 3px gtkshade($_bg, 1.6),
                inset 1px 1px $_bg,
                inset -2px -2px gtkshade($_bg, 0.95);
  }

  @else if $type == "flat" {
    border-radius: $button_radius;
    border-color: transparent;
    color: $_fg;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
  
  @else if $type == "flat-disabled" {
    color: $_disabled_fg;
  }
}
