@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    box-shadow: inset 1px 1px gtkmix($titlebar_bg_color, $base_color, 0.4),
                inset -1px -1px $titlebar_bg_color;

    button {
      @include flat_buttons();
      //@include normal_buttons($headerbar_bg_color, $headerbar_fg_color, gtkshade($border_color, 0.9));
    }
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
    box-shadow: inset 1px 1px gtkshade($light_shadow, 0.95),
                inset -1px -1px gtkshade($bg_color, 0.85);
  }
}
    
@mixin titlebutton($type) {
  padding: 0px;
  min-width: 14px;
  min-height: 14px;
  border: none;
  border-radius: 0;
  color: transparent;
  background-color: transparent;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: none;
  -gtk-icon-shadow: none;
  
  @if $type == "close" {
    background-image: url('assets/close-focused.png');
    
    &:backdrop { background-image: url('assets/close-unfocused.png'); }
  }
  
  @else if $type == "maximize" {
    background-image: url('assets/maximize-focused.png');
    
    &:backdrop { background-image: url('assets/maximize-unfocused.png'); }
  }
  
  @else if $type == "minimize" {
    background-image: url('assets/minimize-focused.png');
    
    &:backdrop { background-image: url('assets/minimize-unfocused.png'); }
  }
}
