@mixin notebook_header() {
  margin: -1px;
  padding: 0px;
  border: none;
  background-color: $bg_color;
  
  &:backdrop {
    background-color: $backdrop_bg_color;
  }

  @at-root
  notebook.frame {
    border-top-color: white;
    border-left-color: white;
  }

  @at-root
  notebook > stack:not(:only-child) {
    background-color: transparent;
  }
  
  // add 3D shadows to headers
  // based on code from windows 95
  @at-root
  notebook > header.top {
    box-shadow: 0 1px white;
  }
  
  @at-root
  notebook > header.left {
    box-shadow: 1px 0 white;
  }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    margin: 1px;
    padding: 2px 6px;
    border-radius: $notebook_tab_radius;
    border: 1px solid gtkshade($border_color, 0.9);
    border-top-color: white;
    border-left-color: white;
    color: $fg_color;
    background-color: gtkshade($bg_color, 0.92);
    box-shadow: none;
    outline-color: transparent;
    
    @if $pos == "top" {
      margin-top: 2px;
      margin-bottom: 0px;
    }
    @else if $pos == "bottom" {
      margin-bottom: 2px;
      margin-top: 0px;
    }
    @else if $pos == "left" {
      margin-left: 2px;
      margin-right: 0px;
    }
    @else if $pos == "right" {
      margin-right: 2px;
      margin-left: 0px;
    }
  }
  @else if $type == "checked" {
    background-color: $bg_color;
    
    @if $pos == "top" {
      margin-top: 0px;
      margin-bottom: -1px;
    }
    @else if $pos == "bottom" {
      margin-bottom: 0px;
      margin-top: -1px;
    }
    @else if $pos == "left" {
      margin-left: 0px;
      margin-right: -1px;
    }
    @else if $pos == "right" {
      margin-right: 0px;
      margin-left: -1px;
    }
  }
}
