@mixin progressbar_trough($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: 1px solid gtkshade($bg_color, 0.8);
    border-bottom-color: gtkshade($base_color, 0.9);
    border-right-color: gtkshade($base_color, 0.9);
    background-color: $base_color;
    color: $fg_color;
    box-shadow: inset 1px 1px gtkshade($bg_color, 0.65),
                inset -1px -1px gtkshade($bg_color, 1.02);
  }
}

// TODO: replace hard-coded color
@mixin progressbar($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: 1px solid #255584;
    background-color: #3196ff;
    box-shadow: inset 1px 1px gtkalpha($light_shadow, 0.5);
  }
}
