@mixin scale_trough() {
  border-radius: $scale_trough_radius;
  border: 1px solid gtkshade($bg_color, 0.8);
  border-bottom-color: $base_color;
  border-right-color: $base_color;
  background-color: gtkshade($bg_color, 0.6);
  color: $fg_color;
  box-shadow: inset 1px 1px $dark_shadow;

  &:disabled {
    border-color: gtkshade($border_color, 1.05);
    background-color: $border_color;
  }
}

@mixin scale_highlight() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: transparent;
}

@mixin scale_slider($orient : "none") {

  @if $orient == "none" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size;
    margin: -$scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: none;
    color: $fg_color;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: none;
    box-shadow: none;
  }

  @if $orient == "horiz" {
    background-image: url('assets/slider-h.png');
  }
  
  @if $orient == "vert" {
    background-image: url('assets/slider-v.png');
  }
}
