@mixin spinbutton() {
  spinbutton {
    &.horizontal {
      border-radius: $entry_radius;
      border: 1px solid gtkshade($border_color, 0.9);
      border-right-color: gtkshade($light_shadow, 0.95);
      border-bottom-color: gtkshade($light_shadow, 0.95);
      background-color: $base_color;
      box-shadow: inset 0 0 0 1px gtkshade($bg_color, 0.65), inset -1px -1px gtkshade($bg_color, 1.02);
      
      &:disabled {
        color: $disabled_fg_color;
        background-color: $disabled_base_color;
        
        &:backdrop {
          color: $backdrop_disabled_fg_color;
          background-color: $backdrop_disabled_base_color;
        }
      }
      
      &:focus { box-shadow: inset 0 0 0 1px #0000dd; }
      &:backdrop {
        background-color: $backdrop_base_color;
      }
    
      entry {
        border: none;
        box-shadow: none;
        padding: 7px 15px;
        background: none;
        border-radius: $entry_radius 0 0 $entry_radius;
        
        &:focus { box-shadow: none; }
      }
      
      button {
        border: none;
        border-radius: 0;
        background: none;
        box-shadow: -1px 0 $border_color;
        
        &:disabled, &:backdrop { box-shadow: -1px 0 $backdrop_border_color; }
        &.up { border-radius: 0 $entry_radius $entry_radius 0; }
      }
    }

    &.vertical {
      entry { border-radius: 0; }
      button {
        &.up {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-width: 0;
        }

        &.down {
          border-top-width: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
}
