@mixin switch() {
  margin: 4px;
  font-size: 0;
  border-radius: $global_radius;
  border: 1px solid $border_color;
  color: transparent;
  background-color: $border_color;

  &:checked {
    border-color: $selected_bg_color;
    background-color: $selected_bg_color;

    &:backdrop {
      border-color: $backdrop_selected_bg_color;
      background-color: $backdrop_selected_bg_color;
    }
  }

  &:disabled {
    border-color: $disabled_bg_color;
    background-color: $disabled_bg_color;

    &:backdrop {
      border-color: $backdrop_disabled_bg_color;
      background-color: $backdrop_disabled_bg_color;
    }
  }

  &:backdrop {
    border-color: $backdrop_border_color;
    background-color: $backdrop_border_color;
  }
}

@mixin switch_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: 26px;
    min-height: 22px;
    border-radius: $global_radius;
    border: 1px solid gtkshade($border_color, 0.55);
    color: $fg_color;
    background-color: gtkshade($bg_color, 1.08);
    box-shadow: inset 3px 3px $light_shadow,
                inset 1px 1px $bg_color,
                inset -2px -2px gtkshade($bg_color, 0.85),
                inset -1px -1px gtkshade($bg_color, 0.65);
  }
  
  @else if $type == "disabled" {
    border-color: gtkshade($disabled_bg_color, 0.85);
    box-shadow: inset 3px 3px $light_shadow,
                inset 1px 1px $bg_color,
                inset -2px -2px $bg_color,
                inset -1px -1px gtkshade($bg_color, 0.8);
  }
}
