@mixin entry($type : "base") {
  @if $type == "base" {
    padding: 5px;
    border-radius: $entry_radius;
    border: 1px solid transparent;
    color: $text_color;
    background-color: transparent;
    border-image: linear-gradient(
      to bottom,
      transparent 80%,
      $border_color 81%
    ) 1 1 1 1;
  }

  @else if $type == "focus" {
    border-image: linear-gradient(
      to bottom,
      transparent 80%,
      $selected_bg_color 81%
    ) 1 1 1 1;
    box-shadow: none;
  }

  @else if $type == "disabled" {
    color: $disabled_text_color;
    border-image: linear-gradient(
      to bottom,
      transparent 80%,
      $backdrop_border_color 81%
    ) 1 1 1 1;
  }

  @else if $type == "disabled-backdrop" {
    color: $backdrop_disabled_fg_color;
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
  }
  
  @else if $type == "flat" {
    min-height: 0px;
    padding: 3px;
    border-radius: 0px;
    border-image: none;
    background-image: none;
    border-color: transparent;
  }
}
