@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    border-bottom: 1px solid gtkshade($titlebar_bg_color, 0.6);
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    box-shadow: none;

    button {
      @include flat_buttons($headerbar_bg_color, $headerbar_fg_color, $headerbar_bg_color); 
    }
  }
  
  @else if $type == "backdrop" {
    border-color: $backdrop_border_color;
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
  }
}

// all titlebuttons look the same 
@mixin titlebutton($type) {
  padding: 2px 2px;
  background-color: transparent;
  
  &:active { color: gtkshade($titlebar_fg_color, 0.85); }
}
