@mixin scale_trough() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: gtkalpha($selected_bg_color, 0.2);

  &:disabled { background-color: gtkalpha(black, 0.15);
    &:backdrop { background-color: gtkalpha(black, 0.08); }
  }
  &:backdrop { background-color: gtkalpha($backdrop_selected_bg_color, 0.1); }
}

@mixin scale_highlight() {
  margin: 0px;
  border: none;
  border-radius: $scale_trough_radius;
  background-color: $selected_bg_color;

  &:disabled { background-color: $disabled_bg_color;
    &:backdrop { background-color: $backdrop_disabled_bg_color; }
  }
  &:backdrop { background-color: $backdrop_selected_bg_color; }
}

// clone of android, only :active shadow color changes
// TODO: merge?
@mixin scale_slider($type : "base") {
  @if $type == "base" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size;
    margin: -$scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: none;
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    background-image: none;

    &:active { box-shadow: 0 0 0 8px gtkalpha($selected_bg_color, 0.2); }

    &:disabled { background-color: $disabled_bg_color;
      &:backdrop { background-color: $backdrop_disabled_bg_color; }
    }

    &:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: $backdrop_selected_bg_color;
    }
  }
}
