@mixin toolbar() {
  padding: 4px;
  border: none;
  color: $toolbar_fg_color;
  background-color: $toolbar_bg_color;
  box-shadow: inset 0 -1px $selected_bg_color;

  &.vertical {
    box-shadow: inset -1px 0 $selected_bg_color;
  }

  &:backdrop {
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
  }
}

@mixin toolbutton() {
  @extend %button_flat;
}
