@mixin menubar() {
  menubar, .menubar {
    padding: 0;
    border-style: none;
    background-color: $menubar_bg_color;
    color: $menubar_fg_color;

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
    }

    > menuitem {
      padding: 3px 5px;
      border: 1px solid transparent;
      color: $menubar_fg_color;
      background-color: transparent;

      &:hover {
        color: $selected_fg_color;
        border-radius: $global_radius $global_radius 0 0;
        border-color: gtkshade($selected_bg_color, 0.8);
        background-color: $selected_bg_color;
        background-image: linear-gradient(
          to bottom,
          gtkshade($selected_bg_color, 1.1),
          gtkshade($selected_bg_color, 0.9)
        );
      }

      &:disabled {
        color: $disabled_fg_color;
        background-color: transparent;
      }

      &:backdrop {
        color: $backdrop_fg_color;
        background-color: transparent;
      }
    }
  }
}
