@mixin menubar() {
  padding: 0px;
  border-style: none;
  color: $menubar_fg_color;
  background-color: $menubar_bg_color;

  &:backdrop {
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
  }
}

@mixin menubaritem($state : "none") {
  @if $state == "none" {
    padding: 3px 5px;
    min-height: 12px;
    border-radius: $global_radius $global_radius 0 0;
    border: 1px solid transparent;
    color: $menubar_fg_color;
    background-color: transparent;
  }

  @if $state == "hover" {
    border-color: gtkshade($selected_bg_color, 0.8);
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.1),
      gtkshade($selected_bg_color, 0.9)
    );
  }

  @if $state == "disabled" {
    color: $disabled_fg_color;
    background-color: transparent;
  }

  @if $state == "backdrop" {
    color: $backdrop_fg_color;
    background-color: transparent;
  }
}
