@mixin notebook_header() {
  padding: 1px;
  background-color: $bg_color;
  
  @at-root
  notebook.frame {
    border: 1px solid gtkshade($bg_color, 0.75);
  }
  
  // darken notebook view area bg color
  @at-root
  notebook > stack:not(:only-child) {
    background-color: gtkshade($bg_color, 1.05);
  }
  
  &.top {
    box-shadow: 0 1px $border_color;
  }
  &.bottom {
    box-shadow: 0 -1px $border_color;
  }
  &.left {
    box-shadow: 1px 0 $border_color;
  }
  &.right {
    box-shadow: -1px 0 $border_color;
  }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    padding: 6px 20px;
    margin: 1px;
    border-radius: $notebook_tab_radius;
    border: 1px solid gtkshade($bg_color, 0.75);
    color: $fg_color;
    background-color: transparent;
    background-image: linear-gradient(
      to bottom,
      gtkshade($bg_color, 0.95),
      gtkshade($bg_color, 0.85)
    );
    box-shadow: none;
    
    @if $pos == "top" {
      margin-bottom: -1px;
    }
    @else if $pos == "bottom" {
      margin-top: -1px;
    }
    @else if $pos == "left" {
      margin-right: -1px;
    }
    @else if $pos == "right" {
      margin-left: -1px;
    }
  }

  @if $type == "checked" {
    margin: 0px;
    background-color: gtkshade($bg_color, 1.05);
    background-image: none;
    
    @if $pos == "top" {
      margin-top: -1px;
      margin-bottom: -2px;
      box-shadow: inset 0 2px $selected_bg_color;
    }
    @else if $pos == "bottom" {
      margin-bottom: -1px;
      margin-top: -2px;
      box-shadow: inset 0 -2px $selected_bg_color;
    }
    @else if $pos == "left" {
      margin-left: -1px;
          margin-right: -2px;
          box-shadow: inset 2px 0 $selected_bg_color;
    }
    @else if $pos == "right" {
      margin-right: -1px;
      margin-left: -2px;
      box-shadow: inset -2px 0 $selected_bg_color;
    }
  }
}
