@mixin progressbar_trough($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: 1px solid gtkshade($bg_color, 0.75);
    background-color: gtkshade($bg_color, 0.9);
  }
}

// TODO: replace hard-coded colors?
$bg : #c48559;
$stripe : #b67d54;

// TODO: avoid use warning color?
@mixin progressbar($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: 1px solid gtkshade($selected_bg_color, 1.1);
    background-color: gtkshade(gtkmix($selected_bg_color, $warning_color, 0.2), 1.2);
    box-shadow: inset 1px 1px gtkalpha(white, 0.15);
  }

  @else if $type == "horiz" {
    background-image: repeating-linear-gradient(
      65deg,
      $bg,
      $bg 10px,
      $stripe 10px,
      $stripe 20px
    );
    background-size: 22px;
  }
  
  @else if $type == "vert" {
    background-image: repeating-linear-gradient(
      -25deg,
      $bg,
      $bg 10px,
      $stripe 10px,
      $stripe 20px
    );
    background-size: 20px;
  }
}
