@mixin scale_trough() {
  border-radius: $scale_trough_radius;
  border: 1px solid $border_color;
  border-radius: $progressbar_radius;
  background-color: gtkshade($bg_color, 0.9);
  outline-offset: 2px;

  &:disabled { background-color: gtkshade($disabled_bg_color, 0.85);
    &:backdrop { background-color: gtkshade($backdrop_disabled_bg_color, 0.85); }
  }
  &:backdrop { background-color: gtkshade($backdrop_bg_color, 0.85); }
}

@mixin scale_highlight() {
  border-color: $border_color;
  background-color: transparent;
}

@mixin scale_slider() {
  min-height: $scale_slider_height;
  min-width: $scale_slider_width;
  margin: -$scale_slider_margin;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid $border_color;
  border-radius: $scale_slider_radius;
  color: $fg_color;
  background-color: $bg_color;
  background-image: linear-gradient(
    to bottom,
    gtkshade($bg_color, 1.2),
    gtkshade($bg_color, 0.98)
  );

  &:hover {
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.2),
      gtkshade($selected_bg_color, 0.98)
    );
  }

  &:disabled {
    background-color: $disabled_base_color;
    background-image: none;
    
    &:backdrop { background-color: $backdrop_disabled_bg_color; }
  }

  &:backdrop {
    color: $backdrop_fg_color;
    background-color: $backdrop_base_color;
  }

  @at-root
  scale.vertical > trough > slider {
    min-height: $scale_slider_width;
    min-width: $scale_slider_height;
    margin-top: 0;
    margin-bottom: 0;
    
    background-image: linear-gradient(
      to right,
      gtkshade($bg_color, 1.2),
      gtkshade($bg_color, 0.98)
    );
    
    &:hover {
      background-image: linear-gradient(
        to right,
        gtkshade($selected_bg_color, 1.2),
        gtkshade($selected_bg_color, 0.98)
      );
    }
    
    &:disabled { background-image: none; }
  }
}
