@mixin scale_trough() {
  border-radius: $scale_trough_radius;
  border: 1px solid $border_color;
  border-radius: $progressbar_radius;
  background-color: gtkshade($bg_color, 0.9);
  outline-offset: 2px;

  &:disabled { background-color: gtkshade($disabled_bg_color, 0.85);
    &:backdrop { background-color: gtkshade($backdrop_disabled_bg_color, 0.85); }
  }
  &:backdrop { background-color: gtkshade($backdrop_bg_color, 0.85); }
}

@mixin scale_highlight() {
  margin: -1px;
  border-color: gtkshade($selected_bg_color, 0.9);
  background-color: gtkshade($selected_bg_color, 1.25);
  
  &:disabled {
    border-color: gtkshade($disabled_bg_color, 0.8);
    background-color: gtkmix($disabled_bg_color, gtkshade($selected_bg_color, 1.5), 0.45);
  }
}

@mixin scale_slider($orient : "base") {
  @if $orient == "base" or $orient == "horiz" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size / 2;
    margin: -$scale_slider_margin;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid $border_color;
    border-radius: $scale_slider_radius;
    color: $fg_color;
    background-color: $bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($bg_color, 1.2),
      gtkshade($bg_color, 0.98)
    );

    &:hover {
      background-image: linear-gradient(
        to bottom,
        gtkshade($selected_bg_color, 1.2),
        gtkshade($selected_bg_color, 0.98)
      );
    }

    &:disabled {
      background-color: $disabled_base_color;
      background-image: none;
      
      &:backdrop { background-color: $backdrop_disabled_bg_color; }
    }

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_base_color;
    }
  }

  @if $orient == "vert" {
    min-height: $scale_slider_size;
    min-width: $scale_slider_size / 2;
    margin: -$scale_slider_margin;
    margin-top: 0;
    margin-bottom: 0;
    
    background-image: linear-gradient(
      to right,
      gtkshade($bg_color, 1.2),
      gtkshade($bg_color, 0.98)
    );
    
    &:hover {
      background-image: linear-gradient(
        to right,
        gtkshade($selected_bg_color, 1.2),
        gtkshade($selected_bg_color, 0.98)
      );
    }
    
    &:disabled { background-image: none; }
  }
}
