@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: 1px solid gtkshade($bg_color, 0.75);
    border-radius: 4px;   // TODO: move to properties.scss ?
    background-color: gtkshade($bg_color, 0.9);

    &:backdrop {
      background-color: gtkshade($backdrop_bg_color, 0.9);
    }
  }
  
  @if $type == "hint" {
    opacity: 1.0;
  }
}
    
@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: -1px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: 1px solid $border_color;
    background-clip: padding-box;
    background-color: $bg_color;

    &:disabled {
      background-color: transparent;
      background-image: none;
    }
  }
  
  @if $type == "hint" {
    margin: -1px;
  }
  
  @if $type == "horiz" {
    background-image: linear-gradient(
      to bottom,
      gtkshade($bg_color, 1.15),
      gtkshade($bg_color, 0.98)
    );

    &:hover {
      background-image: linear-gradient(
        to bottom,
        gtkshade($bg_color, 1.2),
        gtkshade($bg_color, 0.999)
      );
    }
  }
  
  @if $type == "vert" {
    background-image: linear-gradient(
      to right,
      gtkshade($bg_color, 1.15),
      gtkshade($bg_color, 0.98)
    );

    &:hover {
      background-image: linear-gradient(
        to right,
        gtkshade($bg_color, 1.2),
        gtkshade($bg_color, 0.999)
      );
    }
  }
}
