// linked widgets
@mixin linked_widgets() {
  .linked, .inline-toolbar, .primary-toolbar {
    & button, & .raised button {
      border-radius: 0;
      border-left-width: 0;

      &:first-child {
        border-left-width: 1px;
        border-top-left-radius: $button_radius;
        border-bottom-left-radius: $button_radius;
      }

      &:last-child {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
      }

      &:only-child {
        border-width: 1px;
        border-radius: $button_radius;
      }
      
      &:focus, &:hover, &:active, &:checked {
        box-shadow: -1px 0 gtkshade($theme_selected_bg_color, 0.8);
        
        &:backdrop {
          box-shadow: -1px 0 gtkshade($theme_unfocused_bg_color, 0.85);
        }
      }
      
      &:first-child, &:only-child {
        &:focus, &:hover, &:active, &:checked {
          box-shadow: none;
          
          &:backdrop {
            box-shadow: none;
          }
        }
      }
    }
    
    & entry {
      border-radius: 0;
      border-left-width: 0;

      &:first-child {
        border-left-width: 1px;
        border-top-left-radius: $entry_radius;
        border-bottom-left-radius: $entry_radius;
      }

      &:last-child {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: $entry_radius;
        border-bottom-right-radius: $entry_radius;
      }

      &:only-child {
        border-width: 1px;
        border-radius: $entry_radius;
      }
      
      &:focus, &:last-child:focus {
        box-shadow: -1px 0 gtkshade($theme_selected_bg_color, 0.6);
      }
        
      &:first-child:focus {
        box-shadow: none;
      }
    }

    & combobox {
      & box.linked button {
        border-radius: 0;
        border-left-width: 0;
        
        &:focus, &:hover, &:active, &:checked {
          box-shadow: -1px 0 gtkshade($theme_selected_bg_color, 0.8);
          
          &:backdrop {
            box-shadow: -1px 0 gtkshade($theme_unfocused_bg_color, 0.85);
          }
        }
      }

      &:first-child box.linked button {
        border-left-width: 1px;
        border-top-left-radius: $button_radius;
        border-bottom-left-radius: $button_radius;
      }

      &:last-child box.linked button {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
      }

      &:only-child box.linked button {
        border-width: 1px;
        border-radius: $button_radius;
      }
      
      &:first-child box.linked button, &:only-child box.linked button {
        &:focus, &:hover, &:active, &:checked {
          box-shadow: none;
          
          &:backdrop {
            box-shadow: none;
          }
        }
      }
    }
  }
  
  // vertical
  .vertical.linked {
    & button {
      border-left-width: 1px;
      border-top-width: 0;
      border-radius: 0;

      &:first-child {
        border-top-width: 1px;
        border-top-left-radius: $button_radius;
        border-top-right-radius: $button_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
      }

      &:only-child {
        border-top-width: 1px;
      }
      
      &:focus, &:hover, &:active, &:checked {
        box-shadow: 0 -1px gtkshade($theme_selected_bg_color, 0.8);
        
        &:backdrop {
          box-shadow: 0 -1px gtkshade($theme_unfocused_bg_color, 0.85);
        }
      }
      
      &:first-child, &:only-child {
        &:focus, &:hover, &:active, &:checked {
          box-shadow: none;
          
          &:backdrop {
            box-shadow: none;
          }
        }
      }
    }
    
    & entry {
      border-left-width: 1px;
      border-top-width: 0;
      border-radius: 0;

      &:first-child {
        border-top-width: 1px;
        border-top-left-radius: $entry_radius;
        border-top-right-radius: $entry_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $entry_radius;
        border-bottom-right-radius: $entry_radius;
      }

      &:only-child {
        border-top-width: 1px;
      }
      
      &:focus, &:last-child:focus {
        box-shadow: 0 -1px gtkshade($theme_selected_bg_color, 0.6);
      }

      &:first-child:focus {
        box-shadow: none;
      }
    }

    & combobox {
      & box.linked button {
        border-left-width: 1px;
        border-top-width: 0;
        border-radius: 0;
        
        &:focus, &:hover, &:active, &:checked {
          box-shadow: 0 -1px gtkshade($theme_selected_bg_color, 0.8);
          
          &:backdrop {
            box-shadow: 0 -1px gtkshade($theme_unfocused_bg_color, 0.85);
          }
        }
      }

      &:first-child box.linked button {
        border-top-width: 1px;
        border-top-left-radius: $button_radius;
        border-top-right-radius: $button_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child box.linked button {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
      }

      &:only-child box.linked button {
        border-top-width: 1px;
      }
      
      &:first-child box.linked button, &:only-child box.linked button {
        &:focus, &:hover, &:active, &:checked {
          box-shadow: none;
          
          &:backdrop {
            box-shadow: none;
          }
        }
      }
    }
  }
  
  // stack switcher 
  stackswitcher button.text-button {
    min-width: 80px;
  }
}
