@mixin progressbar() {
  progressbar {
    font-size: smaller;
    color: gtkmix($fg_color, $selected_fg_color, 0.5);

    // TODO: replace hard-coded colors
    > trough {
      padding: 1px 0;
      border: 1px solid $border_color;
      border-radius: $progressbar_radius;
      background-color: transparent;
      background-image: image(#e4eef4);
      border-image: url('assets/trough.png') 4 4 4 4 / 4px 4px 4px 4px stretch;
    }
    
    > trough > progress {
      border: 1px solid transparent;
      border-radius: 0;
      background-color: $selected_bg_color;
      border-image: url('assets/progress.png') 4 4 4 4 / 8px 8px 8px 8px stretch;
      background-size: 16px 16px, auto;
    }
    
    &.vertical {
      > trough {
        padding: 0 1px;
        border-image: url('assets/trough-vert.png') 4 4 4 4 / 4px 4px 4px 4px stretch;
      }
      
      > trough > progress {
        border-image: url('assets/progress-vert.png') 4 4 4 4 / 8px 8px 8px 8px stretch;
        background-size: 16px 16px, auto;
      }
    }

    &.horizontal > trough { min-width: 150px; }
    &.vertical > trough { min-height: 80px; }

    &.horizontal > trough,
    &.horizontal > trough > progress {
      min-height: 16px;
    }

    &.vertical > trough,
    &.vertical > trough > progress {
      min-width: 16px;
    }
  }
}
