@mixin switch() {
  margin: 4px;
  font-size: 0;
  border-radius: 3px;
  border: 1px solid gtkmix(gtkshade($border_color, 0.3), $selected_bg_color, 0.25);
  color: transparent;
  background-color: $border_color;

  &:checked {
    background-color: $selected_bg_color;
  }

  &:disabled {
    border-color: gtkmix(gtkshade($border_color, 0.3), $disabled_bg_color, 0.85);
    background-color: $disabled_bg_color;
  }
}

@mixin switch_slider($type : "base") {
  @if $type == "base" {
    margin: -1px;
    min-width: 28px;
    min-height: 22px;
    border-radius: $button_radius;
    border: 1px solid gtkmix(gtkshade($border_color, 0.3), $selected_bg_color, 0.25);
    background-color: $bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($bg_color, 1.015) 20%,
      $color_shadow 35%
    );
    box-shadow: none;
  }

  @if $type == "disabled" {
    border-color: gtkmix(gtkshade($border_color, 0.3), $disabled_bg_color, 0.85);
    background-color: $disabled_base_color;
  }
}
