// headerbar
@mixin headerbar_buttons($bg, $fg, $border)
{
  & {
    border-color: transparent;
    border-radius: $button_radius;
    color: $fg;
    background-color: transparent;

    &:hover {
      border-color: $border;
      color: $fg;
      background-color: $bg;
      &:backdrop {
        border-color: transparent;
        background-color: transparent;
      }
    }

    &:active, &:checked {
      border-color: gtkshade($theme_selected_bg_color, 1.15);
      color: $theme_fg_color;
      background-color: gtkshade($theme_selected_bg_color, 1.15);
      &:backdrop {
        border-color: $theme_unfocused_selected_bg_color;
        color: $theme_unfocused_selected_fg_color;
        background-color: $theme_unfocused_selected_bg_color;
      }
    }

    &:disabled {
      border-color: transparent;
      color: gtkalpha($fg, 0.7);
      background-color: transparent;
      &:backdrop {
        border-color: transparent;
        color: $disabled_fg_color;
        background-color: transparent;
      }
    }

    &:backdrop {
      border-color: transparent;
      color: $theme_unfocused_fg_color;
    }
  }
}

@mixin headerbar() {
  headerbar, headerbar:not(.titlebar) {
    padding: 4px 8px;
    border-width: 0;
    border-style: solid;
    border-color: gtkmix($borders, $headerbar_bg_color, 0.5);
    border-bottom-width: 1px;
    color: $headerbar_fg_color;
    background-color: $headerbar_bg_color;

    &:backdrop {
      border-color: $unfocused_borders;
      color: $theme_unfocused_fg_color;
      background-color: $theme_unfocused_bg_color;
    }

    .titlebar &, .titlebar &:backdrop {
      background-color: transparent;
    }

    .tiled &, .tiled &:backdrop, .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }

    & .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    & .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    & entry {
      padding: 4px 8px;
    }
  }
}
