@mixin menubar() {
  menubar, .menubar {
    -GtkWidget-window-dragging: true;
    padding: 0;
    border: none;
    background-color: $menubar_bg_color;
    color: $menubar_fg_color;
    background-image: url('assets/background.png');
    background-size: 100% 38px;

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_base_color;
    }
  }
}
