// Normal colors
$bg_color : #D6D3CE;
$fg_color : #000000;
$base_color : #FFFFFF;
$text_color : #000000;
$selected_bg_color : #000082;
$selected_fg_color : #FFFFFF;
$selected_base_color : #000082;
$selected_text_color : #FFFFFF;
$disabled_bg_color : gtkmix($fg_color, $bg_color, 0.95);
$disabled_fg_color : gtkmix($fg_color, $bg_color, 0.5);
$disabled_base_color : $base_color;
$disabled_text_color : $disabled_fg_color;

// Backdrop state colors
$unfocused_bg_color : $bg_color;
$unfocused_fg_color : $fg_color;
$unfocused_base_color : $base_color;
$unfocused_text_color : $text_color;
$unfocused_selected_bg_color : $selected_bg_color;
$unfocused_selected_fg_color : $selected_fg_color;
$unfocused_selected_base_color : $selected_base_color;
$unfocused_selected_text_color : $selected_text_color;
$unfocused_disabled_bg_color : $disabled_bg_color;
$unfocused_disabled_fg_color : $disabled_fg_color;
$unfocused_disabled_base_color : $unfocused_disabled_bg_color;
$unfocused_disabled_text_color : $unfocused_disabled_fg_color;

// Darker color scheme
$dark_bg_color : $bg_color;
$dark_fg_color : $fg_color;

// Shadows
$dark_shadow : rgb(0, 0, 0);
$color_shadow : $selected_bg_color;
$light_shadow : rgb(255, 255, 255);

// Borders
$borders : $fg_color;
$outline_color : $fg_color;
$unfocused_borders : $unfocused_fg_color;

// Notification header backgrounds
$info_fg_color : #FFFFFF;
$info_bg_color : #0055FF;
$warning_fg_color : #FFFFFF;
$warning_bg_color : #FF8300;
$question_fg_color : #FFFFFF;
$question_bg_color : #2C2C2C;
$error_fg_color : #FFFFFF;
$error_bg_color : #FF0000;

// Special foreground colors
$link_color : #1D72E9;
$error_color : #CC0000;
$success_color : #39E4A3;
$warning_color : #FF9900;

// Widget colors
$tooltip_bg_color : #FFFFBF;
$tooltip_fg_color : #000000;
$menu_bg_color : $base_color;
$menu_fg_color : $text_color;
$menubar_bg_color : $bg_color;
$menubar_fg_color : $fg_color;
$toolbar_bg_color : $bg_color;
$toolbar_fg_color : $fg_color;
$sidebar_bg_color : $base_color;
$sidebar_fg_color : $text_color;
$taskbar_bg_color : $base_color;
$taskbar_fg_color : $text_color;
$titlebar_bg_color : $selected_bg_color;
$titlebar_fg_color : $selected_fg_color;
$headerbar_bg_color : $bg_color;
$headerbar_fg_color : $fg_color;
$terminal_bg_color : #000000;
$terminal_fg_color : #FFFFFF;

// OSD
$osd_fg : $dark_fg_color;
$osd_bg : gtkmix($dark_bg_color, $dark_fg_color, 0.2);
$osd_base : $dark_bg_color;

// Budgie colors
$raven_fg_color : $dark_fg_color;
$raven_bg_color : gtkalpha($dark_bg_color, 0.9);

// Desktop Icons
$desktop_item_fg : #FFFFFF;
$desktop_item_selected_fg : $selected_fg_color;
$desktop_item_text_shadow : gtkalpha($dark_shadow, 0.8);

// LightDM greeter colors
$lightdm_bg_color : $dark_bg_color;
$lightdm_fg_color : $dark_fg_color;
