@mixin linked_widgets() {
  .linked button:not(:only-child) {
    border-color: transparent;
    background-color: transparent;
    
    &:hover {
      background-color: gtkmix($bg_color, $light_shadow, 0.2);
    }
    
    &:active, &:checked {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }
    
    &:disabled {
      border-color: transparent;
      background-color: transparent;
    }
  }
  
  stackswitcher button.text-button {
    min-width: 80px;
  }
}
