// linked widgets
@mixin linked_widgets() {
  // doesn't really apply, all buttons are mixed in with background and no visual separation between them
  
  .linked button:not(:only-child) {
    border-color: transparent;
    background-color: transparent;
    
    &:hover {
      background-color: gtkmix($theme_bg_color, $light_shadow, 0.2);
    }
    
    &:active, &:checked {
      color: $theme_selected_fg_color;
      background-color: $theme_selected_bg_color;
    }
    
    &:disabled {
      border-color: transparent;
      background-color: transparent;
    }
  }
  
  // stack switcher 
  stackswitcher button.text-button {
    min-width: 80px;
  }
}
