@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  // DOC
  // @if $type == "base"
  // @else if $type == "hover"
  // @else if $type == "active"
  // @else if $type == "checked"
  // @else if $type == "checked-backdrop"
  // @else if $type == "checked-disabled"
  // @else if $type == "checked-disabled-backdrop"
  // @else if $type == "disabled"
  // @else if $type == "disabled-backdrop"
  // @else if $type == "backdrop"
  // @else if $type == "undecorated"

  // local color definitions
  // we remix the colors based on the related colors from _colors
  // this allows to use one mixin for all button types (osd, suggested-action, destructive-action)
  $_border : gtkshade($_bg, 0.9);
  
  $_disabled_bg : gtkshade($_bg, 0.9);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.2);
  $_disabled_border : gtkshade($_bg, 0.95);
  
  @if $type == "base" {
    border: 1px solid $_border;
    color: $_fg;
    background-color: $_bg;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }

  @else if $type == "hover" {
    color: $_fg;
    border-color: $_border;
    background-color: gtkshade($_bg, 1.1);
  }

  // normally, if a theme doesn't use :backdrop states we'd remove them
  // but since this is a template, we keep them
  @else if $type == "active"
  or $type == "checked"
  or $type == "checked-backdrop" {
    color: $_fg;
    border-color: gtkshade($_border, 0.8);
    background-color: gtkshade($_bg, 0.8);
  }

  @else if $type == "checked-disabled"
  or $type == "checked-disabled-backdrop" {
    color: $_disabled_fg;
    border-color: gtkshade($_disabled_border, 0.8);
    background-color: gtkshade($_disabled_bg, 0.8);
  }
      
  @else if $type == "disabled"
  or $type == "disabled-backdrop" {
    color: $_disabled_fg;
    border-color: $_disabled_border;
    background-color: $_disabled_bg;
  }
  
  @else if $type == "backdrop" {
    color: $_fg;
    border-color: $_border;
    background-color: $_bg;
  }
  
  @else if $type == "undecorated" {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
}
