@mixin entry($type : "base") {
  // DOC
  // @if $type == "base"
  // @else if $type == "focus"
  // @else if $type == "disabled"
  // @else if $type == "disabled-backdrop"
  // @else if $type == "backdrop"
  // @else if $type == "flat"
  
  @if $type == "base" {
    padding: 5px;
    border-radius: $entry_radius;
    border: 1px solid $border_color;
    color: $text_color;
    background-color: $base_color;
    background-image: none;
    box-shadow: none;
  }
  
  @else if $type == "focus" {
    border-color: $selected_bg_color;
  }
  
  @else if $type == "disabled" {
    border-color: $border_color;
    color: $disabled_text_color;
    background-color: $disabled_base_color;
  }
  
  @else if $type == "disabled-backdrop" {
    border-color: $backdrop_border_color;
    color: $backdrop_disabled_text_color;
    background-color: $backdrop_disabled_base_color;
  }
  
  @else if $type == "backdrop" {
    border-color: $backdrop_border_color;
    color: $backdrop_text_color;
    background-color: $backdrop_base_color;
  }
  
  @else if $type == "flat" {
    min-height: 0px;
    padding: 3px;
    border-radius: 0px;
    background-image: none;
    border-color: transparent;
  }
}
