@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    border-bottom: 1px solid $border_color;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    box-shadow: none;   // override adwaita headerbar shadow
    
    button {
      @extend %button_flat;
    }
  }

  @else if $type == "backdrop" {
    border-bottom-color: $backdrop_border_color;
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
  }
}

@mixin titlebutton($type) {
  // to override button styling, these rules must be applied to all states
  padding: 0px;
  min-width: 25px;
  min-height: 24px;
  border: none;
  color: transparent;
  background-color: transparent;
  background-size: 24px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: none;
  -gtk-icon-shadow: none;
  
  @if $type == "close" {
    background-image: url('assets/close-normal.png');
    
    &:hover { background-image: url('assets/close-hover.png'); }
    &:active { background-image: url('assets/close-active.png'); }
    &:backdrop { background-image: url('assets/close-backdrop.png'); }
  }

  @else if $type == "minimize" {
    background-image: url('assets/minimize-normal.png');
    
    &:hover { background-image: url('assets/minimize-hover.png'); }
    &:active { background-image: url('assets/minimize-active.png'); }
    &:backdrop { background-image: url('assets/minimize-backdrop.png'); }
  }

  @else if $type == "maximize" {
    background-image: url('assets/maximize-normal.png');
    
    &:hover { background-image: url('assets/maximize-hover.png'); }
    &:active { background-image: url('assets/maximize-active.png'); }
    &:backdrop { background-image: url('assets/maximize-backdrop.png'); }
  }
}
