@mixin notebook_header() {
  background-color: $bg_color;
  
  &:backdrop {
    background-color: $backdrop_bg_color;
  }
  
  &.top {
    box-shadow: 0 1px $border_color;
  }
  &.bottom {
    box-shadow: 0 -1px $border_color;
  }
  &.left {
    box-shadow: 1px 0 $border_color;
  }
  &.right {
    box-shadow: -1px 0 $border_color;
  }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    margin: 0px;
    padding: 6px 20px;
    border-radius: $notebook_tab_radius;
    border: 1px solid transparent;
    color: $fg_color;
    background-color: $bg_color;
  }
  @else if $type == "hover" {
    box-shadow: none;
  }
  @else if $type == "checked" {
    border-color: $border_color;
    background-color: $base_color;
    box-shadow: none;
    
    @if $pos == "top" { margin-bottom: -2px; }
    @else if $pos == "bottom" { margin-top: -2px; }
    @else if $pos == "right" { margin-left: -2px; }
    @else if $pos == "left" { margin-right: -2px; }
  }
  @else if $type == "checked-backdrop" {
    border-color: $backdrop_border_color;
    background-color: $backdrop_base_color;
  }
  @else if $type == "backdrop" {
    color: $backdrop_fg_color;    //  may interfere with other tab controls
    background-color: $backdrop_bg_color;
  }
}
