@mixin progressbar_trough($type) {
  // DOC
  // @if $type == "base"
  // @else if $type == "horiz"
  // @else if $type == "vert"
  
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: none;
    background-color: gtkalpha(black, 0.1);

    &:backdrop {
      background-color: gtkshade($backdrop_bg_color, 0.95);
    }
  }
}

@mixin progressbar($type) {
  // DOC
  // @if $type == "base"
  // @else if $type == "horiz"
  // @else if $type == "vert"
  
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: none;
    background-color: $selected_bg_color;

    &:backdrop {
      background-color: $backdrop_selected_bg_color;
    }
  }
}
