@mixin check($ext : "") {
  -gtk-icon-source: gtkscale("assets/checkbox-unchecked" + $ext, ".png");
  &:disabled { opacity: 0.35; }
  &:active, &:checked { -gtk-icon-source: gtkscale("assets/checkbox-checked" + $ext, ".png"); }
  &:indeterminate { -gtk-icon-source: gtkscale("assets/checkbox-mixed" + $ext, ".png"); }
}

@mixin radio($ext : "") {
  -gtk-icon-source: gtkscale("assets/radio-unchecked" + $ext, ".png");
  &:disabled { opacity: 0.35; }
  &:active, &:checked { -gtk-icon-source: gtkscale("assets/radio-checked" + $ext, ".png"); }
  &:indeterminate { -gtk-icon-source: gtkscale("assets/radio-mixed" + $ext, ".png"); }
}

@mixin checkradio() {
  checkbutton.text-button, radiobutton.text-button {
    padding: 4px;
    outline-offset: 0;
  }

  checkbutton {
    padding: 4px;
    
    &:hover, &:active:hover, &:selected, &:focus {
      padding: 4px;
      border-style: none;
      background-color: transparent;
    }
  }
  
  view.content-view check, .content-view.view check {
    background-color: transparent;
    
    &:hover, &:active, &:disabled, &:selected {
      background-color: transparent;
    }
  }

  check, radio, check:disabled, radio:disabled {
    margin: 4px;
    border-style: none;
    background-color: transparent;
    min-height: 12px;
    min-width: 12px;
  }
  
  check, .check {
    @include check();
  }
  
  radio, .radio {
    @include radio();
  }
}
