// titlebar
@mixin titlebar() {
  .titlebar {
    border-bottom: none;
    border-radius: $csd_radius $csd_radius 0px 0px;

    & .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
      background-color: $titlebar_bg_color;
    }

    & .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
      background-color: $titlebar_bg_color;
    }

    // titlebutton 
    & .titlebutton {
      
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 0;
        min-height: 17px;
        min-width: 17px;
        border-radius: 0;
        border: none;
        color: transparent;
        background-color: $titlebar_bg_color;
        -gtk-icon-shadow: none;
        box-shadow: 0 0 0 1px $titlebar_bg_color;
        
        background-position: center center;
        background-repeat: no-repeat;
      }
      
      &.close {
        background: url('assets/close.png') no-repeat no-repeat;

        &:backdrop {
          background: none;
        }
      }

      &.minimize {
        background: url('assets/minimize.png') no-repeat no-repeat;

        &:backdrop {
          background: none;
        }
      }

      &.maximize {
        background: url('assets/maximize.png') no-repeat no-repeat;

        &:backdrop {
          background: none;
        }
      }
    }

    .tiled &:not(headerbar), .tiled &:backdrop:not(headerbar), .maximized &:not(headerbar), .maximized &:backdrop:not(headerbar) {
      border-radius: 0;
    }
  }

  .titlebar, .titlebar:not(headerbar), headerbar.default-decoration, .csd headerbar.default-decoration, .default-decoration.titlebar:not(headerbar), .csd .default-decoration.titlebar:not(headerbar) {
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    box-shadow: inset 0 0 0 4px $titlebar_bg_color;
    background-size: 100% 2px;
    background-image: linear-gradient(to bottom, $titlebar_bg_color 35%, $borders 40%, $borders 64%, $titlebar_bg_color 85%);

    &:backdrop {
      color: $theme_unfocused_fg_color;
      background-image: none;
      background-color: $theme_unfocused_bg_color;
    }
  }
}
