@mixin titlebar() {
  .titlebar {
    border-bottom: none;
    border-radius: $csd_radius $csd_radius 0px 0px;

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 0;
        min-height: 17px;
        min-width: 17px;
        border: none;
        border-radius: 0;
        color: transparent;
        background-color: transparent;
        -gtk-icon-shadow: none;
        
        background-position: center;
        background-repeat: no-repeat;
        
        &:backdrop {
          background: none;
        }
      }
      
      &.close {
        background: url('assets/close.png') 100% 100%;
      }

      &.minimize {
        background: url('assets/minimize.png') 100% 100%;
      }

      &.maximize {
        background: url('assets/maximize.png') 100% 100%;
      }
    }

    .tiled &:not(headerbar), .tiled &:backdrop:not(headerbar), .maximized &:not(headerbar), .maximized &:backdrop:not(headerbar) {
      border-radius: 0;
    }
  }

  .titlebar, .titlebar:not(headerbar), headerbar.default-decoration, .csd headerbar.default-decoration, .default-decoration.titlebar:not(headerbar), .csd .default-decoration.titlebar:not(headerbar) {
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;

    &:backdrop {
      color: $theme_unfocused_fg_color;
      background-color: $theme_unfocused_bg_color;
    }
  }
}
