@mixin titlebar() {
  .titlebar {
    border-bottom: none;
    border-radius: $csd_radius $csd_radius 0px 0px;

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
      background-color: $titlebar_bg_color;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      background-color: $titlebar_bg_color;
      color: gtkalpha(currentColor, 0.7);
    }
    
    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 0;
        min-height: 17px;
        min-width: 17px;
        border: none;
        box-shadow: 0 0 0 1px $titlebar_bg_color;
        border-radius: 0;
        color: transparent;
        background-color: transparent;
        -gtk-icon-shadow: none;
        
        background-position: center;
        background-repeat: no-repeat;
        
        &:backdrop {
          background: none;
          box-shadow: none;
        }
      }
      
      &.close {
        background: url('assets/close.png') 100% 100%;
      }

      &.minimize {
        background: url('assets/minimize.png') 100% 100%;
      }

      &.maximize {
        background: url('assets/maximize.png') 100% 100%;
      }
    }

    .tiled &:not(headerbar), .tiled &:backdrop:not(headerbar), .maximized &:not(headerbar), .maximized &:backdrop:not(headerbar) {
      border-radius: 0;
    }
  }

  .titlebar, .titlebar:not(headerbar), headerbar.default-decoration, .csd headerbar.default-decoration, .default-decoration.titlebar:not(headerbar), .csd .default-decoration.titlebar:not(headerbar) {
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-size: 100% 3px;
    background-image: linear-gradient(to bottom, transparent 35%, $borders 40%, $borders 64%, transparent 85%);
    box-shadow: inset 0 0 0 3px $titlebar_bg_color;
    border-bottom: 1px solid $borders;
    
    headerbar { border-bottom: none; }    // no inset borders
    
    &:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
      background-image: none;
      border-color: $unfocused_borders;
    }
  }
}
