$global_radius : 0px;

// buttons
$button_radius : 4px;
$round_button_radius : 40px;

// entry
$entry_radius : 0px;

// tab view
$notebook_tab_radius : 4px;

// progressbar
$progressbar_radius : 0px;

// levelbar
$levelbar_radius : 0px;

// view
$viewitem_radius: 0px;

// popover/menu
$menu_radius : 0px;
$menu_padding : 4px;
$menuitem_radius : 0px;
$popover_radius : 0px;

// tooltip
$tooltip_radius : 0px;

// check/radio boxes
$checkradio_size: 12px;

// outline
$outline_width : 1px;
$outline_offset : -3px;
$outline_style : dashed;

// transitions
$ease-out-quad : cubic-bezier(0.25, 0.46, 0.45, 0.94);
$backdrop_transition : 200ms ease-out;
$focus_transition : outline-width 200ms $ease-out-quad, outline-offset 200ms $ease-out-quad;
$button_transition : all 200ms $ease-out-quad;
$scrollbar_transition : all 300ms $ease-out-quad;

// window
$window_radius : 0px;
$window_padding : 0px;
$focus_wm_shadow : 3px 3px $wm_shadow, 0 0 0 1px $wm_shadow;
$backdrop_wm_shadow : $focus_wm_shadow;
$popup_wm_shadow : $focus_wm_shadow;

// scale
$scale_slider_size : 23px;
$scale_slider_radius : 4px;
$scale_slider_margin : 5px;
$scale_slider_ft_margin : 2.5px;
$scale_trough_radius : 4px;

// scrollbar
$scrollbar_slider_size : 14px;
$scrollbar_slider_radius : 0px;
$scrollbar_slider_ft_margin : 1px;
$scrollbar_slider_min_length : 40px;
$scrollbar_indicator_size : 14px;
