@mixin scale_trough() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: gtkalpha(black, 0.2);
  background-image: linear-gradient(
    to bottom,
    gtkshade($bg_color, 0.4),
    gtkshade($bg_color, 0.9)
  );

  &:disabled { background-color: gtkalpha(black, 0.15);
    &:backdrop { background-color: gtkalpha(black, 0.08); }
  }

  &:backdrop { background-color: gtkalpha(black, 0.1); }
  
  @at-root
  scale.vertical > trough {
    background-image: linear-gradient(
      to right,
      gtkshade($bg_color, 0.4),
      gtkshade($bg_color, 0.9)
    );
  }
}

@mixin scale_highlight() {
  margin: 0px;
  border: none;
  border-radius: $scale_trough_radius;

  // FIXME: how did nimbus dark do slider highlights?
  @if $variant == "dark" {
    background-color: gtkshade($selected_bg_color, 0.95);
    
    &:disabled { background-color: gtkshade($disabled_bg_color, 1.1);
      &:backdrop { background-color: gtkshade($backdrop_disabled_bg_color, 1.1); }
    }
    &:backdrop { background-color: gtkshade($backdrop_selected_bg_color, 0.95); }    
  }
  @else {
    background-color: $selected_bg_color;
    
    &:disabled { background-color: gtkshade($disabled_bg_color, 0.8);
      &:backdrop { background-color: gtkshade($backdrop_disabled_bg_color, 0.8); }
    }
    &:backdrop { background-color: $backdrop_selected_bg_color; }
  }
}

// TODO: remove hard-coded colors?
@mixin scale_slider($type : "base") {
  @if $type == "base" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size;
    margin: -$scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: 1px solid #63788a;
    border-bottom-color: #24394c;
    color: $fg_color;
    background-image: linear-gradient(
      to bottom,
      white,
      #a3b8cb 50%,
      #a3b8cb 90%,
      #b8cde0
    );

    &:hover { border-color: #24394c; }
    
    &:disabled { background-color: $disabled_base_color;
      &:backdrop { background-color: $backdrop_disabled_bg_color; }
    }

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_base_color;
    }
  }
  
  // did solaris have directional sliders?
}
