@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    background-color: transparent;
  }

  @else if $type == "hint" { 
    opacity: 1; 
  }

  @else if $type == "horiz" {
    background-image: url('assets/trough-h.png');
  }
  
  @else if $type == "vert" {
    background-image: url('assets/trough-v.png');
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 1px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border-style: solid;
    background-color: transparent;
  }

  @else if $type == "hint" {
    margin: 1px;
  }

  @else if $type == "horiz" {
    border-width: 7px 11px 7px 11px;
    border-image: url("assets/scrollbar-slider-h.png") 7 11 7 11 stretch;
  }

  @else if $type == "vert" {
    border-width: 11px 7px 11px 7px;
    border-image: url("assets/scrollbar-slider-v.png") 11 7 11 7 stretch;
  }
}
