@mixin dialogs() {
  window.dialog.message {
    .titlebar {
      min-height: 20px;
      background-image: none;
      background-color: $bg_color;
      border-style: none;
      border-top-left-radius: $window_radius + 2px;
      border-top-right-radius: $window_radius + 2px;
    }
        
    box.dialog-vbox.vertical {
      border-spacing: 10px;
    }

    label.title {
      font-weight: 800;
      font-size: 15pt;
    }

    &.csd {
      &.background {
        border-bottom-left-radius: $window_radius + 2px;
        border-bottom-right-radius: $window_radius + 2px;
      }

      .dialog-action-area button {
        padding: 10px 14px;
        border-radius: 0;
        border-left-style: solid;
        border-right-style: none;
        border-bottom-style: none;
        background-image: none;

        &:first-child {
          border-left-style: none;
          border-bottom-left-radius: $window_radius;
        }

        &:last-child {
          border-bottom-right-radius: $window_radius;
        }
      }
    }
  }
}
