@mixin entry() {
  entry {
    min-height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: $borders;
    border-radius: $entry_radius;
    color: $text_color;
    caret-color: currentColor;
    background-color: $base_color;

    &:active, &:focus {
      border-color: $selected_bg_color;
      box-shadow: 0 0 0 1px $selected_bg_color;
    }

    &:selected, &:selected:focus, selection, selection:focus {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }

    &:disabled {
      color: $disabled_text_color;
      border-color: $unfocused_borders;
      background-color: $disabled_bg_color;

      &:backdrop {
        color: $unfocused_disabled_text_color;
        border-color: $unfocused_borders;
        background-color: $unfocused_disabled_bg_color;
      }
    }

    &.read-only { background-color: $disabled_fg_color; }

    &:backdrop {
      border-color: $unfocused_borders;
      color: $unfocused_text_color;
      background-color: $unfocused_base_color;
    }

    > image {
      &.left { padding-right: 5px; }
      &.right { padding-left: 5px; }
    }

    progress {
      margin: -4px -4px;
      border-width: 0 0 2px;
      border-radius: 0;
      border-style: solid;
      border-color: $selected_bg_color;
      background-color: transparent;
    }

    &.flat, &.flat:focus {
      min-height: 0;
      padding: 3px;
      border-radius: 0;
      background-image: none;
      border-color: transparent;
    }

    &.search { border-radius: 40px; }
  }
}
