@mixin headerbutton() {
  @include button('base', $headerbar_bg_color, $headerbar_fg_color);
  
  &:hover {
    @include button('hover', $headerbar_bg_color, $headerbar_fg_color);
  }
  &:active {
    @include button('active', $headerbar_bg_color, $headerbar_fg_color);
  }
  &:checked {
    @include button('checked', $headerbar_bg_color, $headerbar_fg_color);
  }
  &:checked:backdrop {
    @include button('checked-backdrop', $headerbar_bg_color, $headerbar_fg_color);
  }
  &:checked:disabled {
    @include button('checked-disabled', $headerbar_bg_color, $headerbar_fg_color);
  }
  &:checked:disabled:backdrop {
    @include button('checked-disabled-backdrop', $headerbar_bg_color, $headerbar_fg_color);
  }
  &:disabled {
    @include button('disabled', $headerbar_bg_color, $headerbar_fg_color);
  }
  &:disabled:backdrop {
    @include button('disabled-backdrop', $headerbar_bg_color, $headerbar_fg_color);
  }
  &:backdrop {
    @include button('backdrop', $headerbar_bg_color, $headerbar_fg_color);
  }
}

@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 5px 6px;
    border-bottom: 1px solid gtkshade($border_color, 0.65);
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    box-shadow: inset 0 -2px gtkalpha($dark_shadow, 0.045);
   
    button {
      @include headerbutton();
    }
  }

  @else if $type == "backdrop" {
    border-bottom-color: $backdrop_border_color;
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
    box-shadow: none;
  }
}

// make all titlebutton types look like a flat button 
@mixin titlebutton($type) {
  @extend %button_flat;
}
