@mixin infobar() {
  infobar {
    border: none;

    &.info, &.question, &.warning, &.error {
      color: $selected_fg_color;
      background-color: $selected_bg_color;

      &:backdrop {
        color: $backdrop_selected_fg_color;
        background-color: $backdrop_selected_bg_color;
      }

      button {
      	@include normal_buttons($selected_bg_color, $selected_fg_color, gtkshade($selected_bg_color, 0.8));
      }
    }
  }
}
