@mixin inline_toolbar() {
  .inline-toolbar {
    padding: 3px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: $borders;
    background-color: gtkmix($toolbar_bg_color, $borders, 0.3);
    border-radius: 0  0 5px 5px;

    &:backdrop {
      border-color: $unfocused_borders;
      background-color: gtkshade($unfocused_bg_color, 0.95);
      box-shadow: none;
    }

    toolbutton > button {
      @include normal_buttons($toolbar_bg_color, $toolbar_fg_color, $borders);
    }
  }
}
