// TODO: this should be implemented into the widgets themselves
// ex. button.scss implements button_first_rtl()
// linked widgets calls it where appropriate

@mixin linked_styles() {
  .linked {
    entry {
      &:focus, &:last-child:focus { box-shadow: -1px 0 $selected_bg_color, inset 0 0 0 1px $selected_bg_color; }
      &:first-child:focus, &:only-child:focus { box-shadow: inset 0 0 0 1px $selected_bg_color; }
    }
    
    &.vertical {
      entry {
        &:focus, &:last-child:focus { box-shadow: 0 -1px $selected_bg_color, inset 0 0 0 1px $selected_bg_color; }
        &:first-child:focus, &:only-child:focus { box-shadow: inset 0 0 0 1px $selected_bg_color; }
      }

      // restore spinbutton behaviour
      spinbutton:focus { box-shadow: inset 0 0 0 1px $selected_bg_color; }
    }
  }
  
  // only stretch text buttons
  stackswitcher button.text-button {
    min-height: 24px;
    min-width: 100px;
  }
}
