@mixin menubar_menuitem() {
  menubar > menuitem, .menubar > menuitem {
    min-height: 16px;
    padding: 4px 8px;
    border: none;
    color: $menubar_fg_color;
    background-color: transparent;

    &:hover { color: $selected_bg_color; box-shadow: inset 0 -3px $selected_bg_color; }
    &:disabled { color: $disabled_fg_color; }
    &:backdrop { color: $unfocused_fg_color; }
  }
}
