@mixin modelbutton() {
  modelbutton.flat, menuitem.button.flat, .menuitem.button.flat {
    min-height: 26px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: $button_radius;
    outline-offset: -2px;
    background-color: transparent;

    &:hover, &:selected { color: $fg_color; background-color: gtkshade($bg_color, 1.075); }

    > image { padding-right: 4px; }

    arrow {
      background: none;

      &.left { -gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }
      &.right { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
    }
  }
}
