@mixin notebook_header() {
  padding: 1px;
  border: none;
  background-color: gtkshade($bg_color, 0.9);

  &:backdrop {
    border-color: $backdrop_border_color;
    background-color: gtkshade($backdrop_bg_color, 0.95);
  }

  // simulate border between header and view area
  &.top {
    box-shadow: 0 1px $border_color;
    margin-bottom: 1px;   // compensate the overlap from the view area
  }
  &.bottom {
    box-shadow: 0 -1px $border_color;
  }
  &.left {
    box-shadow: 1px 0 $border_color;
    margin-right: 1px;   // compensate the overlap from the view area
  }
  &.right {
    box-shadow: -1px 0 $border_color;
  }

  @at-root
  notebook > header.top > tabs,
  notebook > header.bottom > tabs {
    padding-left: 4px;
    padding-right: 4px;

    &:not(:only-child) {
      margin-left: 3px;
      margin-right: 3px;

      &:first-child { margin-left: -1px; }
      &:last-child { margin-right: -1px; }
    }

    > tab {
      margin-left: 4px;
      margin-right: 4px;

      &.reorderable-page { border-style: none solid; }
    }
  }
  
  @at-root
  notebook > header.left > tabs,
  notebook > header.right > tabs {
    padding-top: 4px;
    padding-bottom: 4px;

    &:not(:only-child) {
      margin-top: 3px;
      margin-bottom: 3px;

      &:first-child { margin-top: -1px; }
      &:last-child { margin-bottom: -1px; }
    }

    > tab {
      margin-top: 4px;
      margin-bottom: 4px;

      &.reorderable-page { border-style: solid none; }
    }
  }

  @at-root
  notebook > header.top tab { padding-bottom: 4px; }
  
  @at-root
  notebook > header.bottom tab { padding-top: 4px; }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    margin: -1px;
    min-height: 30px;
    min-width: 30px;
    padding: 3px 12px;
    font-weight: bold;
    border-width: 1px;    // only .reorderable-page tabs use borders, and they are defined in notebook_header 
    border-color: transparent;
    color: $disabled_fg_color;
    background-color: transparent;
    box-shadow: none;
    outline-offset: -6px;

    &:hover { color: gtkmix($disabled_fg_color, $fg_color, 0.5);

      &.reorderable-page {
        border-color: gtkalpha($border_color, 0.3);
        background-color: gtkalpha($bg_color, 0.3);
      }
    }

    &:checked { color: $fg_color;
      &:backdrop { color: $backdrop_fg_color; }

      &.reorderable-page {
        border-color: gtkalpha($border_color, 0.7);
        background-color: gtkalpha($bg_color, 0.5);

        &:hover { background-color: gtkalpha($bg_color, 0.8); }
        &:backdrop {
          border-color: $backdrop_border_color;
          background-color: $backdrop_bg_color;
        }
      }
    }

    &:backdrop { color: $backdrop_fg_color;
      &.reorderable-page {
        border-color: transparent;
        background-color: transparent;
      }
    }

    button.flat {
      padding: 0px;
      margin-top: 4px;
      margin-bottom: 4px;
      min-width: 20px;
      min-height: 20px;
    }
  }
  @else if $type == "hover" {
    @if $pos == "top" { box-shadow: inset 0 -3px $border_color; }
    @else if $pos == "bottom" { box-shadow: inset 0 3px $border_color; }
    @else if $pos == "right" { box-shadow: inset 3px 0 $border_color; }
    @else if $pos == "left" { box-shadow: inset -3px 0 $border_color; }
  }
  @else if $type == "checked" {
    @if $pos == "top" { box-shadow: inset 0 -3px $selected_bg_color; }
    @else if $pos == "bottom" { box-shadow: inset 0 3px $selected_bg_color; }
    @else if $pos == "right" { box-shadow: inset 3px 0 $selected_bg_color; }
    @else if $pos == "left" { box-shadow: inset -3px 0 $selected_bg_color; }
  }
  @else if $type == "backdrop" {
    box-shadow: none;
  }
}
