@mixin popover() {
  popover.background {
    padding: 2px;
    background-color: $bg_color;

    .csd &, & {
      border: 1px solid $border_color;
      border-radius: $button_radius + 4px;
    }

    box-shadow: 0 1px 2px gtkalpha($wm_shadow, 0.3);

    &:backdrop {
      background-color: $backdrop_bg_color;
      box-shadow: none;
    }

    > list, > .view, > iconview, > toolbar, > .inline-toolbar {
      border-style: none;
      background-color: transparent;
    }

    separator { margin: 3px; }
    list separator { margin: 0px; }
  }
}
