@mixin progressbar_trough($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: 1px solid $border_color;
    background-color: gtkalpha(black, 0.1);

    &:backdrop {
      background-color: gtkalpha(black, 0.05);
    }
  }
}

@mixin progressbar($type) {
  @if $type == "base" {
    border: 1px solid gtkshade($selected_bg_color, 0.5);
    border-radius: 1px;
    background-color: $selected_bg_color;

    &:backdrop {
      border-color: $backdrop_selected_bg_color;
      background-color: $backdrop_selected_bg_color;
    }
  }
}
