@mixin scrollbar($type : "base") {
  @if $type == "base" {
    background-color: $bg_color;
    
    &.top { border-bottom: 1px solid $border_color; }
    &.bottom { border-top: 1px solid $border_color; }
    &.left { border-right: 1px solid $border_color; }
    &.right { border-left: 1px solid $border_color; }

    &:backdrop {
      border-color: $backdrop_border_color;
      background-color: $backdrop_bg_color;
    }
    
    // TODO: move to _common.scss?
    @at-root
    scrolledwindow > junction {
      border-color: transparent;
      border-image: linear-gradient(
        to bottom,
        $border_color 1px,
        transparent 1px
      ) 0 0 0 1 / 0 1px stretch;
      background-color: $bg_color;

      &:dir(rtl) { border-image-slice: 0 1 0 0; }

      &:backdrop {
        border-image-source: linear-gradient(
          to bottom,
          $backdrop_border_color 1px,
          transparent 1px
        );
        background-color: $backdrop_bg_color;
      }
    }
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    margin: -1px;   // customize too?
    border: 4px solid transparent;
    background-clip: padding-box;
    background-color: gtkalpha(gtkmix($fg_color, $bg_color, 0.15), 0.8);

    &:hover { background-color: gtkalpha(gtkmix($fg_color, $bg_color, 0.2), 0.8); }
    &:hover:active { background-color: gtkalpha($selected_bg_color, 0.8); }
    &:backdrop { background-color: gtkalpha(gtkmix($backdrop_fg_color, $backdrop_bg_color, 0.1), 0.8); }
    &:disabled { background-color: transparent; }
  }

  @if $type == "hint" {
    margin: 0px;
    min-width: $scrollbar_indicator_size;
    min-height: $scrollbar_indicator_size;
    border: none;
    background-color: gtkalpha($fg_color, 0.4);
  }
}
