@mixin searchbar() {
  searchbar {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $borders;
    background-color: gtkshade($bg_color, 0.95);
  }

  .nautilus-window .searchbar-container {
    margin-top: -1px;
  }
}
