$roundness : 2px;
$entry_radius : 2px;
$button_radius : 2px;
$tab_radius : 2px;
$progressbar_radius : 2px;
$scrollbar_radius : 2px;
$csd_radius : 4px;
$view_radius: 4px;
$top_primary_stepper: false;
$bottom_primary_stepper: false;
$top_secondary_stepper: false;
$bottom_secondary_stepper: false;
