@mixin inline_toolbar() {
  .inline-toolbar {
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: gtkmix($borders, $toolbar_bg_color, 0.5);
    border-radius: 0;
    background-color: $toolbar_bg_color;

    &:backdrop {
      border-color: gtkmix($borders, $toolbar_bg_color, 0.5);
      background-color: $toolbar_bg_color;
    }

    toolbutton > button {
      @include normal_buttons($bg_color, $fg_color, $borders);
    }
  } 
}
