@mixin scrollbar() {
  scrollbar {
    border: none;
    background-color: transparent;

    trough {
      border: none;
      border-radius: 0;
    }

    &.overlay-indicator {
      &:not(.dragging):not(.hovering) { opacity: 1; }
      &.dragging, &.hovering { opacity: 1; }
    }

    &.horizontal {
      border-top: none;
      background-image: url('assets/trough-h.png');
      
      slider {
        min-height: 0px;
        min-width: 45px;
        margin: 1px;
        padding: 0;
        border-width: 7px;
        border-radius: 0px;
        border-style: solid;
        border-left-width: 11px;
        border-right-width: 11px;
        margin-left: -11px;
        margin-right: -11px;
        border-image: url("assets/scrollbar-slider-h.png") 7 11 7 11 stretch;
      }

      button {
        border: none;
        padding: 0;
        border-radius: 0;
        color: transparent;
        box-shadow: none;
        min-width: 29px;
        min-height: 15px;
        
        &:backdrop {
          color: transparent; }
        
        &.down {
          background-image: url('assets/stepper-right.png');
        }

        &.up {
          background-image: url('assets/stepper-left.png');
        }
      }
    }

    &.vertical {
      border-left: none;
      background-image: url('assets/trough-v.png');
      
      slider {
        min-height: 45px;
        min-width: 0px;
        padding: 0;
        margin: 1px;
        margin-top: -11px;
        margin-bottom: -11px;
        border-width: 7px;
        border-radius: 0px;
        border-style: solid;
        border-top-width: 11px;
        border-bottom-width: 11px;
        border-image: url("assets/scrollbar-slider-v.png") 11 7 11 7 stretch;
      }

      button {
        border: none;
        padding: 0;
        border-radius: 0;
        color: transparent;
        box-shadow: none;
        min-width: 15px;
        min-height: 29px;
        
        &:backdrop {
          color: transparent; }
          
        &.down {
          background-image: url('assets/stepper-down.png');
        }

        &.up {
          background-image: url('assets/stepper-up.png');
        }
      }
    }

    treeview ~ &.vertical {
      border-top: 1px solid $borders;
      margin-top: -1px;
    }
  }
}
