// same file than core, only adds font-weight: bold property

@mixin destructive_button($type) {
  $_bg : $bg_color;
  $_fg : gtkshade($error_color, 0.8);
  
  // import default button with error colors
  @include button($type, $_bg, $_fg);
}

@mixin suggested_button($type) {
  $_bg : $bg_color;
  $_fg : $selected_bg_color;
  
  // import default button with selected colors
  @include button($type, $_bg, $_fg);
}
