@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  $_border : $border_color;
  
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  
  @if $type == "base" {
    padding: 2px 4px;
    border-radius: $button_radius;
    border: 1px solid $_border;
    border-top-color: white;
    border-left-color: white;
    color: $_fg;
    background-color: $_bg;
    background-image: none;
    text-shadow: none;
    box-shadow: inset -1px -1px gtkshade($_bg, 0.65);
    -gtk-icon-shadow: none;

    // TODO: implement hover state
  }
  
  @else if $type == "hover" {
    border-color: $_border;
    border-top-color: white;
    border-left-color: white;
    color: $_fg;
    background-color: $_bg;
    background-image: none;
    text-shadow: none;
    box-shadow: inset -1px -1px gtkshade($_bg, 0.65);
  }

  @else if $type == "active"
  or $type == "checked" {
    border-color: $_border;
    color: $_fg;
    background-color: $_bg;
    background-image: none;
    box-shadow: inset 1px 1px gtkshade($_bg, 0.65),
                inset -1px -1px white;
  }

  @else if $type == "checked-disabled" {
    border-color: gtkmix($_fg, $_disabled_bg, 0.85);
    color: $_disabled_fg;
    background-color: gtkshade($_disabled_bg, 0.9);
  }

  @else if $type == "disabled"
  or $type == "flat-disabled" {
    color: $_disabled_fg;
  }
  
  @else if $type == "flat" {
    border-radius: $button_radius;
    border-color: transparent;
    color: $_fg;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }
}
