@mixin progressbar_trough($type) {
  @if $type == "base" {
    padding: 2px;
    border-radius: $progressbar_radius;
    border: 1px solid $border_color;
    border-bottom-color: gtkmix($bg_color, $light_shadow, 0.7);
    border-right-color: gtkmix($bg_color, $light_shadow, 0.7);
    background-color: $bg_color;
    box-shadow: inset 1px 0 gtkshade($bg_color, 0.65),
                inset 0 1px gtkshade($bg_color, 0.65),
                inset -1px 0 gtkmix($bg_color, $light_shadow, 0.7),
                inset 0 -1px gtkmix($bg_color, $light_shadow, 0.7);
  }
}

@mixin progressbar($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: none;
  }
  
  @else if $type == "horiz" {
    background-image: linear-gradient(  // simulate progress blocks
      to right,
      transparent,
      transparent 37.5%,
      $bg_color 37.5%,
      $bg_color 50%,
      transparent 50%,
      transparent 87.5%,
      $bg_color 87.5%,
      $bg_color 100%
    ), image($selected_bg_color);
    background-size: 20px 16px, auto;
  }
  
  @else if $type == "vert" {
    background-image: linear-gradient(
      to bottom,
      transparent,
      transparent 37.5%,
      $bg_color 37.5%,
      $bg_color 50%,
      transparent 50%,
      transparent 87.5%,
      $bg_color 87.5%,
      $bg_color 100%
    ), image($selected_bg_color);
    background-size: 16px 20px, auto;
  }
}
