// TODO: figure out how to replicate "3D" shadows
$focus_wm_shadow : none;
$backdrop_wm_shadow : none; 
$popup_wm_shadow : none; // 0 0 0 1px gtkalpha($wm_shadow, 0.1);

@mixin window() {
  decoration {
    background-color: $bg_color;
    border-radius: $window_radius $window_radius 0 0;
    border-width: 0;
    padding: 2px;
    box-shadow: inset -2px -2px gtkshade($bg_color, 0.85), inset 2px 2px gtkmix($bg_color, $light_shadow, 0.55), inset -1px -1px $border_color, inset 1px 1px gtkmix($bg_color, $light_shadow, 0.7);

    &:backdrop {
      box-shadow: $backdrop_wm_shadow;
    }

    .maximized &,
    .fullscreen &,
    .tiled &,
    .tiled-top &,
    .tiled-right &,
    .tiled-bottom &,
    .tiled-left & { border-radius: 0; }
    
    .popup & { box-shadow: none; }

    .csd.popup & {
      border-radius: $menu_radius;
      box-shadow: $popup_wm_shadow;
      padding: 0;
    }

    .ssd & {
      border-radius: $window_radius $window_radius 0 0;

      &.maximized {
        border-radius: 0;
        padding: 0;
      }
    }

    tooltip.csd & {
      border-radius: $window_radius;
      box-shadow: none;
      padding: 0;
    }

    .solid-csd & {
      margin: 1px;
      border-radius: 0px;
      background-color: gtkalpha($light_shadow, 0.95);
      box-shadow: none;
    }
  }
}
