@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  $_border : gtkshade($_bg, 0.68);
  
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  $_disabled_border : gtkmix($_fg, $_disabled_bg, 0.85);
  
  $_backdrop_bg : $_bg;
  $_backdrop_fg : $_fg;
  $_backdrop_border : gtkshade($_backdrop_bg, 0.9);
  
  $_backdrop_disabled_bg : gtkmix($_fg, $_bg, 0.98);
  $_backdrop_disabled_fg : gtkmix($_fg, $_bg, 0.75);
  $_backdrop_disabled_border : gtkmix($_fg, $_disabled_bg, 0.9);
  
  @if $type == "base" {
    padding: 3px 6px;
    border-radius: $button_radius;
    border: 1px solid $_border;
    color: $_fg;
    background-color: $_bg;
    background-image: linear-gradient(
      to bottom,
      $_bg,
      gtkshade($_bg, 0.9)
    );
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    
    &:focus {
      border-color: gtkshade($selected_bg_color, 0.7);
    }
  }

  @else if $type == "hover" {
    border-color: gtkshade($selected_bg_color, 0.7);
    color: $_fg;
    background-color: gtkshade($selected_bg_color, 1.02);
    background-image: linear-gradient(
      to bottom,
      $selected_bg_color,
      gtkshade($selected_bg_color, 0.9)
    );
  }

  @else if $type == "active"
  or $type == "checked" {
    border-color: gtkshade($selected_bg_color, 0.6);
    color: $_fg;
    background-color: gtkshade($selected_bg_color, 0.95);
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 0.85),
      gtkshade($selected_bg_color, 0.7)
    );
  }

  @else if $type == "checked-backdrop" {
    border-color: $_backdrop_border;
    color: $_backdrop_fg;
    background-color: gtkshade($_backdrop_bg, 0.85);
    background-image: linear-gradient(
      to bottom,
      gtkshade($_backdrop_bg, 0.85),
      gtkshade($_backdrop_bg, 0.7)
    );
  }
  
  @else if $type == "checked-disabled" {
    border-color: gtkshade($_disabled_border, 0.9);
    color: $_disabled_fg;
    background-color: gtkshade($_disabled_bg, 0.9);
    background-image: none;
  }
  
  @else if $type == "checked-disabled-backdrop" {
    border-color: gtkshade($_backdrop_border, 0.9);
    color: $_backdrop_disabled_fg;
    background-color: gtkshade($_disabled_bg, 0.9);
  }

  @else if $type == "disabled" {
    border-color: $_disabled_border;
    color: $_disabled_fg;
    background-color: $_disabled_bg;
    background-image: none;
  }

  @else if $type == "disabled-backdrop" {
    border-color: $_backdrop_border;
    color: $_backdrop_disabled_fg;
    background-color: $_backdrop_disabled_bg;
  }

  @else if $type == "backdrop" {
    border-color: $_backdrop_border;
    color: $_backdrop_fg;
    background-color: $_backdrop_bg;
  }
  
  @else if $type == "undecorated" {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
}
