@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    background-color: gtkmix($bg_color, $fg_color, 0.1);

    &:backdrop { background-color: gtkmix($bg_color, $fg_color, 0.1); }
  }
  
  @else if $type == "hint" {
    opacity: 1.0;
  }
}
    
@mixin scrollbar_slider($type : "base") {
  @if $type == "base" { 
    margin: 0px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: none;
    background-color: gtkmix($bg_color, $fg_color, 0.4);
    background-clip: padding-box;

    &:hover { background-color: gtkmix($bg_color, $fg_color, 0.35); }
    &:hover:active { background-color: gtkmix($bg_color, $fg_color, 0.6); }
    &:backdrop { background-color: gtkmix($bg_color, $fg_color, 0.45); }
    &:disabled { background-color: transparent; }
  }
}
