@mixin headerbar_buttons($bg, $fg, $br)
{
  @include normal_buttons($bg, $fg, $br);
}

@mixin headerbar() {
  headerbar {
    padding: 4px 8px;
    min-height: 32px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    border-bottom: 1px solid gtkshade($titlebar_bg_color, 0.75);
    
    @if $variant != 'dark' {
      background-image: linear-gradient(to bottom, gtkshade($titlebar_bg_color, 0.95), gtkshade($titlebar_bg_color, 0.85));
    }
    @else {
      background-image: linear-gradient(to bottom, gtkshade($titlebar_bg_color, 1.3), gtkshade($titlebar_bg_color, 0.85), $titlebar_bg_color);
    }

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: gtkshade($unfocused_bg_color, 0.9);
      background-image: linear-gradient(to bottom, gtkshade($titlebar_bg_color, 0.9), gtkshade($titlebar_bg_color, 1.0));
      border-bottom-color: $unfocused_borders;
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $csd_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $csd_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    button {
      @include headerbar_buttons($bg_color, $fg_color, gtkshade($headerbar_bg_color, 0.9));
    }

    entry { padding: 5px 8px; }
    &.titlebar, .titlebar & { border-radius: $csd_radius $csd_radius 0px 0px; }

    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 0;
        min-height: 18px;
        min-width: 19px;
        border: none;
        color: transparent;
        background-color: transparent;
        -gtk-icon-shadow: none;
        
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: none;
      }
      
      &.close {
        background: url('assets/close-normal.png') 100% 100%;

        &:hover { background: url('assets/close-hover.png') 100% 100%; }
        &:active { background: url('assets/close-active.png') 100% 100%; }

        &:backdrop {
          background: url('assets/close-backdrop.png') 100% 100%;

          &:hover { background: url('assets/close-hover.png') 100% 100%; }
          &:active { background: url('assets/close-active.png') 100% 100%; }
        }
      }

      &.minimize {
        background: url('assets/minimize-normal.png') 100% 100%;

        &:hover { background: url('assets/minimize-hover.png') 100% 100%; }
        &:active { background: url('assets/minimize-active.png') 100% 100%; }

        &:backdrop {
          background: url('assets/minimize-backdrop.png') 100% 100%;

          &:hover { background: url('assets/minimize-hover.png') 100% 100%; }
          &:active { background: url('assets/minimize-active.png') 100% 100%; }
        }
      }

      &.maximize {
        background: url('assets/maximize-normal.png') 100% 100%;

        &:hover { background: url('assets/maximize-hover.png') 100% 100%; }
        &:active { background: url('assets/maximize-active.png') 100% 100%; }

        &:backdrop {
          background: url('assets/maximize-backdrop.png') 100% 100%;

          &:hover { background: url('assets/maximize-hover.png') 100% 100%; }
          &:active { background: url('assets/maximize-active.png') 100% 100%; }
        }
      }
      
      .maximized &.maximize {
        background: url('assets/restore-normal.png') 100% 100%;

        &:hover { background: url('assets/restore-hover.png') 100% 100%; }
        &:active { background: url('assets/restore-active.png') 100% 100%; }

        &:backdrop {
          background: url('assets/restore-backdrop.png') 100% 100%;

          &:hover { background: url('assets/restore-hover.png') 100% 100%; }
          &:active { background: url('assets/restore-active.png') 100% 100%; }
        }
      }
    }
  }
}
