@mixin menu() {
  menu, .menu {
    margin: 4px;
    padding: 4px 0px;
    border-radius: $menu_radius;
    border: none;
    color: $menu_fg_color;
    background-color: $menu_bg_color;
    box-shadow: inset 0 -5px 2px -2px gtkalpha($light_shadow, 0.9),
                inset 0 5px 2px -2px gtkalpha($light_shadow, 0.9);

    // TODO: arrow
    
    menuitem {
      min-height: 16px;
      min-width: 40px;
      padding: 4px;
      border: none;
      border-radius: 0;
      color: $menu_fg_color;
      background-color: $menu_bg_color;

      &:hover {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
        
        switch slider, scale highlight, scale slider {
          background-color: $selected_fg_color;
        }
        
        scale trough, switch {
          background-color: gtkalpha($selected_fg_color, 0.75);
        }
      }

      &:disabled {
        color: gtkmix($menu_fg_color, $menu_bg_color, 0.5);
      }

      // TODO: arrow

      accelerator { color: gtkalpha(currentColor, 0.55);
        &:hover { color: gtkalpha($selected_fg_color, 0.8); }
        &:disabled { color: gtkmix($menu_fg_color, $menu_bg_color, 0.5); }
      }
    }
  }
}
