@mixin normal_buttons($bg : gtkmix($bg_color, $fg_color, 0.1), $fg : $fg_color, $br : $border_color) {
  padding: 4px 8px;
  border: none;
  border-radius: $button_radius;
  color: $fg;
  background-color: $bg;

  // TODO: implement hover state

  &:active, &:checked {
    color: $selected_fg_color;
    background-color: $selected_bg_color;

    &:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: $backdrop_selected_bg_color;
    }
    
    &:disabled {
      color: $disabled_fg_color;
      background-color: gtkshade($disabled_bg_color, 0.9);
      &:backdrop {
        color: $backdrop_disabled_fg_color;
        background-color: gtkshade($backdrop_disabled_bg_color, 0.9);
      }
    }
  }

  &:disabled {
    color: gtkmix($fg, $backdrop_disabled_fg_color, 0.5);
    &:backdrop { color: $backdrop_disabled_fg_color; }
  }

  &:backdrop { color: $backdrop_fg_color; }
}

@mixin flat_buttons($bg : transparent, $fg : $selected_bg_color, $br : $border_color) {
  border: none;
  border-radius: $button_radius;
  color: $fg;
  background-color: transparent;

  &:hover {
    color: $fg;
    background-color: $bg;
  }

  &:active, &:checked {
    color: $selected_fg_color;
    background-color: $selected_bg_color;

    &:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: gtkshade($backdrop_selected_bg_color, 0.6);
    }
  }

  &:disabled {
    color: gtkalpha($fg, 0.8);
    background-color: transparent;

    &:backdrop {
      color: gtkalpha($fg, 0.7);
      background-color: transparent;
    }
  }

  &:backdrop { color: $backdrop_fg_color; }
}
