@mixin flowbox() {
  flowbox flowboxchild {
    padding: 3px;
    border-radius: $roundness;

    &:selected {
      outline-offset: -2px;
      color: $theme_selected_fg_color;
      background-color: $theme_selected_bg_color;
    }
  }
}
