// popovers 
@mixin popover() {
  popover {
    &, &.background {
      padding: 2px;
      border-color: $borders;
      border-width: 1px;
      border-style: solid;
      border-radius: $roundness;
      color: $theme_fg_color;
      background-clip: border-box;
      background-color: $theme_bg_color;
      box-shadow: none;

    .csd &, & {
      border: 1px solid $borders; }

      & > list, & > .view, & > iconview, & > toolbar, & > .inline-toolbar {
        border-style: none;
        background-color: transparent;
      }

      & checkbutton:selected, & radiobutton:selected {
        color: $theme_selected_fg_color;
        background-color: $theme_selected_bg_color;
      }
    }

    &.osd {
      box-shadow: none;

      & > toolbar button {
        border-width: 0;
        border-radius: 0;
        background-color: transparent;
      }
    }

    &:backdrop {
      border-color: $unfocused_borders;
      color: $theme_unfocused_fg_color;
      background-color: $theme_unfocused_bg_color;
      box-shadow: none;
    }
  }
}
