@mixin toolbar() {
  toolbar {
    padding: 4px;
    border: none;
    color: $toolbar_fg_color;
    background-color: $toolbar_bg_color;

    &:backdrop {
      color: $theme_unfocused_fg_color;
      background-color: $theme_unfocused_bg_color;
    }

    &:disabled {
      color: $theme_disabled_fg_color;
      background-color: $theme_disabled_bg_color;
    }

    button.flat {
      @include flat_buttons(transparent, $theme_selected_bg_color, $borders);
    }

    // menubar toolbars 
    menubar {
      -GtkToolbar-button-relief: normal;
    }
  }
}
