$roundness : 0px;
$entry_radius : 0px;
$entry_border_width : 2px;    // new
$button_radius : 0px;
$button_border_width : 2px;   // new
$tab_radius : 0px;
$progressbar_radius : 0px;
$scrollbar_radius : 0px;
$scale_radius : 0px;          // new
$scale_slider_radius : 0px;   // new
$switch_radius : 0px;         // new
$switch_slider_radius : 0px;  // new
$csd_radius : 0px;
$view_radius : 0px;
$top_primary_stepper: true;
$bottom_primary_stepper: true;
$top_secondary_stepper: false;
$bottom_secondary_stepper: false;
$check_size: 21px;
$menu_radius : 0px;
