@mixin list() {
  list {
    color: $theme_fg_color;
    background-color: $theme_base_color;

    & row {
      padding: 2px;

      &:hover {
        background-color: gtkmix($theme_bg_color, $theme_fg_color, 0.1);
      }
      
      &:backdrop {
        color: $theme_unfocused_fg_color;
      }

      &:selected {
        &, &:hover, &:focus {
          border: none;
          color: $theme_selected_fg_color;
          background-color: $theme_selected_bg_color;
          
          & switch:checked {
          }
        }

        &:disabled {
          color: gtkalpha($theme_selected_fg_color, 0.7);
          background-color: $theme_selected_bg_color;
        }
        
        &:backdrop {
          color: $theme_unfocused_selected_fg_color;
          background-color: $theme_unfocused_selected_bg_color;
        }
      }
    }
    & separator, & separator:backdrop {
      background: none; // no lines on sidebar
    }
  }
}
