// entry 
@mixin entry() {
  entry {
    padding: 6px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: $theme_fg_color;
    border-radius: $entry_radius;
    color: $theme_text_color;
    caret-color: currentColor;
    background-color: $theme_base_color;

    &:active, &:focus {
      border-color: gtkshade($theme_bg_color, 0.75);
    }

    &:selected, &:selected:focus, & selection, & selection:focus {
      color: $theme_selected_fg_color;
      background-color: $theme_selected_bg_color;
    }

    &:disabled {
      color: $theme_disabled_text_color;
      border-color: gtkmix($theme_disabled_bg_color, gtkshade($theme_bg_color, 0.75), 0.25);

      &:backdrop {
      }
    }

    &.read-only {
      background-color: gtkmix($theme_bg_color, $theme_disabled_bg_color, 0.1);
    }

    &:backdrop {
    }

    & > image {
      &.left {
        padding-right: 5px;
      }
      
      &.right {
        padding-left: 5px;
      }
    }

    & progress {
      margin: -4px -4px;
      border-width: 0 0 2px;
      border-radius: 0;
      border-style: solid;
      border-color: $theme_selected_bg_color;
      background-color: transparent;
    }

    &.flat, &.flat:focus {
      padding: 3px;
      border: none;
      border-radius: 0;
      background-color: transparent;
    }

    &.search {
      border-radius: 40px;
    }
  }
}
