// entry 
@mixin entry() {
  entry {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: gtkshade($borders, 0.85);
    border-radius: $entry_radius;
    color: $theme_text_color;
    caret-color: currentColor;
    background-color: $theme_base_color;
    box-shadow: inset 0 0 2px 0 gtkalpha($dark_shadow, 0.08), inset 0 1px gtkshade($theme_bg_color, 0.8);

    &:active, &:focus {
      box-shadow: inset 0 0 1px 3px gtkshade($theme_selected_bg_color, 1.9);
    }

    &:selected, &:selected:focus, & selection, & selection:focus {
      color: $theme_selected_fg_color;
      background-color: $theme_selected_bg_color;
    }

    &:disabled {
      color: $theme_disabled_text_color;

      &:backdrop {
        color: $theme_unfocused_disabled_fg_color;
        border-color: $unfocused_borders;
        background-color: $theme_unfocused_disabled_base_color;
      }
    }

    &.read-only {
      background-color: gtkmix($theme_bg_color, $theme_disabled_bg_color, 0.1);
    }

    &:backdrop {
      color: $theme_unfocused_fg_color;
      background-color: $theme_unfocused_base_color;
    }

    & > image {
      &.left {
        padding-right: 5px;
      }
      
      &.right {
        padding-left: 5px;
      }
    }

    & progress {
      margin: -4px -4px;
      border-width: 0 0 2px;
      border-radius: 0;
      border-style: solid;
      border-color: gtkshade($theme_selected_bg_color, 1.9);
      background-color: transparent;
    }

    &.flat, &.flat:focus {
      padding: 3px;
      border: none;
      border-radius: 0;
      background-color: transparent;
    }

    &.search {
      border-radius: 40px;
    }
    
    entry {
      box-shadow: none;
      background-color: transparent;
    }
  }
}
