// modelbutton
@mixin modelbutton() {
  modelbutton.flat, menuitem.button.flat, .menuitem.button.flat {
    padding: 2px 8px;
    border: none;
    color: $theme_fg_color;
    background-color: transparent;

    &:hover, &:selected, &:active:hover {
      color: $theme_selected_fg_color;
      background-color: $theme_selected_bg_color;
      background-image: linear-gradient(gtkshade($theme_selected_bg_color, 1.45), gtkshade($theme_selected_bg_color, 1.2));
    }

    & > image {
      padding-right: 4px;
    }

    & arrow {
      &.left {
        -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
      }

      &.right {
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
      }
    }
  }
}
