// primary-toolbar 
@mixin primary_toolbar() {
  .primary-toolbar {
    -GtkWidget-window-dragging: true;

    padding: 4px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: gtkmix($borders, $toolbar_bg_color, 0.5);
    color: $toolbar_fg_color;
    background-color: $toolbar_bg_color;

    &:backdrop {
      border-color: $theme_unfocused_bg_color;
      color: $theme_unfocused_fg_color;
      background-color: gtkshade($theme_unfocused_bg_color, 0.95);
    }

    button, .raised button {
      @include flat_buttons($theme_base_color, $toolbar_fg_color, $borders);
    }
  }
}
