// scrollbar  
@mixin scrollbar() {
  scrollbar {
    border: none;
    background-color: $theme_base_color;

    & trough {
      border: none;
      border-radius: 0;
    }

    &:backdrop {
      background-color: $theme_unfocused_base_color;
    }

    & slider {
      min-width: 8px;
      min-height: 8px;
      margin: 2px;
      border: none;
      border-radius: $scrollbar_radius;
      background-clip: padding-box;
      background-color: gtkshade($theme_bg_color, 0.6);

      &:hover {
        background-color: gtkshade($theme_bg_color, 0.6);

        &:active {
          background-color: gtkshade($theme_bg_color, 0.55);
        }
      }

      &:backdrop {
        background-color: gtkshade($theme_bg_color, 0.55);
      }

      &:disabled {
        background-color: transparent;
      }
    }

    &.fine-tune {
      & slider {
        min-width: 6px;
        min-height: 6px;
        border-radius: $scrollbar_radius;
      }

      &.horizontal slider {
        margin-top: 1px;
        margin-bottom: 1px;
      }

      &.vertical slider {
        margin-left: 1px;
        margin-right: 1px;
      }
    }

    &.overlay-indicator {
      &.horizontal {
        border-top: 1px solid $borders;
      }
      
      &.vertical {
        border-left: 1px solid $borders;
      }
      
      &:not(.dragging):not(.hovering) {
        opacity: 1;
        background-color: $theme_base_color;
      }
      
      &.dragging, &.hovering {
        opacity: 1;
      }
    }

    &.horizontal {
      border-top: 1px solid $borders;
      
      & slider {
        min-width: 40px;
      }

      & button {
        &.down {
          -gtk-icon-source: -gtk-icontheme("pan-right-symbolic");
        }

        &.up {
          -gtk-icon-source: -gtk-icontheme("pan-left-symbolic");
        }
      }
    }

    &.vertical {
      border-left: 1px solid $borders;
      
      & slider {
        min-height: 40px;
      }

      & button {
        &.down {
          -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
        }

        &.up {
          -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
        }
      }
    }

    treeview ~ &.vertical {
      border-top: 1px solid $borders;
      margin-top: -1px;
    }
  }
}
