@mixin suggested_button() {
  button.suggested-action {
    border-width: 1px;
    border-style: solid;
    border-radius: $button_radius;
    color: $selected_fg_color;
    background-color: gtkshade($bg_color, 0.8);
    background-image: linear-gradient(to bottom, gtkshade($selected_bg_color, 1.3) 40%, gtkshade($selected_bg_color, 0.95) 60%);


    &:active, &:checked {
      background-image: linear-gradient(to bottom, gtkshade($selected_bg_color, 1.1) 40%, gtkshade($selected_bg_color, 0.75) 60%);

      &:backdrop {
        color: $unfocused_selected_fg_color;
      }
    }

    &:backdrop {
      border-color: $unfocused_selected_bg_color;
      color: $unfocused_selected_fg_color;
      background-image: linear-gradient(to bottom, gtkshade($selected_bg_color, 1.3) 40%, gtkshade($selected_bg_color, 0.95) 60%);
    }
  }
}
