@mixin menubar_menuitem() {
  menubar > menuitem, .menubar > menuitem {
    padding: 3px 5px;
    border: 1px solid transparent;
    color: $menubar_fg_color;
    background-color: transparent;

    &:hover {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
      border-color: gtkshade($selected_bg_color, 0.9);
      border-radius: $roundness;
      background-color: gtkshade($selected_bg_color, 1.12);
      background-image: linear-gradient(to bottom, gtkshade($selected_bg_color, 1.06), gtkshade($selected_bg_color, 1.02));
    }

    &:disabled {
      color: $disabled_fg_color;
      background-color: transparent;
    }

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: transparent;
    }
  }
}
