@mixin menubar() {
  menubar, .menubar {
    -GtkWidget-window-dragging: true;
    padding: 0;
    border-style: none;
    background-color: $menubar_bg_color;
    color: $menubar_fg_color;
    background-image: linear-gradient(to bottom, gtkshade($dark_bg_color, 1.05), gtkshade($dark_bg_color, 1.012) 40%, gtkshade($dark_bg_color, 0.98) 41%, gtkshade($dark_bg_color, 1.02) 89%, gtkshade($dark_bg_color, 1.05) 90%, gtkshade($dark_bg_color, 0.75));

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
    }
  }
}
