@mixin menuitem() {
  menu menuitem, .menu menuitem {
    min-height: 16px;
    min-width: 40px;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 0;
    color: $menu_fg_color;
    background-color: $menu_bg_color;

    &:hover {
      color: $selected_fg_color;
      border-color: gtkshade($selected_bg_color, 0.9);
      border-radius: $roundness;
      background-color: gtkshade($selected_bg_color, 1.12);
      background-image: linear-gradient(to bottom, gtkshade($selected_bg_color, 1.06), gtkshade($selected_bg_color, 1.02));
    }

    &:disabled {
      color: gtkmix($menu_fg_color, $menu_bg_color, 0.5);
    }

    arrow {
      min-width: 16px;
      min-height: 16px;

      &:dir(ltr) {
        margin-left: 10px;
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
      }

      &:dir(rtl) {
        margin-right: 10px;
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
      }
    }
  }
  
  menuitem {
    & accelerator {
      color: gtkalpha(currentColor, 0.55);

      &:hover {
        color: gtkalpha($selected_fg_color, 0.8);
      }

      &:disabled {
        color: $disabled_fg_color;
      }
    }
  }
}
