@mixin menubar() {
  menubar, .menubar {
    padding: 0;
    border-style: none;
    background-color: $menubar_bg_color;
    color: $menubar_fg_color;
    background-image: url('assets/titlebar.png');
    background-size: 100% 100%;

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
      background-image: url('assets/titlebar-backdrop.png');
    }
    
    > menuitem {
      padding: 3px 5px;
      border: 1px solid transparent;
      color: $menubar_fg_color;
      background-color: transparent;

      &:hover {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
        border-color: gtkshade($selected_bg_color, 0.9);
        border-radius: $global_radius;
        background-color: gtkshade($selected_bg_color, 1.12);
        background-image: linear-gradient(
          to bottom,
          gtkshade($selected_bg_color, 1.06),
          gtkshade($selected_bg_color, 1.02)
        );
      }

      &:disabled {
        color: $disabled_fg_color;
        background-color: transparent;
      }

      &:backdrop {
        color: $backdrop_fg_color;
        background-color: transparent;
      }
    }
  }
}
