// linked widgets
@mixin linked_widgets() {
  .linked {
    &, .inline-toolbar & {
      button, .raised button {
        border-color: $theme_base_color;
        background-color: $theme_base_color;
        
        &:disabled, &:backdrop, &:disabled:backdrop {
          border-color: $theme_base_color;
          background-color: $theme_base_color;
        }
        
        &:checked, &:active {
          color: $theme_selected_fg_color;
          border-color: $theme_selected_bg_color;
          background-color: $theme_selected_bg_color;
          
          &:backdrop {
            color: $theme_unfocused_selected_fg_color;
            border-color: $theme_unfocused_selected_bg_color;
            background-color: $theme_unfocused_selected_bg_color;
          }
        }
      }
      
      entry {
        border-color: $theme_base_color;
        
        &:disabled, &:backdrop {
          border-color: $theme_base_color;
        }
        
        &:checked, &:active {
          border-color: $theme_selected_bg_color;
        }
      }
    }
  }
   
  .linked, .osd .linked {
    &, .inline-toolbar &, .primary-toolbar {
      button, .raised button {
        border-width: 1px;
        border-radius: 0;
        border-left-width: 0;

        &:first-child {
          border-left-width: 1px;
          border-top-left-radius: $button_radius;
          border-bottom-left-radius: $button_radius;
        }

        &:last-child {
          border-left-width: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: $button_radius;
          border-bottom-right-radius: $button_radius;
        }

        &:only-child {
          border-width: 1px;
          border-radius: $button_radius;
        }
      }
      
      entry {
        border-radius: 0;
        border-left-width: 0;

        &:first-child {
          border-left-width: 1px;
          border-top-left-radius: $entry_radius;
          border-bottom-left-radius: $entry_radius;
        }

        &:last-child {
          border-left-width: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: $entry_radius;
          border-bottom-right-radius: $entry_radius;
        }

        &:only-child {
          border-width: 1px;
          border-radius: $entry_radius;
        }
        
        &:focus, &:last-child:focus {
          border-color: $theme_selected_bg_color;
          box-shadow: -1px 0 $theme_selected_bg_color;
        }
          
        &:first-child:focus {
          box-shadow: none;
          border-color: $theme_selected_bg_color;
        }
      }

      combobox {
        box.linked button {
          border-radius: 0;
          border-left-width: 0;
        }

        &:first-child box.linked button {
          border-left-width: 1px;
          border-top-left-radius: $button_radius;
          border-bottom-left-radius: $button_radius;
        }

        &:last-child box.linked button {
          border-left-width: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: $button_radius;
          border-bottom-right-radius: $button_radius;
        }

        &:only-child box.linked button {
          border-width: 1px;
          border-radius: $button_radius;
        }
      }
    }
  }
  
  // vertical
  .vertical.linked, .osd .vertical.linked {
    button {
      border-width: 1px;
      border-left-width: 1px;
      border-top-width: 0;
      border-radius: 0;

      &:first-child {
        border-top-width: 1px;
        border-top-left-radius: $button_radius;
        border-top-right-radius: $button_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
      }

      &:only-child {
        border-top-width: 1px;
      }
    }
    
    entry {
      border-left-width: 1px;
      border-top-width: 0;
      border-radius: 0;

      &:first-child {
        border-top-width: 1px;
        border-top-left-radius: $entry_radius;
        border-top-right-radius: $entry_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $entry_radius;
        border-bottom-right-radius: $entry_radius;
      }

      &:only-child {
        border-top-width: 1px;
      }
      
      &:focus, &:last-child:focus {
        border-color: $theme_selected_bg_color;
        box-shadow: 0 -1px $theme_selected_bg_color;
      }

      &:first-child:focus {
        box-shadow: none;
        border-color: $theme_selected_bg_color;
      }
    }

    combobox {
      box.linked button {
        border-left-width: 1px;
        border-top-width: 0;
        border-radius: 0;
      }

      &:first-child box.linked button {
        border-top-width: 1px;
        border-top-left-radius: $button_radius;
        border-top-right-radius: $button_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child box.linked button {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
      }

      &:only-child box.linked button {
        border-top-width: 1px;
      }
    }
    
    spinbutton {
      button {
        &:first-child {
          border-width: 1px;
          border-top-width: 0;
          border-left-width: 1px;
        }
        
        &:last-child {
          border-width: 0;
          border-left-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }      
      }
    }
  }
  
  .stack-switcher {
    button {
      min-height: 20px;
      min-width: 80px;
      box-shadow: none;
      border-color: $theme_selected_bg_color;
      
      &:backdrop {
        border-color: $theme_unfocused_selected_bg_color; 
      }

      &:checked, &:active {
        background-color: $theme_selected_bg_color;
        color: $theme_selected_fg_color;
        
        &:backdrop {
          color: $theme_unfocused_selected_fg_color;
          background-color: $theme_unfocused_selected_bg_color;
        }
      }
    }
  }
  
  .primary-toolbar {
    button, .raised button {
      &, &:first-child, &:last-child {
        border-radius: $button_radius;
        border-width: 0;
      }
      
      &:backdrop, &:disabled, &:disabled:backdrop {
        background-color: transparent;
      }
    }
  }
}
