// progressbar 
@mixin progressbar() {
  progressbar {
    padding: 0;
    border: none;
    color: gtkmix($theme_fg_color, $theme_selected_fg_color, 0.5);
    background-color: transparent;

    & progress {
      border: none;
      border-radius: $progressbar_radius;
      background-color: $theme_selected_bg_color;

      &:backdrop {
        background-color: $theme_unfocused_selected_bg_color;
      }
    }

    & trough {
      border-radius: $progressbar_radius;
      background-color: gtkalpha($dark_shadow, 0.1);

      &:backdrop {
        background-color: gtkshade($theme_unfocused_bg_color, 0.95);
      }
    }

    &.horizontal trough,
    &.horizontal progress {
      min-height: 2px;
    }

    &.vertical trough,
    &.vertical progress {
      min-width: 2px;
    }
  }

  treeview.view {
    &.progressbar {
      &, &:disabled {
        color: $theme_selected_fg_color;
        border-radius: 0;
        background-color: $theme_selected_bg_color;
      }

      &:focus, &:selected:focus, &:focus:selected, &:focus:selected:focus, &:disabled:selected {
        border-radius: 0;
        color: $theme_selected_bg_color;
        background-color: $theme_selected_fg_color;
      }
    }

    &.trough {
      color: $theme_fg_color;
      background-color: gtkalpha($dark_shadow, 0.1);
      border-radius: 0;
      border: none;

      &:selected, &:selected:focus {
        color: $theme_selected_fg_color;
        background-color: gtkalpha($dark_shadow, 0.1);
        border-radius: 0;
        border: none;
      }
    }

    infobar & trough, row:selected & trough {
      background-color: gtkalpha($dark_shadow, 0.1);
    }
  }
}
