// spinbutton
@mixin spinbutton() {
  spinbutton {
    &:not(.vertical) selection, &:not(.vertical) selection:focus {
      color: $theme_selected_fg_color;
      background-color: $theme_selected_bg_color;
    }
    
    & button, & entry {
      border-color: $theme_base_color;
      background-color: $theme_base_color;
      
      &:disabled {
        color: $theme_disabled_fg_color;
        border-color: $theme_base_color;
        background-color: $theme_base_color;
        
        &:backdrop {
          color: $theme_unfocused_disabled_fg_color;
          border-color: $theme_base_color;
          background-color: $theme_base_color;
        }
      }
      
      &:backdrop {
        color: $theme_unfocused_disabled_fg_color;
        border-color: $theme_base_color;
        background-color: $theme_base_color;
      }
    }

    &.horizontal {
      & entry {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 7px 15px;
        
        &:focus {
          box-shadow: none;
        }
      }
      & button {
        
        &.down {
          border-right-width: 0;
          border-left-width: 0;
          border-radius: 0;
        }

        &.up {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    &.vertical {
      & entry {
        border-radius: 0;
        
        &:focus {
          box-shadow: none;
        }
      }

      & button {
        &.up {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-width: 0;
        }

        &.down {
          border-top-width: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
}
