$imgtype : "png";

// TODO: merge with windows-8-metro (or implement :active specific assets)
@mixin checkradio() {
  checkbutton, radiobutton {
    padding: 4px;
    outline-offset: 0;
  }

  check, radio {
    margin: 0 4px;
    min-width: $checkradio_size;
    min-height: $checkradio_size;
    border: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    transition: 0.2s;
  }

  // TODO: use symbolic icons for menu buttons
  popover.menu check,
  modelbutton.flat check,
  check { -gtk-icon-source: gtkscale("assets/checkbox-unchecked", $imgtype);
    &:hover { -gtk-icon-source: gtkscale("assets/checkbox-unchecked-over", $imgtype); }
    &:active { -gtk-icon-source: gtkscale("assets/checkbox-unchecked-active", $imgtype); }
    &:disabled { -gtk-icon-source: gtkscale("assets/checkbox-unchecked-insensitive", $imgtype); }
    &:checked { -gtk-icon-source: gtkscale("assets/checkbox-checked", $imgtype);
      &:hover { -gtk-icon-source: gtkscale("assets/checkbox-checked-over", $imgtype); }
      &:active { -gtk-icon-source: gtkscale("assets/checkbox-checked-active", $imgtype); }
      &:disabled { -gtk-icon-source: gtkscale("assets/checkbox-checked-insensitive", $imgtype); }
    }
    &:indeterminate { -gtk-icon-source: gtkscale("assets/checkbox-mixed", $imgtype);
      &:hover { -gtk-icon-source: gtkscale("assets/checkbox-mixed-over", $imgtype); }
      &:active { -gtk-icon-source: gtkscale("assets/checkbox-mixed-active", $imgtype); }
      &:disabled { -gtk-icon-source: gtkscale("assets/checkbox-mixed-insensitive", $imgtype); }
    }
    &:backdrop { opacity: 0.8; }
  }
  
  // TODO: use symbolic icons for menu buttons
  popover.menu radio,
  modelbutton.flat radio,
  radio { -gtk-icon-source: gtkscale("assets/radio-unchecked", $imgtype);
    &:hover { -gtk-icon-source: gtkscale("assets/radio-unchecked-over", $imgtype); }
    &:active { -gtk-icon-source: gtkscale("assets/radio-unchecked-active", $imgtype); }
    &:disabled { -gtk-icon-source: gtkscale("assets/radio-unchecked-insensitive", $imgtype); }
    &:checked { -gtk-icon-source: gtkscale("assets/radio-checked", $imgtype);
      &:hover { -gtk-icon-source: gtkscale("assets/radio-checked-over", $imgtype); }
      &:active { -gtk-icon-source: gtkscale("assets/radio-checked-active", $imgtype); }
      &:disabled { -gtk-icon-source: gtkscale("assets/radio-checked-insensitive", $imgtype); }
    }
    &:indeterminate { -gtk-icon-source: gtkscale("assets/radio-mixed", $imgtype);
      &:hover { -gtk-icon-source: gtkscale("assets/radio-mixed-over", $imgtype); }
      &:active { -gtk-icon-source: gtkscale("assets/radio-mixed-active", $imgtype); }
      &:disabled { -gtk-icon-source: gtkscale("assets/radio-mixed-insensitive", $imgtype); }
    }
    &:backdrop { opacity: 0.8; }
  }
  
  popover.menu check, modelbutton.flat check
  popover.menu radio, modelbutton.flat radio {
    animation: none;
    transition: none;
  }
}
