@mixin entry($type : "base") {
  @if $type == "base" {
    padding: 4px 3px;
    border-radius: $entry_radius;
    border: 1px solid $border_color;
    color: $text_color;
    background-color: $base_color;
  }

  @else if $type == "focus" {
    border-color: shade($selected_bg_color, 0.6);
    box-shadow: none;
  }

  @else if $type == "disabled" {
    border-color: gtkmix($disabled_fg_color, $disabled_bg_color, 0.9);
    color: $disabled_text_color;
    background-color: gtkmix($base_color, $disabled_bg_color, 0.1);
  }

  @else if $type == "disabled-backdrop" {
    border-color: gtkmix($backdrop_disabled_fg_color, $backdrop_disabled_bg_color, 0.9);
    color: $backdrop_disabled_fg_color;
    background-color: $backdrop_disabled_base_color;
  }

  @else if $type == "backdrop" {
    border-color: $backdrop_border_color;
    color: $backdrop_fg_color;
    background-color: $backdrop_base_color;
  }
    
  @else if $type == "undecorated" {
    min-height: 0px;
    padding: 3px;
    border-radius: 0px;
    background-image: none;
    border-color: transparent;
  }
}
