@mixin notebook_header(){
  background-color: $bg_color;
  
  &:backdrop {
    background-color: $backdrop_bg_color;
  }
  
  &.top { box-shadow: 0 1px $border_color; }
  &.bottom { box-shadow: 0 -1px $border_color; }
  &.left { box-shadow: 1px 0 $border_color; }
  &.right { box-shadow: -1px 0 $border_color; }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    margin: 0px;
    padding: 3px 10px;
    border-radius: $notebook_tab_radius;
    border: 1px solid $border_color;
    color: gtkmix($fg_color, $bg_color, 0.3);
    background-color: gtkshade($bg_color, 0.97);
    box-shadow: none;
    
    @if $pos == "top" {
      margin-top: 2px;
      margin-bottom: -1px;
    }
    @else if $pos == "bottom" {
      margin-bottom: 2px;
      margin-top: -1px;
    }
    @else if $pos == "left" {
      margin-left: 2px;
      margin-right: -1px;
    }
    @else if $pos == "right" {
      margin-right: 2px;
      margin-left: -1px;
    }
  }
  
  @else if $type == "hover" {
    background-color: $selected_bg_color;
  }
  
  @else if $type == "checked" {
    border-color: $border_color;
    color: $fg_color;
    background-color: $base_color;
    
    @if $pos == "top" {
      margin-top: -1px;
      margin-bottom: -2px;
    }
    @else if $pos == "bottom" {
      margin-bottom: -1px;
      margin-top: -2px;
    }
    @else if $pos == "left" {
      margin-left: -1px;
      margin-right: -2px;
    }
    @else if $pos == "right" {
      margin-right: -1px;
      margin-left: -2px;
    }
  }
}
