@mixin scale_trough() {
  border: 1px solid $border_color;
  border-radius: $scale_trough_radius;
  background-color: gtkalpha($fg_color, 0.1);

  &:disabled { background-color: gtkalpha($fg_color, 0.05);
    &:backdrop { background-color: gtkalpha($fg_color, 0.05); }
  }
  &:backdrop { background-color: gtkalpha($fg_color, 0.1); }
}

@mixin scale_highlight() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: transparent;

  &:disabled { background-color: transparent;
    &:backdrop { background-color: transparent; }
  }
  &:backdrop { background-color: transparent; }
}

// similar to windows 95, 3.11, xp luna
@mixin scale_slider($orient : "none") {

  @if $orient == "none" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size;
    margin: -$scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: none;
    color: $selected_fg_color;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: none;
    
    &:hover { color: $selected_fg_color; }
    &:backdrop { color: $backdrop_selected_fg_color; }
  }
  
  @if $orient == "bottom" or $orient == "horiz" {
    background-image: url('assets/slider-horiz.png');

    &:hover { background-image: url('assets/slider-horiz-hover.png'); }
    &:disabled { background-image: url('assets/slider-horiz-insensitive.png');
      &:backdrop { background-image: url('assets/slider-horiz-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-horiz-insensitive.png'); }
  }
  
  @if $orient == "top" {
    background-image: url('assets/slider-horiz-top.png');

    &:hover { background-image: url('assets/slider-horiz-top-hover.png'); }
    &:disabled { background-image: url('assets/slider-horiz-top-insensitive.png');
      &:backdrop { background-image: url('assets/slider-horiz-top-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-horiz-top-insensitive.png'); }
  }

  @if $orient == "right" or $orient == "vert" {
    background-image: url('assets/slider-vert.png');

    &:hover { background-image: url('assets/slider-vert-hover.png'); }
    &:disabled { background-image: url('assets/slider-vert-insensitive.png');
      &:backdrop { background-image: url('assets/slider-vert-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-vert-insensitive.png'); }
  }
  
  @if $orient == "left" {
    background-image: url('assets/slider-vert-left.png');
    
    &:hover { background-image: url('assets/slider-vert-left-hover.png'); }
    &:disabled { background-image: url('assets/slider-vert-left-insensitive.png');
      &:backdrop { background-image: url('assets/slider-vert-left-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-vert-left-insensitive.png'); }
  }
}
