@mixin scale_trough() {
  border: 1px solid $border_color;
  border-radius: $scale_trough_radius;
  background-color: gtkalpha($fg_color, 0.1);

  &:disabled { background-color: gtkalpha($fg_color, 0.05);
    &:backdrop { background-color: gtkalpha($fg_color, 0.05); }
  }
  &:backdrop { background-color: gtkalpha($fg_color, 0.1); }
}

@mixin scale_highlight() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: transparent;

  &:disabled { background-color: transparent;
    &:backdrop { background-color: transparent; }
  }
  &:backdrop { background-color: transparent; }
}

// similar to windows 95, 3.11, xp luna
@mixin scale_slider() {
  min-width: $scale_slider_width;
  min-height: $scale_slider_height;
  margin: -$scale_slider_margin;
  //margin-bottom: -10px;
  border-radius: $scale_slider_radius;
  border: none;
  color: $selected_fg_color;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: none;
  
  &:hover { color: $selected_fg_color; }
  &:backdrop { color: $backdrop_selected_fg_color; }
  
  @at-root
  scale.horizontal > trough > slider,
  scale.horizontal.marks-before:not(.marks-after) > trough > slider {
    background-image: url('assets/slider-horiz.png');

    &:hover { background-image: url('assets/slider-horiz-hover.png'); }
    &:disabled { background-image: url('assets/slider-horiz-insensitive.png');
      &:backdrop { background-image: url('assets/slider-horiz-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-horiz-insensitive.png'); }
  }
  
  @at-root
  scale.horizontal.marks-before:not(.marks-after) > trough > slider {
    background-image: url('assets/slider-horiz-top.png');

    &:hover { background-image: url('assets/slider-horiz-top-hover.png'); }
    &:disabled { background-image: url('assets/slider-horiz-top-insensitive.png');
      &:backdrop { background-image: url('assets/slider-horiz-top-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-horiz-top-insensitive.png'); }
  }

  @at-root
  scale.vertical > trough > slider {
    min-width: $scale_slider_height;
    min-height: $scale_slider_width;
    //margin-right: -10px;
  }
  
  @at-root
  scale.vertical > trough > slider,
  scale.vertical.marks-after:not(.marks-before) > trough > slider {
    background-image: url('assets/slider-vert.png');

    &:hover { background-image: url('assets/slider-vert-hover.png'); }
    &:disabled { background-image: url('assets/slider-vert-insensitive.png');
      &:backdrop { background-image: url('assets/slider-vert-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-vert-insensitive.png'); }
  }
  
  @at-root
  scale.vertical.marks-before:not(.marks-after) > trough > slider {
    background-image: url('assets/slider-vert-left.png');
    
    &:hover { background-image: url('assets/slider-vert-left-hover.png'); }
    &:disabled { background-image: url('assets/slider-vert-left-insensitive.png');
      &:backdrop { background-image: url('assets/slider-vert-left-insensitive.png'); }
    }
    &:backdrop { background-image: url('assets/slider-vert-left-insensitive.png'); }
  }
}
