@mixin normal_buttons($bg : $base_color, $fg : $fg_color, $br : $border_color) {
  padding: 4px 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: $button_radius;
  color: $fg;
  border-color: $br;
  border-top-color: gtkshade($br, 1.1);
  border-left-color: gtkshade($br, 1.05);
  border-right-color: gtkshade($br, 1.05);
  background-color: $bg;

  &:hover {
    color: $fg;
    background-color: gtkshade($bg, 1.1);
  }

  &:active, &:checked {
    color: $selected_fg_color;
    border-color: gtkshade($br, 0.9);
    background-color: gtkshade($bg, 0.5);

    &:backdrop {
      color: $backdrop_fg_color;
      border-color: $backdrop_border_color;
      background-color: gtkshade($backdrop_bg_color, 0.85);
    }
    
    &:disabled {
      color: gtkmix($fg, $backdrop_disabled_fg_color, 0.1);
      border-color: $backdrop_border_color;
      background-color: gtkshade($disabled_bg_color, 0.9);
      
      &:backdrop {
        color: $backdrop_disabled_fg_color;
        border-color: $backdrop_border_color;
        background-color: gtkshade($backdrop_disabled_bg_color, 0.9);
      }
    }
  }

  &:disabled {
    color: gtkmix($fg, $backdrop_disabled_fg_color, 0.5);
    border-color: $backdrop_border_color;
    background-color: $disabled_base_color;
    
    &:backdrop {
      color: $backdrop_disabled_fg_color;
      border-color: $backdrop_border_color;
      background-color: $backdrop_disabled_base_color;
    }
  }

  &:backdrop {
    color: $backdrop_fg_color;
    border-color: $backdrop_border_color;
    background-color: $backdrop_base_color;
  }
}

@mixin flat_buttons($bg : $base_color, $fg : $fg_color, $br : $border_color) {
  border-color: transparent;
  border-radius: $button_radius;
  color: $fg;
  background-color: transparent;

  &:hover {
    border-color: $br;
    border-top-color: gtkshade($br, 1.1);
    border-left-color: gtkshade($br, 1.05);
    border-right-color: gtkshade($br, 1.05);
    color: $fg;
    background-color: $bg;
  }

  &:active, &:checked {
    color: $selected_fg_color;
    background-color: gtkshade($bg, 0.5);
    
    &:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: gtkshade($backdrop_selected_bg_color, 0.6);
    }
  }

  &:disabled {
    border-color: transparent;
    color: gtkalpha($fg, 0.8);
    background-color: transparent;
    
    &:backdrop {
      border-color: transparent;
      color: gtkalpha($fg, 0.7);
      background-color: transparent;
    }
  }

  &:backdrop {
    border-color: transparent;
    background-color: transparent;
    color: $backdrop_fg_color;
  }
}
