@mixin scale() {
  scale {
    min-height: 10px;
    min-width: 10px;
    padding: 12px;

    fill, trough {
      border: none;
      border-radius: 4px;
      background-color: gtkalpha($dark_shadow, 0.2);
      outline-offset: 2px;

      &:disabled {
        background-color: gtkalpha($dark_shadow, 0.15);

        &:backdrop {
          background-color: gtkalpha($dark_shadow, 0.08);
        }
      }

      &:backdrop {
        background-color: gtkalpha($dark_shadow, 0.1);
      }
    }

    highlight {
      border: none;
      border-radius: 4px;
      background-color: $selected_base_color;

      &:disabled {
        background-color: $disabled_bg_color;

        &:backdrop {
          background-color: $backdrop_disabled_bg_color;
        }
      }

      &:backdrop {
        background-color: $selected_base_color;
      }
    }

    &.horizontal {
      indicator {
        min-height: 6px;
        min-width: 1px;
      }

      &.fine-tune indicator {
        min-height: 3px;
      }
    }

    &.vertical {
      indicator {
        min-height: 1px;
        min-width: 6px;
      }

      &.fine-tune indicator {
        min-width: 3px;
      }
    }

    &.fine-tune {
      &.horizontal {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 14px;
      }

      &.vertical {
        padding-left: 10px;
        padding-right: 10px;
        min-width: 14px;
      }

      slider {
        margin: -6px;
      }

      fill, trough, highlight {
        border-radius: 4px;
      }

      marks {
        &.top {
          margin-bottom: 8px;
          margin-top: -13px;
        }

        &.bottom {
          margin-top: 8px;
          margin-bottom: -13px;
        }

        &.top {
          margin-right: 8px;
          margin-left: -13px;
        }

        &.bottom {
          margin-left: 8px;
          margin-right: -13px;
        }
      }
    }

    slider {
      min-height: 14px;
      min-width: 14px;
      margin: -7px;
      border: 1px solid $border_color;
      border-radius: 4px;
      color: $fg_color;
      background-color: $base_color;

      &:hover {
      }

      &:disabled {
        background-color: $disabled_base_color;
        -gtk-icon-shadow: none;

        &:backdrop {
          background-color: $backdrop_disabled_bg_color;
          -gtk-icon-shadow: none;
        }
      }

      &:backdrop {
        color: $backdrop_fg_color;
        background-color: $backdrop_base_color;
      }
    }

    value {
      color: gtkalpha(currentColor,0.55);
    }

    marks {
      color: gtkalpha(currentColor,0.55);

      &.top {
        margin-bottom: 6px;
        margin-top: -12px;
      }

      &.bottom {
        margin-top: 6px;
        margin-bottom: -12px;
      }

      &.top {
        margin-right: 6px;
        margin-left: -12px;
      }

      &.bottom {
        margin-left: 6px;
        margin-right: -12px;
      }
    }
  }
}
