// TODO: standardize button radius variable names
@mixin normal_buttons($button_bg : $base_color, $button_fg : $fg_color, $button_border : $border_color, $rd : $normal_button_radius) {
  padding: 4px 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: $rd;
  color: $button_fg;
  border-color: gtkshade($button_border, 0.85);
  border-bottom-color: gtkshade($button_border, 0.6);
  background-color: $button_bg;
  background-image: linear-gradient(
    to bottom,
    gtkshade($button_bg, 0.95) 40%,
    $button_bg 75%
  );
  box-shadow: 0 2px 3px 0px gtkalpha($dark_shadow, 0.3), 
              inset 0 0 0 1px gtkalpha($light_shadow, 0.3),
              inset 1px 0 2px 0 gtkalpha($dark_shadow, 0.2),
              inset -1px 0 2px 0 gtkalpha($dark_shadow, 0.2),
              inset 0 6px 3px -2px $light_shadow;

  // TODO: implement hover state

  &:active, &:checked {
    // TODO: replace hard-coded color values
    background-image: linear-gradient(
      to bottom,
      #b6d2ed,
      #8ebbe8 35%,
      #63a1df 36%,
      #b9edff
    );
    border-color: #07067b;
    border-left-color: gtkshade($selected_bg_color, 1.15);
    border-right-color: gtkshade($selected_bg_color, 1.15);
    border-bottom-color: gtkshade($selected_bg_color, 1.3);
    box-shadow: 0 2px 3px 0px gtkalpha($dark_shadow, 0.3),
                inset 1px 0 2px 0 gtkalpha($dark_shadow, 0.4),
                inset -1px 0 2px 0 gtkalpha($dark_shadow, 0.4),
                inset 0 4px 3px -2px gtkalpha($light_shadow, 0.8);

    &:backdrop {
      color: $backdrop_fg_color;
      border-color: gtkshade($backdrop_bg_color, 0.85);
      background-image: linear-gradient(
        to bottom,
        $button_bg 20%,
        $backdrop_bg_color 40%,
        $button_bg 75%
      );
      background-color: gtkshade($backdrop_bg_color, 0.85);
      box-shadow: inset 0 2px 3px 1px gtkalpha($dark_shadow, 0.25),
                  inset 0 1px gtkshade($button_bg, 0.5);
    }
    
    &:disabled {
      color: gtkmix($button_fg, $backdrop_disabled_fg_color, 0.1);
      border-color: gtkmix($button_fg, $disabled_bg_color, 0.85);
      background-image: linear-gradient(
        to bottom,
        $button_bg 20%,
        $backdrop_bg_color 40%,
        $button_bg 75%
      );
      background-color: gtkshade($disabled_bg_color, 0.9);
      box-shadow: inset 0 2px 3px 1px gtkalpha($dark_shadow, 0.2), 
                  inset 0 1px gtkshade($button_bg, 0.5);
      
      &:backdrop {
        color: $backdrop_disabled_fg_color;
        border-color: $backdrop_border_color;
        background-color: gtkshade($backdrop_disabled_bg_color, 0.9);
        box-shadow: inset 0 2px 3px 1px gtkalpha($dark_shadow, 0.15),
                    inset 0 1px gtkshade($button_bg, 0.5);
      }
    }
  }

  &:disabled {
    color: gtkmix($button_fg, $backdrop_disabled_fg_color, 0.5);
    box-shadow: 0 2px 3px 0px gtkalpha($dark_shadow, 0.2),
                inset 0 0 0 1px gtkalpha($light_shadow, 0.3),
                inset 1px 0 2px 0 gtkalpha($dark_shadow, 0.2),
                inset -1px 0 2px 0 gtkalpha($dark_shadow, 0.2),
                inset 0 6px 3px -2px $light_shadow;
    
    &:backdrop {
      color: $backdrop_disabled_fg_color;
      box-shadow: 0 2px 3px 0px gtkalpha($dark_shadow, 0.15), 
                  inset 0 0 0 1px gtkalpha($light_shadow, 0.3),
                  inset 1px 0 2px 0 gtkalpha($dark_shadow, 0.2),
                  inset -1px 0 2px 0 gtkalpha($dark_shadow, 0.2),
                  inset 0 6px 3px -2px $light_shadow;
    }
  }

  &:backdrop {
    color: $backdrop_fg_color;
    background-color: $backdrop_base_color;
    box-shadow: 0 2px 3px 0px gtkalpha($dark_shadow, 0.1),
                inset 0 0 0 1px gtkalpha($light_shadow, 0.3),
                inset 1px 0 2px 0 gtkalpha($dark_shadow, 0.2),
                inset -1px 0 2px 0 gtkalpha($dark_shadow, 0.2),
                inset 0 6px 3px -2px $light_shadow;
  }
}

@mixin flat_buttons($button_bg : $base_color, $button_fg : $fg_color, $button_border : $border_color, $rd : $normal_button_radius) {
  border-color: transparent;
  border-radius: $rd;
  color: $button_fg;
  box-shadow: none;
  background-image: none;
  background-color: transparent;

  &:hover {
    color: $button_fg;
    border-color: gtkshade($button_border, 0.6);
    background-color: $button_bg;
    background-image: linear-gradient(
      to bottom,
      $button_bg 15%,
      gtkshade($button_bg, 0.95) 40%,
      $button_bg 75%
    );
    box-shadow: 0 2px 3px 0px gtkalpha($dark_shadow, 0.3),
                inset 0 0 0 1px gtkalpha($light_shadow, 0.3),
                inset 1px 0 2px 0 gtkalpha($dark_shadow, 0.2),
                inset -1px 0 2px 0 gtkalpha($dark_shadow, 0.2),
                inset 0 6px 3px -2px $light_shadow;
    }

  &:active, &:checked {
    // TODO: replace hard-coded color values
    background-image: linear-gradient(
      to bottom,
      #b6d2ed,
      #8ebbe8 35%,
      #63a1df 36%,
      #b9edff
    );
    border-color: #07067b;
    border-left-color: gtkshade($selected_bg_color, 1.15);
    border-right-color: gtkshade($selected_bg_color, 1.15);
    border-bottom-color: gtkshade($selected_bg_color, 1.3);
    box-shadow: 0 2px 3px 0px gtkalpha($dark_shadow, 0.3),
                inset 1px 0 2px 0 gtkalpha($dark_shadow, 0.4),
                inset -1px 0 2px 0 gtkalpha($dark_shadow, 0.4),
                inset 0 4px 3px -2px gtkalpha($light_shadow, 0.8);
    
    &:backdrop {
      color: $backdrop_fg_color;
      border-color: gtkshade($backdrop_bg_color, 0.85);
      background-color: gtkshade($backdrop_bg_color, 0.85);
      box-shadow: inset 0 2px 3px 1px gtkalpha($dark_shadow, 0.25),
                  inset 0 1px gtkshade($button_bg, 0.5);
    }
  }

  &:disabled {
    border-color: transparent;
    color: gtkalpha($button_fg, 0.8);
    background-color: transparent;
    box-shadow: none;
    
    &:backdrop {
      border-color: transparent;
      color: gtkalpha($button_fg, 0.7);
      background-color: transparent;
      box-shadow: none;
    }
  }

  &:backdrop {
    border-color: transparent;
    background-color: transparent;
    color: $backdrop_fg_color;
    box-shadow: none;
  }
}

@mixin destructive_button() {
  button.destructive-action {
    border-width: 1px;
    border-style: solid;
    border-color: gtkmix($error_color, $fg_color, 0.2);
    border-radius: $normal_button_radius;
    color: gtkmix($selected_fg_color, $error_color, 0.1);
    background-color: $error_color;
    background-image: linear-gradient(
      to bottom,
      $error_color 40%,
      gtkshade($error_color, 1.2) 75%
    );
    box-shadow: 0 2px 3px 0px gtkalpha($dark_shadow, 0.3),
                inset 0 0 0 1px gtkalpha($light_shadow, 0.3),
                inset 1px 0 2px 0 gtkalpha($dark_shadow, 0.2),
                inset -1px 0 2px 0 gtkalpha($dark_shadow, 0.2),
                inset 0 6px 3px -2px gtkalpha($light_shadow, 0.4);

    &:hover {
      border-color: gtkmix($error_color, $fg_color, 0.3);
      background-color: gtkmix($error_color, $selected_fg_color, 0.2);
    }

    &:active {
      border-color: gtkmix($error_color, $fg_color, 0.3);
      background-color: gtkmix($error_color, $fg_color, 0.1);
    }

    &:backdrop {
      border-color: gtkmix($error_color, $backdrop_fg_color, 0.2);
      color: gtkmix($backdrop_selected_fg_color, $error_color, 0.1);
      background-color: gtkmix($error_color, $backdrop_bg_color, 0.3);
    }
  }
}

@mixin suggested_button($radius : $normal_button_radius) {
  button.suggested-action {
    border-width: 1px;
    border-style: solid;
    border-radius: $radius;
    
    // TODO: replace hard-coded color values
    background-image: linear-gradient(
      to bottom,
      #b6d2ed,
      #8ebbe8 35%,
      #63a1df 36%,
      #b9edff
    );
    border-color: #07067b;
    border-left-color: gtkshade($selected_bg_color, 1.15);
    border-right-color: gtkshade($selected_bg_color, 1.15);
    border-bottom-color: gtkshade($selected_bg_color, 1.3);
    box-shadow: 0 2px 3px 0px gtkalpha($dark_shadow, 0.3),
                inset 1px 0 2px 0 gtkalpha($dark_shadow, 0.4),
                inset -1px 0 2px 0 gtkalpha($dark_shadow, 0.4),
                inset 0 4px 3px -2px gtkalpha($light_shadow, 0.8);

    &:hover {
    }

    &:active, &:checked {
      box-shadow: inset 0 2px 3px 1px gtkalpha($dark_shadow, 0.45),
                  inset 0 -2px 3px 1px gtkalpha($light_shadow, 0.45),
                  inset 0 1px gtkshade(#8ebbe8, 0.35);

      &:backdrop {
        color: $backdrop_selected_fg_color;
      }
    }

    &:disabled {
      border-color: gtkmix($selected_bg_color, $disabled_bg_color, 0.2);
      color: gtkmix($selected_fg_color, $disabled_fg_color, 0.2);
      background-image: linear-gradient(
        to bottom,
        gtkshade(gtkmix($selected_bg_color, $disabled_bg_color, 0.2), 1.2),
        gtkshade(gtkmix($selected_bg_color, $disabled_bg_color, 0.2), 1.05)
      );

      &:backdrop {
        border-color: gtkmix($backdrop_selected_bg_color, $backdrop_disabled_bg_color, 0.2);
        color: gtkmix($backdrop_selected_fg_color, $backdrop_disabled_fg_color, 0.2);
        background-image: linear-gradient(
          to bottom,
          gtkshade(gtkmix($backdrop_selected_bg_color, $backdrop_disabled_bg_color, 0.2), 1.1),
          gtkshade(gtkmix($backdrop_selected_bg_color, $backdrop_disabled_bg_color, 0.2), 0.95)
        );
      }
    }

    &:backdrop {
      border-color: $backdrop_selected_bg_color;
      color: $backdrop_selected_fg_color;
      background-image: linear-gradient(
        to bottom,
        gtkshade($selected_bg_color, 1.2),
        gtkshade($selected_bg_color, 1.05)
      );
    }
  }
}
