@mixin button($type, $_bg : $base_color, $_fg : $fg_color) {
  $_border : gtkshade($border_color, 0.6);
  
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  $_disabled_border : gtkmix($_fg, $_disabled_bg, 0.85);
  
  $_backdrop_bg : gtkshade($_bg, 1.012);
  $_backdrop_fg : #8c8c8c;    // TODO: replace
  $_backdrop_border : gtkshade($_backdrop_bg, 0.85);
  
  $_backdrop_disabled_bg : gtkmix($_fg, $_bg, 0.98);
  $_backdrop_disabled_fg : gtkmix($_fg, $_bg, 0.75);
  $_backdrop_disabled_border : gtkmix($_fg, $_disabled_bg, 0.85);
  
  @if $type == "base" {
    padding: 4px 8px;
    border-radius: $round_button_radius;
    border: 1px solid $_border;
    color: $_fg;
    background-color: $_bg;
    background-image: linear-gradient(
      to bottom,
      gtkshade($_bg, 0.95) 40%,
      $_bg 75%
    );
    text-shadow: none;
    box-shadow: 0 2px 3px 0px gtkalpha(black, 0.3), 
                inset 0 0 0 1px gtkalpha(white, 0.3),
                inset 1px 0 2px 0 gtkalpha(black, 0.2),
                inset -1px 0 2px 0 gtkalpha(black, 0.2),
                inset 0 6px 3px -2px white;
    -gtk-icon-shadow: none;
  }

  @else if $type == "hover" {
    border-color: $_border;
    color: $_fg;
    background-color: $_bg;
    background-image: linear-gradient(
      to bottom,
      gtkshade($_bg, 0.95) 40%,
      $_bg 75%
    );
    box-shadow: 0 2px 3px 0px gtkalpha(black, 0.3), 
                inset 0 0 0 1px gtkalpha(white, 0.3),
                inset 1px 0 2px 0 gtkalpha(black, 0.2),
                inset -1px 0 2px 0 gtkalpha(black, 0.2),
                inset 0 6px 3px -2px white;
  }

  @else if $type == "active"
  or $type == "checked" {
    // TODO: replace hard-coded color values
    background-image: linear-gradient(
      to bottom,
      #b6d2ed,
      #8ebbe8 35%,
      #63a1df 36%,
      #b9edff
    );
    border-color: #07067b;
    border-left-color: gtkshade($selected_bg_color, 1.15);
    border-right-color: gtkshade($selected_bg_color, 1.15);
    border-bottom-color: gtkshade($selected_bg_color, 1.3);
    box-shadow: 0 2px 3px 0px gtkalpha(black, 0.3),
                inset 1px 0 2px 0 gtkalpha(black, 0.4),
                inset -1px 0 2px 0 gtkalpha(black, 0.4),
                inset 0 4px 3px -2px gtkalpha(white, 0.8);
  }

  @else if $type == "checked-backdrop" {
    color: $_backdrop_fg;
    border-color: $_backdrop_border;
    background-image: linear-gradient(
      to bottom,
      $_bg 20%,
      $_backdrop_bg 40%,
      $_bg 75%
    );
    background-color: gtkshade($_backdrop_bg, 0.85);
    box-shadow: inset 0 2px 3px 1px gtkalpha(black, 0.25),
                inset 0 1px gtkshade($_bg, 0.5);
  }
  
  @else if $type == "checked-disabled" {
    color: $_disabled_fg;
    border-color: $_disabled_border;
    background-image: linear-gradient(
      to bottom,
      $_bg 20%,
      $_backdrop_bg 40%,
      $_bg 75%
    );
    background-color: gtkshade($_disabled_bg, 0.9);
    box-shadow: inset 0 2px 3px 1px gtkalpha(black, 0.2), 
                inset 0 1px gtkshade($_bg, 0.5);
  }
  
  @else if $type == "checked-disabled-backdrop" {
    color: $_backdrop_disabled_fg;
    border-color: $_backdrop_disabled_border;
    background-color: gtkshade($_backdrop_disabled_bg, 0.9);
    box-shadow: inset 0 2px 3px 1px gtkalpha(black, 0.15),
                inset 0 1px gtkshade($_bg, 0.5);
  }

  @else if $type == "disabled" {
    color: $_disabled_fg;
    border-color: $_disabled_border;
    box-shadow: 0 2px 3px 0px gtkalpha(black, 0.2),
                inset 0 0 0 1px gtkalpha(white, 0.3),
                inset 1px 0 2px 0 gtkalpha(black, 0.2),
                inset -1px 0 2px 0 gtkalpha(black, 0.2),
                inset 0 6px 3px -2px white;
  }
  
  @else if $type == "disabled-backdrop" {
    color: $_backdrop_disabled_fg;
    border-color: $_backdrop_disabled_border;
    box-shadow: 0 2px 3px 0px gtkalpha(black, 0.15), 
                inset 0 0 0 1px gtkalpha(white, 0.3),
                inset 1px 0 2px 0 gtkalpha(black, 0.2),
                inset -1px 0 2px 0 gtkalpha(black, 0.2),
                inset 0 6px 3px -2px white;
  }

  @else if $type == "backdrop" {
    color: $_backdrop_fg;
    border-color: $_backdrop_border;
    background-color: $_backdrop_bg;
    box-shadow: 0 2px 3px 0px gtkalpha(black, 0.1),
                inset 0 0 0 1px gtkalpha(white, 0.3),
                inset 1px 0 2px 0 gtkalpha(black, 0.2),
                inset -1px 0 2px 0 gtkalpha(black, 0.2),
                inset 0 6px 3px -2px white;
  }
  
  @else if $type == "flat" {
    border-color: transparent;
    color: $_fg;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
  }
}
