@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    background-color: $base_color;
    box-shadow: inset 2px -2px 5px 1px gtkalpha($dark_shadow, 0.25);
    border-radius: $scrollbar_slider_radius;
  }

  @else if $type == "hint" {
    border: none;
    opacity: 1;
    margin: 0px;
    background-color: transparent;
  }
}
      
@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border: 2px solid transparent;
    border-radius: $scrollbar_slider_radius;
    background-color: gtkmix($bg_color, $fg_color, 0.21);
    background-size: 16px 16px, auto;
    box-shadow: inset 1px 0 2px 0 gtkalpha($dark_shadow, 0.34),
                inset -1px 0 2px 0 gtkalpha($dark_shadow, 0.34);
    
    &:backdrop { background-color: gtkmix($backdrop_bg_color, $backdrop_fg_color, 0.21); }
  }
  
  @else if $type == "hint" {
    margin: 0px;
    opacity: 1.0;
  }
  
  @else if $type == "horiz" {
    background-image: linear-gradient(
      to right,
      transparent,
      gtkalpha($dark_shadow, 0.05),
      transparent
    ), linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.8) 15%,
      gtkshade($selected_bg_color, 1.3) 45%,
      gtkshade($selected_bg_color, 1.6) 75%
    );
    
    &:backdrop {
      background-image: linear-gradient(
        to bottom,
        $base_color 15%,
        $bg_color 40%,
        $base_color 75%
      );
    }
  }

  @else if $type == "vert" {
    background-image: linear-gradient(
      to bottom,
      transparent,
      gtkalpha($dark_shadow, 0.05),
      transparent
    ), linear-gradient(
      to right,
      gtkshade($selected_bg_color, 1.8) 15%,
      gtkshade($selected_bg_color, 1.3) 45%,
      gtkshade($selected_bg_color, 1.6) 75%
    );
    
    &:backdrop {
      background-image: linear-gradient(
        to right,
        $base_color 15%,
        $bg_color 40%,
        $base_color 75%
      );
    }
  }
}
