@mixin headerbar() {
  headerbar {
    min-height: $headerbar_size;
    padding: 4px 8px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: url('assets/titlebar.png');
    background-position: right;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    box-shadow: none;

    &:backdrop {
      color: gtkalpha($titlebar_fg_color, 0.4);
      background-color: gtkshade($titlebar_bg_color, 0.65);
      background-image: none;
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        background-image: none;
        border-top-left-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
      color: $selected_fg_color;
      
      &:backdrop {
        color: gtkalpha($titlebar_fg_color, 0.4);
      }
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha($selected_fg_color, 0.7);
      
      &:backdrop {
        color: gtkalpha($titlebar_fg_color, 0.25);
      }
    }
    
    button {
      @include flat_buttons();
    }

    &.titlebar, .titlebar & { border-radius: $window_radius $window_radius 0px 0px; }
  }
    
  windowcontrols {
    border-spacing: 6px;

    &:not(.empty) {
      &.start:dir(ltr),
      &.end:dir(rtl) {
        margin-right: 7px;
      }

      &.start:dir(rtl),
      &.end:dir(ltr) {
        margin-left: 7px;
      }
    }

    button {
      &.close, &.maximize, &.minimize {
        padding: 0;
        border-radius: 0;
        -gtk-icon-shadow: none;
        box-shadow: none;
        color: gtkalpha($titlebar_fg_color, 0.8);
        border-color: gtkalpha($titlebar_fg_color, 0.8);
        background-image: none;
        background-color: transparent;
        
        &:backdrop {
          color: gtkalpha($titlebar_fg_color, 0.25);
          border-color: gtkalpha($titlebar_fg_color, 0.25);
        }
      }
    }
  }
}
