@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: url('assets/titlebar.png');
    background-position: right;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    box-shadow: none;
    
    .title { color: $selected_fg_color;
      &:backdrop { color: gtkalpha($titlebar_fg_color, 0.4); }
    }

    .subtitle { color: gtkalpha($selected_fg_color, 0.7);
      &:backdrop { color: gtkalpha($titlebar_fg_color, 0.25); }
    }
    
    button {
      @include flat_buttons();
    }
  }

  @else if $type == "backdrop" {
    color: gtkalpha($titlebar_fg_color, 0.4);
    background-color: gtkshade($titlebar_bg_color, 0.65);
    background-image: none;
  }
}

@mixin titlebutton($type) {
  padding: 0px;
  min-width: 18px;
  min-height: 18px;
  border-radius: 0;
  border-color: gtkalpha($titlebar_fg_color, 0.8);
  color: gtkalpha($titlebar_fg_color, 0.8);
  background-image: none;
  background-color: transparent;
  -gtk-icon-shadow: none;
  box-shadow: none;
  
  &:backdrop {
    color: gtkalpha($titlebar_fg_color, 0.25);
    border-color: gtkalpha($titlebar_fg_color, 0.25);
  }
}
