@mixin menu() {
  menu, .menu {
    margin: 4px;
    padding: 4px 4px;
    border-radius: $menu_radius;
    border: none;
    color: $popover_fg_color;
    background-color: $popover_bg_color;
    
    // TODO: arrow
    
    menuitem {
      min-height: 16px;
      min-width: 40px;
      padding: 4px;
      border: 1px solid $popover_bg_color;
      border-radius: 0;
      color: $popover_fg_color;
      background-color: $popover_bg_color;

      &:hover {
        border-color: gtkalpha(gtkmix($selected_bg_color, $dark_shadow, 0.3), 0.6);
        background-color: gtkalpha(gtkmix($selected_bg_color, $dark_shadow, 0.3), 0.4);
      }

      &:disabled {
        color: gtkmix($popover_fg_color, $popover_bg_color, 0.5);
      }

      // TODO: arrow
   
      accelerator { color: gtkalpha(currentColor, 0.55);
        &:hover { color: gtkalpha($selected_fg_color, 0.8); }
        &:disabled { color: gtkmix($popover_fg_color, $popover_bg_color, 0.5); }
      }
    }
  }
}
