@mixin modelbutton($type) {
  @if $type == "base" {
    min-height: $menuitem_size;
    padding-left: $menuitem_padding;
    padding-right: $menuitem_padding;
    border-radius: $menuitem_radius;
    border: 1px solid transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
  }

  @else if $type == "hover" {
    border-color: gtkalpha(gtkmix($selected_bg_color, $dark_shadow, 0.3), 0.6);
    background-color: gtkalpha(gtkmix($selected_bg_color, $dark_shadow, 0.3), 0.4);
  }

  @else if $type == "disabled" {
    color: gtkmix($popover_fg_color, $popover_bg_color, 0.5);   // disabled_fg_color?
  }
}
