@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    background-color: gtkshade($bg_color, 0.95);
  }
  
  @else if $type == "hint" {
    opacity: 1.0;
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: 1px solid gtkshade($bg_color, 0.8);
    background-color: $base_color;
    background-image: url("assets/handle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: padding-box;
  }
}
