@mixin separator() {
  separator {
    -gtk-icon-source: none;
    min-width: 1px;
    min-height: 1px;
    background-color: $border_color;

    &:backdrop {
      background-color: $backdrop_border_color;
    }

    button & {
      margin: 4px 1px;
    }

    .sidebar view &, view &, .separator, & {
      border: none;
      background-color: $border_color;

      &:backdrop {
        border: none;
        background-color: $backdrop_border_color;
      }
    }

    .primary-toolbar &, toolbar & {
      background-color: gtkmix($border_color, $toolbar_bg_color, 0.5);

      &:backdrop {
        background-color: $backdrop_border_color;
      }
    }

    headerbar & {
      -GtkWidget-window-dragging: true;
      margin-top: 4px;
      margin-bottom: 4px;
      background-color: gtkmix($border_color, $headerbar_bg_color, 0.5);

      &:backdrop {
        background-color: $backdrop_border_color;
      }
    }

    .titlebar &, .titlebar:not(headerbar) > &, .titlebar &.titlebutton, .titlebar:not(headerbar) > &.titlebutton {
      -GtkWidget-window-dragging: true;
      background-color: gtkmix($border_color, $titlebar_bg_color, 0.5);

      &:backdrop {
        background-color: $backdrop_border_color;
      }
    }

    headerbar &.titlebutton, .titlebar:not(headerbar) &.titlebutton {
      min-width: 1px;
      min-height: 1px;
      background-color: gtkmix($border_color, $titlebar_bg_color, 0.5);

      &:backdrop {
        background-color: $backdrop_border_color;
      }
    }

    .primary-toolbar button &, toolbar button &, .primary-toolbar:not(.libreoffice-toolbar) & {
      border-color: $border_color;

      &:backdrop {
        border-color: $backdrop_border_color;
      }
    }

    headerbar button & {
      border-color: gtkmix($border_color, $headerbar_bg_color, 0.5);

      &:backdrop {
        border-color: $backdrop_border_color;
      }
    }

    .titlebutton button &, .titlebutton &.titlebutton {
      border-color: gtkmix($border_color, $headerbar_bg_color, 0.5);

      &:backdrop {
        border-color: $backdrop_border_color;
      }
    }

    menuitem & {
      border-width: 5px;
      border-style: none;
      color: transparent;
    }

    popover & {
      border: 0;
      color: gtkalpha(currentColor, 0.5);
      background-color: transparent;
    }

    combobox & {
      border: none;
    }
  }
}
