@mixin linked_styles() {
  .linked, .osd .linked .primary-toolbar .linked {
    entry {
      &:focus, &:last-child:focus { box-shadow: inset 0 0 1px 3px gtkshade($selected_bg_color, 1.9), -1px 0 gtkshade($border_color, 1.05); }
      &:first-child:focus, &:only-child:focus { box-shadow: inset 0 0 1px 3px gtkshade($selected_bg_color, 1.9); }
    }
    
    &.vertical {
      entry {
        &:focus, &:last-child:focus { box-shadow: inset 0 0 1px 3px gtkshade($selected_bg_color, 1.9), 0 -1px gtkshade($border_color, 1.05); }

        &:first-child:focus, &:only-child:focus { box-shadow: inset 0 0 1px 3px gtkshade($selected_bg_color, 1.9); }
      }
    }
  }
  
  stackswitcher button.text-button { min-width: 80px; }
}
