// TODO: migrate to selection.scss
@mixin selected_items() {
  color: $selected_fg_color;
  background-color: $selected_bg_color;
  background-image: linear-gradient(
    to bottom,
    gtkshade($selected_bg_color, 1.45),
    gtkshade($selected_bg_color, 1.2)
  );
}

@import '../../common/widgets/modelbutton';
