@mixin headerbutton() {
  @extend %button_flat;
}

@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: linear-gradient(
      to right,
      #4e4e4e,
      #a3a3a3,
      #4e4e4e
    );
    box-shadow: inset -1px 0 rgba(255,255,255,0.15),
                inset 1px 0 rgba(255,255,255,0.15),
                inset 0 1px rgba(255,255,255,0.15);

    .title {
      color: $titlebar_fg_color;
      text-shadow: 1px 1px black;
      
      &:backdrop {
        text-shadow: none;
        color: gtkalpha($titlebar_fg_color, 0.5);
      }
    }

    .subtitle {
      color: gtkalpha($titlebar_fg_color, 0.7);
      
      &:backdrop {
        text-shadow: none;
        color: gtkalpha($titlebar_fg_color, 0.4);
      }
    }

    button {
      @include headerbutton();
    }
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
  }
}

@mixin titlebutton($type) {
  padding: 0px;
  min-height: 15px;
  min-width: 15px;
  border: none;
  color: transparent;
  background-color: transparent;
  background-size: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: none;
  -gtk-icon-shadow: none;

  @if $type == "close" {
    background-image: url('assets/close-normal.png');
    
    &:hover { background-image: url('assets/close-hover.png'); }
    &:active { background-image: url('assets/close-active.png'); }
    
    &:backdrop { background-image: url('assets/close-backdrop.png');
      &:hover { background-image: url('assets/close-hover.png'); }
      &:active { background-image: url('assets/close-active.png'); }
    }
  }

  @else if $type == "minimize" {
    background-image: url('assets/minimize-normal.png');
    
    &:hover { background-image: url('assets/minimize-hover.png'); }
    &:active { background-image: url('assets/minimize-active.png'); }

    &:backdrop { background-image: url('assets/minimize-backdrop.png');
      &:hover { background-image: url('assets/minimize-hover.png'); }
      &:active { background-image: url('assets/minimize-active.png'); }
    }
  }

  @else if $type == "maximize" {
    background-image: url('assets/maximize-normal.png');
    
    &:hover { background-image: url('assets/maximize-hover.png'); }
    &:active { background-image: url('assets/maximize-active.png'); }

    &:backdrop { background-image: url('assets/maximize-backdrop.png');
      &:hover { background-image: url('assets/maximize-hover.png'); }
      &:active { background-image: url('assets/maximize-active.png'); }
    }
  }
  
  @else if $type == "restore" {
    background-image: url('assets/restore-normal.png');
    
    &:hover { background-image: url('assets/restore-hover.png'); }
    &:active { background-image: url('assets/restore-active.png'); }

    &:backdrop { background-image: url('assets/restore-backdrop.png');
      &:hover { background-image: url('assets/restore-hover.png'); }
      &:active { background-image: url('assets/restore-active.png'); }
    }
  }
}
