@mixin progressbar() {
  progressbar {
    padding: 0;
    border: none;
    color: gtkmix($theme_fg_color, $theme_selected_fg_color, 0.5);
    background-color: transparent;

    progress {
      border: none;
      border-radius: 0;
      background-color: $theme_selected_bg_color;
      background-image: linear-gradient(to right, transparent, transparent 37.5%, white 37.5%, white 50%, transparent 50%, transparent 87.5%, white 87.5%, white 100%), linear-gradient(to bottom, #7cc383 0%, #5dbe62 50%, #3bd047 51%, #15e81e 100%);
      background-size: 16px 16px, auto;

      &:backdrop {
      }
    }

    trough {
      border: 1px solid #686868;
      border-radius: $progressbar_radius;
      background-color: #ffffff;
      box-shadow: inset 0.5px 0.5px 0px 1.5px #efefef, inset 1px 1px #bebebe;
      padding: 3px 4px;

      &:backdrop {
      }
    }
    
    &.vertical {
      progress {
        background-image: linear-gradient(to bottom, transparent, transparent 37.5%, white 37.5%, white 50%, transparent 50%, transparent 87.5%, white 87.5%, white 100%), linear-gradient(to right, #7cc383 0%, #5dbe62 50%, #3bd047 51%, #15e81e 100%);
        background-size: 16px 16px, auto;
      }
      
      trough {
        border: 1px solid #686868;
        border-radius: $progressbar_radius;
        background-color: #ffffff;
        box-shadow: inset 0.5px 0.5px 0px 1.5px #efefef, inset 1px 1px #bebebe;
        padding: 4px 3px;
      }
    }

    &.horizontal trough,
    &.horizontal progress {
      min-height: 16px;
    }

    &.vertical trough,
    &.vertical progress {
      min-width: 16px;
    }
  }

  treeview.view {
    &.progressbar {
      &, &:disabled {
        color: $theme_selected_fg_color;
        border-radius: 0;
        background-color: $theme_selected_bg_color;
      }

      &:focus, &:selected:focus, &:focus:selected, &:focus:selected:focus, &:disabled:selected {
        border-radius: 0;
        color: $theme_selected_bg_color;
        background-color: $theme_selected_fg_color;
      }
    }

    &.trough {
      color: $theme_fg_color;
      background-color: gtkalpha($dark_shadow, 0.1);
      border-radius: 0;
      border: none;

      &:selected, &:selected:focus {
        color: $theme_selected_fg_color;
        background-color: gtkalpha($dark_shadow, 0.1);
        border-radius: 0;
        border: none;
      }
    }

    infobar & trough, row:selected & trough {
      background-color: gtkalpha($dark_shadow, 0.1);
    }
  }
}
