@mixin checkradio() {
  checkbutton.text-button, radiobutton.text-button {
    padding: 4px;
    outline-offset: 0;
  }

  checkbutton {
    padding: 4px;
    
    &:hover, &:active:hover {
      padding: 4px;
      border-style: none;
      background-color: transparent;
    }
    &:selected {
      padding: 4px;
      border-style: none;
      background-color: transparent;
      &:focus {
        padding: 4px;
        border-style: none;
        background-color: transparent;
      }
    }
  }
  
  view.content-view check, .content-view.view check {
    background-color: transparent;
    &:active {
      background-color: transparent;
    }
  }

  view.content-view check {
    &:hover, &:disabled, &:selected {
      background-color: transparent;
    }
  }

  check, radio, check:disabled, radio:disabled {
    padding: 4px;
    border-style: none;
    background-color: transparent;
  }
  check {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png"));
    row:selected {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png"));
      &:focus {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png"));
      }
    }
    &:backdrop {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-unfocused.png"), url("assets/checkbox-unchecked-unfocused@2.png"));
    }
    row:selected {
      &:backdrop, &:focus:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-unfocused.png"), url("assets/checkbox-unchecked-unfocused@2.png"));
      }
    }
    &:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"), url("assets/checkbox-unchecked-insensitive@2.png"));
    }
    row:selected {
      &:disabled, &:focus:disabled {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"), url("assets/checkbox-unchecked-insensitive@2.png"));
      }
    }
    &:disabled:backdrop {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive-unfocused.png"), url("assets/checkbox-unchecked-insensitive-unfocused@2.png"));
    }
    row:selected {
      &:disabled:backdrop, &:focus:disabled:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive-unfocused.png"), url("assets/checkbox-unchecked-insensitive-unfocused@2.png"));
      }
    }
    &:active, &:checked {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png"));
    }
    row:selected {
      &:active, &:checked {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png"));
      }
      &:focus {
        &:active, &:checked {
          -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png"));
        }
      }
    }
    &:active:backdrop, &:checked:backdrop {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-unfocused.png"), url("assets/checkbox-checked-unfocused@2.png"));
    }
    row:selected {
      &:active:backdrop, &:checked:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-unfocused.png"), url("assets/checkbox-checked-unfocused@2.png"));
      }
      &:focus {
        &:active:backdrop, &:checked:backdrop {
          -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-unfocused.png"), url("assets/checkbox-checked-unfocused@2.png"));
        }
      }
    }
    &:active:disabled, &:checked:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png"));
    }
    row:selected {
      &:active:disabled, &:checked:disabled {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png"));
      }
      &:focus {
        &:active:disabled, &:checked:disabled {
          -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png"));
        }
      }
    }
    &:active:disabled:backdrop, &:checked:disabled:backdrop {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive-unfocused.png"));
    }
    row:selected {
      &:active:disabled:backdrop, &:checked:disabled:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive-unfocused.png"));
      }
      &:focus {
        &:active:disabled:backdrop, &:checked:disabled:backdrop {
          -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive-unfocused.png"));
        }
      }
    }
    &:indeterminate {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png"));
    }
    row:selected {
      &:indeterminate, &:focus:indeterminate {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png"));
      }
    }
    &:indeterminate:backdrop {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-unfocused.png"), url("assets/checkbox-mixed-unfocused@2.png"));
    }
    row:selected {
      &:indeterminate:backdrop, &:focus:indeterminate:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-unfocused.png"), url("assets/checkbox-mixed-unfocused@2.png"));
      }
    }
    &:indeterminate:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), url("assets/checkbox-mixed-insensitive@2.png"));
    }
    row:selected {
      &:indeterminate:disabled, &:focus:indeterminate:disabled {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), url("assets/checkbox-mixed-insensitive@2.png"));
      }
    }
    &:indeterminate:disabled:backdrop {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive-unfocused.png"), url("assets/checkbox-mixed-insensitive-unfocused@2.png"));
    }
    row:selected {
      &:indeterminate:disabled:backdrop, &:focus:indeterminate:disabled:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive-unfocused.png"), url("assets/checkbox-mixed-insensitive-unfocused@2.png"));
      }
    }
  }

  radio {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), url("assets/radio-unchecked@2.png"));
    row:selected {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), url("assets/radio-unchecked@2.png"));
      &:focus {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), url("assets/radio-unchecked@2.png"));
      }
    }
    &:backdrop {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-unfocused.png"), url("assets/radio-unchecked-unfocused@2.png"));
    }
    row:selected {
      &:backdrop, &:focus:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-unfocused.png"), url("assets/radio-unchecked-unfocused@2.png"));
      }
    }
    &:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive.png"), url("assets/radio-unchecked-insensitive@2.png"));
    }
    row:selected {
      &:disabled, &:focus:disabled {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive.png"), url("assets/radio-unchecked-insensitive@2.png"));
      }
    }
    &:disabled:backdrop {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive-unfocused.png"), url("assets/radio-unchecked-insensitive-unfocused@2.png"));
    }
    row:selected {
      &:disabled:backdrop, &:focus:disabled:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive-unfocused.png"), url("assets/radio-unchecked-insensitive-unfocused@2.png"));
      }
    }
    &:active, &:checked {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), url("assets/radio-checked@2.png"));
    }
    row:selected {
      &:active, &:checked {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), url("assets/radio-checked@2.png"));
      }
      &:focus {
        &:active, &:checked {
          -gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), url("assets/radio-checked@2.png"));
        }
      }
    }
    &:active:backdrop, &:checked:backdrop {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-unfocused.png"), url("assets/radio-checked-unfocused@2.png"));
    }
    row:selected {
      &:active:backdrop, &:checked:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-unfocused.png"), url("assets/radio-checked-unfocused@2.png"));
      }
      &:focus {
        &:active:backdrop, &:checked:backdrop {
          -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-unfocused.png"), url("assets/radio-checked-unfocused@2.png"));
        }
      }
    }
    &:active:disabled, &:checked:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive.png"), url("assets/radio-checked-insensitive@2.png"));
    }
    row:selected {
      &:active:disabled, &:checked:disabled {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive.png"), url("assets/radio-checked-insensitive@2.png"));
      }
      &:focus {
        &:active:disabled, &:checked:disabled {
          -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive.png"), url("assets/radio-checked-insensitive@2.png"));
        }
      }
    }
    &:active:disabled:backdrop, &:checked:disabled:backdrop {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive-unfocused.png"), url("assets/radio-checked-insensitive-unfocused@2.png"));
    }
    row:selected {
      &:active:disabled:backdrop, &:checked:disabled:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive-unfocused.png"), url("assets/radio-checked-insensitive-unfocused@2.png"));
      }
      &:focus {
        &:active:disabled:backdrop, &:checked:disabled:backdrop {
          -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive-unfocused.png"), url("assets/radio-checked-insensitive-unfocused@2.png"));
        }
      }
    }
    &:indeterminate {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png"));
    }
    row:selected {
      &:indeterminate, &:focus:indeterminate {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png"));
      }
    }
    &:indeterminate:backdrop {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-unfocused.png"), url("assets/radio-mixed-unfocused@2.png"));
    }
    row:selected {
      &:indeterminate:backdrop, &:focus:indeterminate:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-unfocused.png"), url("assets/radio-mixed-unfocused@2.png"));
      }
    }
    &:indeterminate:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), url("assets/radio-mixed-insensitive@2.png"));
    }
    row:selected {
      &:indeterminate:disabled, &:focus:indeterminate:disabled {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), url("assets/radio-mixed-insensitive@2.png"));
      }
    }
    &:indeterminate:disabled:backdrop {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive-unfocused.png"), url("assets/radio-mixed-insensitive-unfocused@2.png"));
    }
    row:selected {
      &:indeterminate:disabled:backdrop, &:focus:indeterminate:disabled:backdrop {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive-unfocused.png"), url("assets/radio-mixed-insensitive-unfocused@2.png"));
      }
    }
  }

  // menuitem check and radio

  menuitem {
    check, radio {
      min-height: 16px;
      min-width: 16px;
    }
    check {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png"));
      color: $theme_fg_color;
      -gtk-icon-shadow: none;
      &:active, &:checked {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png"));
      }
      &:indeterminate {
        -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png"));
      }
      &:active:hover {
        color: $theme_selected_fg_color;
      }
      &:disabled {
        color: $theme_disabled_fg_color;
      }
    }
    radio {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), url("assets/radio-unchecked@2.png"));
      color: $theme_fg_color;
      -gtk-icon-shadow: none;
      &:active, &:checked {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), url("assets/radio-checked@2.png"));
      }
      &:indeterminate {
        -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png"));
      }
      &:hover {
        color: $theme_selected_fg_color;
      }
      &:disabled {
        color: $theme_disabled_fg_color;
      }
    }
  }
}
