// notebook
@mixin notebook() {
  notebook {
    padding: 0;

    &.frame {
      margin: -1px;
      border-width: 1px;
      border-style: solid;
      border-color: $borders;

      & > header {
        margin: -1px;

        &.top {
          margin-bottom: 0;
        }

        &.bottom {
          margin-top: 0;
        }

        &.left {
          margin-right: 0;
        }

        &.right {
          margin-left: 0;
        }

        &.top, &.bottom {
          padding-left: 0;
          padding-right: 0;
        }

        &.left, &.right {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    & > stack:not(:only-child) {
      background-color: $theme_base_color;
    }

    & tab {
      padding: 6px 20px;
      border-width: 1px;
      border-style: solid;
      border-radius: 0;
      border-color: transparent;
      color: $theme_fg_color;
      background-color: $theme_bg_color;

      &:checked {
        border-color: $borders;
        background-color: $theme_base_color;

        &:backdrop {
          border-color: $unfocused_borders;
          background-color: $theme_unfocused_base_color;
        }
      }

      &:backdrop {
        background-color: $theme_unfocused_bg_color;
      }

      // close button styling 
      & button, & button:hover, & button:focus, & button:active, & button:checked, & button:active:hover, & button:checked:hover, & button:backdrop, &:checked button, &:checked button:hover, &:checked button:focus, &:checked button:active, &:checked button:checked, &:checked button:active:hover, &:checked button:checked:hover, &:checked button:backdrop {
        border-color: transparent;
        background-color: transparent;
        color: $theme_fg_color;
      }
    }

    & > header {
      padding-top: 2px;
      background-color: $theme_bg_color;
      
      &:backdrop {
        background-color: $theme_unfocused_bg_color;
      }

      &.top {
        box-shadow: 0 1px $borders;

        & > tabs > tab {
          border-bottom: none;

          &:checked {
            border-top-left-radius: $tab_radius;
            border-top-right-radius: $tab_radius;
            margin-bottom: -1px;
          }
        }
      }

      &.bottom {
        padding-top: 0;
        box-shadow: 0 -1px $borders;

        & > tabs > tab {
          border-top: none;

          &:checked {
            border-bottom-left-radius: $tab_radius;
            border-bottom-right-radius: $tab_radius;
            margin-top: -1px;
          }
        }
      }

      &.right {
        box-shadow: -1px 0 $borders;

        & > tabs > tab {
          border-left: none;

          &:checked {
            border-top-right-radius: $tab_radius;
            border-bottom-right-radius: $tab_radius;
            margin-left: -1px;
          }
        }
      }

      &.left {
        box-shadow: 1px 0 $borders;

        & > tabs > tab {
          border-right: none;

          &:checked {
            border-top-left-radius: $tab_radius;
            border-bottom-left-radius: $tab_radius;
            margin-right: -1px;
          }
        }
      }
    }

    // alignments
    & > header.top > tabs > arrow.up, & > header.bottom > tabs > arrow.up {
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");

      &:last-child {
        margin-left: 2px;
      }
    }

    & > header.top > tabs > arrow.down, & > header.bottom > tabs > arrow.down {
      -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");

      &:first-child {
        margin-right: 2px;
      }
    }

    & > header.left > tabs > arrow.up, & > header.right > tabs > arrow.up {
      -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");

      &:last-child {
        margin-top: 2px;
      }
    }

    & > header.left > tabs > arrow.down, & > header.right > tabs > arrow.down {
      -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");

      &:first-child {
        margin-bottom: 2px;
      }
    }

    & > header > tabs > arrow {
      color: $theme_fg_color;

      &:hover {
        color: gtkshade($theme_fg_color, 1.2);
      }

      &:active {
        color: gtkshade($theme_fg_color, 0.8);
      }

      &:disabled {
        color: gtkshade($theme_bg_color, 0.6);
      }
    }
  }
}
