@mixin button($type, $_bg : $base_color, $_fg : $fg_color) {
  $_border : gtkmix($_bg, $_fg, 0.1);
  
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  $_disabled_border : gtkmix($_fg, $_bg, 0.95);
  
  @if $type == "base" {
    border: 1px solid $_border;
    border-top-color: gtkshade($_border, 1.1);
    border-left-color: gtkshade($_border, 1.05);
    border-right-color: gtkshade($_border, 1.05);
    color: $_fg;
    background-color: $_bg;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }

  @else if $type == "hover" {
    border-color: $_border;
    border-top-color: gtkshade($_border, 1.1);
    border-left-color: gtkshade($_border, 1.05);
    border-right-color: gtkshade($_border, 1.05);
    color: $_fg;
    background-color: gtkmix($_bg, white, 0.1);   // HACK: stay white normally, shade if headerbar button
  }

  @else if $type == "active"
  or $type == "checked" {
    color: $_fg;
    border-color: $_border;
    border-top-color: gtkshade($_border, 0.95);
    background-color: gtkmix($_bg, $_fg, 0.1);
  }

  @else if $type == "checked-disabled" {
    color: $_disabled_fg;
    border-color: $_disabled_border;
    border-top-color: gtkshade($_disabled_border, 0.9);
    background-color: gtkshade($_disabled_bg, 0.9);
  }

  @else if $type == "disabled" {
    color: $_disabled_fg;
  }
  
  @else if $type == "undecorated" {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
}
