@mixin headerbar() {
  headerbar {
    padding: 4px 8px;
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;

    &:backdrop { color: gtkalpha($titlebar_fg_color, 0.8); }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    button {
      @include flat_buttons($headerbar_bg_color, $headerbar_fg_color, gtkshade($headerbar_fg_color, 0.2));
    }
    
    // TODO: include flat entry too

    &.titlebar, .titlebar & { border-radius: $window_radius $window_radius 0px 0px; }
  }
    
  windowcontrols {
    border-spacing: 6px;

    &:not(.empty) {
      &.start:dir(ltr),
      &.end:dir(rtl) {
        margin-right: 7px;
      }

      &.start:dir(rtl),
      &.end:dir(ltr) {
        margin-left: 7px;
      }
    }

    button {
      &.close, &.maximize, &.minimize {
        min-width: 28px;
        min-height: 28px;
        padding: 0;
        border: none;
        color: transparent;
        background-color: transparent;
        -gtk-icon-shadow: none;
        border-radius: 100%;
        
        background-position: center center;
        background-repeat: no-repeat;
        
        &:hover, &:active {
          background-color: gtkalpha($base_color, 0.2);
        }
      }
      
      &.close {
        background: url('assets/close-normal.png') center center;
        
        &:hover, &:active {
          background-color: $error_color;
        }
        
        &:backdrop { background: url('assets/close-backdrop.png') center center; }
      }

      &.minimize { background: url('assets/minimize-normal.png') center center;
        &:backdrop { background: url('assets/minimize-backdrop.png') center center; }
      }

      &.maximize { background: url('assets/maximize-normal.png') center center;
        &:backdrop { background: url('assets/maximize-backdrop.png') center center; }
      }
    }
  }
}
