@mixin progressbar() {
  progressbar {
    font-size: smaller;
    color: gtkmix($fg_color, $selected_fg_color, 0.5);

    > trough {
      border-radius: $progressbar_radius;
      background-color: gtkalpha($dark_shadow, 0.1);

      &:backdrop { background-color: gtkshade($backdrop_bg_color, 0.95); }
    }

    > trough > progress {
      border: none;
      border-radius: $progressbar_radius;
      background-color: $selected_bg_color;

      &:backdrop { background-color: $backdrop_selected_bg_color; }
    }
    
    &.horizontal > trough { min-width: 150px; }
    &.vertical > trough { min-height: 80px; }

    &.horizontal > trough,
    &.horizontal > trough > progress {
      min-height: 4px;
    }

    &.vertical > trough,
    &.vertical > trough > progress {
      min-width: 4px;
    }
  }
}
