@mixin scale_trough() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: gtkalpha($dark_shadow, 0.2);

  &:disabled { background-color: gtkalpha($dark_shadow, 0.15);
    &:backdrop { background-color: gtkalpha($dark_shadow, 0.08); }
  }
  &:backdrop { background-color: gtkalpha($dark_shadow, 0.1); }
}

@mixin scale_highlight() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: $selected_text_bg_color;

  &:disabled { background-color: $disabled_bg_color;
    &:backdrop { background-color: $backdrop_disabled_bg_color; }
  }
  &:backdrop { background-color: $selected_text_bg_color; }
}

@mixin scale_slider($orient : "base") {
  @if $orient == "base" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size;
    margin: -$scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: 1px solid $border_color;
    color: $fg_color;
    background-color: $base_color;
    background-image: none;
    box-shadow: none;

    &:disabled { background-color: $disabled_base_color;
      &:backdrop { background-color: $backdrop_disabled_bg_color; }
    }

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: $backdrop_base_color;
    }
  }
  
  // directional sliders? 
}
