// TODO: Similar to macOS and common scrollbars, see if we can unity the designs
@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    background-color: $base_color;

    &:backdrop {
      background-color: $backdrop_base_color;
    }
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 2px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: none;
    background-clip: padding-box;
    background-color: gtkshade($bg_color, 0.6);

    &:hover { background-color: gtkshade($bg_color, 0.6); }
    &:hover:active { background-color: gtkshade($bg_color, 0.55); }
    &:backdrop { background-color: gtkshade($bg_color, 0.55); }
    &:disabled { background-color: transparent; }
  }
  
  @else if $type == "hint" {
    border: none;
    opacity: 0.7;
    margin: 0px;
    background-color: transparent;
  }
}
