@mixin spinbutton() {
  spinbutton {
    &.horizontal {
      border-radius: $entry_radius;
      border: 1px solid $border_color;
      border-top-color: gtkshade($border_color, 1.1);
      border-left-color: gtkshade($border_color, 1.05);
      border-right-color: gtkshade($border_color, 1.05);
      background-color: $base_color;
      
      &:disabled {
        color: $disabled_fg_color;
        background-color: $disabled_base_color;

        &:backdrop {
          color: $backdrop_disabled_fg_color;
          background-color: $backdrop_disabled_base_color;
        }
      }
      
      &:backdrop {
        background-color: $backdrop_base_color;
        background-image: none;
      }

      entry {
        padding: 7px 15px;
        border: none;
        background: none;
        border-radius: $entry_radius 0 0 $entry_radius;
        
        &:focus { box-shadow: none; }
        
        &:disabled { background: none; }
      }
      
      button {
        border: none;
        border-radius: 0;
        background: none;
        box-shadow: -1px 0 $border_color;
        
        &:disabled, &:backdrop { box-shadow: -1px 0 $backdrop_border_color; background: none; }
        &.up { border-radius: 0 $entry_radius $entry_radius 0; }
      }
    }

    &.vertical {
      entry {
        padding: 8px 2px;
        border-radius: 0;
        border-color: $border_color;
      }
      button {
        padding: 8px 2px;
        border-color: $border_color;

        &.up {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-width: 0;
        }

        &.down {
          border-top-width: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
}
