// linked widgets
@mixin linked_widgets() {
  .linked {
    &, .inline-toolbar &, .primary-toolbar & {
      & button, & .raised button {
        border-radius: 0;
        border-left-width: 0;

        &:first-child {
          border-left-width: 1px;
          border-top-left-radius: $button_radius;
          border-bottom-left-radius: $button_radius;
        }

        &:last-child {
          border-left-width: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: $button_radius;
          border-bottom-right-radius: $button_radius;
        }

        &:only-child {
          border-width: 1px;
          border-radius: $button_radius;
        }
      }
      
      & entry {
        border-radius: 0;
        border-left-width: 0;

        &:first-child {
          border-left-width: 1px;
          border-top-left-radius: $entry_radius;
          border-bottom-left-radius: $entry_radius;
        }

        &:last-child {
          border-left-width: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: $entry_radius;
          border-bottom-right-radius: $entry_radius;
        }

        &:only-child {
          border-width: 1px;
          border-radius: $entry_radius;
        }
      }

      & combobox {
        & box.linked button {
          border-radius: 0;
          border-left-width: 0;
        }

        &:first-child box.linked button {
          border-left-width: 1px;
          border-top-left-radius: $button_radius;
          border-bottom-left-radius: $button_radius;
        }

        &:last-child box.linked button {
          border-left-width: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: $button_radius;
          border-bottom-right-radius: $button_radius;
        }

        &:only-child box.linked button {
          border-width: 1px;
          border-radius: $button_radius;
        }
      }
    }
  }
  
  // vertical
  .vertical.linked {
    & button {
      border-left-width: 1px;
      border-top-width: 0;
      border-radius: 0;

      &:first-child {
        border-top-width: 1px;
        border-top-left-radius: $button_radius;
        border-top-right-radius: $button_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
      }

      &:only-child {
        border-top-width: 1px;
      }
    }
    
    & entry {
      border-left-width: 1px;
      border-top-width: 0;
      border-radius: 0;

      &:first-child {
        border-top-width: 1px;
        border-top-left-radius: $entry_radius;
        border-top-right-radius: $entry_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $entry_radius;
        border-bottom-right-radius: $entry_radius;
      }

      &:only-child {
        border-top-width: 1px;
      }
    }

    & combobox {
      & box.linked button {
        border-left-width: 1px;
        border-top-width: 0;
        border-radius: 0;
      }

      &:first-child box.linked button {
        border-top-width: 1px;
        border-top-left-radius: $button_radius;
        border-top-right-radius: $button_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child box.linked button {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
      }

      &:only-child box.linked button {
        border-top-width: 1px;
      }
    }
    
    & spinbutton {
      button {
        &:first-child {
          border-width: 1px;
          border-top-width: 0;
          border-left-width: 1px;
        }
        
        &:last-child {
          border-width: 0;
          border-left-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }      
      }
    }
  }
  
  .stack-switcher {
    & button {
      min-height: 20px;
      min-width: 80px;
      box-shadow: none;

      &:checked, &:active {
        &, &:hover, &:focus {
          background-color: transparent;
          background-image: linear-gradient(to bottom, gtkshade($theme_selected_bg_color, 1.4), gtkshade($theme_selected_bg_color, 1.05));
          color: $theme_selected_fg_color;
          
          &:backdrop {
            background-image: linear-gradient(to bottom, gtkshade($theme_unfocused_bg_color, 0.9), gtkshade($theme_unfocused_bg_color, 1.05));
            color: $theme_unfocused_fg_color;
          }
        }
      }
    }
  }  
}
