@mixin textview() {
  textview {
    color: $theme_text_color;
    background-color: $theme_base_color;

    text {
      &:selected, & selection, &:selected:focus, & selection:focus {
        color: $theme_selected_text_color;
        background-color: $theme_selected_base_color;
      }
    }
  }
}
