@mixin notebook_header(){
  background-color: $bg_color;
  
  @at-root
  notebook.frame {
    border: 1px solid gtkshade($border_color, 0.7);
  }
  
  &.top { box-shadow: 0 1px gtkshade($border_color, 0.7); }
  &.bottom { box-shadow: 0 -1px gtkshade($border_color, 0.7); }
  &.left { box-shadow: 1px 0 gtkshade($border_color, 0.7); }
  &.right { box-shadow: -1px 0 gtkshade($border_color, 0.7); }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    margin: 1px;
    padding: 6px 20px;
    border: 1px solid gtkshade($border_color, 0.7);
    border-radius: $notebook_tab_radius;
    color: $fg_color;
    background-color: transparent;
    background-image: linear-gradient(    // TODO: replace hard-coded colors 
      to bottom,
      #fff,
      #f1f4fb 25%,
      #e8eaf6 50%,
      #d9dbe8 75%,
      #cccbd9 95%
    );
    
    @if $pos == "top" {
      margin-bottom: -1px;
    }
    @else if $pos == "bottom" {
      margin-top: -1px;
    }
    @else if $pos == "left" {
      margin-right: -1px;
    }
    @else if $pos == "right" {
      margin-left: -1px;
    }
  }
  
  @else if $type == "hover" {
    @if $pos == "top" {
      box-shadow: inset 0 2px $warning_color;
    }
    @else if $pos == "bottom" {
      box-shadow: inset 0 -2px $warning_color;
    }
    @else if $pos == "left" {
      box-shadow: inset 2px 0 $warning_color;
    }
    @else if $pos == "right" {
      box-shadow: inset -2px 0 $warning_color;
    }
  }
  
  @else if $type == "checked" {
    margin: 0;
    background-image: none;
    background-color: $base_color;
    
    @if $pos == "top" {
      margin-top: -1px;
      margin-bottom: -2px;
      box-shadow: inset 0 2px $warning_color;
    }
    @else if $pos == "bottom" {
      margin-bottom: -1px;
      margin-top: -2px;
      box-shadow: inset 0 -2px $warning_color;
    }
    @else if $pos == "left" {
      margin-left: -1px;
      margin-right: -2px;
      box-shadow: inset 2px 0 $warning_color;
    }
    @else if $pos == "right" {
      margin-right: -1px;
      margin-left: -2px;
      box-shadow: inset -2px 0 $warning_color;
    }
  }
}
