@mixin headerbar_buttons($bg, $fg, $br)
{
  padding: 4px 8px;
  border: none;
  border-radius: $button_radius;
  color: $fg;
  border-color: $br;
  background-color: $bg;
  
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 0;
  -gtk-outline-radius: 0;

  &:hover {
  }

  &:active, &:checked {
    outline-color: gtkshade($selected_bg_color, 1.4);
    color: $selected_fg_color;

    &:disabled {
      color: gtkmix($selected_fg_color, $disabled_fg_color, 0.4);
      background-color: $bg;
    
      &:backdrop {
        color: gtkmix($selected_fg_color, $unfocused_disabled_fg_color, 0.4);
        background-color: $bg;
      }
    }

    &:backdrop {
      color: $unfocused_selected_fg_color;
    }
  }

  &:disabled {
    color: gtkmix($fg, $unfocused_disabled_fg_color, 0.1);
    background-color: $bg;
    
    &:backdrop {
      color: $unfocused_disabled_fg_color;
      background-color: transparent;
    }
  }

  &:backdrop {
    color: $unfocused_fg_color;
    background-color: transparent;
  }
}

@mixin headerbar() {
  headerbar, headerbar:not(.titlebar) {
    padding: 4px 8px;
    border-width: 0;
    border-style: solid;
    border-color: gtkmix($borders, $headerbar_bg_color, 0.5);
    border-bottom-width: 1px;
    color: $headerbar_fg_color;
    background-color: $headerbar_bg_color;

    &:backdrop {
      border-color: $unfocused_borders;
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
    }

    .titlebar &, .titlebar &:backdrop {
      background-color: transparent;
    }

    .tiled &,
    .tiled-top &,
    .tiled-right &,
    .tiled-bottom &,
    .tiled-left &,
    .maximized &,
    .fullscreen & {
      &:backdrop, & {
        border-radius: 0;
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    button {
      @include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, $headerbar_bg_color);
    }
    
    entry {
      padding: 4px 8px;
    }
  }
}
