// Normal colors
$bg_color : #F5F5F5;
$fg_color : #000000;
$base_color : #FFFFFF;
$text_color : #000000;
$selected_bg_color : #3B82D6;
$selected_fg_color : #FFFFFF;
$selected_base_color : #96C4F5;
$selected_text_color : #000000;
$disabled_bg_color : gtkmix($fg_color, $bg_color, 0.95);
$disabled_fg_color : gtkmix($fg_color, $bg_color, 0.5);
$disabled_base_color : $disabled_bg_color;
$disabled_text_color : $disabled_fg_color;

// Backdrop state colors
$unfocused_bg_color : #E4E4E4;
$unfocused_fg_color : #8C8C8C;
$unfocused_base_color : gtkshade($base_color, 0.95);
$unfocused_text_color : #8C8C8C;
$unfocused_selected_bg_color : gtkshade($unfocused_bg_color, 0.7);
$unfocused_selected_fg_color : gtkshade($unfocused_text_color, 0.8);
$unfocused_selected_base_color : $selected_base_color;
$unfocused_selected_text_color : $selected_text_color;
$unfocused_disabled_bg_color : gtkmix($fg_color, $bg_color, 0.98);
$unfocused_disabled_fg_color : gtkmix($fg_color, $bg_color, 0.75);
$unfocused_disabled_base_color : $unfocused_disabled_bg_color;
$unfocused_disabled_text_color : $unfocused_disabled_fg_color;

// Darker color scheme
$dark_bg_color : #E0DEE1;
$dark_fg_color : #000000;

// Theme colors
$theme_bg_color : $bg_color;
$theme_fg_color : $fg_color;
$theme_base_color : $base_color;
$theme_text_color : $text_color;
$theme_selected_bg_color : $selected_bg_color;
$theme_selected_fg_color : $selected_fg_color;
$theme_selected_base_color : $selected_base_color;
$theme_selected_text_color : $selected_text_color;
$theme_disabled_bg_color : $disabled_bg_color;
$theme_disabled_fg_color : $disabled_fg_color;
$theme_disabled_text_color : $disabled_text_color;
$theme_disabled_base_color : $disabled_base_color;

// Unfocused color scheme
$theme_unfocused_bg_color : $unfocused_bg_color;
$theme_unfocused_fg_color : $unfocused_fg_color;
$theme_unfocused_base_color : $unfocused_base_color;
$theme_unfocused_text_color : $unfocused_text_color;
$theme_unfocused_selected_bg_color : $unfocused_selected_bg_color;
$theme_unfocused_selected_fg_color : $unfocused_selected_fg_color;
$theme_unfocused_disabled_bg_color : $unfocused_disabled_bg_color;
$theme_unfocused_disabled_fg_color : $unfocused_disabled_fg_color;
$theme_unfocused_disabled_text_color : $unfocused_disabled_text_color;
$theme_unfocused_disabled_base_color : $unfocused_disabled_base_color;

// Shadows
$dark_shadow : rgb(0, 0, 0);
$color_shadow : $selected_bg_color;
$light_shadow : rgb(255, 255, 255);

// Borders
$borders : gtkshade($bg_color, 0.9);
$outline_color : gtkshade($bg_color, 0.75);
$unfocused_borders : gtkshade($unfocused_bg_color, 0.9);

// Notification header backgrounds
$info_fg_color : #FFFFFF;
$info_bg_color : #0055FF;
$warning_fg_color : #FFFFFF;
$warning_bg_color : #FF8300;
$question_fg_color : #FFFFFF;
$question_bg_color : #2C2C2C;
$error_fg_color : #FFFFFF;
$error_bg_color : #FF0000;

// Special foreground colors
$link_color : #1D8ECE;
$error_color : #CC0000;
$success_color : #4ED464;
$warning_color : #FF9900;

// Widget colors
$tooltip_bg_color : $dark_bg_color;
$tooltip_fg_color : $dark_fg_color;
$menu_bg_color : gtkmix($base_color, $bg_color, 0.5);
$menu_fg_color : $fg_color;
$menubar_bg_color : gtkshade($bg_color, 0.9);
$menubar_fg_color : $fg_color;
$toolbar_bg_color : gtkshade($bg_color, 0.9);
$toolbar_fg_color : $fg_color;
$sidebar_bg_color : gtkalpha($bg_color, 0.85);
$sidebar_fg_color : $fg_color;
$taskbar_bg_color : $bg_color;
$taskbar_fg_color : $fg_color;
$titlebar_bg_color : $bg_color;
$titlebar_fg_color : $fg_color;
$headerbar_bg_color : $bg_color;
$headerbar_fg_color : $fg_color;
$terminal_bg_color : $base_color;
$terminal_fg_color : $text_color;

// OSD
$osd_fg : $dark_fg_color;
$osd_bg : gtkmix($dark_bg_color, $dark_fg_color, 0.2);
$osd_base : $dark_bg_color;

// Budgie colors
$raven_fg_color : $dark_fg_color;
$raven_bg_color : gtkalpha($dark_bg_color, 0.9);

// Desktop Icons
$desktop_item_fg : #FFFFFF;
$desktop_item_selected_fg : $selected_fg_color;
$desktop_item_text_shadow : gtkalpha($dark_shadow, 0.8);

// LightDM greeter colors
$lightdm_bg_color : $dark_bg_color;
$lightdm_fg_color : $dark_fg_color;
