@mixin floating_bar() {
  .floating-bar {
    border: none;
    border-radius: 4px;
    background-color: $selected_bg_color;
    background-image: linear-gradient(to bottom, $selected_bg_color, gtkshade($selected_bg_color, 0.9));
    color: $selected_fg_color;
    
    &.top, &.bottom {
      &.left {
        border-bottom-left-radius: $csd_radius;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }

      &.right {
        border-top-right-radius: 0px;
        border-bottom-right-radius: $csd_radius;
        border-bottom-left-radius: 0px;
      }
    }

    button {
      border-style: none;
      background-color: transparent;
    }
  }
}
