@mixin headerbar_buttons($bg, $fg, $br)
{
  @include normal_buttons($bg, $fg, $br);
}

@mixin headerbar() {
  headerbar {
    padding: 4px 8px;
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    border-bottom: 1px solid $borders;

    &:backdrop {
      background-color: $unfocused_bg_color;
      color: $unfocused_fg_color;
      border-bottom-color: $unfocused_borders;
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $csd_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $csd_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    button {
      @include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, $headerbar_bg_color);
    }
    
    switch:checked {
      border-color: gtkshade($selected_bg_color, 1.15);
      background-color: gtkshade($selected_bg_color, 1.15);  
    }

    entry { padding: 7px 8px; }
    &.titlebar, .titlebar & { border-radius: $csd_radius $csd_radius 0px 0px; }
    
    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 2px 2px;
        color: $titlebar_fg_color;
        background-color: transparent;
        
        &:active { color: gtkshade($titlebar_fg_color, 0.7); }
        &:backdrop { color: $unfocused_fg_color; }
      }
    }
  }
  
  window.ssd .titlebar { border-bottom: none; }
}
