@mixin tooltip() {
  tooltip {
    border-radius: $csd_radius;
    box-shadow: none;

    &.background {
      border: 1px solid $borders;
      background-color: $tooltip_bg_color;
      background-image: linear-gradient(to bottom, $tooltip_bg_color, gtkshade($tooltip_bg_color, 0.9));

      label {
        padding: 1px;
      }
    }

    * {
      background-color: transparent;
      color: $tooltip_fg_color;
    }
  }
}
