@mixin scrollbar() {
  scrollbar {
    border: none;
    background-color: $bg_color;

    trough {
      border: none;
      border-radius: 0;
    }

    button {
      &, &:active, &:disabled {
        &, &:backdrop {
          color: transparent;
          padding: 0;
          background-size: auto;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }

    &.fine-tune {
    }

    &.overlay-indicator {
      opacity: 1;
    }

    &.horizontal {
      slider {
        min-width: 45px;
        min-height: 14px;
        margin: 0;
        border: 1px solid $border_color;
        border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
        border-left-color: gtkmix($bg_color, $light_shadow, 0.7);
        border-radius: $scrollbar_slider_radius;
        background-clip: padding-box;
        background-color: $bg_color;
        box-shadow: inset -1px 0 gtkshade($bg_color, 0.65), inset 0 -1px gtkshade($bg_color, 0.65), inset 1px 0 gtkmix($bg_color, $light_shadow, 0.7), inset 0 1px gtkmix($bg_color, $light_shadow, 0.7);
      }

      button {
        min-height: 14px;
        min-width: 14px;
      
        &.down {
          background-image: url('assets/arrow-right.png');
        }

        &.up {
          background-image: url('assets/arrow-left.png');
        }
      }
    }

    &.vertical {
      slider {
        min-width: 14px;
        min-height: 45px;
        margin: 0;
        border: 1px solid $border_color;
        border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
        border-left-color: gtkmix($bg_color, $light_shadow, 0.7);
        border-radius: $scrollbar_slider_radius;
        background-clip: padding-box;
        background-color: $bg_color;
        box-shadow: inset -1px 0 gtkshade($bg_color, 0.65), inset 0 -1px gtkshade($bg_color, 0.65), inset 1px 0 gtkmix($bg_color, $light_shadow, 0.7), inset 0 1px gtkmix($bg_color, $light_shadow, 0.7);
      }

      button {
        min-height: 14px;
        min-width: 14px;

        &.down {
          background-image: url('assets/arrow-down.png');
        }

        &.up {
          background-image: url('assets/arrow-up.png');
        }
      }
    }

    treeview ~ &.vertical {
      border-top: 1px solid $border_color;
      margin-top: -1px;
    }
  }
}
