@mixin button($type, $_bg : $dark_bg_color, $_fg : $dark_fg_color) {
  $_border : gtkshade($_bg, 0.5);
  
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  
  $_backdrop_fg : $_fg;
  $_backdrop_disabled_fg : gtkmix($_fg, $_bg, 0.75);
  
  @if $type == "base" {
    padding: 3px;
    border-radius: $button_radius;
    border: 1px solid $_border;
    color: $_fg;
    background-color: $_bg;
    background-image: linear-gradient(to bottom,
      $light_shadow,
      gtkshade($_bg, 0.98) 21%,
      gtkshade($_bg, 0.93) 51%,
      gtkshade($_bg, 0.87) 60%,
      gtkshade($_bg, 0.82) 70%,
      gtkshade($_bg, 0.9) 90%
    );
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    
    // necessary?
    &:focus {
      background-image: linear-gradient(to bottom,
        $light_shadow,
        gtkshade($color_shadow, 0.98) 21%,
        gtkshade($color_shadow, 0.93) 51%,
        gtkshade($color_shadow, 0.87) 60%,
        gtkshade($color_shadow, 0.82) 70%,
        gtkshade($color_shadow, 0.9) 90%
      );
    }
  }

  @else if $type == "hover" {
    border-color: gtkshade($selected_bg_color, 0.7);
    color: $_fg;
    background-color: gtkshade($selected_bg_color, 1.02);
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.12),
      $selected_bg_color 60%,
      gtkshade($selected_bg_color, 0.95) 70%
    );
  }
  
  @else if $type == "active"
  or $type == "checked" {
    border-color: gtkshade($selected_bg_color, 0.6);
    color: $_fg;
    background-color: gtkshade($selected_bg_color, 0.95);
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.07),
      gtkshade($selected_bg_color, 0.95) 60%,
      gtkshade($selected_bg_color, 0.9) 70%
    );
  }

  @else if $type == "checked-backdrop" {
    color: $backdrop_fg_color;
    border-color: gtkshade($backdrop_bg_color, 0.85);
    background-color: gtkshade($backdrop_bg_color, 0.85);
    background-image: linear-gradient(
      to bottom,
      gtkshade($backdrop_selected_bg_color, 1.07),
      gtkshade($backdrop_selected_bg_color, 0.95) 60%,
      gtkshade($backdrop_selected_bg_color, 0.9) 70%
    );
  }
  
  @else if $type == "checked-disabled" {
    color: $_disabled_fg;
  }
  
  @else if $type == "checked-disabled-backdrop" {
    color: $_backdrop_disabled_fg;
  }
  
  @else if $type == "disabled"
  or $type == "flat-disabled" {
    color: $_disabled_fg;
  }

  @else if $type == "disabled-backdrop"
  or or $type == "flat-disabled-backdrop" {
    color: $_backdrop_disabled_fg;
  }

  @else if $type == "backdrop" {
    color: $_backdrop_fg;
  }
  
  @else if $type == "flat" {
    border-radius: $button_radius;
    border-color: transparent;
    color: $_fg;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
}
