@mixin normal_buttons($bg : $dark_bg_color, $fg : $fg_color, $br : gtkshade($border_color, 0.8)) {
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-radius: $button_radius;
  color: $fg;
  border-color: $br;
  background-color: $bg;
  background-image: linear-gradient(
    to bottom,
    gtkshade($bg, 1.1),
    gtkshade($bg, 0.985) 50%,
    gtkshade($bg, 0.95) 51%,
    gtkshade($bg, 0.94)
  );
  box-shadow: inset 0 0 0 1px gtkalpha($light_shadow, 0.6);

  &:hover {
    color: $fg;
    border-color: gtkshade($selected_bg_color, 0.7);
    background-color: gtkshade($selected_bg_color, 1.02);
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.12),
      $selected_bg_color 50%,
      gtkshade($selected_bg_color, 0.95) 51%
    );
  }

  &:active, &:checked {
    color: $fg;
    border-color: gtkshade($selected_bg_color, 0.6);
    background-color: gtkshade($selected_bg_color, 0.95);
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.07),
      gtkshade($selected_bg_color, 0.95) 50%,
      gtkshade($selected_bg_color, 0.9) 51%
    );

    &:backdrop {
      color: $backdrop_fg_color;
      border-color: gtkshade($backdrop_bg_color, 0.85);
      background-color: gtkshade($backdrop_bg_color, 0.85);
      background-image: linear-gradient(
        to bottom,
        gtkshade($backdrop_selected_bg_color, 1.07),
        gtkshade($backdrop_selected_bg_color, 0.95) 50%,
        gtkshade($backdrop_selected_bg_color, 0.9) 51%
      );
    }
    
    &:disabled {
      color: gtkmix($fg, $backdrop_disabled_fg_color, 0.1);
      
      &:backdrop {
        color: $backdrop_disabled_fg_color;
      }
    }
  }
  
  &:disabled {
    color: gtkmix($fg, $backdrop_disabled_fg_color, 0.1);

    &:backdrop {
      color: $backdrop_disabled_fg_color;
    }
  }

  &:backdrop {
    color: $backdrop_fg_color;
  }
}

@mixin flat_buttons($bg : $dark_bg_color, $fg : $fg_color, $br : $border_color) {
  border-color: transparent;
  border-radius: $button_radius;
  color: $fg;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  
  &:hover {
    color: $fg;
    border-color: gtkshade($selected_bg_color, 0.7);
    background-color: gtkshade($selected_bg_color, 1.02);
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.12),
      $selected_bg_color 50%,
      gtkshade($selected_bg_color, 0.95) 51%
    );
  }

  &:active, &:checked {
    color: $fg;
    border-color: gtkshade($selected_bg_color, 0.6);
    background-color: gtkshade($selected_bg_color, 0.95);
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.07),
      gtkshade($selected_bg_color, 0.95) 50%,
      gtkshade($selected_bg_color, 0.9) 51%
    );

    &:backdrop {
      color: $backdrop_fg_color;
      border-color: gtkshade($backdrop_bg_color, 0.85);
      background-color: gtkshade($backdrop_bg_color, 0.85);
      background-image: linear-gradient(
        to bottom,
        gtkshade($backdrop_selected_bg_color, 1.07),
        gtkshade($backdrop_selected_bg_color, 0.95) 50%,
        gtkshade($backdrop_selected_bg_color, 0.9) 51%
      );
    }
    
    &:disabled {
      color: gtkmix($fg, $backdrop_disabled_fg_color, 0.1);
      
      &:backdrop {
        color: $backdrop_disabled_fg_color;
      }
    }
  }

  &:disabled {
    border-color: transparent;
    color: gtkalpha($fg, 0.8);
    background-color: transparent;
    background-image: none;
    
    &:backdrop {
      border-color: transparent;
      color: gtkalpha($fg, 0.7);
      background-color: transparent;
      background-image: none;
    }
  }

  &:backdrop {
    border-color: transparent;
    background-color: transparent;
    color: $backdrop_fg_color;
    background-image: none;
  }
}

@mixin destructive_button() {
  button.destructive-action {
    box-shadow: inset 0 0 1px 1px $color_shadow;
    border-color: $selected_text_bg_color;
    background-image: linear-gradient(
    to bottom,
    gtkshade($error_color, 1.1),
    gtkshade($error_color, 0.985) 50%,
    gtkshade($error_color, 0.95) 51%,
    gtkshade($error_color, 0.94)
  );
    
    &:hover {
      background-image: linear-gradient(
        to bottom,
        gtkshade($error_color, 1.12),
        $error_color 50%,
        gtkshade($error_color, 0.95) 51%
      );
    }
  }
}

@mixin suggested_button() {
  button.suggested-action {
    box-shadow: inset 0 0 1px 1px $color_shadow;
    border-color: $selected_text_bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkmix(gtkshade($bg_color, 1.08), $color_shadow, 0.15),
      gtkmix(gtkshade($bg_color, 1.05), $color_shadow, 0.15),
      gtkmix($bg_color, $color_shadow, 0.15) 50%,
      gtkmix(gtkshade($bg_color, 0.92), $color_shadow, 0.15) 51%
    );
    
    &:hover {
      background-image: linear-gradient(
        to bottom,
        gtkmix(gtkshade($bg_color, 1.12), $color_shadow, 0.15),
        gtkmix(gtkshade($bg_color, 1.08), $color_shadow, 0.15),
        gtkmix($bg_color, $color_shadow, 0.15) 50%,
        gtkmix(gtkshade($bg_color, 0.95), $color_shadow, 0.15) 51%
      );
    }
  }
}
