// Clone of windows-7, except we use dark_bg_color instead of bg_color
// TODO: unify

@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    background-color: gtkshade($dark_bg_color, 0.9);

    &:backdrop { background-color: gtkshade($dark_bg_color, 0.9); }
  }
  
  // TODO: set as value in properties.scss and remove
  @if $type == "hint" {
    opacity: 1.0;
  }
  
  @if $type == "horiz" {
    background-image: linear-gradient(to bottom, $dark_bg_color, gtkshade($dark_bg_color, 1.1));
  }
  
  @if $type == "vert" {
    background-image: linear-gradient(to right, $dark_bg_color, gtkshade($dark_bg_color, 1.1));
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: 1px solid gtkshade($dark_bg_color, 0.75);
    background-color: gtkshade($dark_bg_color, 0.6);
    background-clip: padding-box;

    &:hover {
      border-color: gtkshade($selected_bg_color, 0.7);
      background-color: gtkshade($dark_bg_color, 0.6);

      &:active {
        border-color: gtkshade($selected_bg_color, 0.6);
        background-color: gtkshade($dark_bg_color, 0.55);
      }
    }

    &:backdrop { background-color: gtkshade($dark_bg_color, 0.55); }
    &:disabled { background-color: transparent; }
  }
  
  @if $type == "horiz" {
    background: url("assets/handle-vert.png") no-repeat center center,
                linear-gradient(
                  to bottom,
                  $dark_bg_color 50%,
                  gtkshade($dark_bg_color, 0.95) 51%,
                  gtkshade($dark_bg_color, 0.94)
                );

    &:hover {
      background: url("assets/handle-horiz-hover.png") no-repeat center center,
                  linear-gradient(
                    to bottom,
                    gtkshade($selected_bg_color, 1.12),
                    $selected_bg_color 50%,
                    gtkshade($selected_bg_color, 0.95) 51%
                  );

      &:active {
        background: url("assets/handle-horiz-hover.png") no-repeat center center,
                    linear-gradient(
                      to bottom,
                      gtkshade($selected_bg_color, 1.07),
                      gtkshade($selected_bg_color, 0.95) 50%,
                      gtkshade($selected_bg_color, 0.9) 51%
                    );
      }
    }
  }
      
  @if $type == "vert" {
    background: url("assets/handle-vert.png") no-repeat center center,
                linear-gradient(
                  to right,
                  $dark_bg_color 50%,
                  gtkshade($dark_bg_color, 0.95) 51%,
                  gtkshade($dark_bg_color, 0.94)
                );

    &:hover {
      background: url("assets/handle-vert-hover.png") no-repeat center center,
                  linear-gradient(
                    to right,
                    gtkshade($selected_bg_color, 1.12),
                    $selected_bg_color 50%,
                    gtkshade($selected_bg_color, 0.95) 51%
                  );

      &:active {
        background: url("assets/handle-vert-hover.png") no-repeat center center,
                    linear-gradient(
                      to right,
                      gtkshade($selected_bg_color, 1.07),
                      gtkshade($selected_bg_color, 0.95) 50%,
                      gtkshade($selected_bg_color, 0.9) 51%
                    );
      }
    }
  }
}
