// toolbar 
@mixin toolbar() {
  toolbar {
    padding: 4px;
    border: none;
    color: $toolbar_fg_color;
    background-color: $toolbar_bg_color;
    background-image: linear-gradient(to bottom, gtkshade($toolbar_bg_color, 1.5), gtkshade($toolbar_bg_color, 1.2) 50%, gtkshade($toolbar_bg_color, 0.98) 51%, gtkshade($toolbar_bg_color, 0.99), gtkshade($toolbar_bg_color, 1.3) 98%, gtkshade($toolbar_bg_color, 1.15));
    box-shadow: 0 1px gtkalpha($dark_shadow, 0.7);

    &:backdrop {
      color: $theme_unfocused_fg_color;
      background-color: $toolbar_bg_color;
    }
    
    &.vertical, &.vertical:backdrop {
      background-image: none;
    }

    &:disabled {
      color: $theme_disabled_fg_color;
      background-color: $theme_disabled_bg_color;
    }

    & button.flat {
      //@include flat_buttons($toolbar_bg_color, $toolbar_fg_color, $borders);
      background-image: none;
      background-color: transparent;
      border: 1px solid transparent;
      box-shadow: none;
      color: $toolbar_fg_color;
      
      &:hover {
        border-color: transparent;
        background-image: none;
        background-color: transparent;
        color: $toolbar_fg_color;
      }
      
      &:active, &:checked {
        color: $toolbar_fg_color;
        
        // TODO: remix as colors later
        background-image: linear-gradient(to bottom, #82a7e8, #5d78be 40%, #153c9c 41%, #235db6 66%, #50c3e8);
        box-shadow: inset 0 0 1px 1px gtkalpha($dark_shadow, 0.45), inset 0 1px gtkshade($theme_bg_color, 0.35);
      }
      
      &:backdrop {
        color: $toolbar_fg_color;
      }
    }

    // menubar toolbars 
    & menubar {
      -GtkToolbar-button-relief: normal;
    }
  }
}
