// menuitem
@mixin menuitem() {
  menu menuitem, .menu menuitem {
    min-height: 16px;
    min-width: 40px;
    padding: 4px;
    border: none;
    border-radius: 0;
    color: $menu_fg_color;
    background-color: $menu_bg_color;

    &:hover {
      color: $theme_selected_fg_color;
      background-color: $theme_selected_bg_color;
      background-image: linear-gradient(gtkshade($theme_selected_bg_color, 1.45), gtkshade($theme_selected_bg_color, 1.2));
    }

    &:disabled {
      color: gtkmix($menu_fg_color, $menu_bg_color, 0.5);
    }

    // menu arrow 
    & arrow {
      min-width: 16px;
      min-height: 16px;

      &:dir(ltr) {
        margin-left: 10px;
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
      }

      &:dir(rtl) {
        margin-right: 10px;
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
      }
    }
  }
  
  menuitem {
    & accelerator {
      color: gtkalpha(currentColor, 0.55);

      &:hover {
        color: gtkalpha($theme_selected_fg_color, 0.8);
      }

      &:disabled {
        color: $theme_disabled_fg_color;
      }
    }
  }
}
