@mixin linked_styles() {
  .linked {
    entry {
      &:focus, &:last-child:focus { box-shadow: -2px 0 $selected_bg_color; }
      &:first-child:focus, &:only-child:focus { box-shadow: none; }
      
      &.vertical {
        entry {
          &:focus, &:last-child:focus { box-shadow: 0 -2px $selected_bg_color; }
          &:first-child:focus, &:only-child:focus { box-shadow: none; }
        }
      }
    }
  }
 
  stackswitcher button.text-button { min-width: 80px; }
}
