@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    border-bottom: 1px solid gtkshade($border_color, 0.9);
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($titlebar_bg_color, 0.965),
      gtkshade($titlebar_bg_color, 0.9)
    );
    box-shadow: none;
    
    button {
      @include normal_buttons($base_color, $headerbar_fg_color, $border_color);
    }
  }

  @else if $type == "backdrop" {
    border-color: $backdrop_border_color;
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
    background-image: none;
  }
}

@mixin titlebutton($type) {
  padding: 2px 2px;
  border: none;
  color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: none;
  -gtk-icon-shadow: none;
      
  @if $type == "close" {
    background-image: url('assets/close-normal.svg');
    
    &:hover { background-image: url('assets/close-hover.svg'); }
    &:active { background-image: url('assets/close-active.svg'); }
    &:backdrop { background-image: url('assets/close-backdrop.svg'); }
  }

  @else if $type == "minimize" {
    background-image: url('assets/minimize-normal.svg');
    
    &:hover { background-image: url('assets/minimize-hover.svg'); }
    &:active { background-image: url('assets/minimize-active.svg'); }
    &:backdrop { background-image: url('assets/minimize-backdrop.svg'); }
  }

  @else if $type == "maximize" {
    background-image: url('assets/maximize-normal.svg');
    
    &:hover { background-image: url('assets/maximize-hover.svg'); }
    &:active { background-image: url('assets/maximize-active.svg'); }
    &:backdrop { background-image: url('assets/maximize-backdrop.svg'); }
  }
}
