@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  $_border : $border_color;
  
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg :gtkmix($_fg, $_bg, 0.5);
  $_disabled_border : gtkmix($_fg, $_bg, 0.8);
  
  @if $type == "base" {  
    padding: 4px 8px;
    border-radius: $button_radius;
    border: 1px solid $_border;
    color: $_fg;
    background-color: $_bg;
    background-image: linear-gradient(
      to bottom,
      gtkshade($_bg, 1.05) 5%,
      $_bg 20%,
      $_bg 70%,
      gtkshade($_bg, 0.95) 90%
    );
    text-shadow: none;
    box-shadow: inset -1px -1px gtkshade($_bg, 0.65),
                inset 1px 1px gtkmix($_bg, white, 0.7);
    -gtk-icon-shadow: none;
  }

  @else if $type == "hover" {
    border-color: $_border;
    background-color: $info_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($info_color, 1.05) 5%,
      $info_color 20%,
      $info_color 70%,
      gtkshade($info_color, 0.95) 90%
    );
    box-shadow: inset -1px -1px 0 gtkshade($info_color, 0.65),
                inset 1px 1px gtkmix($info_color, white, 0.7);
  }

  @else if $type == "active"
  or $type == "checked" {
    border-color: $_border;
    color: $_fg;
    background-color: $info_color;
    background-image: linear-gradient(
      to top,
      gtkshade($info_color, 0.95) 5%,
      gtkshade($info_color, 0.9) 20%,
      gtkshade($info_color, 0.9) 70%,
      gtkshade($info_color, 0.85) 90%
    );
    box-shadow: none;
  }

  @else if $type == "checked-disabled" {
    border-color: $_disabled_border;
    color: $_disabled_fg;
    background-color: gtkshade($_disabled_bg, 0.9);
    background-image: linear-gradient(
      to top,
      gtkshade($_disabled_bg, 0.85) 5%,
      gtkshade($_disabled_bg, 0.8) 20%,
      gtkshade($_disabled_bg, 0.8) 70%,
      gtkshade($_disabled_bg, 0.75) 90%
    );
  }

  @else if $type == "disabled"  {
    color: $_disabled_fg;
  }
  
  @else if $type == "undecorated" {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
}
