@mixin headerbar_buttons($bg, $fg, $br)
{
  @include normal_buttons($bg, $fg, $br);
}

@mixin headerbar() {
  headerbar {
    padding: 4px 8px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    border-bottom: 1px solid $border_color;
    box-shadow: inset 0 1px gtkalpha($light_shadow, 0.1);

    &:backdrop {
      border-color: $backdrop_border_color;
      color: $backdrop_fg_color;
      background-color: $backdrop_bg_color;
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    button {
      @include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, $border_color);
    }

    entry { padding: 4px 8px; }
    &.titlebar, .titlebar & { border-radius: $window_radius $window_radius 0px 0px; }
    
    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 0;
        color: $titlebar_fg_color;
        background-color: transparent;
        -gtk-icon-shadow: none;

        &:hover { color: gtkshade($titlebar_fg_color, 1.15); }
        &:active { color: gtkshade($titlebar_fg_color, 0.85); }        
        &:backdrop { color: $backdrop_fg_color; }
      }
      
      &.close {
        color: gtkshade($error_color, 1.7);
        
        &:hover { color: gtkshade($error_color, 1.9); }
        &:active { color: gtkshade($error_color, 1.5); }
      }
    }
  }
}
