@mixin entry($type : "base") {
  @if $type == "base" {
    padding: 5px;
    border-radius: $entry_radius;
    border: 1px solid $border_color;
    border-bottom-color: gtkmix($bg_color, white, 0.7);
    border-right-color: gtkmix($bg_color, white, 0.7);
    color: $text_color;
    background-color: $base_color;
  }

  @else if $type == "focus" {
    box-shadow: 0 0 0 2px $color_shadow;  // TODO: use outline instead?
  }

  @else if $type == "disabled" {
    color: $disabled_text_color;
  }

  @else if $type == "disabled-backdrop" {
    color: $backdrop_disabled_fg_color;
    background-color: $backdrop_disabled_base_color;
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: $backdrop_base_color;
  }
  
  @else if $type == "flat" {
    min-height: 0px;
    padding: 3px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
  }
}
