@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: none;
    box-shadow: inset -1px -1px gtkshade($titlebar_bg_color, 1.4),
                inset 1px 1px gtkshade($titlebar_bg_color, 0.6);
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: gtkmix($backdrop_bg_color, $light_shadow, 0.2);
    background-image: none;
    box-shadow: none;
  }
}
    
@mixin titlebutton($type) {
  padding: 0px;
  min-width: 19px;
  min-height: 19px;
  border-radius: 0;
  color: $titlebar_bg_color;
  background-color: $titlebar_bg_color;
  -gtk-icon-shadow: 1px 1px gtkalpha($light_shadow, 0.7),
                    -1px -1px gtkshade($border_color, 0.85);

  &:backdrop {
    background-color: gtkmix($backdrop_bg_color, $light_shadow, 0.2);
  }
}
