@mixin headerbar() {
  headerbar {
    padding: 4px 8px;
    min-height: 34px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    box-shadow: inset -1px -1px gtkshade($titlebar_bg_color, 1.4),
                inset 1px 1px gtkshade($titlebar_bg_color, 0.6);

    &:backdrop {
      color: $backdrop_fg_color;
      background-image: none;
      background-color: gtkmix($backdrop_bg_color, $light_shadow, 0.2);
      box-shadow: none;
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
      
      &:backdrop {
        color: gtkalpha(currentColor, 0.7);
      }
    }

    &.titlebar, .titlebar & { border-radius: $window_radius $window_radius 0px 0px; }
  }
    
  windowcontrols {
    border-spacing: 6px;

    &:not(.empty) {
      &.start:dir(ltr),
      &.end:dir(rtl) {
        margin-right: 7px;
      }

      &.start:dir(rtl),
      &.end:dir(ltr) {
        margin-left: 7px;
      }
    }

    button {
      &.close, &.maximize, &.minimize {
        min-width: 19px;
        min-height: 19px;
        padding: 0;
        border-radius: 0;
        color: $titlebar_bg_color;
        background-color: $titlebar_bg_color;
        -gtk-icon-shadow: 1px 1px gtkalpha($light_shadow, 0.7),
                          -1px -1px gtkshade($border_color, 0.85);

        &:backdrop {
          background-color: gtkmix($backdrop_bg_color, $light_shadow, 0.2);
        }
      }
    }
  }
}
