@mixin menubar() {
  padding: 0px;
  border: 1px solid $border_color;
  color: $menubar_fg_color;
  background-color: $menubar_bg_color;
  border-top-color: gtkmix($menubar_bg_color, $light_shadow, 0.7);
  border-left-color: gtkmix($menubar_bg_color, $light_shadow, 0.7);

  &:backdrop {
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
  }
}
    
@mixin menubaritem($state : "base") {
  @if $state == "base" {
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px 20px 3px 8px;
    min-height: 12px;
    border: 1px solid gtkshade($border_color, 0.8);
    border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
    border-left-color: gtkmix($bg_color, $light_shadow, 0.7);
    
    border-radius: 40px;
    color: $menubar_fg_color;
    background-color: transparent;
    background-image: url('assets/menuitem_arrow.png');
    background-size: 14px 9px;
    background-position: right center;
    background-repeat: no-repeat;
  }

  @if $state == "hover" {
    border-color: gtkshade($border_color, 0.8);
    border-bottom-color: gtkmix($bg_color, $light_shadow, 0.7);
    border-right-color: gtkmix($bg_color, $light_shadow, 0.7);
  }

  @if $state == "disabled" {
    color: $disabled_fg_color;
    background-color: transparent;
  }

  @if $state == "backdrop" {
    color: $backdrop_fg_color;
    background-color: transparent;
  }
}
