@mixin modelbutton($state) {
  @if $state == "base" {
    min-height: 20px;
    padding-left: $menuitem_padding;
    padding-right: $menuitem_padding;
    border-radius: $menuitem_radius;
    border: 1px solid transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
  }

  @else if $state == "hover" {
    border-color: $selected_bg_color;
  }

  @else if $state == "disabled" {
    color: gtkmix($popover_fg_color, $popover_bg_color, 0.5);   // disabled_fg_color?
  }
}
