@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: 1px solid $border_color;
    border-bottom-color: gtkmix($bg_color, $light_shadow, 0.7);
    border-right-color: gtkmix($bg_color, $light_shadow, 0.7);
    background-color: $border_color;
    box-shadow: inset 0px 0px 0px 6px gtkshade($bg_color, 0.9);;
    padding: 1px;
    
    @at-root
    scrolledwindow {
      border: 1px solid $border_color;
      border-bottom-color: gtkmix($bg_color, $light_shadow, 0.7);
      border-right-color: gtkmix($bg_color, $light_shadow, 0.7);
    }
  }

  @else if $type == "hint" {
    opacity: 1;
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: 1px solid $border_color;
    border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
    border-left-color: gtkmix($bg_color, $light_shadow, 0.7);
    background-color: $bg_color;
    background-clip: padding-box;
    background-repeat: no-repeat;
  }
  
  @else if $type == "hint" {
    margin: 0px;
  }
  
  // TODO: this doesn't work anymore
  @else if $type == "horiz" {
    background: $bg_color, url('assets/arrow-right.png') right center, url('assets/arrow-left.png') left center;
  }
  
  @else if $type == "vert" {
    background: $bg_color, url('assets/arrow-down.png') bottom center, url('assets/arrow-up.png') top center;
  }
}
