// titlebar
@mixin titlebar() {
  .titlebar {
    border-bottom: none;
    border-radius: $csd_radius $csd_radius 0px 0px;

    & .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    & .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }
    
    button {
      @include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, transparent);
    }

    // titlebutton 
    & .titlebutton {
      
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 0 0;
        min-width: 30px;
        min-height: 30px;
        border: none;
        color: transparent;
        background-color: transparent;
        background-position: center center;
        -gtk-icon-shadow: none;
        
        &:hover {
          background-color: #3665b3;
        }
        
        &:active {
          background-color: #3d6099;
        }
        
        &:backdrop {
          opacity: 0.9;
        }
      }
      
      &.close {
        background-image: url('assets/close.png');

        &:hover {
          background-color: #e04343;
        }

        &:active {
          background-color: #c75050;
        }
      }

      &.minimize {
        background-image: url('assets/minimize.png');
      }

      &.maximize {
        background-image: url('assets/maximize.png');
      }
    }

    .tiled &:not(headerbar), .tiled &:backdrop:not(headerbar), .maximized &:not(headerbar), .maximized &:backdrop:not(headerbar) {
      border-radius: 0;
    }
  }

  .titlebar, .titlebar:not(headerbar), headerbar.default-decoration, .csd headerbar.default-decoration, .default-decoration.titlebar:not(headerbar), .csd .default-decoration.titlebar:not(headerbar) {
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;

    &:backdrop {
      background-color: gtkmix($titlebar_bg_color, $theme_unfocused_bg_color, 0.3);
      color: gtkmix($titlebar_fg_color, $theme_unfocused_fg_color, 0.3);
    }
  }
}
