@mixin headerbar_buttons($bg, $fg, $br)
{
  @include normal_buttons($bg, $fg, $br);
}

@mixin headerbar() {
  headerbar {
    padding: 4px 8px;
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;

    &:backdrop {
      background-color: gtkshade($backdrop_bg_color, 0.9);
      color: $backdrop_fg_color;
    }

    .tiled &, .tiled &:backdrop,
    .maximized &, .maximized &:backdrop {
      border-radius: 0;
    }
    
    // Fixes split headerbars
    separator:first-child + &,
    &:first-child {
      &, &:backdrop {
        border-top-left-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    &:last-child {
      &, &:backdrop {
        border-top-right-radius: $window_radius;

        .maximized &,
        .tiled & { border-radius: 0; }
      }
    }

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }
    
    button {
      @include headerbar_buttons($headerbar_bg_color, $headerbar_fg_color, $border_color);
    }

    entry { padding: 4px 8px; }
    &.titlebar, .titlebar & { border-radius: $window_radius $window_radius 0px 0px; }

    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 0;
        min-height: 21px;
        min-width: 26px;
        border: none;
        color: transparent;
        background-color: transparent;
        -gtk-icon-shadow: none;
        
        background-position: center;
        background-repeat: no-repeat;
      }
      
      &.close {
        min-height: 21px;
        min-width: 45px;
        background: url('assets/close-normal.png') center center;

        &:backdrop { background: url('assets/close-backdrop.png') center center; }
      }

      &.minimize {
        background: url('assets/minimize-normal.png') 100% 100%;

        &:backdrop { background: url('assets/minimize-normal.png') 100% 100%; }
      }

      &.maximize {
        background: url('assets/maximize-normal.png') 100% 100%;

        &:backdrop { background: url('assets/maximize-normal.png') 100% 100%; }
      }
      
      .maximized &.maximize {
        background: url('assets/restore-normal.png') 100% 100%;

        &:backdrop { background: url('assets/restore-normal.png') 100% 100%; }
      }
    }
  }
}
