@mixin switch() {
  margin: 4px;
  font-size: 0;
  border-radius: 3px;
  border: 1px solid gtkmix(gtkshade($border_color, 0.3), $selected_bg_color, 0.25);
  color: transparent;
  background-color: $border_color;

  &:checked {
    background-color: $selected_bg_color;
  }

  &:disabled {
    border-color: gtkmix(gtkshade($border_color, 0.3), $disabled_bg_color, 0.85);
    background-color: $disabled_bg_color;
  }
}

@mixin switch_slider($type : "base") {
  @if $type == "base" {
    @include button('base');
    
    // override button properties
    margin: -1px;
    min-width: 28px;
    min-height: 22px;    
  }

  @else if $type == "disabled" {
    @include button('disabled');
  }
}
