$global_radius : 2px;
$entry_radius : 0px;
$button_radius : 2px;
$notebook_tab_radius : 2px;
$progressbar_radius : 3px;
$levelbar_radius : 3px;
$scrollbar_slider_radius : 0px;
$window_radius : 6px;
$viewitem_radius: 0px;
$menu_radius : 0px;

$top_stepper: true;
$bottom_stepper: true;
$secondary_top_stepper: false;
$secondary_bottom_stepper: false;

$checkradio_size: 16px;

// outline
$outline_width : 1px;
$outline_offset : -3px;
$outline_style : dashed;

$tooltip_radius : $global_radius;
