@mixin menubar() {
  menubar, .menubar {
    -GtkWidget-window-dragging: true;
    padding: 0;
    border-style: none;
    border-bottom: 1px solid $borders;
    background-color: $menubar_bg_color;
    color: $menubar_fg_color;

    &:backdrop {
      color: $unfocused_fg_color;
      border-bottom-color: $unfocused_borders;
      background-color: $unfocused_bg_color;
    }
  }
}
