@mixin scale() {
  scale {
    min-height: 10px;
    min-width: 10px;
    padding: 12px;

    fill, trough {
      border: 1px solid $borders;
      border-radius: 0;
      background-color: gtkalpha($dark_shadow, 0.1);
      outline-offset: 2px;
      -gtk-outline-radius: 0;

      &:disabled {
        background-color: gtkalpha($dark_shadow, 0.05);

        &:backdrop {
          background-color: gtkalpha($dark_shadow, 0.05);
        }
      }

      &:backdrop {
        background-color: gtkalpha($dark_shadow, 0.1);
      }
    }

    highlight {
      border: none;
      border-radius: 4px;
      background-color: transparent;

      &:disabled {
        background-color: transparent;

        &:backdrop {
          background-color: transparent;
        }
      }

      &:backdrop {
        background-color: transparent;
      }
    }

    &.horizontal {
      indicator {
        min-height: 6px;
        min-width: 1px;
      }

      &.fine-tune indicator {
        min-height: 3px;
      }
    }

    &.vertical {
      indicator {
        min-height: 1px;
        min-width: 6px;
      }

      &.fine-tune indicator {
        min-width: 3px;
      }
    }

    &.fine-tune {
      &.horizontal {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 14px;
      }

      &.vertical {
        padding-left: 10px;
        padding-right: 10px;
        min-width: 14px;
      }

      slider {
        margin-top: -6px;
        margin-bottom: -9px;
      }

      fill, trough, highlight {
        border-radius: 0;
        -gtk-outline-radius: 0;
      }

      marks {
        &.top {
          margin-bottom: 8px;
          margin-top: -13px;
        }

        &.bottom {
          margin-top: 8px;
          margin-bottom: -13px;
        }

        &.top {
          margin-right: 8px;
          margin-left: -13px;
        }

        &.bottom {
          margin-left: 8px;
          margin-right: -13px;
        }
      }
    }

    slider {
      min-height: 21px;
      min-width: 15px;
      margin: -5px;
      margin-bottom: -10px;
      border: none;
      border-radius: 0;
      color: $theme_selected_fg_color;
      background-color: transparent;
      background-image: url('assets/slider-horiz.png');

      &:hover {
        color: $theme_selected_fg_color;
        background-image: url('assets/slider-horiz.png');
      }

      &:disabled {
        -gtk-icon-shadow: none;
        background-image: url('assets/slider-horiz-insensitive.png');

        &:backdrop {
          -gtk-icon-shadow: none;
          background-image: url('assets/slider-horiz-insensitive.png');
        }
      }

      &:backdrop {
        color: $theme_unfocused_selected_fg_color;
        background-image: url('assets/slider-horiz-insensitive.png');
      }
    }
    
    &.vertical {
      slider {
        min-height: 15px;
        min-width: 21px;
        margin: -5px;
        margin-right: -10px;
        background-image: url('assets/slider-vert.png');

        &:hover {
          background-image: url('assets/slider-vert.png');
        }

        &:disabled {
          background-image: url('assets/slider-vert-insensitive.png');

          &:backdrop {
            background-image: url('assets/slider-vert-insensitive.png');
          }
        }

        &:backdrop {
          background-image: url('assets/slider-vert-insensitive.png');
        }
      }
    }

    value {
      color: gtkalpha(currentColor,0.35);
    }

    marks {
      color: gtkalpha(currentColor,0.35);

      &.top {
        margin-bottom: 6px;
        margin-top: -12px;
      }

      &.bottom {
        margin-top: 6px;
        margin-bottom: -12px;
      }

      &.top {
        margin-right: 6px;
        margin-left: -12px;
      }

      &.bottom {
        margin-left: 6px;
        margin-right: -12px;
      }
    }
  }
}
