@mixin switch() {
  switch {
    outline-offset: -4px;
    margin: 0px;
    color: $fg_color;
    border: none;
    border-radius: $button_radius;
    background-color: $bg_color;
    box-shadow: inset 1px 0 gtkshade($bg_color, 0.65), inset 0 1px gtkshade($bg_color, 0.65), inset -1px 0 $light_shadow, inset 0 -1px $light_shadow;

    &:checked {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }

    &:disabled {
      color: $disabled_fg_color;
      border-color: $disabled_bg_color;
      background-color: $disabled_bg_color;
    }

    slider {
      margin: 0;
      border: 1px solid $borders;
      border-radius: $button_radius;
      color: $fg_color;
      box-shadow: inset -2px 0 gtkshade($bg_color, 0.65), inset 0 -2px gtkshade($bg_color, 0.65), inset 1px 0 $light_shadow, inset 0 1px $light_shadow;
      background-color: $bg_color;
    }

    &:disabled {
      slider {
        background-color: $disabled_bg_color;
      }
    }
  }
}
