@mixin decoration() {
  decoration {
    border-radius: $csd_radius $csd_radius 0 0;
    border-width: 0px;
    box-shadow: 0 8px 8px 0 gtkalpha($wm_shadow, 0.1), 0 0 0 1px gtkalpha($wm_shadow, 0.3);
    margin: 10px;

    &:backdrop {
      box-shadow: 0 8px 8px 0 transparent, 0 5px 5px 0 gtkalpha($wm_shadow, 0.1), 0 0 0 1px gtkalpha($wm_shadow, 0.2);
    }

    .fullscreen &, .tiled & {
      border-radius: 0;
    }

    .popup & {
      box-shadow: 0 0 0 1px gtkalpha($wm_shadow, 0.2);
      border-radius: 0;
    }

    .ssd & {
      border-radius: $csd_radius $csd_radius 0 0;
      box-shadow: 0 0 0 1px gtkalpha($wm_shadow, 0.1);

      &.maximized {
        border-radius: 0;
      }
    }

    tooltip.csd & {
      border-radius: $csd_radius;
      box-shadow: none;
    }

    .solid-csd & {
      margin: 1px;
      border-radius: 0px;
      background-color: gtkalpha($light_shadow, 0.95);
      box-shadow: none;
    }
  }
}
