@mixin titlebar() {
  .titlebar {
    border-bottom: none;
    border-radius: $csd_radius $csd_radius 0px 0px;

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
      color: $titlebar_fg_color;
      padding: 0 12px;
      text-shadow: 1px 1px gtkalpha($dark_shadow, 0.3);
      
      &:backdrop {
        text-shadow: none;
        color: gtkalpha($titlebar_fg_color, 0.3);
      }
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: $titlebar_fg_color;
    }

    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 2px 2px;
        border: none;
        box-shadow: none;
        color: transparent;
        background-color: transparent;
        -gtk-icon-shadow: none;
        
        background-position: center;
        background-repeat: no-repeat;
      }
      &.close {
        background: url('assets/close-normal.png') 100% 100%;

        &:hover {
          background: url('assets/close-hover.png') 100% 100%;
        }

        &:active {
          background: url('assets/close-active.png') 100% 100%;
        }

        &:backdrop {
          background: url('assets/close-backdrop.png') 100% 100%;
          
          &:hover {
            background: url('assets/close-backdrop-hover.png') 100% 100%;
          }

          &:active {
            background: url('assets/close-active.png') 100% 100%;
          }
        }
      }

      &.minimize {
        background: url('assets/minimize-normal.png') 100% 100%;

        &:hover {
          background: url('assets/minimize-hover.png') 100% 100%;
        }

        &:active {
          background: url('assets/minimize-active.png') 100% 100%;
        }

        &:backdrop {
          background: url('assets/minimize-backdrop.png') 100% 100%;
          
          &:hover {
            background: url('assets/minimize-backdrop-hover.png') 100% 100%;
          }

          &:active {
            background: url('assets/minimize-active.png') 100% 100%;
          }
        }
      }

      &.maximize {
        background: url('assets/maximize-normal.png') 100% 100%;

        &:hover {
          background: url('assets/maximize-hover.png') 100% 100%;
        }

        &:active {
          background: url('assets/maximize-active.png') 100% 100%;
        }

        &:backdrop {
          background: url('assets/maximize-backdrop.png') 100% 100%;
          
          &:hover {
            background: url('assets/maximize-backdrop-hover.png') 100% 100%;
          }

          &:active {
            background: url('assets/maximize-active.png') 100% 100%;
          }
        }
      }
      
      .maximized &.maximize {
        background: url('assets/restore-normal.png') 100% 100%;

        &:hover {
          background: url('assets/restore-hover.png') 100% 100%;
        }

        &:active {
          background: url('assets/restore-active.png') 100% 100%;
        }

        &:backdrop {
          background: url('assets/restore-backdrop.png') 100% 100%;
          
          &:hover {
            background: url('assets/restore-backdrop-hover.png') 100% 100%;
          }

          &:active {
            background: url('assets/restore-active.png') 100% 100%;
          }
        }
      }
    }

    .tiled &:not(headerbar), .tiled &:backdrop:not(headerbar), .maximized &:not(headerbar), .maximized &:backdrop:not(headerbar) {
      border-radius: 0;
    }
  }

  .titlebar, .titlebar:not(headerbar), headerbar.default-decoration, .csd headerbar.default-decoration, .default-decoration.titlebar:not(headerbar), .csd .default-decoration.titlebar:not(headerbar) {
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-size: 1px 100%;
    background-image: url('assets/titlebar-focused-middle.png');

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: $unfocused_bg_color;
      background-image: url('assets/titlebar-unfocused-middle.png');
    }
  }
}
