@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  $_border : gtkshade($_bg, 0.7);
  
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  
  @if $type == "base" {
    padding: 4px 8px;
    border-radius: $button_radius;
    border: 1px solid $_border;
    border-top-color: gtkmix($_bg, white, 0.7);
    border-left-color: gtkmix($_bg, white, 0.7);
    color: $_fg;
    background-color: $_bg;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    
    // TODO: outline
  }
  
  @else if $type == "hover" {
    border: 1px solid $_border;
    border-top-color: gtkmix($_bg, white, 0.7);
    border-left-color: gtkmix($_bg, white, 0.7);
    color: $_fg;
    background-color: $_bg;
  }

  @else if $type == "active"
  or $type == "checked" {
    color: $_fg;
    border-top-color: $_border;
    border-left-color: $_border;
    border-bottom-color: gtkmix($_bg, white, 0.7);
    border-right-color: gtkmix($_bg, white, 0.7);
    background-color: gtkshade($_bg, 0.9);
    background-image: none;
  }

  @else if $type == "checked-disabled" {
    color: $_disabled_fg;
    text-shadow: 1px 1px gtkalpha(white, 0.7);
    background-color: gtkshade($_disabled_bg, 0.9);
  }

  @else if $type == "disabled" {
    color: $_disabled_fg;
    text-shadow: 1px 1px gtkalpha(white, 0.85);   // override in labels.scss
  }
  
  @else if $type == "undecorated" {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
}
