@mixin checkradio() {
  checkbutton.text-button, radiobutton.text-button {
    padding: 4px;
    outline-offset: 0;
  }

  check, radio {
    margin: 0 4px;
    min-height: $checkradio_size;
    min-width: $checkradio_size;
    border-style: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
  }
  
  check { -gtk-icon-source: url('assets/checkbox-unchecked.png');
    &:disabled { -gtk-icon-source: url('assets/checkbox-unchecked-disabled.png'); }
    &:checked { -gtk-icon-source: url('assets/checkbox-checked.png');
      &:disabled { -gtk-icon-source: url('assets/checkbox-checked-disabled.png'); }
    }
  }
  
  radio { -gtk-icon-source: url('assets/radio-unchecked.png');
    &:disabled { -gtk-icon-source: url('assets/radio-unchecked-disabled.png'); }
    &:checked { -gtk-icon-source: url('assets/radio-checked.png');
      &:disabled { -gtk-icon-source: url('assets/radio-checked-disabled.png'); }
    }
  }
}
