@mixin floating_bar() {
  border: 1px solid $border_color;
  border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
  border-left-color: gtkmix($bg_color, $light_shadow, 0.7);
  border-radius: $global_radius;
  background-color: $bg_color;
  color: $fg_color;
  box-shadow: none;
}
