@mixin headerbutton() {
  @extend %button_flat;
}

@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: none;
    box-shadow: inset 2px 2px gtkshade($titlebar_bg_color, 1.4),
                inset -2px -2px gtkshade($titlebar_bg_color, 0.6);
  
    .title { color: $selected_fg_color;
      &:backdrop { color: $backdrop_fg_color; }
    }

    .subtitle { color: gtkalpha($selected_fg_color, 0.7);
      &:backdrop { color: gtkalpha($backdrop_fg_color, 0.7); }
    }

    button {
      @include headerbutton();
    }
  }
  
  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
    background-image: none;
    box-shadow: inset 2px 2px gtkshade($backdrop_bg_color, 1.2),
                inset -2px -2px gtkshade($backdrop_bg_color, 0.8);
  }
}
    
@mixin titlebutton($type) {
  padding: 0px;
  min-width: 19px;
  min-height: 19px;
  border: none;
  border-radius: 0;
  color: transparent;
  background-size: 19px 19px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: none;
  -gtk-icon-shadow: none;
      
  @if $type == "close" {
    color: transparent;
    background-image: url('assets/close-focused.png');
    
    &:backdrop { background-image: url('assets/close-unfocused.png'); }
  }

  @else if $type == "minimize" {
    color: transparent;
    background-image: url('assets/minimize-focused.png');
    
    &:backdrop { background-image: url('assets/minimize-unfocused.png'); }
  }

  @else if $type == "maximize" {
    color: transparent;
    background-image: url('assets/maximize-focused.png');
    
    &:backdrop { background-image: url('assets/maximize-unfocused.png'); }
  }
}
