@mixin scale_trough() {
  border: 1px solid $border_color;
  border-radius: $scale_trough_radius;
  background-color: $bg_color;
  outline-offset: 2px;
  border-bottom-color: gtkmix($bg_color, $light_shadow, 0.7);
  border-right-color: gtkmix($bg_color, $light_shadow, 0.7);

  &:disabled { background-color: $disabled_bg_color; }
}

@mixin scale_highlight() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: transparent;

  &:disabled { background-color: transparent;
    &:backdrop { background-color: transparent; }
  }

  &:backdrop { background-color: transparent; }
}

@mixin scale_slider() {
  min-width: $scale_slider_width;
  min-height: $scale_slider_height;
  margin: $scale_slider_margin;
  border-radius: $scale_slider_radius;
  color: $fg_color;
  background-color: $bg_color;
  border: 1px solid $border_color;
  border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
  border-left-color: gtkmix($bg_color, $light_shadow, 0.7);
  
  // TODO: reuse this for os/2, haiku, beos?
  background-image: linear-gradient(
    to right,
    $border_color,
    gtkmix($bg_color, $light_shadow, 0.7)
  );
  background-size: 2px 100%;
  background-position: center center;
  background-repeat: no-repeat;

  &:disabled { background-color: $disabled_bg_color;
    &:backdrop { background-color: $backdrop_disabled_bg_color; }
  }

  &:backdrop {
    color: $backdrop_selected_fg_color;
    background-color: $backdrop_bg_color;
  }

  @at-root
  scale.vertical > trough > slider {
    min-width: $scale_slider_height;
    min-height: $scale_slider_width;
    background-size: 100% 2px;
    background-image: linear-gradient(
      to bottom,
      $border_color,
      gtkmix($bg_color, $light_shadow, 0.7)
    );
  }
}
