@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: 1px solid $border_color;
    border-bottom-color: gtkmix($bg_color, white, 0.7);
    border-right-color: gtkmix($bg_color, white, 0.7);
    background-color: gtkshade($bg_color, 0.9);

    @at-root
    scrolledwindow {
      border: 1px solid $border_color;
      border-bottom-color: gtkmix($bg_color, white, 0.7);
      border-right-color: gtkmix($bg_color, white, 0.7);
    }
  }

  @else if $type == "hint" {
    opacity: 1;
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    border: 1px solid $border_color;
    border-top-color: gtkmix($bg_color, white, 0.7);
    border-left-color: gtkmix($bg_color, white, 0.7);
    background-clip: padding-box;
    background-color: $bg_color;
  }
  
  @else if $type == "hint" {
    margin: 0px;
  }
}
