@mixin statusbar() {
  statusbar {
    border: 1px solid $border_color;
    border-bottom-color: gtkmix($bg_color, $light_shadow, 0.7);
    border-right-color: gtkmix($bg_color, $light_shadow, 0.7);
    padding: 4px;
  }
}
