@mixin switch() {
  margin: 4px;
  border-radius: $global_radius;
  border: 1px solid $border_color;
  border-bottom-color: gtkmix($bg_color, white, 0.7);
  border-right-color: gtkmix($bg_color, white, 0.7);
  color: $fg_color;
  background-color: $bg_color;

  &:checked {
    background-color: gtkshade($bg_color, 0.8);
  }

  &:disabled {
    color: $disabled_fg_color;
    border-color: $disabled_bg_color;
    background-color: $disabled_bg_color;
  }
}

@mixin switch_slider($type : "base") {
  @if $type == "base" {
    margin: 0px;
    min-height: 24px;
    min-width: 38px;
    border-radius: $global_radius;
    border: 1px solid $border_color;
    border-top-color: gtkmix($bg_color, white, 0.7);
    border-left-color: gtkmix($bg_color, white, 0.7);
    color: $fg_color;
    background-color: $bg_color;
    background-image: none;
    box-shadow: none;
  }

  @else if $type == "disabled" {
    background-color: $disabled_bg_color;
  }
}
