@mixin menubar_menuitem() {
  menubar > menuitem, .menubar > menuitem {
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px 8px;
    border: 1px solid gtkshade($borders, 0.8);
    border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
    border-left-color: gtkmix($bg_color, $light_shadow, 0.7);
    
    border-radius: 40px;
    color: $menubar_fg_color;
    background-color: transparent;

    &:hover {
      border-color: gtkshade($borders, 0.8);
      border-bottom-color: gtkmix($bg_color, $light_shadow, 0.7);
      border-right-color: gtkmix($bg_color, $light_shadow, 0.7);
    }

    &:disabled {
      color: $disabled_fg_color;
      background-color: transparent;
    }

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: transparent;
    }
  }
  
  menubar menu menuitem {
    text-shadow: none;
  }
}
