@mixin notebook() {
  notebook {
    padding: 0;

    &.frame {
      margin: -1px;
      border: none;

      > header {
        margin: 0;

        &.top {
          margin-bottom: 0;
        }

        &.bottom {
          margin-top: 0;
        }

        &.left {
          margin-right: 0;
        }

        &.right {
          margin-left: 0;
        }

        &.top, &.bottom {
          padding-left: 0;
          padding-right: 0;
        }

        &.left, &.right {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    // override the override :/
    .nautilus-window &, .nautilus-window & > stack:not(:only-child) searchbar {
      background-color: $light_shadow;
    }

    > stack {
      padding: 6px;
      border: 1px solid $borders;
      border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
      border-left-color: gtkmix($bg_color, $light_shadow, 0.7);
    
      &:not(:only-child) {
        background-color: $bg_color;
      }
      
      // file manager exception
      .nautilus-window & {
        box-shadow: inset 0 0 0 6px $bg_color;
        background-color: $light_shadow;
      }
    }

    tab {
      padding: 6px 20px;
      border-width: 1px;
      border-style: solid;
      border-radius: $tab_radius;
      border-color: $borders;
      color: $fg_color;
      background-color: gtkshade($bg_color, 0.9);
      
      &:checked {
        border-color: $borders;
        background-color: $bg_color;
      }
    }

    > header {
      padding-top: 2px;
      background-color: $bg_color;
      
      &.top {
        box-shadow: 0 1px gtkmix($bg_color, $light_shadow, 0.7);

        > tabs > tab {
          border-bottom: none;
          margin-top: 2px;
          margin-bottom: 1px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
          border-left-color: gtkmix($bg_color, $light_shadow, 0.7);

          &:checked {
            margin-top: 0;
            margin-bottom: -1px;
          }
        }
      }

      &.bottom {
        padding-top: 0;
        box-shadow: 0 -1px $borders;

        > tabs > tab {
          border-top: none;
          margin-bottom: 2px;
          margin-top: 1px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-left-color: gtkmix($bg_color, $light_shadow, 0.7);

          &:checked {
            margin-bottom: 0;
            margin-top: -1px;
          }
        }
      }

      &.right {
        box-shadow: -1px 0 $borders;

        > tabs > tab {
          border-left: none;
          margin-right: 2px;
          margin-left: 1px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          border-top-color: gtkmix($bg_color, $light_shadow, 0.7);

          &:checked {
            margin-right: 0;
            margin-left: -1px;
          }
        }
      }

      &.left {
        box-shadow: 1px 0 gtkmix($bg_color, $light_shadow, 0.7);

        > tabs > tab {
          border-right: none;
          margin-left: 2px;
          margin-right: 1px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-top-color: gtkmix($bg_color, $light_shadow, 0.7);
          border-left-color: gtkmix($bg_color, $light_shadow, 0.7);

          &:checked {
            margin-left: 0;
            margin-right: -1px;
          }
        }
      }
    }

    // alignments
    > header.top > tabs > arrow.up, > header.bottom > tabs > arrow.up {
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");

      &:last-child {
        margin-left: 2px;
      }
    }

    > header.top > tabs > arrow.down, > header.bottom > tabs > arrow.down {
      -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");

      &:first-child {
        margin-right: 2px;
      }
    }

    > header.left > tabs > arrow.up, > header.right > tabs > arrow.up {
      -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");

      &:last-child {
        margin-top: 2px;
      }
    }

    > header.left > tabs > arrow.down, > header.right > tabs > arrow.down {
      -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");

      &:first-child {
        margin-bottom: 2px;
      }
    }

    > header > tabs > arrow {
      color: $fg_color;

      &:hover {
        color: gtkshade($fg_color, 1.2);
      }

      &:active {
        color: gtkshade($fg_color, 0.8);
      }

      &:disabled {
        color: gtkshade($bg_color, 0.6);
      }
    }
  }
}
