@mixin titlebar() {
  .titlebar {
    border-bottom: none;
    border-radius: $csd_radius $csd_radius 0px 0px;

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        min-width: 19px;
        min-height: 19px;
        padding: 0;
        border-radius: 0;
        color: $titlebar_bg_color;
        background-color: $titlebar_bg_color;
        -gtk-icon-shadow: 1px 1px gtkalpha($light_shadow, 0.7), -1px -1px gtkshade($borders, 0.85);

        &:backdrop {
          background-color: gtkmix($unfocused_bg_color, $light_shadow, 0.2);
        }
      }
    }

    .tiled &:not(headerbar), .tiled &:backdrop:not(headerbar), .maximized &:not(headerbar), .maximized &:backdrop:not(headerbar) {
      border-radius: 0;
    }
  }

  .titlebar, .titlebar:not(headerbar), headerbar.default-decoration, .csd headerbar.default-decoration, .default-decoration.titlebar:not(headerbar), .csd .default-decoration.titlebar:not(headerbar) {
    min-height: 34px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    box-shadow: inset -1px -1px gtkshade($titlebar_bg_color, 1.4), inset 1px 1px gtkshade($titlebar_bg_color, 0.6);

    &:backdrop {
      color: $unfocused_fg_color;
      background-image: none;
      background-color: gtkmix($unfocused_bg_color, $light_shadow, 0.2);
      box-shadow: none;
    }
  }
}
