@mixin titlebar() {
  .titlebar {
    border-bottom: none;
    border-radius: $csd_radius $csd_radius 0px 0px;

    .title {
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }

    .subtitle {
      font-size: smaller;
      padding-left: 12px;
      padding-right: 12px;
      color: gtkalpha(currentColor, 0.7);
    }

    .titlebutton {
      &.close, &.maximize, &.minimize, &:not(separator) {
        padding: 0;
        min-height: 21px;
        min-width: 26px;
        border: none;
        color: transparent;
        background-color: transparent;
        -gtk-icon-shadow: none;
        
        background-position: center;
        background-repeat: no-repeat;
      }
      
      &.close {
        min-height: 21px;
        min-width: 45px;
        background: url('assets/close-normal.png') center center;

        &:backdrop {
          background: url('assets/close-backdrop.png') center center;
        }
      }

      &.minimize {
        background: url('assets/minimize-normal.png') 100% 100%;

        &:backdrop {
          background: url('assets/minimize-normal.png') 100% 100%;
        }
      }

      &.maximize {
        background: url('assets/maximize-normal.png') 100% 100%;

        &:backdrop {
          background: url('assets/maximize-normal.png') 100% 100%;
        }
      }
      
      .maximized &.maximize {
        background: url('assets/restore-normal.png') 100% 100%;

        &:backdrop {
          background: url('assets/restore-normal.png') 100% 100%;
        }
      }
    }

    .tiled &:not(headerbar), .tiled &:backdrop:not(headerbar), .maximized &:not(headerbar), .maximized &:backdrop:not(headerbar) {
      border-radius: 0;
    }
  }

  .titlebar, .titlebar:not(headerbar), headerbar.default-decoration, .csd headerbar.default-decoration, .default-decoration.titlebar:not(headerbar), .csd .default-decoration.titlebar:not(headerbar) {
    min-height: 30px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;

    &:backdrop {
      background-color: gtkshade($unfocused_bg_color, 0.9);
      color: $unfocused_fg_color;
    }
  }
}
