@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  $_border : gtkshade($_bg, 0.85);

  $_disabled_bg : gtkshade($_bg, 1.02);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  $_disabled_border : gtkshade($_bg, 0.925);

  $_backdrop_bg : $_bg;
  $_backdrop_fg : gtkmix($_fg, $_bg, 0.3);
  $_backdrop_border : gtkshade($_bg, 0.9);

  $_backdrop_disabled_bg : gtkshade($_bg, 1.02);
  $_backdrop_disabled_fg : gtkmix($_fg, $_bg, 0.75);
  $_backdrop_disabled_border : gtkshade($_bg, 0.95);
  
  $_backdrop_highlight_bg : gtkshade($_bg, 1.065);

  @if $type == "base" {
    border: 1px solid $_border;
    border-left-color: gtkshade($_border, 0.95);
    border-right-color: gtkshade($_border, 0.95);
    border-bottom-color: gtkshade($_border, 0.875);
    color: $_fg;
    background-color: $_bg;
    background-image: linear-gradient(
      to bottom,
      gtkshade($_bg, 1.05),
      gtkshade($_bg, 0.975)
    );
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    
    @if $variant != 'dark' {
      box-shadow: inset 0 0 0 1px gtkalpha(white, 0.3);
    }
    @else {
      box-shadow: inset 0 0 0 1px gtkalpha(white, 0.08);
    }
    // TODO: outlines
  }
  
  @else if $type == "hover" {
    border-color: $_border;
    background-image: linear-gradient(
      to bottom,
      gtkshade($_bg, 1.05),
      gtkshade($_bg, 0.975)
    );
    box-shadow: 0 1px gtkalpha(black, 0.085),
                1px 0 gtkalpha(black, 0.055),
                -1px 0 gtkalpha(black, 0.055);
    
    // HACK: override hover shadow if button is focused
    &:focus:not(:checked) {
      box-shadow: 0 1px gtkalpha($selected_bg_color, 0.3),
                  1px 0 gtkalpha($selected_bg_color, 0.25),
                  -1px 0 gtkalpha($selected_bg_color, 0.25);
    }
  }

  @else if $type == "active" {
    background-image: linear-gradient(
      to bottom,
      gtkshade($_bg, 0.92),
      gtkshade($_bg, 0.975)
    );
  }
  
  @else if $type == "checked" {
    border-color: gtkshade($_border, 0.9);
    border-left-color: gtkshade($_border, 0.85);
    border-right-color: gtkshade($_border, 0.85);
    border-top-color: gtkshade($_border, 0.8);
    background-color: gtkmix($_bg, $_fg, 0.1);
    background-image: linear-gradient(
      to bottom,
      gtkshade($_bg, 0.8),
      gtkshade($_bg, 0.95)
    );
    box-shadow: inset 0 2px 2px 0 gtkalpha(black, 0.1);
  }

  @else if $type == "checked-backdrop" {
    background-image: linear-gradient(
      to bottom,
      gtkshade($_bg, 0.8),
      gtkshade($_bg, 0.95)
    );
    box-shadow: inset 0 2px 2px 0 gtkalpha(black, 0.075);
    
    // HACK: light up when hovered on
    &:hover {
      background-color: $_backdrop_highlight_bg;
      background-image: none;
    }
  }
    
  @else if $type == "checked-disabled" {
    color: $_disabled_fg;
    border-color: gtkshade($_disabled_border, 0.9);
    background-color: gtkshade($_disabled_bg, 0.9);
    background-image: linear-gradient(
      to bottom,
      gtkshade($_disabled_bg, 0.95),
      gtkshade($_disabled_bg, 0.99)
    );
    box-shadow: inset 0 2px 2px 0 gtkalpha(black, 0.025);
  }
  
  @else if $type == "checked-disabled-backdrop" {
    color: $_backdrop_disabled_fg;
  }

  @else if $type == "disabled" {
    border-color: $_disabled_border;
    color: $_disabled_fg;
    background-color: $_disabled_bg;
    background-image: none;
    box-shadow: none;
  }
  
  @else if $type == "disabled-backdrop" {
    border-color: $_backdrop_disabled_border;
    color: $_backdrop_disabled_fg;
    background-color: $_backdrop_disabled_bg;
  }
  
  @else if $type == "backdrop" {
    // border-color: $_backdrop_border ??
    // background-color: $_backdrop_bg ??
    color: $_backdrop_fg;
    background-image: none;
    
    @if $variant != 'dark' {
      box-shadow: inset 0 0 0 1px gtkalpha(white, 0.25);
    }
    @else {
      box-shadow: inset 0 0 0 1px gtkalpha(white, 0.07);
    }
    
    // HACK: light up when hovered on
    &:hover {
      background-color: $_backdrop_highlight_bg;
    }
  }
  
  @else if $type == "undecorated" {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
    
    // HACK: light up when hovered on
    &:backdrop:hover {
      border-color: $_backdrop_border;
      background-color: $_backdrop_highlight_bg;
      background-image: none;
      box-shadow: none;
    }
  }
}
