@mixin entry($type : "base") {
  @if $type == "base" {
    padding: 4px 5px;
    border-radius: $entry_radius;
    border: 1px solid gtkshade($border_color, 0.95);
    border-left-color: gtkshade($border_color, 0.85);
    border-right-color: gtkshade($border_color, 0.85);
    border-top-color: gtkshade($border_color, 0.8);
    color: $text_color;
    background-color: $base_color;
    background-image: linear-gradient(
      to bottom,
      $bg_color,
      gtkshade($bg_color, 1.045)
    );
    
    @if $variant != 'dark' {
      box-shadow: inset 0 1px gtkalpha(black, 0.05),
                  inset 1px 0 gtkalpha(black, 0.035),
                  inset -1px 0 gtkalpha(black, 0.05),
                  0 1px gtkalpha(white, 0.3),
                  -1px 0 gtkalpha(white, 0.3),
                  1px 0 gtkalpha(white, 0.3);
    }
    @else {
      box-shadow: inset 0 1px gtkalpha(black, 0.05),
                  inset 1px 0 gtkalpha(black, 0.035),
                  inset -1px 0 gtkalpha(black, 0.05),
                  0 1px gtkalpha(white, 0.05),
                  -1px 0 gtkalpha(white, 0.05),
                  1px 0 gtkalpha(white, 0.05);
    }
  }

  @else if $type == "focus" {
    border-color: gtkshade($selected_bg_color, 1.15);
  }

  @else if $type == "disabled" {
    border-color: gtkshade($backdrop_border_color, 0.95);
    color: $disabled_text_color;
    background-color: $disabled_bg_color;
    background-image: none;
    box-shadow: none;
  }

  @else if $type == "disabled-backdrop" {
    border-color: $backdrop_border_color;
    color: $backdrop_disabled_fg_color;
    background-color: $backdrop_disabled_bg_color;
    background-image: none;
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: $backdrop_base_color;
    background-image: linear-gradient(
      to bottom,
      $bg_color,
      gtkshade($bg_color, 1.02)
    );
  }
  
  @else if $type == "undecorated" {
    min-height: 0px;
    padding: 3px;
    border-radius: 0px;
    background-image: none;
    border-color: transparent;
  }
}
