@mixin linked_styles() {
  .linked {
    entry {
      &:focus, &:last-child:focus { box-shadow: -1px 0 gtkshade($selected_bg_color, 1.15); }
      &:first-child:focus, &:only-child { box-shadow: none; }
    }
    
    &.vertical {
      entry {
        &:focus, &:last-child:focus { box-shadow: 0 -1px gtkshade($selected_bg_color, 1.15); }
        &:first-child:focus, &:only-child { box-shadow: none; }
      }
      
      // restore spinbutton behaviour
      spinbutton {
        &:focus, &:last-child:focus { box-shadow: 0 -1px $selected_bg_color, inset 0 0 0 1px $selected_bg_color; }
        &:first-child:focus, &:only-child:focus { box-shadow: none; }

        button:first-child, button:last-child { border-radius: 0; }
        entry:focus { box-shadow: none; }
      }
    }
  }
  
  stackswitcher button.text-button { min-width: 80px; }
}
