@mixin linked_widgets() {
  .linked, .inline-toolbar .linked, .primary-toolbar .linked {
    button, .raised button {
      border-radius: 0;
      border-left-width: 0;
      -gtk-outline-radius: 0;

      &:first-child {
        border-left-width: 1px;
        border-top-left-radius: $button_radius;
        border-bottom-left-radius: $button_radius;
        
        -gtk-outline-radius: $button_radius 0 0 $button_radius;
      }

      &:last-child {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
        
        -gtk-outline-radius: 0 $button_radius $button_radius 0;
      }

      &:only-child {
        border-width: 1px;
        border-radius: $button_radius;
        -gtk-outline-radius: $button_radius;
      }
    }
    
    entry {
      border-radius: 0;
      border-left-width: 0;

      &:first-child {
        border-left-width: 1px;
        border-top-left-radius: $entry_radius;
        border-bottom-left-radius: $entry_radius;
      }

      &:last-child {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: $entry_radius;
        border-bottom-right-radius: $entry_radius;
      }

      &:only-child {
        border-width: 1px;
        border-radius: $entry_radius;
      }
      
      &:focus, &:last-child:focus { box-shadow: -1px 0 gtkshade($selected_bg_color, 1.15); }
      &:first-child:focus { box-shadow: none; }
    }

    combobox {
      box.linked button {
        border-radius: 0;
        border-left-width: 0;
        
        -gtk-outline-radius: 0;
      }

      &:first-child box.linked button {
        border-left-width: 1px;
        border-top-left-radius: $button_radius;
        border-bottom-left-radius: $button_radius;
        
        -gtk-outline-radius: $button_radius 0 0 $button_radius;
      }

      &:last-child box.linked button {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
        
        -gtk-outline-radius: 0 $button_radius $button_radius 0;
      }

      &:only-child box.linked button {
        border-width: 1px;
        border-radius: $button_radius;
        
        -gtk-outline-radius: $button_radius;
      }
    }
  }
  
  .vertical.linked {
    button {
      border-left-width: 1px;
      border-top-width: 0;
      border-radius: 0;
      
      -gtk-outline-radius: 0;

      &:first-child {
        border-top-width: 1px;
        border-top-left-radius: $button_radius;
        border-top-right-radius: $button_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        
        -gtk-outline-radius: $button_radius $button_radius 0 0;
      }

      &:last-child {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
        
        -gtk-outline-radius: 0 0 $button_radius $button_radius;
      }

      &:only-child {
        border-top-width: 1px;
        
        -gtk-outline-radius: $button_radius;
      }
    }
    
    entry {
      border-left-width: 1px;
      border-top-width: 0;
      border-radius: 0;

      &:first-child {
        border-top-width: 1px;
        border-top-left-radius: $entry_radius;
        border-top-right-radius: $entry_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $entry_radius;
        border-bottom-right-radius: $entry_radius;
      }

      &:only-child {
        border-top-width: 1px;
        border-radius: $entry_radius;
      }
      
      &:focus, &:last-child:focus {
        box-shadow: 0 -1px gtkshade($selected_bg_color, 1.15);
      }

      &:first-child:focus {
        box-shadow: none;
      }
    }

    combobox {
      box.linked button {
        border-left-width: 1px;
        border-top-width: 0;
        border-radius: 0;
        
        -gtk-outline-radius: 0;
      }

      &:first-child box.linked button {
        border-top-width: 1px;
        border-top-left-radius: $button_radius;
        border-top-right-radius: $button_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        
        -gtk-outline-radius: $button_radius $button_radius 0 0;
      }

      &:last-child box.linked button {
        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: $button_radius;
        border-bottom-right-radius: $button_radius;
        
        -gtk-outline-radius: 0 0 $button_radius $button_radius;
      }

      &:only-child box.linked button {
        border-top-width: 1px;
        
        -gtk-outline-radius: $button_radius;
      }
    }
    
    spinbutton {
      button {
        &:first-child {
          border-width: 1px;
          border-top-width: 0;
          border-left-width: 1px;
        }
        
        &:last-child {
          border-width: 0;
          border-left-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }      
      }
    }
  }
  
  stackswitcher button.text-button {
    min-width: 80px;
  }
}
