@mixin linked_styles() {
  .linked {
    button, .raised button { -gtk-outline-radius: 0;
      &:first-child { -gtk-outline-radius: $button_radius 0 0 $button_radius; }
      &:last-child { -gtk-outline-radius: 0 $button_radius $button_radius 0; }
      &:only-child { -gtk-outline-radius: $button_radius; }
    }
    
    entry {
      &:focus, &:last-child:focus { box-shadow: -1px 0 gtkshade($selected_bg_color, 1.15); }
      &:first-child:focus, &:only-child { box-shadow: none; }
    }

    combobox {
      box.linked button { -gtk-outline-radius: 0; }
      &:first-child box.linked button { -gtk-outline-radius: $button_radius 0 0 $button_radius; }
      &:last-child box.linked button { -gtk-outline-radius: 0 $button_radius $button_radius 0; }
      &:only-child box.linked button { -gtk-outline-radius: $button_radius; }
    }
    
    &.vertical {
      button { -gtk-outline-radius: 0;
        &:first-child { -gtk-outline-radius: $button_radius $button_radius 0 0; }
        &:last-child { -gtk-outline-radius: 0 0 $button_radius $button_radius; }
        &:only-child { -gtk-outline-radius: $button_radius; }
      }
      
      entry {
        &:focus, &:last-child:focus { box-shadow: 0 -1px gtkshade($selected_bg_color, 1.15); }
        &:first-child:focus, &:only-child { box-shadow: none; }
      }

      combobox {
        box.linked button { -gtk-outline-radius: 0; }
        &:first-child box.linked button { -gtk-outline-radius: $button_radius $button_radius 0 0; }
        &:last-child box.linked button { -gtk-outline-radius: 0 0 $button_radius $button_radius; }
        &:only-child box.linked button { -gtk-outline-radius: $button_radius; }
      }
      
      // restore spinbutton behaviour
      spinbutton {
        &:focus, &:last-child:focus { box-shadow: 0 -1px $selected_bg_color, inset 0 0 0 1px $selected_bg_color; }
        &:first-child:focus, &:only-child:focus { box-shadow: none; }

        button:first-child, button:last-child { border-radius: 0; }
        entry:focus { box-shadow: none; }
      }
    }
  }
  
  stackswitcher button.text-button { min-width: 80px; }
}
