@mixin menubar_menuitem() {
  menubar > menuitem, .menubar > menuitem {
    padding: 3px 5px;
    border: 1px solid transparent;
    color: $menubar_fg_color;
    background-color: transparent;

    &:hover {
      color: $menubar_fg_color;
      border-radius: $global_radius $global_radius 0 0;
      border-color: gtkshade($menubar_bg_color, 0.8);
      background-color: $menubar_bg_color;

      @if $variant != 'light' {
        background-image: linear-gradient(to bottom, gtkshade($titlebar_bg_color, 1.6), $titlebar_bg_color);
      }
      @else {
        background-image: linear-gradient(to bottom, gtkshade($titlebar_bg_color, 1.15), $titlebar_bg_color);
      }
    }

    &:disabled {
      color: $disabled_fg_color;
      background-color: transparent;
    }

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: transparent;
    }
  }
}
