// TODO: migrate to selection.scss
@mixin selected_items() {
  color: $selected_fg_color;
  background-color: $selected_bg_color;
  background-image: linear-gradient(
    to bottom,
    gtkshade($selected_bg_color, 1.1),
    $selected_bg_color
  );
}

@import '../../common/widgets/modelbutton';
