@mixin popover() {
  border: 1px solid gtkshade($popover_bg_color, 1.1);   // TODO: popover_border_color
  color: $popover_fg_color;
  background-color: $popover_bg_color;
  background-clip: padding-box;
  box-shadow: $popover_wm_shadow;
}
