@mixin progressbar_trough($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: 1px solid $border_color;
    background-color: gtkalpha(black, 0.1);
    background-image: linear-gradient(
      to bottom,
      gtkshade($bg_color, 0.9),
      gtkshade($bg_color, 0.93)
    );
    box-shadow: inset 0 1px gtkalpha(black, 0.1);

    &:backdrop {
      background-color: gtkshade($backdrop_bg_color, 0.85);
    }
  }
}

@mixin progressbar($type) {
  @if $type == "base" {
    border-radius: $progressbar_radius;
    border: 1px solid gtkshade($selected_bg_color, 0.8);
    background-color: $selected_bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 1.1),
      $selected_bg_color
    );

    &:backdrop {
      border-color: gtkshade($backdrop_selected_bg_color, 0.8);
      background-color: gtkshade($backdrop_selected_bg_color, 0.9);
      background-image: none;
    }
  }
}
