@mixin scale_trough() {
  border: 1px solid gtkshade($border_color, 0.9);
  border-radius: $scale_trough_radius;
  background-color: gtkalpha($dark_shadow, 0.1);
  background-image: linear-gradient(
    to bottom,
    gtkshade($bg_color, 0.9),
    gtkshade($bg_color, 0.93)
  );
  box-shadow: inset 0 1px gtkalpha($dark_shadow, 0.1);
  
  // TODO: better solution to manage vertical sliders
  @at-root
  scale.vertical > trough {
    background-image: linear-gradient(
      to right,
      gtkshade($bg_color, 0.9),
      gtkshade($bg_color, 0.93)
    );
    box-shadow: inset 1px 0 gtkalpha($dark_shadow, 0.1);
  }

  &:backdrop {
    background-color: gtkshade($backdrop_bg_color, 0.85);
  }

  &:disabled {
    background-image: none;
    border-color: gtkshade($disabled_bg_color, 0.8);
    background-color: gtkshade($disabled_bg_color, 0.9);

    &:backdrop {
      border-color: gtkshade($backdrop_disabled_bg_color, 0.8);
      background-color: gtkshade($backdrop_disabled_bg_color, 0.9);
    }
  }

  &:backdrop {
    background-color: gtkalpha($dark_shadow, 0.1);
  }
}

@mixin scale_highlight() {
  border-radius: $scale_trough_radius;
  border-color: $selected_bg_color;
  background-color: $selected_bg_color;
  box-shadow: 0 0 0 1px gtkshade($selected_bg_color, 0.9);

  &:disabled {
    border-color: gtkshade($disabled_bg_color, 0.7);
    background-color: gtkshade($disabled_bg_color, 0.8);
    box-shadow: none;

    &:backdrop {
      border-color: gtkshade($backdrop_disabled_bg_color, 0.7);
      background-color: gtkshade($backdrop_disabled_bg_color, 0.8);
      box-shadow: none;
    }
  }

  &:backdrop {
    border-color: gtkshade($backdrop_selected_bg_color, 0.85);
    background-color: gtkshade($backdrop_selected_bg_color, 0.95);
    box-shadow: 0 0 0 1px gtkshade($backdrop_selected_bg_color, 0.9);
  }
}

@mixin scale_slider($type : "base") {
  @if $type == "base" {
    min-width: $scale_slider_size;
    min-height: $scale_slider_size;
    margin: -$scale_slider_margin;
    border-radius: $scale_slider_radius;
    border: none;
    color: $selected_fg_color;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: none;
    
    &:backdrop { color: $backdrop_selected_fg_color; }
  }
  
  @else if $type == "bottom" or $type == "horiz" {
    background-image: gtkscale('assets/slider-horizontal', 'png');
    
    &:focus { background-image: gtkscale('assets/slider-horizontal-focused', 'png');
      &:hover { background-image: gtkscale('assets/slider-horizontal-focused-hover', 'png'); }
    }
    &:disabled { background-image: gtkscale('assets/slider-horizontal-disabled', 'png');
      &:backdrop { background-image: gtkscale('assets/slider-horizontal-disabled', 'png'); }
    }
    &:backdrop { background-image: gtkscale('assets/slider-horizontal-disabled', 'png'); }
  }
  
  @else if $type == "top" {
    background-image: gtkscale('assets/slider-horizontal-left', 'png');
    
    &:focus { background-image: gtkscale('assets/slider-horizontal-left-focused', 'png');
      &:hover { background-image: gtkscale('assets/slider-horizontal-left-focused-hover', 'png'); }
    }
    &:disabled { background-image: gtkscale('assets/slider-horizontal-left-disabled', 'png');
      &:backdrop { background-image: gtkscale('assets/slider-horizontal-left-disabled', 'png'); }
    }
    &:backdrop { background-image: gtkscale('assets/slider-horizontal-left-disabled', 'png'); }
  }
  
  @else if $type == "right" or $type == "vert" {
    background-image: gtkscale('assets/slider-vertical', 'png');

    &:focus { background-image: gtkscale('assets/slider-vertical-focused', 'png');
      &:hover { background-image: gtkscale('assets/slider-vertical-focused-hover', 'png'); }
    }
    &:disabled { background-image: gtkscale('assets/slider-vertical-disabled', 'png');
      &:backdrop { background-image: gtkscale('assets/slider-vertical-disabled', 'png'); }
    }
    &:backdrop { background-image: gtkscale('assets/slider-vertical-disabled', 'png'); }
  }

  @else if $type == "left" {
    background-image: gtkscale('assets/slider-vertical-left', 'png');
    
    &:hover { background-image: gtkscale('assets/slider-vertical-left-focused', 'png');
      &:hover { background-image: gtkscale('assets/slider-vertical-left-focused-hover', 'png'); }
    }
    &:disabled { background-image: gtkscale('assets/slider-vertical-left-disabled', 'png');
      &:backdrop { background-image: gtkscale('assets/slider-vertical-left-disabled', 'png'); }
    }
    &:backdrop { background-image: gtkscale('assets/slider-vertical-left-disabled', 'png'); }
  }
}
