@mixin scrollbar($type : "base") {
  @if $type == "base" {
    border: none;
    background-color: transparent;

    &:backdrop { background-color: transparent; }
  }
  
  @else if $type == "hint" {
    border: none;
    opacity: 0.7;
    background-color: transparent;
  }
}

@mixin scrollbar_slider($type : "base") {
  @if $type == "base" {
    min-width: $scrollbar_slider_size;
    min-height: $scrollbar_slider_size;
    border-radius: $scrollbar_slider_radius;
    margin: 0px;
    border: none;
    background-color: gtkshade($selected_bg_color, 1.15);
    background-clip: padding-box;

    &:hover { background-color: $selected_bg_color; }
    &:hover:active { background-color: gtkshade($selected_bg_color, 0.9); }
    &:backdrop { background-color: gtkshade($backdrop_selected_bg_color, 0.85); }
    &:disabled { background-color: transparent; }
  }

  @else if $type == "hint" {
    margin: 0px;
    min-width: $scrollbar_indicator_size;
    min-height: $scrollbar_indicator_size;
    background-color: $selected_bg_color;
    border: none;
    border-radius: $scrollbar_slider_radius - 1px;
  }
}
