@mixin switch() {
  margin: 2px;
  border-radius: $global_radius - 1px;
  border: 1px solid gtkshade($border_color, 0.9);
  color: $fg_color;
  background-color: $bg_color;
  background-image: linear-gradient(
    to bottom,
    gtkshade($bg_color, 0.9),
    gtkshade($bg_color, 0.96)
  );
  box-shadow: inset 0 1px gtkalpha(black, 0.1);

  &:checked {
    border-color: gtkshade($selected_bg_color, 0.65);
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($selected_bg_color, 0.9),
      $selected_bg_color
    );
    box-shadow: inset 0 0 0 1px gtkalpha(black, 0.11);

    &:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: gtkshade($backdrop_selected_bg_color, 0.9);
      background-image: none;
      box-shadow: none;
    }
  }

  &:disabled {
    border-color: gtkshade($border_color, 1.01);
    color: $disabled_fg_color;
    background-color: $disabled_bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($disabled_bg_color, 0.9),
      gtkshade($disabled_bg_color, 0.96)
    );

    &:backdrop {
      border-color: gtkshade($backdrop_border_color, 0.9);
      color: $backdrop_disabled_fg_color;
      background-color: gtkshade($backdrop_disabled_bg_color, 0.9);
      background-image: none;
    }
  }

  &:backdrop {
    border-color: $backdrop_border_color;
    color: $backdrop_fg_color;
    background-color: gtkshade($backdrop_bg_color, 0.9);
    background-image: none;
  }
}

@mixin switch_slider($type : "base") {
  @if $type == "base" {
    margin: -1px;
    min-width: 36px;
    min-height: 22px;
    border-radius: $global_radius;
    border: 1px solid gtkshade($border_color, 0.8);
    color: $fg_color;
    background-color: $bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($bg_color, 1.2),
      gtkshade($bg_color, 0.98)
    );
    box-shadow: none;
  }
    
  @else if $type == "checked" { border-color: gtkshade($selected_bg_color, 0.6); }

  @else if $type == "checked-backdrop" {
    border-color: gtkshade($backdrop_selected_bg_color, 0.8);
    background-color: $backdrop_bg_color;
    background-image: none;
  }

  @else if $type == "disabled" {
    border-color: gtkshade($border_color, 0.95);
    background-color: $disabled_base_color;
  }

  @else if $type == "disabled-backdrop" {
    border-color: $backdrop_border_color;
    background-color: $backdrop_bg_color;
    background-image: none;
  }

  @else if $type == "backdrop" {
    border-color: gtkshade($backdrop_border_color, 0.9);
    background-color: $backdrop_bg_color;
    background-image: none;
  }
}
