@mixin normal_buttons($button_bg : $bg_color, $button_fg : $fg_color, $button_border : $border_color) {
  color: $button_fg;
  padding: 6px 8px;
  border-radius: $button_radius;
  border: 2px solid transparent;
  background-color: gtkmix($button_bg, $button_fg, 0.15);
  outline-width: 0;

/*
  outline-color: $fg_color;
  outline-offset: 0px;
  outline-style: solid;
*/

  &:hover {
    color: $button_fg;    
    box-shadow: inset 0 0 0 2px gtkalpha($button_fg, 0.4);
    background-color: gtkmix($button_bg, $button_fg, 0.15);
  }

  &:active, &:checked {
    color: $button_fg;
    background-color: gtkmix($button_bg, $button_fg, 0.35);

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: gtkshade($backdrop_bg_color, 0.85);
    }
  }
  
  &:focus {
    box-shadow: inset 0 0 0 1px $base_color;
    border-color: $button_fg;
  }

  &:disabled {
    color: gtkmix($button_fg, $backdrop_disabled_fg_color, 0.1);
    background-color: gtkmix($button_bg, $disabled_bg_color, 0.3);
    
    &:backdrop {
      color: $backdrop_disabled_fg_color;
      background-color: gtkmix($button_bg, $backdrop_disabled_bg_color, 0.3);
    }
  }

  &:backdrop {
    color: gtkmix($button_fg, $backdrop_bg_color, 0.3);
    background-color: gtkmix($button_bg, $button_fg, 0.2);
  }
}

@mixin flat_buttons($button_bg : $bg_color, $button_fg : $fg_color, $button_border : $border_color) {
  border-color: transparent;
  border-radius: $button_radius;
  color: $button_fg;
  background-color: transparent;

  &:hover {
    color: $button_fg;
    box-shadow: inset 0 0 0 2px gtkalpha($fg_color, 0.4);
    background-color: gtkmix($button_bg, $button_fg, 0.15);
  }

  &:active, &:checked {
    color: $button_fg;
    background-color: gtkmix($button_bg, $button_fg, 0.35);

    &:backdrop {
      color: $backdrop_fg_color;
      background-color: gtkshade($backdrop_bg_color, 0.85);
    }
  }
  
  &:focus { box-shadow: inset 0 0 0 1px $light_shadow; }

  &:disabled {
    color: gtkmix($button_fg, $backdrop_disabled_fg_color, 0.1);
    background-color: gtkmix($button_bg, $disabled_bg_color, 0.3);
    
    &:backdrop {
      color: $backdrop_disabled_fg_color;
      background-color: gtkmix($button_bg, $backdrop_disabled_bg_color, 0.3);
    }
  }

  &:backdrop {
    color: gtkmix($button_fg, $backdrop_bg_color, 0.3);
  }
}

@mixin destructive_button() {
  button.destructive-action {
    border: none;
    border-radius: $button_radius;
    color: gtkmix($selected_fg_color, $error_color, 0.1);
    background-color: $error_color;

    &:hover {
      background-color: gtkmix($error_color, $selected_fg_color, 0.2);
    }

    &:active {
      background-color: gtkmix($error_color, $fg_color, 0.1);
    }

    &:backdrop {
      color: gtkmix($backdrop_selected_fg_color, $error_color, 0.1);
      background-color: gtkmix($error_color, $backdrop_bg_color, 0.3);
    }
  }
}

@mixin suggested_button() {
  button.suggested-action {
    border: none;
    border-radius: $button_radius;
    color: $selected_fg_color;
    background-color: $selected_bg_color;

    &:hover {
      color: $selected_fg_color;
      background-color: gtkmix($selected_bg_color, $selected_fg_color, 0.2);
    }

    &:active, &:checked {
      color: $selected_fg_color;
      background-color: gtkmix($selected_bg_color, $fg_color, 0.1);
    }

    &:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: $backdrop_selected_bg_color;
    }
  }
}
