@mixin scale_trough() {
  border: none;
  border-radius: $scale_trough_radius;
  background-color: gtkalpha($fg_color, 0.2);

  &:disabled { background-color: gtkalpha($fg_color, 0.15);
    &:backdrop { background-color: gtkalpha($fg_color, 0.08); }
  }
  &:backdrop { background-color: gtkalpha($fg_color, 0.1); }
}

@mixin scale_highlight() {
  border: none;
  margin: 0px;
  border-radius: $scale_trough_radius;
  background-color: $selected_bg_color;

  &:disabled { background-color: $disabled_bg_color;
    &:backdrop { background-color: $backdrop_disabled_bg_color; }
  }
  &:backdrop { background-color: $backdrop_selected_bg_color; }
}

@mixin scale_slider($type : "base") {
  @if $type == "base" {
    min-width: ($scale_slider_size / 2) - 2px;
    min-height: $scale_slider_size;
    margin: -$scale_slider_margin;
    margin-left: 0;
    margin-right: 0;
    border: none;
    border-radius: $scale_slider_radius;
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    background-image: none;
    box-shadow: none;

    &:hover {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }

    &:disabled { background-color: $disabled_bg_color;
      &:backdrop { background-color: $backdrop_disabled_bg_color; }
    }
    
    &:backdrop {
      color: $backdrop_selected_fg_color;
      background-color: $backdrop_selected_bg_color;
    }
  }

  @else if $type == "vert" {
    min-width: $scale_slider_size;
    min-height: ($scale_slider_size / 2) - 2px;
    margin: -$scale_slider_margin;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  // keep slider proportions in fine-tune mode
  @at-root
  scale.horizontal.fine-tune > trough > slider {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  @at-root
  scale.vertical.fine-tune > trough > slider {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

