@mixin button($type, $_bg : $bg_color, $_fg : $fg_color) {
  $_border : gtkshade($_bg, 0.45);
  
  $_disabled_bg : gtkmix($_fg, $_bg, 0.95);
  $_disabled_fg : gtkmix($_fg, $_bg, 0.5);
  
  @if $type == "base" {
    padding: 4px 9px;
    border-radius: $button_radius;
    border-style: 1px solid $_border;
    color: $_fg;
    background-color: gtkshade($_bg, 1.1);
    background-image: linear-gradient(
      to bottom,
      gtkshade($_bg, 1.1),
      gtkshade($_bg, 1.08) 45%,
      gtkshade($_bg, 1.04) 55%,
      gtkshade($_bg, 0.999)
    );
    text-shadow: none;
    box-shadow: inset 1px 1px gtkshade($_bg, 1.4), 
                inset -1px -1px gtkshade($_bg, 0.65),
                0 0 0 1px gtkalpha(black, 0.05),
                1px 1px gtkalpha(white, 0.5);
    -gtk-icon-shadow: none;
  }
  
  @else if $type == "hover" {
    border-color: $_border;
    color: $_fg;
    background-image: linear-gradient(
      to bottom,
      gtkshade($_bg, 1.1),
      gtkshade($_bg, 1.08) 45%,
      gtkshade($_bg, 1.04) 55%,
      gtkshade($_bg, 0.999)
    );
    box-shadow: inset 1px 1px gtkshade($_bg, 1.4), 
                inset -1px -1px gtkshade($_bg, 0.65),
                0 0 0 1px gtkalpha(black, 0.05),
                1px 1px gtkalpha(white, 0.5);
  }

  @else if $type == "active"
  or $type == "checked" {
    background-color: gtkshade($_bg, 0.9);
    background-image: none;
    box-shadow: inset -1px -1px gtkshade($_bg, 1.4),
                inset 1px 1px gtkshade($_bg, 0.65),
                0 0 0 1px gtkalpha(white, 0.5),
                1px 1px gtkalpha(black, 0.05);
  }

  @else if $type == "checked-disabled" {
    color: $_disabled_fg;
    background-color: gtkshade($_disabled_bg, 0.95);
  }

  @else if $type == "disabled" {
    color: $_disabled_fg;
    background-color: $_disabled_bg;
  }
  
  @else if $type == "undecorated" {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -gtk-icon-shadow: none;
  }
}
