@mixin headerbar($type) {
  @if $type == "base" {
    min-height: $headerbar_size;
    padding: 4px 8px;
    color: $titlebar_fg_color;
    background-color: $titlebar_bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($titlebar_bg_color, 1.6),
      $titlebar_bg_color
    );
    box-shadow: inset 1px 1px gtkmix($titlebar_bg_color, $base_color, 0.4),
                inset -1px -1px $titlebar_bg_color;

    button {
      @include flat_buttons();
    }
  }

  @else if $type == "backdrop" {
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
    background-image: linear-gradient(
      to bottom,
      gtkshade($backdrop_bg_color, 1.05),
      $backdrop_bg_color
    );
    box-shadow: inset 1px 1px gtkshade($light_shadow, 0.95),
                inset -1px -1px gtkshade($bg_color, 0.85);
  }
}

%void_button {
  padding: 0px;
  min-width: 14px;
  min-height: 14px;
  border: none;
  border-radius: 0;
  color: transparent;
  background-color: transparent;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: none;
  -gtk-icon-shadow: none;
}

@mixin titlebutton($type) {
  @if $type == "close" {
    @extend %void_button;
    background-image: url('assets/close-focused.png');
    
    &:backdrop { background-image: url('assets/close-unfocused.png'); }
  } 
  
  @else if $type == "maximize" {
    @extend %void_button;
    background-image: url('assets/maximize-focused.png');
    
    &:backdrop { background-image: url('assets/maximize-unfocused.png'); }
  }
  
  @else if $type == "minimize" {
    @extend %void_button;
    background-image: url('assets/minimize-focused.png');
    
    &:backdrop { background-image: url('assets/minimize-unfocused.png'); }
  }
}
