@mixin notebook_header() {
  margin: -1px;
  padding: 0px;
  border: none;
  background-color: $bg_color;
  
  &:backdrop {
    background-color: $backdrop_bg_color;
  }
  
  @at-root
  &.top {
    background-image: linear-gradient(
      to bottom,
      $bg_color 2px,
      $border_color 3px,
      gtkshade($bg_color, 0.9) 4px,
      gtkshade($bg_color, 0.95)
    );
  }
  
  @at-root
  &.bottom {
    background-image: linear-gradient(
      to top,
      $bg_color 2px,
      $border_color 3px,
      gtkshade($bg_color, 0.9) 4px,
      gtkshade($bg_color, 0.95)
    );
  }
  
  @at-root
  &.left {
    background-image: linear-gradient(
      to right,
      $bg_color 2px,
      $border_color 3px,
      gtkshade($bg_color, 0.9) 4px,
      gtkshade($bg_color, 0.95)
    );
  }
  
  @at-root
  &.right {
    background-image: linear-gradient(
      to left,
      $bg_color 2px,
      $border_color 3px,
      gtkshade($bg_color, 0.9) 4px,
      gtkshade($bg_color, 0.95)
    );
  }

  @at-root
  notebook > stack:not(:only-child) {
    background-color: transparent;
  }
}

@mixin notebook_tab($type, $pos) {
  @if $type == "base" {
    margin: -1px;
    padding: 2px 6px;
    border-radius: 0px;
    border: 1px solid $border_color;
    color: $fg_color;
    background-color: gtkshade($bg_color, 0.92);
    box-shadow: none;
    outline-color: transparent;
    
    @if $pos == "top" {
      margin-top: 2px;
      border-bottom-style: none;
    }
    @else if $pos == "bottom" {
      margin-bottom: 2px;
      border-top-style: none;
    }
    @else if $pos == "left" {
      margin-left: 2px;
      border-right-style: none;
    }
    @else if $pos == "right" {
      margin-right: 2px;
      border-left-style: none;
    }
  }
  @else if $type == "checked" {
    border-color: gtkshade($border_color, 0.9);
    background-color: $bg_color;
    
    @if $pos == "top" {
      margin-top: 0px;
      margin-bottom: -1px;
      border-top-left-radius: $notebook_tab_radius;
      border-top-right-radius: $notebook_tab_radius;
      background-image: linear-gradient(
        to bottom,
        $bg_color,
        gtkshade($bg_color, 0.95)
      );
    }
    @else if $pos == "bottom" {
      margin-bottom: 0px;
      margin-top: -1px;
      border-bottom-left-radius: $notebook_tab_radius;
      border-bottom-right-radius: $notebook_tab_radius;
      background-image: linear-gradient(
        to top,
        $bg_color,
        gtkshade($bg_color, 0.95)
      );
    }
    @else if $pos == "left" {
      margin-left: 0px;
      margin-right: -1px;
      border-top-left-radius: $notebook_tab_radius;
      border-bottom-left-radius: $notebook_tab_radius;
      background-image: linear-gradient(
        to left,
        $bg_color,
        gtkshade($bg_color, 0.95)
      );
    }
    @else if $pos == "right" {
      margin-right: 0px;
      margin-left: -1px;
      border-top-right-radius: $notebook_tab_radius;
      border-bottom-right-radius: $notebook_tab_radius;
      background-image: linear-gradient(
        to right,
        $bg_color,
        gtkshade($bg_color, 0.95)
      );
    }
  }
}
