@mixin switch() {
  margin: 4px;
  font-size: 0;
  border-radius: $global_radius;
  border: 1px solid $border_color;
  color: transparent;
  background-color: $border_color;

  &:checked {
    border-color: $selected_bg_color;
    background-color: $selected_bg_color;

    &:backdrop {
      border-color: $backdrop_selected_bg_color;
      background-color: $backdrop_selected_bg_color;
    }
  }

  &:disabled {
    border-color: gtkshade($disabled_bg_color, 1.02);
    background-color: gtkshade($disabled_bg_color, 1.02);

    &:backdrop {
      border-color: $backdrop_disabled_bg_color;
      background-color: $backdrop_disabled_bg_color;
    }
  }

  &:backdrop {
    border-color: $backdrop_border_color;
    background-color: $backdrop_border_color;
  }
}

@mixin switch_slider($type : "base") {
  @if $type == "base" {
    min-width: 24px;
    min-height: 20px;
    margin: 0px;
    border-radius: $global_radius;
    border: 1px solid gtkshade($border_color, 0.55);
    background-image: linear-gradient(
      to bottom,
      gtkshade($bg_color, 1.1),
      gtkshade($bg_color, 1.08) 45%,
      gtkshade($bg_color, 1.04) 55%,
      gtkshade($bg_color, 0.999)
    );
    box-shadow: inset 1px 1px gtkshade($bg_color, 1.4),
                inset -1px -1px gtkshade($bg_color, 0.65),
                0 0 0 1px gtkalpha(black, 0.05),
                1px 1px gtkalpha(white, 0.5);
  }

  @else if $type == "disabled" {
    border-color: gtkshade($disabled_bg_color, 0.9);
    background-color: gtkshade($disabled_bg_color, 1.1);
    background-image: none;
  }
}
